@mixin transition($x...) {
  transition: $x;
}

@mixin icon-opacity-hover(
  $start-opacity: 0.8,
  $end-opacity: 1,
  $transition: opacity 0.2s
) {
  opacity: $start-opacity;
  transition: $transition;

  &:hover {
    opacity: $end-opacity;
  }
}

@mixin rc-button-reset() {
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 0;
  transition: all 0s !important;

  &:disabled {
    cursor: default;
  }
}
