@import '~@puppet/sass-variables/index';

$puppet-small: $puppet-common-spacing-base;
$puppet-medium: 2 * $puppet-common-spacing-base;
$puppet-elev-50-shadow: 1px 1px 2px rgba($puppet-black, 0.08) !default;

.rc-workflow-card {
  min-width: 200px;
  max-width: 400px;
  height: 75px;
  box-shadow: $puppet-elev-50-shadow;
  overflow: hidden;

  .rc-workflow-card-container {
    position: relative;
  }

  .rc-workflow-label {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
  }

  .rc-workflow-title {
    margin: 0;
  }

  .rc-workflow-card-icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .rc-icon-activity {
    fill: $puppet-purple;
  }

  .rc-icon-package {
    fill: $puppet-teal;
  }

  .rc-icon-send,
  .rc-icon-build {
    fill: $puppet-b300;
  }
  
  // Styling if a dl is passed as WorkflowCard `children`
  dl {
    display: grid;
    margin: 0;
  }
  dt {
    grid-column: 1;
    color: $puppet-n700;
  }
  dd {
    grid-column: 2;
    margin-left: 2em;
  }
  dt, dd {
    margin-bottom: $puppet-small;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}