.rc-accordion {
  height: 100%;
}

.rc-accordion-items {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rc-accordion-item-header,
.rc-accordion-header {
  align-items: center;
  background-color: $reflect-accordion-item-title-bg-color;
  border-radius: $reflect-border-radius $reflect-border-radius 0 0;
  display: flex;
  font-size: $reflect-accordion-item-title-font-size;
  padding: $reflect-accordion-item-title-padding;
  text-transform: $reflect-accordion-item-title-case;
}

.rc-accordion-header {
  background: $reflect-accordion-header-bg;
  border: $reflect-accordion-item-border;
  height: $reflect-accordion-header-height;

  .rc-accordion-header-icon .rc-icon {
    fill: $reflect-white;
  }
}

.rc-accordion-header-action {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;

  .rc-icon {
    fill: $reflect-white;
    @include icon-opacity-hover;
  }
}

.rc-accordion-header-icon {
  display: inherit;
  margin-right: 10px;
}

.rc-accordion-header-title {
  @extend %rc-uppercase;
  color: $reflect-accordion-header-title-color;
  flex-grow: 1;
  font-size: $reflect-accordion-item-title-font-size;
}

.rc-accordion-item-header {
  height: $reflect-accordion-item-title-height;

  &:not(.rc-accordion-item-header-active):hover .rc-accordion-item-header-title {
    color: $reflect-accordion-item-title-hover;
  }

  &:not(.rc-accordion-item-header-active):hover .rc-accordion-header-icon .rc-icon {
    fill: $reflect-icon-fill-hover;
  }
}

.rc-accordion-item-header-title {
  @extend %rc-uppercase;
  color: $reflect-accordion-item-title-color;
  flex-grow: 1;
  font-size: $reflect-accordion-item-title-font-size;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rc-accordion-item {
  border-bottom: $reflect-accordion-item-border;
  border-left: $reflect-accordion-item-border;
  border-right: $reflect-accordion-item-border;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  transition: all $reflect-accordion-animation-speed;
}

.rc-accordion-item-content {
  border-top: $reflect-accordion-item-border;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  transition: opacity $reflect-accordion-animation-speed;
  visibility: hidden;
}

.rc-accordion-item-active {
  flex-grow: 1;

  .rc-accordion-header-icon .rc-icon {
    fill: $reflect-brand-primary;
  }

  .rc-accordion-item-content {
    flex-direction: column;
    flex-grow: 1;
    opacity: 1;
    overflow: auto;
    padding: $reflect-accordion-item-content-padding;
    visibility: visible;
  }
}
