.rc-accordion-item-header {
  background-color: $reflect-accordion-item-title-bg-color;
  color: $reflect-accordion-item-title-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $reflect-accordion-item-title-height;
  font-family: $reflect-accordion-item-title-font-family;
  font-size: $reflect-accordion-item-title-font-size;
  padding: $reflect-accordion-item-title-padding;
  text-transform: $reflect-accordion-item-title-case;

  .rc-accordion-item-title-text {
    color: $reflect-accordion-item-title-color;
    font-size: $reflect-accordion-item-title-font-size;
  }

  .rc-accordion-item-title-icon {
    height: 10px;
    width: 10px;
  }
}

.rc-accordion-item-header:hover {
  .rc-accordion-item-title-text {
    color: $reflect-accordion-item-title-hover;
  }

  .rc-icon {
    fill: $reflect-icon-fill-hover;
  }
}

.rc-accordion-item {
  border-bottom: $reflect-accordion-item-title-border;

  &:last-of-type {
    border-bottom: 0;
  }
}

.rc-accordion-item-content {
  display: none;
  padding: $reflect-accordion-item-content-padding;

  .form-field {
    margin-bottom: $reflect-medium;
  }

  .form-field:last-child {
    margin-bottom: 0;
  }
}

.rc-accordion-item-active {
  .rc-accordion-item-content {
    display: block;
  }
}
