
@keyframes scale-in-y {
  0% {
    opacity: 0;
    transform: scaleY(0.9);
  }

  100% {
    opacity: 100;
    transform: scaleY(1);
  }
}

@keyframes scale-in-x {
  0% {
    opacity: 0;
    transform: scaleX(0.9);
  }

  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes slide-in-left {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}


@keyframes slide-in-right {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-out-left {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
    visibility: hidden;
  }
}

.slide-out-left {
  animation-name: slide-out-left;
}

@keyframes slide-out-right {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
  }
}

.slide-out-right {
  animation-name: slide-out-right;
}

@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoom-out {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// ANIMATION NAMES
// ===============

// Fades
.rc-fade-in {
  animation-name: fade-out;
}

.rc-fade-out {
  animation-name: fade-out;
}

// Scale & Zoom
.rc-scale-in-y {
  animation-name: scale-in-y;
}

.rc-scale-in-x {
  animation-name: scale-in-x;
}

.rc-zoom-in {
  animation-name: zoom-in;
}

.zoom-out {
  animation-name: zoom-out;
}

// Slides
.slide-in-left {
  animation-name: slide-in-left;
}

.slide-in-right {
  animation-name: slide-in-right;
}

// Animation Durations & Options
.rc-animated-short {
  animation-duration: 200ms;
  animation-fill-mode: both;
}

.rc-animated-long {
  animation-duration: 400ms;
  animation-fill-mode: both;
}

.-rc-animated-loop {
  animation-iteration-count: infinite;
}

// Progress Indicators
@keyframes indeterminate-bar {
  0% {
    left: 0%;
    right: 100%;
  }

  50% {
    left: -100%;
    right: 0%;
  }

  100% {
    left: 100%;
    right: 0%;
  }
}

.rc-saving {
  background: $reflect-gray;
  height: 4px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 4px;
  width: 100%;
  z-index: 24;

  &::after {
    animation: 1.5s infinite ease-in-out indeterminate-bar;
    background: $reflect-action-hover;
    bottom: 0;
    content: '';
    height: 8px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    will-change: left, right;
  }
}
