@keyframes rc-scale-in-y {
  0% {
    opacity: 0;
    transform: scaleY(0.9);
  }

  100% {
    opacity: 100;
    transform: scaleY(1);
  }
}

@keyframes rc-scale-in-x {
  0% {
    opacity: 0;
    transform: scaleX(0.9);
  }

  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes rc-slide-in-left {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rc-slide-in-right {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rc-slide-out-left {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
    visibility: hidden;
  }
}

@keyframes rc-slide-out-right {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
  }
}

@keyframes rc-zoom-in {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }

  75% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rc-zoom-out {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes rc-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rc-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rc-grow-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rc-shrink-out {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

// ANIMATION NAMES
// ===============

// Fades
.rc-fade-in {
  animation-name: rc-fade-in;
}

.rc-fade-out {
  animation-name: rc-fade-out;
}

// Scale & Zoom
.rc-grow-in {
  animation-name: rc-grow-in;
}

.rc-shrink-out {
  animation-name: rc-shrink-out;
}

.rc-scale-in-y {
  animation-name: rc-scale-in-y;
}

.rc-scale-in-x {
  animation-name: rc-scale-in-x;
}

.rc-zoom-in {
  animation-name: rc-zoom-in;
}

.rc-zoom-out {
  animation-name: rc-zoom-out;
}

// Slides
.rc-slide-in-left {
  animation-name: rc-slide-in-left;
}

.rc-slide-in-right {
  animation-name: rc-slide-in-right;
}

.rc-slide-out-right {
  animation-name: rc-slide-out-right;
}

.rc-slide-out-left {
  animation-name: rc-slide-out-left;
}

// Animation Durations & Options
.rc-animated-short {
  animation-duration: 200ms;
  animation-fill-mode: both;
}

.rc-animated-long {
  animation-duration: 400ms;
  animation-fill-mode: both;
}

.-rc-animated-loop {
  animation-iteration-count: infinite;
}

// Progress Indicators
@keyframes indeterminate-bar {
  0% {
    left: 0%;
    right: 100%;
  }

  50% {
    left: -100%;
    right: 0%;
  }

  100% {
    left: 100%;
    right: 0%;
  }
}

.rc-saving {
  background: $puppet-active-color-hover;
  height: 4px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 4px;
  width: 100%;
  z-index: 24;

  &::after {
    animation: 1.5s infinite ease-in-out indeterminate-bar;
    background: $puppet-active-color;
    bottom: 0;
    content: '';
    height: 8px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    will-change: left, right;
  }
}
