.rc-blank-slate {
  margin-top: 40px;
  text-align: center;

  .rc-blank-slate-title {
    font-size: $reflect-blank-slate-title-font-size;
    margin-bottom: $reflect-blank-slate-margin-base;
  }

  .rc-blank-slate-lead {
    font-size: $reflect-blank-slate-lead-font-size;
    color: $reflect-blank-slate-lead-color;
    margin-bottom: $reflect-blank-slate-margin-base;
  }

  .rc-blank-slate-content {
    font-size: $reflect-blank-slate-content-font-size;
    color: $reflect-blank-slate-content-color;
    margin-bottom: $reflect-blank-slate-margin-medium;
  }

  .bold {
    font-weight: $reflect-font-weight-heavy;
  }

  .accent {
    color: #815EFF;
  }

  small a {
    text-decoration: underline;
    color: $reflect-blank-slate-small-color;
  }

  small a:visited,
  small a:hover,
  small a:active {
    text-decoration: underline;
    color: $reflect-blank-slate-small-color;
  }
}

.rc-blank-slate-icon {
  align-items: center;
  align-self: center;
  background: $reflect-blank-slate-bg;
  border-radius: $reflect-blank-slate-radius;
  box-shadow: $reflect-blank-slate-shadow;
  display: inline-flex;
  height: $reflect-blank-slate-size;
  justify-content: center;
  margin-bottom: 30px;
  width: $reflect-blank-slate-size;

  .rc-icon {
    fill: $reflect-blank-slate-icon-color;
  }
}

.rc-blank-slate-image img {
  height: 200px;
  width: auto;
  margin-bottom: 30px;
}

.rc-blank-slate-message {
  color: $reflect-blank-slate-font-color;
  display: block;
  font-size: $reflect-blank-slate-font-size;
  font-weight: $reflect-blank-slate-font-weight;
  margin: auto;
  max-width: $reflect-blank-slate-max-width;
}
