.rc-blank-slate {
  text-align: center;
  margin-top: 40px;
}

.rc-blank-slate-icon {
  box-shadow: $reflect-blank-slate-shadow;
  background: $reflect-blank-slate-bg;
  border-radius: $reflect-blank-slate-radius;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $reflect-blank-slate-size;
  height: $reflect-blank-slate-size;
  margin-bottom: 30px;

  .rc-icon {
    fill: $reflect-blank-slate-icon-color;
  }
}

.rc-blank-slate-message {
  display: block;
  margin: auto;
  font-weight: $reflect-blank-slate-font-weight;
  max-width: $reflect-blank-slate-max-width;
  font-size: $reflect-blank-slate-font-size;
  // line-height: 35px;
  color: $reflect-blank-slate-font-color;
}
