@mixin button-colors(
  $bg,
  $bg-hover,
  $bg-active,
  $color,
  $color-hover,
  $color-active,
  $icon-color,
  $icon-hover,
  $icon-active,
  $border,
  $border-hover,
  $border-active
) {
  $button-color-split: darken($bg, 10%);
  $button-color-split-hover: lighten($button-color-split, 5%);

  background: $bg;
  border: 1px solid $border;
  box-shadow: 0 1px 0 darken($bg, 10%);
  color: $color !important;
  transition: all 0.2s ease-in-out, outline-offset 0s;

  .rc-button-menu-inner .rc-icon {
    fill: $icon-color;
    transition: fill 0.2s ease-in-out;
  }

  &[disabled] {
    &:hover {
      border-color: $border;
    }
  }

  &:hover,
  &:focus {
    background: $bg-hover;
    border: 1px solid $border-hover;
    box-shadow: 0 1px 0 darken($bg-hover, 10%);
    color: $color-hover !important;
    outline-offset: 1px;
    text-decoration: none !important;

    .rc-icon {
      fill: $icon-hover;
    }

    .rc-button-menu-inner .rc-icon {
      fill: $icon-color;
    }
  }

  @if (lightness($bg-active) > 5) {
    &:focus {
      outline: none;
    }
  } @else {
    &:focus {
      outline: dotted 1px $puppet-action-base;
    }
  }

  &:active {
    background: $bg-active;
    border: 1px solid $border-active;
    box-shadow: 0 1px 0 darken($bg-active, 10%);
    color: $color-active !important;

    .rc-icon {
      fill: $icon-active;
    }

    .rc-button-menu-inner .rc-icon {
      fill: $icon-color;
    }
  }

  &::after {
    background: $bg;
  }

  &.rc-button-processing:hover {
    background: $bg;
    border-color: $border;
  }

  &.rc-popover-target-open {
    background: $button-color-split;
  }

  .rc-icon {
    fill: $icon-color;
  }

  .rc-button-menu-inner {
    .rc-icon {
      fill: $color;
    }
  }

  &.rc-button-menu {
    background: $button-color-split;

    &:hover {
      background: $button-color-split-hover;
    }
  }
}

.rc-button {
  @extend %button-reset;

  @include button-colors(
    $puppet-button-bg,
    $puppet-button-bg-hover,
    $puppet-button-bg-active,
    $puppet-button-color,
    $puppet-button-color-hover,
    $puppet-button-color-active,
    $puppet-button-icon-color,
    $puppet-button-icon-color-hover,
    $puppet-button-icon-color-active,
    $puppet-button-border-color,
    $puppet-button-border-color-hover,
    $puppet-button-border-color-active
  );

  align-items: center;
  border-radius: $puppet-button-border-radius;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: $puppet-line-height-default;
  min-height: $puppet-button-height;
  padding: max(0, (
    $puppet-button-height
    - 2
    - $puppet-button-font-size * $puppet-line-height-default
  ) / 2) ($puppet-button-height / 2);
  position: relative;
  text-decoration: none;

  .rc-button-dropdown-icon {
    padding-left: 10px;
  }

  .rc-button-content {
    font-family: $puppet-button-font-family;
    font-size: $puppet-button-font-size;
    font-weight: $puppet-button-font-weight;
    text-transform: $puppet-button-text-transform;
  }

  > .rc-icon + .rc-button-content {
    padding-left: 16px;
  }
}

.rc-button-tiny {
  min-height: $puppet-button-tiny-height;
  padding: max(0, (
    $puppet-button-tiny-height
    - 2
    - $puppet-button-tiny-font-size * $puppet-line-height-default
  ) / 2) ($puppet-button-tiny-height / 5.5);

  &.rc-button-round {
    padding: 0 3px;
  }

  .rc-button-content {
    font-size: $puppet-button-tiny-font-size;
  }
}

.rc-button-small {
  min-height: $puppet-button-small-height;
  padding: max(0, (
    $puppet-button-small-height
    - 2
    - $puppet-button-small-font-size * $puppet-line-height-default
  ) / 2) ($puppet-button-small-height / 3);

  .rc-button-content {
    font-size: $puppet-button-small-font-size;
  }
}

.rc-button-large {
  min-height: $puppet-button-large-height;
  padding: max(0, (
    $puppet-button-large-height
    - 2
    - $puppet-button-large-font-size * $puppet-line-height-default
  ) / 2) ($puppet-button-large-height / 2.5);

  .rc-button-content {
    font-size: $puppet-button-large-font-size;
  }
}

.rc-button-round {
  border-radius: $puppet-circle-radius;
}

.rc-button-secondary {
  @include button-colors(
    $puppet-button-secondary-bg,
    $puppet-button-secondary-bg-hover,
    $puppet-button-secondary-bg-active,
    $puppet-button-secondary-color,
    $puppet-button-secondary-color-hover,
    $puppet-button-secondary-color-active,
    $puppet-button-secondary-icon-color,
    $puppet-button-secondary-icon-color-hover,
    $puppet-button-secondary-icon-color-active,
    $puppet-button-secondary-border-color,
    $puppet-button-secondary-border-color-hover,
    $puppet-button-secondary-border-color-active
  );
}

.rc-button-simple {
  @include button-colors(
    $puppet-button-simple-bg,
    $puppet-button-simple-bg-hover,
    $puppet-button-simple-bg-active,
    $puppet-button-simple-color,
    $puppet-button-simple-color-hover,
    $puppet-button-simple-color-active,
    $puppet-button-simple-icon-color,
    $puppet-button-simple-icon-color-hover,
    $puppet-button-simple-icon-color-active,
    $puppet-button-simple-border-color,
    $puppet-button-simple-border-color-hover,
    $puppet-button-simple-border-color-active
  );
  height: auto;
  min-height: auto;
  padding: 0;
}

.rc-button-simple.rc-button-secondary {
  @include button-colors(
    $puppet-button-simple-secondary-bg,
    $puppet-button-simple-secondary-bg-hover,
    $puppet-button-simple-secondary-bg-active,
    $puppet-button-simple-secondary-color,
    $puppet-button-simple-secondary-color-hover,
    $puppet-button-simple-secondary-color-active,
    $puppet-button-simple-secondary-icon-color,
    $puppet-button-simple-secondary-icon-color-hover,
    $puppet-button-simple-secondary-icon-color-active,
    $puppet-button-simple-secondary-border-color,
    $puppet-button-simple-secondary-border-color-hover,
    $puppet-button-simple-secondary-border-color-active
  );
}

.rc-button-simple .rc-icon + .rc-button-content {
  padding-left: 4px;
}

.rc-button-transparent {
  @include button-colors(
    $puppet-button-clear-bg,
    $puppet-button-clear-bg-hover,
    $puppet-button-clear-bg-active,
    $puppet-button-clear-color,
    $puppet-button-clear-color-hover,
    $puppet-button-clear-color-active,
    $puppet-button-clear-icon-color,
    $puppet-button-clear-icon-color-hover,
    $puppet-button-clear-icon-color-active,
    $puppet-button-clear-border-color,
    $puppet-button-clear-border-color-hover,
    $puppet-button-clear-border-color-active
  );

  &.rc-button-error {
    background: $puppet-button-clear-bg;
    color: $puppet-button-error-bg !important;
  }

  &.rc-button-error:hover {
    background: $puppet-button-clear-bg;
    color: $puppet-button-error-bg !important;
  }

  &[disabled] {
    background: $puppet-button-clear-bg;
  }

  &[disabled]:hover {
    background: $puppet-button-clear-bg;
  }
}

.rc-button-error {
  @include button-colors(
    $puppet-button-error-bg,
    $puppet-button-error-bg-hover,
    $puppet-button-error-bg-active,
    $puppet-button-error-color,
    $puppet-button-error-color-hover,
    $puppet-button-error-color-active,
    $puppet-button-error-icon-color,
    $puppet-button-error-icon-color-hover,
    $puppet-button-error-icon-color-active,
    $puppet-button-error-border-color,
    $puppet-button-error-border-color-hover,
    $puppet-button-error-border-color-active
  );
}

.rc-button[disabled] {
  cursor: default;
  opacity: $puppet-button-disabled-opacity;
  outline: none;
  pointer-events: none;
}

.rc-button-block {
  display: flex;
  width: 100%;
}

.rc-button-square {
  padding: 0;
  width: $puppet-button-height;
}

.rc-button-large.rc-button-square {
  width: $puppet-button-large-height;
}

.rc-button-small.rc-button-square {
  width: $puppet-button-small-height;
}

.rc-button-tiny.rc-button-square {
  width: $puppet-button-tiny-height;
}

.rc-button-nowrap {
  white-space: nowrap;
}

.rc-button-processing {
  position: relative;

  .rc-button-content {
    visibility: hidden;
  }

  .rc-icon {
    height: 80%;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.rc-button-badged {
  position: relative;

  &::after {
    border: ($puppet-button-badge-size / 3) solid #fff;
    border-radius: $puppet-circle-radius;
    box-sizing: content-box;
    content: ' ';
    height: $puppet-button-badge-size;
    position: absolute;
    right: -($puppet-button-badge-size / 2);
    top: -($puppet-button-badge-size / 2);
    width: $puppet-button-badge-size;
  }
}

.rc-floating-action-button {
  border-radius: $puppet-floating-action-button-height;
  box-shadow: none;
  height: $puppet-floating-action-button-height;
  justify-content: center;
  min-height: auto;
  padding: 0;
  width: $puppet-floating-action-button-height;

  &:hover {
    transform: scale(1.2);
  }
}

.rc-button-group {
  display: inline-block;

  .rc-button {
    margin-right: 6px;
  }

  .rc-button:last-child {
    margin-right: 0;
  }
}

.rc-button-group-collapsed {
  .rc-button {
    border-radius: 0 !important;
    margin-right: 0;
  }

  :first-child {
    border-bottom-left-radius: $puppet-border-radius !important;
    border-right: 0 !important;
    border-top-left-radius: $puppet-border-radius !important;
  }

  :last-child {
    border-bottom-right-radius: $puppet-border-radius !important;
    border-left: 0 !important;
    border-top-right-radius: $puppet-border-radius !important;
  }
}

.rc-split-button {
  display: flex;
}

.rc-button-main {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.rc-button-menu {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 0;
  width: $puppet-button-height;

  &.rc-button-small {
    width: $puppet-button-small-height;
  }

  .rc-button-menu-inner {
    align-items: center;
    display: flex;
  }
}
