.rc-button {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  height: 44px;
  line-height: 43px;
  text-align: center;
  padding: 0px 20px;
  background: $button-bg;
  color: white !important;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
  border-radius: $button-border-radius;
  outline: none;

  svg {
    fill: white;
    height: 100%;
  }

  &.rc-button-block {
    display: block;
    width: 100%;
  }

  &.rc-button-processing {
    position: relative;

    .rc-button-content {
      visibility: hidden;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &.secondary {
    background: transparent;
    border: 1px solid $gray;
    color: $gray;

    &:hover {
      background: $gray-dark;
      border: 1px solid $gray-dark;
      color: white;
    }
  }

  &.rc-button-small {
    height: 33px;
    line-height: 33px;
    padding: 0 8px;
  }

  &.rc-button-large {
    font-size: 14px;
    height: 60px;
    line-height: 59px;
  }

  &:hover {
    background: darken($brand-primary, 10%);
    color: #fff;
  }

  &[disabled] {
    &:hover {
      background-color: $button-disabled-bg;
    }

    background-color: $button-disabled-bg;
  }

  .rc-button-icon {
    display: block;
    height: 100%;
    float: left;
  }

  .rc-button-content {
    font-family: $button-font-family;
    font-size: $button-font-size;
  }

  .rc-button-icon + .rc-button-content {
    padding-left: 10px;
  }
}

.rc-button-group {
  margin-bottom: 5px;

  &.rc-button-group-two-up {
    .rc-button {
      width: 50%;
    }
  }

  &.rc-button-group-three-up {
    .rc-button {
      width: 33.33%;
    }
  }

  .rc-button {
    display: inline-block;
    border-radius: 0;
    height: 25px;
    line-height: 25px;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 0;

    &:first-of-type {
      border-left-radius: $button-border-radius;
    }
    &:last-of-type {
      border-right-radius: $button-border-radius;
    }
  }
}

.rc-floating-action-button {
  border-radius: 60px;
  height: $floating-action-button-height;
  line-height: $floating-action-button-height;
  width: $floating-action-button-height;
  padding: 0;

  &:before {
    content: '+';
    font-size: 36px;
  }
}
