@mixin button-colors($bg, $bg-hover, $color, $color-hover, $border, $border-hover) {
  background: $bg;
  border: 1px solid $border;
  color: $color !important;

  .rc-icon {
    fill: $color;
  }

  &:hover {
    background: $bg-hover;
    border: 1px solid $border;
    color: $color-hover !important;

    .rc-icon {
      fill: $color-hover;
    }
  }
}

a.rc-button, button.rc-button {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  height: 44px;
  line-height: 43px;
  text-align: center;
  padding: 0px 20px;
  white-space: nowrap;
  cursor: pointer;
  border-radius: $button-border-radius;
  outline: none;

  @include button-colors(
    $button-bg,
    $button-bg-hover,
    $button-color,
    $button-color-hover,
    $button-border-color,
    $button-border-color-hover
  );

  &.rc-button-block {
    display: block;
    width: 100%;
  }

  &.rc-button-processing {
    position: relative;

    .rc-button-content {
      visibility: hidden;
    }

    .rc-icon {
      float: none;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 80%;
      transform: translateY(-50%);
    }
  }

  &.rc-button-secondary {
    @include button-colors(
      $button-secondary-bg,
      $button-secondary-bg-hover,
      $button-secondary-color,
      $button-secondary-color-hover,
      $button-secondary-border-color,
      $button-secondary-border-color-hover
    )
  }

  &.rc-button-transparent {
    @include button-colors(
      transparent,
      transparent,
      $button-transparent-color,
      $button-transparent-color-hover,
      transparent,
      transparent
    );

    &[disabled] {
      background: transparent;

      &:hover {
        background: transparent;
      }
    }
  }

  &.rc-button-small {
    height: 33px;
    line-height: 29px;
    padding: 0 8px;
  }

  &.rc-button-large {
    font-size: 14px;
    height: 60px;
    line-height: 59px;
  }

  &[disabled] {
    &:hover {
      color: $button-disabled-color-hover !important;
      background: $button-disabled-bg;
    }

    cursor: default;
    color: $button-disabled-color !important;
    background: $button-disabled-bg;
  }

  .rc-icon {
    float: left;
    display: block;
    height: 100%;
  }

  .rc-button-content {
    font-family: $button-font-family;
    font-size: $button-font-size;
  }

  .rc-icon + .rc-button-content {
    padding-left: 10px;
  }
}

a.rc-floating-action-button, button.rc-floating-action-button {
  border-radius: 60px;
  height: $floating-action-button-height;
  line-height: $floating-action-button-height;
  width: $floating-action-button-height;
  padding: 0;

  &:before {
    content: '+';
    font-size: 36px;
  }
}

.rc-button-group {
  a.rc-button, button.rc-button {
    margin-right: 5px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
