.rc-card {
  background: $reflect-card-bg;
  border: $reflect-card-border;
  border-radius: $reflect-border-radius;
  box-shadow: $reflect-outer-shadow;
  display: block;
  color: $reflect-card-color;

  &.rc-card-xs {
    padding: 2px;
    background-position: center center;
    background-size: cover;

    .rc-card-content {
      padding: 13px 0px;
      border: 2px solid white;

      .rc-card-title {
        margin: 0px;
        text-align: center;
        visibility: hidden;
        font-size: 1em;
      }
    }

    &:hover {
      .rc-card-content {
        background: $reflect-card-bg;
        .rc-card-title {
          visibility: visible;
        }
      }
    }
  }

  &.rc-card-large {
    padding-top: 100px;;

    .rc-card-title {
      margin-top: 80px;
      font-size: 1.3em;
    }
  }

  &.rc-card-small {
    padding-top: 0;

    .rc-card-title {
      margin-top: 0px;
      font-size: 1.1em;
    }
  }

  &.rc-card-selectable {
    cursor: pointer;

    &:hover {
      border: $reflect-card-border-hover;
    }
  }

  &.rc-card-selected {
    border: $reflect-card-border-selected;
    box-shadow: $reflect-card-shadow-selected;

    &:hover {
      border: $reflect-card-border-selected;
    }
  }

  &.rc-card-removable {
    position: relative;

    &:hover {
      .remove-corner {
        display: flex;
      }
    }
  }

  .remove-corner {
    width: 21px;
    height: 21px;

    position: absolute;
    top: 0;
    right: 0;
    float: right;

    display: none;
    background: $reflect-card-remove-background;
    border-left: 2px solid $reflect-gray;
    border-bottom: 2px solid $reflect-gray;
    border-bottom-left-radius: $reflect-border-radius;
    border-top-right-radius: 2px;

    .rc-card-remove:before {
      position: absolute;
      top: -1px;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      background: $reflect-gray;

      .rc-card-remove {
        color: #fff;
      }
    }

    .rc-card-remove {
      color: $reflect-gray;
    }
  }

  .rc-card-content {
    background: transparent !important;
    padding: 20px;
  }

  .rc-card-title {
    color: $reflect-card-title-color;
    margin-top: 30px;
    font-size: 1.2em;
  }

  .rc-card-subtitle {
    color: $reflect-card-subtitle-color;
    font-size: 0.8em;
  }
}
