.rc-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $reflect-card-bg;
  border: $reflect-card-border;
  border-radius: $reflect-card-border-radius;
  box-shadow: $reflect-outer-shadow;
  color: $reflect-card-color;

  &:hover {
    .rc-card-actions-hidden {
      display: block;
    }
  }

  &.rc-card-xs {
    padding: 13px 2px;
    background-position: center center;
    background-size: cover;
    border: 2px solid white;

    .rc-card-title {
      margin: 0px;
      text-align: center;
      visibility: hidden;
      font-size: 1em;
    }

    &:hover {
      background: $reflect-card-bg;
      .rc-card-title {
        visibility: visible;
      }
    }
  }

  &.rc-card-large {
    padding-top: 100px;;

    .rc-card-title {
      margin-top: 80px;
      font-size: 1.3em;
      border-radius: $reflect-card-border-radius $reflect-card-border-radius 0 0;
    }
  }

  &.rc-card-small {
    padding-top: 0;

    .rc-card-title {
      margin-top: 0px;
      font-size: 1.1em;
    }
  }

  &.rc-card-selectable {
    cursor: pointer;

    &:hover {
      border: $reflect-card-border-hover;
      box-shadow: $reflect-card-shadow-hover;
    }
  }

  &.rc-card-selected {
    border: $reflect-card-border-selected;
    box-shadow: $reflect-card-shadow-selected;

    &:hover {
      border: $reflect-card-border-selected-hover;
      box-shadow: $reflect-card-shadow-selected-hover;
    }
  }
}

.rc-card-title {
  color: $reflect-card-title-color;
  font-size: $reflect-card-title-size;
  padding: $reflect-card-title-padding;
  margin: -5px 0;
  width: calc(100% - 22px);
}

.rc-card-subtitle {
  color: $reflect-card-subtitle-color;
  font-size: $reflect-card-subtitle-size;
}

.rc-card-section {
  padding: $reflect-card-padding;

  &:last-of-type {
    border-bottom: none;
  }
}

.rc-card-actions {
  position: absolute;
  top: $reflect-card-action-padding;
  right: $reflect-card-action-padding;
  z-index: 24;

  .rc-card-remove {
    width: 21px;
    height: 21px;

    background: $reflect-remove-background;
    border-radius: 50%;

    cursor: pointer;
    text-align: center;
    line-height: 20px;
  }
}

.rc-card-actions-hidden {
  display: none;
}

.rc-card-controls {
  background: $reflect-card-controls-bg;
  padding: $reflect-card-controls-padding;
  font-size: $reflect-card-controls-font-size;

  .rc-dropdown-label-text {
    font-size: $reflect-card-controls-font-size;
  }
}
