.rc-card {
  background: $puppet-card-bg;
  border: $puppet-card-border;
  border-radius: $puppet-card-border-radius;
  box-shadow: $puppet-card-shadow;
  color: $puppet-card-color;
  display: flex;
  flex-direction: column;
  position: relative;
}

.rc-card-header {
  padding: $puppet-card-header-padding;
  width: 100%;

  ~ .rc-card-section {
    padding-top: 0;
  }

  &:only-child {
    padding: $puppet-card-padding;
  }
}

.rc-card-title-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: $puppet-mini;

  &:only-child {
    margin-bottom: 0;
  }
}

.rc-card-description {
  font-size: $puppet-card-description-font-size;
}

.rc-card-title-area {
  flex-grow: 1;
  overflow: hidden;
}

.rc-card-title {
  color: $puppet-card-title-color;
  font-size: $puppet-card-title-size;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: $puppet-card-title-case;
  white-space: nowrap;

  + .rc-card-controls,
  + .rc-card-subtitle,
  + .rc-card-description {
    margin-top: $puppet-card-title-margin;
  }
}

.rc-card-subtitle {
  color: $puppet-card-subtitle-color;
  font-size: $puppet-card-subtitle-size;
}

.rc-card-controls {
  color: $puppet-card-controls-color;
  font-size: $puppet-card-controls-size;

  + .rc-card-description {
    margin-top: $puppet-card-title-margin;
  }
}

.rc-card-section {
  padding: $puppet-card-padding;
  width: 100%;

  + .rc-card-section,
  + .rc-card-header {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: 0;
  }
}

.rc-card-actions {
  align-self: flex-start;
  display: flex;
  margin-left: 8px;
  z-index: 24;

  .rc-card-remove {
    background: $puppet-remove-background;
    border-radius: 50%;
    cursor: pointer;
    height: 21px;
    line-height: 20px;
    text-align: center;
    width: 21px;
  }
}

// TODO: Cleanup button nesting so you don't need to be so explicit with overrides
.rc-card-actions .rc-popover-target-open {
  .rc-icon {
    fill: $puppet-card-action-color-active;
  }

  &:hover .rc-icon {
    fill: $puppet-card-action-color-active;
  }
}

.rc-card-action {
  cursor: pointer;
  margin-left: 8px;

  &:first-of-type {
    margin-left: 0;
  }
}

.rc-card-search {
  display: flex;

  .rc-input {
    margin-left: 8px;
    margin-top: -4px;
    width: 200px;
  }
}

.rc-card-xs {
  background-position: center center;
  background-size: cover;
  border: 2px solid #fff;
  padding: 13px 2px;

  .rc-card-title {
    font-size: 1em;
    margin: 0;
    text-align: center;
    visibility: hidden;
  }
}

.rc-card-xs:hover {
  background: $puppet-card-bg;

  .rc-card-title {
    visibility: visible;
  }
}

.rc-card-large {
  padding-top: 100px;

  .rc-card-title {
    font-size: 1.3em;
    margin-top: 80px;
  }
}

.rc-card-small {
  padding-top: 0;

  .rc-card-title {
    font-size: 1.1em;
    margin-top: 0;
  }
}

.rc-card-selectable {
  cursor: pointer;

  &:hover {
    border: $puppet-card-border-hover;
    box-shadow: $puppet-card-shadow-hover;
  }
}

.rc-card-selected {
  border: $puppet-card-border-selected;
  box-shadow: $puppet-card-shadow-selected;

  &:hover {
    border: $puppet-card-border-selected-hover;
    box-shadow: $puppet-card-shadow-selected-hover;
  }
}

.rc-card-basic {
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
}
