.rc-checkbox-container {
  display: inline-block;
}

// https://github.com/stylelint/stylelint/issues/331#issuecomment-127043187
/* stylelint-disable property-no-vendor-prefix */
.rc-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: $reflect-border;
  border-radius: $reflect-border-radius;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: $reflect-small;
}

.rc-checkbox + .rc-icon {
  margin-bottom: 2px;
  margin-left: -16px;
  pointer-events: none;
  visibility: hidden;
}

.rc-checkbox:hover {
  border-color: $reflect-brand-primary;
}

.rc-checkbox-checked + .rc-icon {
  fill: $reflect-brand-primary;
  visibility: visible;
}
