.rc-checkbox-container {
  display: inline-block;
  position: relative;
}

// https://github.com/stylelint/stylelint/issues/331#issuecomment-127043187
/* stylelint-disable property-no-vendor-prefix */
.rc-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: $puppet-checkbox-border;
  border-radius: $puppet-checkbox-border-radius;
  cursor: pointer;
  height: $puppet-medium;
  margin: 0;
  outline: none;
  padding: 0;
  width: $puppet-medium;
}

.rc-checkbox::-ms-check {
  border: $puppet-checkbox-border;
  border-radius: $puppet-checkbox-border-radius;
  color: $puppet-bg-light;
}

.rc-checkbox + .rc-icon {
  animation: 200ms 1 ease-in rc-zoom-in;
  display: none;
  height: 16px;
  pointer-events: none;
  position: absolute;
  right: -2px;
  top: -1px;
  width: 16px;
}

.rc-checkbox:hover {
  border: $puppet-checkbox-border-hover;

  &.rc-checkbox:checked {
    border: $puppet-checkbox-border;
  }
}

.rc-checkbox:checked + .rc-icon {
  display: block;
  fill: $puppet-checkbox-icon-fill;
}

.rc-checkbox:disabled {
  cursor: default;
  opacity: $puppet-disabled-opacity;

  + .rc-icon {
    opacity: $puppet-disabled-opacity;
  }
}

/* stylelint-enable property-no-vendor-prefix */
