.rc-content {
  ul {
    margin: $puppet-list-margin;
  }

  ul:last-child {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: $puppet-heading-margin;
  }

  p {
    margin: $puppet-p-margin;
  }

  p:last-child {
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;
  }
}
