.rc-datepicker-wrapper {
  position: relative;
}

.rc-datepicker-button {
  border: 1px solid $reflect-datepicker-button-border-color !important;
}

.rc-datepicker-container {
  display: flex;
  padding: $reflect-datepicker-padding 0;
}

.rc-datepicker-container .rc-ranges {
  list-style: none;
  min-width: 150px;
  padding: 0 $reflect-datepicker-padding 0 0;

  li {
    border: $reflect-date-range-border;
    border-radius: $reflect-datepicker-radius;
    color: $reflect-date-range-color;
    cursor: pointer;
    font-size: $reflect-font-size-medium;
    margin-bottom: $reflect-tiny;
    padding: $reflect-tiny $reflect-small;
  }

  li:hover,
  .selected {
    background: $reflect-date-range-hover-bg;
    border: $reflect-date-range-hover-border;
    color: #fff;
  }

  .active {
    background: $reflect-date-range-hover-bg;
    border: $reflect-date-range-hover-border;
    color: #fff;
  }
}

.rc-datepicker-button {
  box-sizing: border-box;
  max-width: 300px;
}
/* stylelint-disable  */
// $arrow-size: 6px !default;
// $selection-radius: $reflect-datepicker-radius !default;
// $selection-margin: 0 !default;
$ns: rc-datepicker !default;

.#{$ns} {
  display: inline-block;
  position: relative;
  user-select: none;
  // Legend is not currently used //
  &__Legend {
    background: red;
    color: #52575e;
    font-size: $reflect-font-size-medium;
    line-height: $reflect-medium;
    list-style-type: none;
    margin: $reflect-large 0;
    padding: 0;
  }

  &__LegendItem {
    display: inline-block;
    margin: 0 $reflect-large;
  }

  &__LegendItemColor {
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    margin-right: 6px;
    vertical-align: text-bottom;
    width: 14px;
    border: 1px solid rgba(#000, .25);

    &--selection {
      background-color: $reflect-datepicker-selected-bg;
    }
  }


  &__PaginationArrow {
    border: 0;
    cursor: pointer;
    display: block;
    height: 35px;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 35px;
    z-index: 1;

    &--previous {
      left: 0px;
    }

    &--next {
      right: 0px;
    }
  }

  &__PaginationArrowIcon {
    border-bottom: $reflect-arrow-size solid transparent;
    border-top: $reflect-arrow-size solid transparent;
    height: 0;
    position: absolute;
    top: $reflect-small;
    width: 0;

    &--is-disabled {
      opacity: $reflect-disabled-opacity;
    }

    &--previous {
      border-left: $reflect-arrow-size solid transparent;
      border-right: $reflect-arrow-size solid $reflect-datepicker-icon;
      right: 0;

      &:hover {
        border-right-color: $reflect-datepicker-icon-hover;
      }
    }

    &--next {
      border-left: $reflect-arrow-size solid $reflect-datepicker-icon;
      border-right: $reflect-arrow-size solid transparent;
      left: 0;

      &:hover {
        border-left-color: $reflect-datepicker-icon-hover;
      }
    }
  }

  &__Month {
    color: $reflect-datepicker-month-color;
    display: inline-block;
    padding: 0 $reflect-datepicker-padding;
    position: relative;
    user-select: none;
    width: 275px;

    &:nth-child(2) {
      padding-right: 0;
    }
  }

  &__MonthHeader {
    border-bottom: $reflect-datepicker-month-border;
    color: $reflect-datepicker-month-color;
    font-size: $reflect-datepicker-month-font-size;
    font-weight: $reflect-datepicker-month-font-weight;
    height: 35px;
    line-height: 35px;
    position: relative;
    text-align: center;
  }

  &__MonthHeaderLabel {
    display: inline-block;
    position: relative;
  }


  &__MonthHeaderSelect {
  // Not used?
    background: $reflect-datepicker-month-bg;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  &__MonthDates {
    border-bottom: $reflect-datepicker-month-border;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
  }

  &__WeekdayHeading,
  &__Date {
    font-size: $reflect-font-size-small;
    line-height: 1;
    padding: $reflect-small 0;
    text-align: center;
    width: 14.285714285714286%;
  }

  &__WeekdayHeading {
    border-bottom: $reflect-datepicker-weekday-border;
    color: $reflect-datepicker-weekday-color;
    font-weight: $reflect-datepicker-weekday-font-weight;
    text-transform: $reflect-datepicker-weekday-text;
    font-size: $reflect-datepicker-weekday-font-size;
    letter-spacing: $reflect-datepicker-weekday-letter-spacing;

    abbr[title] {
      border-bottom-width: 0;
      color: $reflect-datepicker-weekday-color;
      cursor: pointer;
      font-size: inherit;
      text-decoration: none;
    }
  }

  &__Date {
    color: $reflect-datepicker-font-color;
    border: $reflect-datepicker-border-width solid $reflect-datepicker-border-color;
    border-right-width: $reflect-datepicker-border-width;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &:first-child {
      border-left-width: $reflect-datepicker-border-width;
    }

    &--weekend {
      background-color: $reflect-datepicker-bg;
    }

    &--otherMonth {
      opacity: $reflect-datepicker-othermonth-opacity;
    }

    &--is-disabled {
      color: $reflect-datepicker-disabled-color;
      cursor: default;
    }

    &--is-selected {
      color: $reflect-datepicker-selected-color;
    }

    &--is-highlighted {
      color: $reflect-datepicker-hover-color;
    }
  }

  &__CalendarDatePeriod {
    bottom: 0;
    position: absolute;
    top: 0;

    &--am {
      left: 0;
      right: 50%;
    }

    &--pm {
      left: 50%;
      right: 0;
    }
  }

  &__CalendarSelection {
    background-color: $reflect-datepicker-selected-bg;
    border: $reflect-datepicker-selected-border;
    bottom: $reflect-datepicker-selection-margin;
    left: 0;
    position: absolute;
    right: 0;
    top: $reflect-datepicker-selection-margin;

    &--inOtherMonth {
      opacity: .5;
    }

    &--start {
      background-color: $reflect-datepicker-selected-edges-bg;
      border-bottom-left-radius: $reflect-datepicker-selected-edges-radius;
      border-right-width: 0;
      border-top-left-radius: $reflect-datepicker-selected-edges-radius;
      left: $reflect-datepicker-selection-margin;
    }

    &--end {
      background-color: $reflect-datepicker-selected-edges-bg;
      border-bottom-right-radius: $reflect-datepicker-selected-edges-radius;
      border-left-width: 0;
      border-top-right-radius: $reflect-datepicker-selected-edges-radius;
      right: $reflect-datepicker-selection-margin;
    }

    &--segment {
      border-left-width: 0;
      border-right-width: 0;
    }

    &--single {
      border-radius: $reflect-datepicker-selected-edges-radius;
      left: $reflect-datepicker-selection-margin;
      right: $reflect-datepicker-selection-margin;
    }

    &--is-pending {
      background-color: $reflect-datepicker-newrange-bg;
      border-width: 0;
    }
  }

  &__CalendarHighlight {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;

    // &--inOtherMonth {
    //   opacity: .5;
    // }

    &--start {
      border-bottom-left-radius: $reflect-datepicker-selected-edges-radius;
      border-right-width: 0;
      border-top-left-radius: $reflect-datepicker-selected-edges-radius;
      left: $reflect-datepicker-selection-margin;
    }

    &--end {
      border-bottom-right-radius: $reflect-datepicker-selected-edges-radius;
      border-left-width: 0;
      border-top-right-radius: $reflect-datepicker-selected-edges-radius;
      right: $reflect-datepicker-selection-margin;
    }

    &--segment {
      border-left-width: 0;
      border-right-width: 0;
    }

    &--single {
      background-color: $reflect-datepicker-hover-bg;
      border: $reflect-datepicker-hover-border;
      border-radius: $reflect-datepicker-selected-edges-radius;
      // left: 0;
      // right: 0;
      // top: 0;
      // bottom: 0;
    }
  }

  &__HalfDateStates {
    bottom: -50px;
    left: -50px;
    position: absolute;
    right: -50px;
    top: -50px;
    transform: rotate(30deg);
  }

  &__FullDateStates {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__DateLabel {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
  }
}
/* stylelint-enable  */
