@mixin dropdown-label-colors($color, $color-disabled, $color-error) {
  &.rc-dropdown-toggle-error {
    .rc-dropdown-label {
      color: $color-error;
    }

    .rc-icon {
      fill: $color-error;
    }
  }

  &.rc-dropdown-toggle-error:focus {
    .rc-dropdown-label {
      color: darken($color-error, 20%);
    }

    .rc-icon {
      fill: darken($color-error, 20%);
    }
  }

  &:focus {
    .rc-dropdown-label {
      color: darken($color, 20%);
    }

    .rc-icon {
      fill: darken($color, 20%);
    }
  }

  &[disabled] {
    .rc-dropdown-label {
      color: $color-disabled;
    }

    .rc-icon {
      fill: $color-disabled;
    }
  }

  .rc-dropdown-label {
    color: $color;
  }

  .rc-icon {
    fill: $color;
  }
}

.rc-dropdown-toggle {
  @include dropdown-label-colors(
    $puppet-dropdown-label-color,
    $puppet-dropdown-label-color-disabled,
    $puppet-dropdown-label-color-error
  );

  &[disabled] {
    pointer-events: none;
  }

  .rc-dropdown-label {
    cursor: pointer;
    white-space: nowrap;
  }

  .rc-dropdown-label-text {
    font-size: $puppet-dropdown-label-font-size;
    font-weight: $puppet-dropdown-label-font-weight;
  }

  .rc-icon {
    height: $puppet-dropdown-chevron-height;
    left: 0;
    position: relative;
    top: 0;
    width: $puppet-dropdown-chevron-width;
  }
}

.rc-dropdown-toggle-select {
  background: $puppet-select-label-bg;
  border: $puppet-select-label-border;
  border-radius: $puppet-select-label-border-radius;
  display: block;
  padding: $puppet-select-label-padding;

  .rc-dropdown-label {
    display: block;
    position: relative;
  }

  .rc-dropdown-label-text {
    display: block;
    font-size: $puppet-select-label-font-size;
    margin-right: $puppet-medium;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .rc-icon {
    left: auto;
    position: absolute;
    right: 0;
    top: 5px;
  }
}

.rc-dropdown-label-text {
  font-size: $puppet-dropdown-label-font-size;
  font-weight: $puppet-dropdown-label-font-weight;
  line-height: $puppet-dropdown-label-line-height;
}

.rc-dropdown-menu {
  padding: 0;
  width: $puppet-dropdown-width;

  .rc-menu-item:first-child a {
    border-top-left-radius: $puppet-popover-border-radius;
    border-top-right-radius: $puppet-popover-border-radius;
  }

  .rc-menu-item:last-child a {
    border-bottom-left-radius: $puppet-popover-border-radius;
    border-bottom-right-radius: $puppet-popover-border-radius;
  }

  .rc-dropdown-blank {
    font-size: $puppet-dropdown-item-font-size;
    padding: $puppet-dropdown-padding;
  }

  .rc-dropdown-item {
    font-size: $puppet-dropdown-item-font-size;
    line-height: $puppet-dropdown-item-line-height;
  }

  .rc-dropdown-item a {
    display: block;
    padding: $puppet-dropdown-padding;
    text-decoration: none;
  }

  .rc-dropdown-item a:hover {
    background: $puppet-dropdown-item-hover-bg;
    color: $puppet-dropdown-item-hover-color;
    text-decoration: none;
  }

  .rc-dropdown-item-selected a {
    background: $puppet-dropdown-item-selected-bg;
    color: $puppet-dropdown-item-selected-color;
  }

  .rc-dropdown-item-disabled a {
    background: $puppet-dropdown-item-disabled-bg;
    color: $puppet-dropdown-item-disabled-color;
    cursor: default;
  }

  .rc-dropdown-item-disabled a:hover {
    background: $puppet-dropdown-item-disabled-bg;
    color: $puppet-dropdown-item-disabled-color;
  }

  ul {
    max-height: $puppet-dropdown-max-height;
    overflow: auto;
  }
}

.rc-dropdown-menu-tiny {
  width: $puppet-dropdown-width-tiny;

  .rc-dropdown-item {
    font-size: $puppet-dropdown-item-font-size-tiny;
    line-height: $puppet-dropdown-item-line-height-tiny;
  }

  .rc-dropdown-item a {
    padding: $puppet-dropdown-padding-tiny;
  }
}

.rc-dropdown-menu-multiple {
  padding-bottom: 0;

  .rc-dropdown-menu-section-list {
    padding: 0;
  }
}

.rc-dropdown-menu-with-header {
  .rc-menu-item:first-child,
  .rc-menu-item:first-child a {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.rc-dropdown-menu-multiple {
  .rc-menu-item:last-child a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
