.rc-filters {
  .rc-form {
    animation: 0.4s 1 rc-fade-in;
  }

  .rc-tag {
    height: 27px;
    line-height: 27px;
  }
}

.rc-filters-action:hover {
  color: $puppet-action-base !important;

  .rc-icon {
    fill: $puppet-action-base;
  }
}

// Filter definitions within List Items
.rc-list-item-medium {
  .rc-filter-filter,
  .rc-filter-field-name,
  .rc-filter-field-op,
  .rc-filter-field-value {
    font-size: $puppet-font-size-base;
  }
}

.rc-list-item-small {
  .rc-filter-filter,
  .rc-filter-field-name,
  .rc-filter-field-op,
  .rc-filter-field-value {
    font-size: $puppet-font-size-small;
  }
}

.rc-filters-filter {
  .rc-filter-field-name,
  .rc-filter-field-op {
    padding-right: 4px;
  }

  .rc-filter-field-op {
    opacity: 0.8;
  }

  .rc-filter-field-name,
  .rc-filter-field-value {
    font-weight: $puppet-font-weight-heavy;
  }

  .rc-filter-field-op {
    font-style: italic;
  }
}
