@font-face {
  font-family: Calibre;
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/CalibreWeb-Semibold.woff2') format('woff2'),
    url('../../fonts/CalibreWeb-Semibold.woff') format('woff');
}
@font-face {
  font-family: Calibre;
  font-style: italic;
  font-weight: 600;
  src: url('../../fonts/CalibreWeb-SemiboldItalic.woff2') format('woff2'),
    url('../../fonts/CalibreWeb-SemiboldItalic.woff') format('woff');
}
