.rc-form-field {
  padding-bottom: $puppet-form-vertical-padding * 2;
}

.rc-form-field:last-child {
  padding-bottom: 0;

  .rc-form-field-description {
    padding-bottom: 0;
  }
}

.rc-form-fields,
.rc-form-section {
  border: 0;
  margin: 0;
  padding: 0;

  &[disabled] .rc-input {
    @extend %disabled-input;
  }
}

.rc-form-section {
  padding-bottom: $puppet-form-vertical-padding * 4;

  &:last-child {
    padding-bottom: $puppet-form-vertical-padding * 2;
  }
}
// Add margin-top to sections after non-sections (e.g. non-nested fields)
:not(.rc-form-section) + .rc-form-section {
  margin-top: $puppet-form-vertical-padding * 2;
}

.rc-form-field-content {
  display: block;
  margin: 0;
  padding: 0;
}

.rc-popover-menu .rc-form-section {
  border-bottom: $puppet-popover-border;
  border-bottom-left-radius: $puppet-popover-border-radius;
  border-bottom-right-radius: $puppet-popover-border-radius;
  border-left: $puppet-popover-border;
  border-right: $puppet-popover-border;
}

.rc-popover-menu .rc-menu-section {
  .rc-form-section {
    border: 0;
  }
}

.rc-form-flyout {
  padding: $puppet-form-field-margin;
}

.rc-form-section-legend {
  color: $puppet-form-section-legend-color;
  display: block;
  font-size: $puppet-form-section-legend-font-size;
  font-weight: $puppet-form-section-legend-font-weight;
  margin: 0;
  padding: 0 0 $puppet-form-vertical-padding;

  span {
    display: block;
    height: 21px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.rc-form-section-flyout-target {
  margin-left: $puppet-tiny;

  .rc-icon {
    fill: $puppet-form-section-flyout-icon-color;
  }
}

.rc-form-field-label {
  color: $puppet-form-label-color;
  display: block;
  font-family: $puppet-form-font-family;
  font-size: $puppet-form-label-font-size;
  font-weight: $puppet-font-weight-heavy;
  letter-spacing: $puppet-form-letter-spacing;
  line-height: $puppet-medium;
  margin: 0;
  padding-bottom: $puppet-form-vertical-padding;
  text-transform: uppercase;
}

.rc-form-field-description {
  color: $puppet-form-description-color;
  font-size: $puppet-form-description-font-size;
  font-weight: $puppet-form-font-weight;
  letter-spacing: $puppet-form-letter-spacing;
  line-height: $puppet-medium;
  margin: 0;
  padding: 4px 0;
}

.rc-form-actions {
  display: flex;
  justify-content: flex-end;

  &:not(:empty) {
    padding-top: $puppet-form-field-margin * 2;
  }

  .rc-form-action:not(:last-child) {
    margin-right: 4px;
  }
}

.rc-form-actions-left {
  justify-content: flex-start;
}

.rc-form-error {
  margin-top: $puppet-form-field-margin * 2;
}

.rc-form-field-error {
  .rc-form-field-label {
    color: $puppet-neg-color-base;
  }

  .rc-form-field-description {
    color: $puppet-neg-color-base;
  }
}

.rc-form-field-inline {
  align-items: center;
  width: 100%;
}

.rc-form-inline,
.rc-form-field-inline {
  .rc-form-field-label {
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding-bottom: 0;
  }

  .rc-form-field-content {
    align-items: center;
    display: flex;
  }

  .rc-toggle .rc-switch {
    margin: 0;
  }

  .rc-form-field-description {
    display: flex;
    justify-content: flex-end;
  }
}

.rc-form-tiny {
  .rc-form-field-label {
    font-size: $puppet-form-tiny-label-font-size;
  }
}

/* stylelint-disable  */
.rc-filter-form {
  position: relative;

  .rc-split-button {
    background: $puppet-filter-split-bg;
    border-top-left-radius: $puppet-filter-radius;
    border-top-right-radius: $puppet-filter-radius;
    position: absolute;
    right: 0;
    // We probably shouldn't hardcode this...
    top: -19px;
    visibility: hidden;

    .rc-button-main {
      background: $puppet-filter-split-bg;

      .rc-button-content {
        color: $puppet-button-bg;
        float: right;
      }

      &:hover {
        .rc-button-content {
          color: $puppet-button-bg-hover;
        }
      }
    }

    .rc-button-menu {
      background: $puppet-filter-split-menu-bg;

      &:hover {
        background: $puppet-filter-split-menu-bg-hover;
      }

      .rc-button-menu-inner {
        path {
          fill: $puppet-filter-input-bg;
        }
      }

      &:hover {
        .rc-button-menu-inner {
          path {
            fill: $puppet-filter-input-bg;
          }
        }
      }
    }
  }

  .rc-filter-form-fields {
    background: $puppet-filter-bg;
    border-radius: $puppet-filter-radius;
    padding: $puppet-filter-padding;

    .rc-selects-row {
      display: flex;

      .rc-select {
        flex-grow: 1;
      }

      .rc-input {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .rc-select-left {
        margin-right: 2px;
      }

      .rc-select-left .rc-input {
        border-top-left-radius: $puppet-filter-radius;
      }

      .rc-select-right .rc-input {
        border-top-right-radius: $puppet-filter-radius;
      }
    }

    .rc-input {
      border-color: $puppet-filter-border-color;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-top: 1px;

      &:focus {
        border: $puppet-filter-border-active;
        box-shadow: $puppet-filter-selected-shadow;
      }
    }
  }

  &.rc-filter-form-no-value {
    .rc-filter-form-fields .rc-selects-row {
      .rc-select-left > .rc-input {
        border-bottom-left-radius: $puppet-filter-radius;
      }

      .rc-select-right > .rc-input {
        border-bottom-right-radius: $puppet-filter-radius;
      }
    }
  }

  &:hover {
    .rc-split-button {
      visibility: visible;
    }

    .rc-filter-form-fields {
      border-top-right-radius: 0;
    }
  }
}

// Specific field style overrides. These should be minimal

.rc-form-field-checkbox,
.rc-form-field-switch {
  // Hide labels: these fields will use the label internally in a custom style
  .rc-form-field-label {
    display: none;
  }
}

/* stylelint-enable  */
