.rc-filter-form {

  .rc-split-button {
    visibility: hidden;
    background: $gray-light;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    margin-bottom: -3px;

    .rc-button-main {
      background: $gray-light;
      width: 100%;

      .rc-button-content {
        color: $button-bg;
        float: left;
      }

      &:hover {
        .rc-button-content {
          color: $button-bg-hover;
        }
      }
    }

    .rc-button-menu {
      background: $gray-light;

      .rc-button-menu-inner {
        background: $button-bg;

        path {
          fill: $white;
        }
      }

      &:hover {
        .rc-button-menu-inner {
          background: $button-bg-hover;
        }
      }
    }
  }

  .rc-filter-form-fields {
    background: $gray-light;
    border-radius: $border-radius;
    padding: 3px;

    .rc-selects-row {
      display: flex;

      .Select-small {
        flex-grow: 1;
        font-size: 11px;

        &.is-focused:not(.is-open) {
          background: $white;
          border: none;
          box-shadow: none;

          .Select-control {
            z-index: $popover-elevation;
            background: $white;
            border-color: $brand-primary;
            box-shadow: 0px 0px 0px 1px $brand-primary;
          }
        }

        .Select-menu-outer {
          margin-top: 0;
          background-color: $white;
          border: 1px solid $brand-primary;
          box-shadow: 0px 0px 0px 1px $brand-primary;

          .Select-option.is-selected {
            background-color: $white;
            color: $button-disabled-bg;
          }
          .Select-option.is-focused {
            background-color: lighten($brand-primary, 10%);
            color: $white;
          }
        }

        .Select-control {
          border-color: $gray-light;
          padding: 6px;

          .Select-placeholder {
            line-height: normal;
            color: $button-disabled-bg;
            padding: 6px 28px 6px 6px;
          }

          .Select-value {
            line-height: normal;
            padding: 6px 28px 6px 6px;
          }

          .Select-input {
            height: 17px;
            vertical-align: inherit;
            padding-left: 0;

            input {
              line-height: normal;
              padding: 0;
            }
          }

          .Select-arrow-zone {
            padding-right: 0;
          }
        }

        &.is-open > .Select-control {
          z-index: $popover-elevation;
          background: $white;
          border-color: $brand-primary;
          box-shadow: 0px 0px 0px 1px $brand-primary;
        }

        &.Select-left > .Select-control {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        &.Select-right > .Select-control {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    .rc-input {
      margin-top: 1px;
      border-color: $gray-light;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      &:focus {
        background: $white;
        border-color: $brand-primary;
        box-shadow: 0px 0px 0px 1px $brand-primary;
      }
    }
  }

  &:hover {
    .rc-split-button {
      visibility: visible;
    }

    .rc-filter-form-fields {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}
