/* stylelint-disable  */
.rc-filter-form {
  position: relative;

  .rc-split-button {
    background: $reflect-filter-split-bg;
    border-top-left-radius: $reflect-filter-radius;
    border-top-right-radius: $reflect-filter-radius;
    position: absolute;
    right: 0;
    // We probably shouldn't hardcode this...
    top: -19px;
    visibility: hidden;

    .rc-button-main {
      background: $reflect-filter-split-bg;

      .rc-button-content {
        color: $reflect-button-bg;
        float: right;
      }

      &:hover {
        .rc-button-content {
          color: $reflect-button-bg-hover;
        }
      }
    }

    .rc-button-menu {
      background: $reflect-filter-split-bg;

      .rc-button-menu-inner {
        background: $reflect-filter-split-bg;

        path {
          fill: $reflect-filter-input-bg;
        }
      }

      &:hover {
        .rc-button-menu-inner {
          background: $reflect-button-bg-hover;

          path {
            fill: $reflect-filter-input-bg;
          }
        }
      }
    }
  }

  .rc-filter-form-fields {
    background: $reflect-filter-bg;
    border-radius: $reflect-filter-radius;
    padding: $reflect-filter-padding;

    .rc-selects-row {
      display: flex;

      .Select-small {
        flex-grow: 1;
        font-size: 11px;

        &.is-focused:not(.is-open) {
          background: $reflect-filter-input-bg;
          border: none;
          box-shadow: none;

          .Select-control {
            z-index: $reflect-popover-elevation;
            background: $reflect-filter-input-bg;
            border-color: $reflect-filter-border-active;
            box-shadow: $reflect-filter-selected-shadow;
          }
        }

        .Select-menu-outer {
          margin-top: 0;
          background-color: $reflect-filter-input-bg;
          border: $reflect-filter-border-active;
          box-shadow: $reflect-filter-selected-shadow;

          .Select-option.is-selected {
            background-color: $reflect-filter-input-bg;
            color: $reflect-button-disabled-bg;
          }
          .Select-option.is-focused {
            background-color: lighten($reflect-action-color, 10%);
            color: $reflect-filter-input-bg;
          }
        }

        .Select-control {
          border: $reflect-filter-border;
          padding: $reflect-tiny;

          .Select-placeholder {
            line-height: normal;
            color: $reflect-filter-placeholder-color;
            padding: $reflect-tiny 28px $reflect-tiny $reflect-tiny;
          }

          .Select-value {
            line-height: normal;
            padding: $reflect-tiny 28px $reflect-tiny $reflect-tiny;
          }

          .Select-input {
            height: $reflect-filter-select-height;
            vertical-align: inherit;
            padding-left: 0;

            input {
              line-height: normal;
              padding: 0;
            }
          }

          .Select-arrow-zone {
            padding-right: 0;
          }
        }

        &.is-open > .Select-control {
          z-index: $reflect-popover-elevation;
          background: $reflect-filter-input-bg;
          border: $reflect-filter-border-active;
          box-shadow: $reflect-filter-selected-shadow;
        }

        &.Select-left > .Select-control {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        &.Select-right > .Select-control {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    .rc-input {
      margin-top: 1px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-color: $reflect-filter-border-color;
      &:focus {
        box-shadow: $reflect-filter-selected-shadow;
        border: $reflect-filter-border-active;
      }
    }
  }

  &.rc-filter-form-no-value {
    .rc-filter-form-fields .rc-selects-row {
      .Select-small.Select-left > .Select-control {
        border-bottom-left-radius: $reflect-filter-radius;
      }

      .Select-small.Select-right > .Select-control {
        border-bottom-right-radius: $reflect-filter-radius;
      }
    }
  }

  &:hover {
    .rc-split-button {
      visibility: visible;
    }

    .rc-filter-form-fields {
      border-top-right-radius: 0;
    }
  }
}

.rc-form {
  li {
    margin-bottom: 16px;
  }

  li:last-of-type {
    margin-bottom: 0;
  }

  .rc-form-label {
    color: $reflect-form-label-color;
    font-size: $reflect-form-label-font-size;
    margin-bottom: $reflect-form-label-margin-bottom;
    text-transform: $reflect-form-label-case;
  }

  .rc-form-buttons-right {
    text-align: right;
  }
}
/* stylelint-enable  */
