$default-column-count: 12;

.rc-grid {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.rc-grid-row {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  padding: $puppet-grid-gutter 0;
  position: relative;
  width: 100%;
}

.rc-grid-column {
  padding: 0 $puppet-grid-gutter;
  position: relative;
  vertical-align: top;
}

$columns: (
  one: 1,
  two: 2,
  three: 3,
  four: 4,
  five: 5,
  six: 6,
  seven: 7,
  eight: 8,
  nine: 9,
  ten: 10,
  eleven: 11,
  twelve: $default-column-count,
);

@each $text, $number in $columns {
  // This code allows you to define the number of columns on the grid OR the row
  .rc-grid.rc-grid-#{$text}-columns > .rc-grid-row > .rc-grid-column,
  .rc-grid > .rc-grid-row.rc-grid-#{$text}-columns > .rc-grid-column {
    width: (100 / $number) * 1%;
  }

  // Grid - Column count on columns
  .rc-grid > .rc-grid-row > .rc-grid-column-#{$text}-columns {
    width: ($number / $default-column-count) * 100%;
  }
}

// Grid - Collapse outer

.rc-grid-collapse-outer > .rc-grid-row > .rc-grid-column:first-of-type {
  padding-left: 0;
}

.rc-grid-collapse-outer > .rc-grid-row > .rc-grid-column:last-of-type {
  padding-right: 0;
}

// Grid - Collapse inner

.rc-grid-collapse-inner > .rc-grid-row > .rc-grid-column {
  padding-left: 0;
  padding-right: 0;
}

.rc-grid-collapse-inner > .rc-grid-row > .rc-grid-column:first-of-type {
  padding-left: $puppet-grid-gutter;
}

.rc-grid-collapse-inner > .rc-grid-row > .rc-grid-column:last-of-type {
  padding-right: $puppet-grid-gutter;
}

// Grid - Collapse all

.rc-grid-collapse-all > .rc-grid-row > .rc-grid-column {
  padding-left: 0;
  padding-right: 0;
}

// Grid - Divided vertically

.rc-grid-divided-vertically > .rc-grid-row {
  border-bottom: $puppet-grid-divider-border;
}

.rc-grid-divided-vertically > .rc-grid-row:last-of-type {
  border-bottom: 0;
}

// Grid - Divided horizontally

.rc-grid-divided-horizontally > .rc-grid-row > .rc-grid-column {
  border-right: $puppet-grid-divider-border;
}

.rc-grid-divided-horizontally > .rc-grid-row > .rc-grid-column:last-of-type {
  border-right: 0;
}

// Row - Collapse Top

.rc-grid-row-collapse-top {
  padding-top: 0;
}

// Row - Collapse Bottom

.rc-grid-row-collapse-bottom {
  padding-bottom: 0;
}

// Row - Collapse All

.rc-grid-row-collapse-all {
  padding-bottom: 0;
  padding-top: 0;
}
