.rc-heading {
  font-family: $puppet-heading-font-family;
  margin: 0;
}

.rc-heading-medium {
  color: $puppet-heading-medium-color;
}

.rc-heading-subtle {
  color: $puppet-heading-subtle-color;
}

.rc-heading-h1 {
  font-size: $puppet-heading-h1-font-size;
}

.rc-heading-h2 {
  font-size: $puppet-heading-h2-font-size;
}

.rc-heading-h3 {
  font-size: $puppet-heading-h3-font-size;
}

.rc-heading-h4 {
  font-size: $puppet-heading-h4-font-size;
}

.rc-heading-h5 {
  font-size: $puppet-heading-h5-font-size;
}

.rc-heading-h6 {
  font-size: $puppet-heading-h6-font-size;
}