$puppet-header-height: 72px !default;
$puppet-header-bg: $puppet-black !default;
$puppet-header-menu-bg: $puppet-n900 !default;
$puppet-header-color: $puppet-white !default;
$puppet-header-padding: 0 40px 0 24px !default;
$puppet-header-menu-item-button-bg-hover: lighten($puppet-header-menu-bg, 10%) !default;

$puppet-header-nav-icon-fill-base: $puppet-n200 !default;
$puppet-header-nav-icon-fill-hover: $puppet-white !default;
$puppet-header-nav-icon-fill-active: $puppet-brand-primary !default;
$puppet-header-nav-icon-bg-base: transparent !default;
$puppet-header-nav-icon-bg-hover: $puppet-n800 !default;
$puppet-header-nav-icon-bg-active: $puppet-n800 !default;
$puppet-header-nav-icon-bg-size: 40px !default;
$puppet-header-nav-icon-margin: 24px !default;

.rc-header {
  align-items: center;
  background: $puppet-header-bg;
  color: $puppet-header-color;
  display: flex;
  height: $puppet-header-height;
  padding: $puppet-header-padding;
  width: 100%;
}

.rc-header-left {
  width: 50%;
}

.rc-header-logo {
  display: flex;
}

.rc-header-logo a {
  cursor: pointer;
  display: flex;

  &:focus {
    outline: none;
  }
}

.rc-header-right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  width: 50%;
}

.rc-header-container {
  position: relative;
  width: 100%;
}

.rc-header-menu {
  background: $puppet-header-menu-bg;
  display: none;
  position: absolute;
  width: 100%;
}

.rc-header-menu .rc-menu-header {
  background: $puppet-header-menu-bg;
  border: 0;
  height: $puppet-header-height;
}

.rc-header-menu-control {
  display: none;
}

.rc-header-menu-item-button {
  padding: 18px;
  width: 100%;

  &:hover {
    background: $puppet-header-menu-item-button-bg-hover;
  }
}

// Main Icon Nav
// ----------------------------------------------------------------------------
.rc-header-items .rc-button {
  margin-left: $puppet-header-nav-icon-margin;
}

.rc-header-items .rc-button {
  position: relative;

  &::before {
    background: $puppet-header-nav-icon-bg-base;
    border-radius: $puppet-circle-radius;
    content: '';
    display: block;
    height: 40px;
    left: -12px;
    opacity: 0;
    position: absolute;
    top: -12px;
    transform: scale(0.7);
    transition: all 0.2s ease-in-out;
    width: 40px;
    z-index: 0;
  }

  .rc-icon {
    fill: $puppet-header-nav-icon-fill-base;
    z-index: 1;
  }

  &:hover,
  &:active,
  &.rc-button-selected {
    background: transparent;
  }

  &:hover .rc-icon {
    fill: $puppet-header-nav-icon-fill-hover;
  }

  &:hover::before {
    background: $puppet-header-nav-icon-bg-hover;
    opacity: 1;
    transform: scale(1);
  }

  &:active .rc-icon,
  &.rc-button-selected {
    fill: $puppet-header-nav-icon-fill-active;
  }

  &:active::before,
  &.rc-button-selected::before {
    background: $puppet-header-nav-icon-bg-active;
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (max-width: $puppet-breakpoint-medium) {
  .rc-header-menu-control {
    display: flex;
  }

  .rc-header-items {
    display: none;
  }

  .rc-header-menu .rc-header-items {
    display: block;
  }

  .rc-header-menu {
    display: block;
    right: 0;
    width: 300px;
  }
}

@media only screen and (max-width: $puppet-breakpoint-small) {
  .rc-header-menu {
    display: block;
    width: 100%;
  }
}
