.rc-list-item {
  a {
    display: block;
    position: relative;
    color: $list-item-color;
    border: $list-item-border;
    border-radius: $list-item-border-radius;
    font-size: $list-item-font-size;
    padding: $list-item-padding;
    margin-bottom: $list-item-margin-bottom;


    // resets for the standard button
    button {
      cursor: pointer;
      background: none;
      border: 0;
      padding: 0;
      line-height: normal;
      outline: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    .rc-list-item-edit, .rc-list-item-remove {
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
      width: $list-item-action-width;
      text-align: center;
    }

    .rc-list-item-edit {
      right: $list-item-action-width;
    }

    .rc-list-item-remove {
      right: 0;
    }

    .rc-icon {
      position: relative;
      top: $list-item-icon-top;
      height: $list-item-icon-height;
    }
  }
}
