@mixin menu-item-colors($bg, $bg-hover, $color, $color-hover, $border, $border-focus, $border-selected, $bg-selected, $color-selected, $bg-disabled, $color-disabled, $icon-color) {
  .rc-menu-item .rc-icon {
    fill: $icon-color;
  }

  .rc-menu-item a {
    background: $bg;
    border-left: $border;
    border-right: $border;
    color: $color;
  }

  .rc-menu-item:first-of-type a {
    border-top: $border;
    border-top-left-radius: $puppet-border-radius;
    border-top-right-radius: $puppet-border-radius;
  }

  .rc-menu-item:last-of-type a {
    border-bottom: $border;
    border-bottom-left-radius: $puppet-border-radius;
    border-bottom-right-radius: $puppet-border-radius;
  }

  .rc-menu-item:hover a,
  .rc-menu-item-focused a {
    background: $bg-hover;
    color: $color-hover;

    .rc-icon {
      fill: $color-hover;
    }
  }

  .rc-menu-item-selected  a {
    border-bottom: 0;
    color: $color-selected;
  }

  .rc-menu-item-selected .rc-icon {
    fill: $color-selected;
  }

  .rc-menu-item-selected  .rc-menu-item-focused a {
    background: $bg-hover;
    color: $color-selected;
  }

  .rc-menu-item-selected .rc-menu-item-focused .rc-icon {
    fill: $color-selected;
  }

  .rc-menu-item-disabled  a {
    background: $bg-disabled;
    color: $color-disabled;
  }

  .rc-menu-item-disabled  a:hover {
    background: $bg-disabled;
    color: $color-disabled;
  }
}

.rc-menu-dark {
  .rc-menu-header {
    background: $puppet-menu-header-bg-dark;
    border: $puppet-menu-header-border-dark;
  }

  .rc-menu-title {
    color: $puppet-menu-title-color-dark;
  }

  @include menu-item-colors(
    $puppet-menu-item-bg,
    $puppet-menu-item-bg-hover-dark,
    $puppet-menu-item-color-dark,
    $puppet-menu-item-color-hover,
    $puppet-menu-item-border-dark,
    $puppet-menu-item-border-focus-dark,
    $puppet-menu-item-border-active-dark,
    $puppet-menu-item-bg-selected,
    $puppet-menu-item-color-selected,
    $puppet-menu-item-bg-disabled,
    $puppet-menu-item-color-disabled,
    $puppet-menu-item-icon-color
  );
}

@include menu-item-colors(
  $puppet-menu-item-bg,
  $puppet-menu-item-bg-hover,
  $puppet-menu-item-color,
  $puppet-menu-item-color-hover,
  $puppet-menu-item-border,
  $puppet-menu-item-border-focus,
  $puppet-menu-item-border-active,
  $puppet-menu-item-bg-selected,
  $puppet-menu-item-color-selected,
  $puppet-menu-item-bg-disabled,
  $puppet-menu-item-color-disabled,
  $puppet-menu-item-icon-color
);

.rc-menu-item {
  font-size: $puppet-menu-item-font-size;
  font-weight: $puppet-menu-item-font-weight;
  line-height: $puppet-menu-item-line-height;
  transition: all 0.2s;
}

.rc-menu-item a {
  align-items: center;
  display: flex;
  flex: 1;
  height: $puppet-menu-item-height;
  padding: $puppet-menu-item-padding;
  text-decoration: none;
  white-space: nowrap;
}

.rc-menu-item-selected a {
  padding-right: 32px;
}

.rc-menu-item-text {
  font-size: $puppet-menu-item-font-size;
  font-weight: $puppet-menu-item-font-weight;
  line-height: $puppet-menu-item-line-height;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rc-menu-item .rc-menu-item-focused {
  text-decoration: none;
}

.rc-menu-item-with-icon,
.rc-menu-item-selected {
  a {
    position: relative;
  }

  .rc-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.rc-menu-item-with-icon a {
  padding-left: $puppet-dropdown-padding-small * 4;
  padding-right: $puppet-dropdown-padding-small * 2;
}

.rc-menu-item-with-icon .rc-menu-icon {
  .rc-icon {
    left: $puppet-dropdown-padding-small;
  }
}

.rc-menu-item-selected .rc-icon-check {
  left: unset;
  right: $puppet-dropdown-padding;
}

.rc-menu-item-disabled a {
  cursor: default;
}

.rc-menu-section {
  border-bottom: $puppet-menu-section-border;
  border-left: $puppet-menu-section-border;
  border-right: $puppet-menu-section-border;
  padding: $puppet-menu-section-padding;

  &.rc-menu-section-list {
    border: 0;
    padding: 0;
  }
}

.rc-menu-section > .rc-menu-item {
  a {
    border: 0;
  }
}

.rc-menu-header {
  align-items: center;
  background: $puppet-menu-header-bg;
  border: $puppet-menu-header-border;
  display: flex;
  height: $puppet-menu-header-height;
  padding: $puppet-menu-header-padding;
  text-transform: uppercase;
}

.rc-menu-header + .rc-menu-list {
  // TODO: This captures about exactly what we want... We can't currently apply a has-border class
  // or anything to the parent. What to do?
  .rc-menu-item:first-of-type a { /* stylelint-disable-line selector-max-compound-selectors */
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

// More evidence here that we could refactor menus and dropdowns
.rc-menu-header + div,
.rc-menu-header + .rc-menu-list {
  .rc-menu-item:not(.rc-menu-item-with-icon) a { /* stylelint-disable-line selector-max-compound-selectors */
    padding: 0 $puppet-menu-header-padding;
  }

  .rc-menu-item-with-icon a { /* stylelint-disable-line selector-max-compound-selectors */
    padding-left: 40px;
  }

  .rc-menu-item-with-icon .rc-icon { /* stylelint-disable-line selector-max-compound-selectors */
    left: 16px;
  }
}

.rc-menu-title {
  align-items: center;
  color: $puppet-menu-title-color;
  display: flex;
  font-size: $puppet-menu-title-font-size;
  font-weight: $puppet-menu-title-font-weight;
  text-transform: uppercase;
  width: 90%;
}

.rc-menu-close {
  cursor: pointer;
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;

  .rc-icon {
    float: right;
    height: 8px;
    width: 8px;
  }
}

.rc-menu-close:focus {
  outline: none;
}

.rc-menu-actions-buttons {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.rc-menu-actions {
  align-items: center;
  background: $puppet-menu-actions-bg;
  border-bottom: $puppet-menu-section-border;
  border-left: $puppet-menu-section-border;
  border-right: $puppet-menu-section-border;
  display: flex;
  padding: $puppet-menu-actions-padding;

  &.rc-menu-actions-centered .rc-menu-actions-buttons {
    justify-content: center;
  }
}

.rc-menu-actions-message {
  color: $puppet-menu-actions-color;
  display: flex;
  flex: 1 1 auto;
  font-size: $puppet-menu-actions-msg-font-size;
  justify-content: flex-start;
}

.rc-menu-actions-buttons {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.rc-menu-first {
  .rc-menu-item:last-child a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
