@mixin menu-item-colors($bg, $bg-hover, $color, $color-hover, $border, $border-focus, $border-selected, $bg-selected, $color-selected, $bg-disabled, $color-disabled, $icon-color) {
  .rc-menu-item .rc-icon {
    fill: $icon-color;
  }

  .rc-menu-item a {
    background: $bg;
    border-bottom: $border;
    color: $color;
  }

  .rc-menu-item a:hover {
    background: $bg-hover;
    color: $color-hover;

    .rc-icon {
      fill: $color-hover;
    }
  }

  .rc-menu-item-selected  a {
    background: $bg-selected;
    border-bottom: $border-selected;
    color: $color-selected;
  }

  .rc-menu-item-selected .rc-icon {
    fill: $color-selected;
  }

  .rc-menu-item-selected  a:hover {
    background: darken($bg-selected, 10%);
    color: $color-selected;
  }

  .rc-menu-item-selected a:hover .rc-icon {
    fill: $color-selected;
  }

  .rc-menu-item-disabled  a {
    background: $bg-disabled;
    color: $color-disabled;
  }

  .rc-menu-item-disabled  a:hover {
    background: $bg-disabled;
    color: $color-disabled;
  }
}


@include menu-item-colors(
  $reflect-menu-item-bg,
  $reflect-menu-item-bg-hover,
  $reflect-menu-item-color,
  $reflect-menu-item-color-hover,
  $reflect-menu-item-border,
  $reflect-menu-item-border-focus,
  $reflect-menu-item-border-active,
  $reflect-menu-item-bg-selected,
  $reflect-menu-item-color-selected,
  $reflect-menu-item-bg-disabled,
  $reflect-menu-item-color-disabled,
  $reflect-menu-item-icon-color
);

.rc-menu-item {
  font-size: $reflect-menu-item-font-size;
  font-weight: $reflect-menu-item-font-weight;
  line-height: $reflect-menu-item-line-height;
}

.rc-menu-item a {
  align-items: center;
  display: flex;
  height: $reflect-menu-item-height;
  padding: $reflect-menu-item-padding;
  text-decoration: none;
}

.rc-menu-item a:hover {
  text-decoration: none;
}

.rc-menu-item-with-icon a {
  // 16px is currently the size of the checkmark icon.
  padding-left: $reflect-dropdown-padding + 16px + $reflect-dropdown-padding;
  position: relative;
}

.rc-menu-item-with-icon .rc-icon {
  left: $reflect-dropdown-padding;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rc-menu-item-disabled a {
  cursor: default;
}

.rc-menu-section {
  border-bottom: $reflect-menu-section-border;
  padding: $reflect-menu-section-padding;

  &.rc-menu-section-list {
    border: 0;
    padding: 0;
  }

  &:last-of-type {
    border-bottom: 0;
  }
}

.rc-menu-header {
  align-items: center;
  border-bottom: $reflect-menu-header-border;
  display: flex;
  height: $reflect-menu-header-height;
  padding: $reflect-menu-header-padding;
  text-transform: uppercase;
}

.rc-menu-title {
  align-items: center;
  color: $reflect-menu-title-color;
  display: flex;
  font-size: $reflect-menu-title-font-size;
  font-weight: $reflect-menu-title-font-weight;
  text-transform: uppercase;
  width: 90%;
}

.rc-menu-close {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;

  .rc-icon {
    float: right;
    height: 8px;
    width: 8px;
  }
}
