@mixin menu-item-colors($bg, $bg-hover, $color, $color-hover, $bg-selected, $color-selected, $bg-disabled, $color-disabled) {
  .rc-menu-item a {
    background: $bg;
    color: $color;

    &:hover {
      background: $bg-hover;
      color: $color-hover;
    }

    svg {
      fill: $color-selected;
    }
  }

  .rc-menu-item-selected  a {
    background: $bg-selected;
    color: $color-selected;
  }

  .rc-menu-item-disabled  a {
    background: $bg-disabled;
    color: $color-disabled;

    &:hover {
      background: $bg-disabled;
      color: $color-disabled;
    }
  }
}

.rc-menu {
  @include menu-item-colors(
    $reflect-menu-item-bg,
    $reflect-menu-item-bg-hover,
    $reflect-menu-item-color,
    $reflect-menu-item-color-hover,
    $reflect-menu-item-bg-selected,
    $reflect-menu-item-color-selected,
    $reflect-menu-item-bg-disabled,
    $reflect-menu-item-color-disabled
  );

  .rc-menu-item {
    font-size: $reflect-menu-item-font-size;
    line-height: $reflect-menu-item-line-height;
  }

  .rc-menu-item a {
    display: block;
    padding: $reflect-menu-item-padding;
    text-decoration: none;
  }

  .rc-menu-item a:hover {
    text-decoration: none;
  }

  .rc-menu-item-disabled a {
    cursor: default;
  }
}

.rc-menu-tiny {
  .rc-menu-item {
    font-size: $reflect-menu-item-font-size-tiny;
    line-height: $reflect-menu-item-line-height-tiny;
  }

  .rc-menu-item a {
    padding: $reflect-dropdown-padding-tiny;
  }
}

.rc-menu-section {
  border-bottom: $reflect-menu-section-border;
  padding: $reflect-menu-section-padding;

  &.rc-menu-section-list {
    padding: 0;
  }

  &:last-of-type {
    border-bottom: 0;
  }
}

.rc-menu-header {
  border-bottom: $reflect-menu-header-border;
  display: flex;
  padding: $reflect-menu-header-padding;
}

.rc-menu-title {
  align-items: center;
  display: flex;
  width: 90%;

  h2 {
    color: $reflect-menu-title-color;
    font-size: $reflect-menu-title-font-size;
  }
}

.rc-menu-close {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;

  .rc-icon {
    float: right;
    height: 8px;
    width: 8px;
  }
}

.rc-menu-multiple {
  .rc-menu-item  a {
    // 16px is currently the size of the checkmark icon.
    padding-left: $reflect-dropdown-padding + 16px + $reflect-dropdown-padding;
    position: relative;
  }

  .rc-menu-item svg {
    left: $reflect-dropdown-padding;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
