@mixin with-remove($component) {
  &.rc-#{$component}-removable {
    position: relative;

    &:hover {
      .remove-corner {
        display: flex;
      }
    }
  }

  .remove-corner {
    width: 21px;
    height: 21px;

    top: 5px;
    right: 5px;
    z-index: 24;

    position: absolute;
    float: right;

    display: none;
    background: $reflect-remove-background;
    border-radius: 50%;

    cursor: pointer;

    .rc-#{$component}-remove:before {
      background: $reflect-remove-background;
      border: none;
      border-radius: 50%;

      position: absolute;
      top: -1px;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover .rc-#{$component}-remove .rc-icon {
      fill: $reflect-brand-danger;
    }

    .rc-#{$component}-remove {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 20px;
    }
  }
}
