@mixin with-remove($component) {
  &.rc-#{$component}-removable {
    position: relative;

    &:hover .remove-corner {
      display: flex;
    }
  }

  .remove-corner {
    align-items: center;
    background: $puppet-remove-background;
    border-radius: $puppet-circle-radius;
    cursor: pointer;
    display: none;
    float: right;
    height: 21px;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 21px;
    z-index: 24;

    .rc-#{$component}-remove::before {
      align-items: center;
      background: $puppet-remove-background;
      border: 0;
      border-radius: $puppet-circle-radius;
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      position: absolute;
      right: 0;
      top: -1px;
    }

    &:hover .rc-#{$component}-remove .rc-icon {
      fill: $puppet-danger-color;
    }

    .rc-#{$component}-remove {
      display: block;
      height: 100%;
      line-height: 20px;
      text-align: center;
      width: 100%;
    }
  }
}

@mixin v-center($display: block, $position: relative) {
  display: $display;
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin transition($x...) {
  transition: $x;
}

@mixin icon-opacity-hover(
  $start-opacity: 0.8,
  $end-opacity: 1,
  $transition: opacity 0.2s
) {
  opacity: $start-opacity;
  transition: $transition;

  &:hover {
    opacity: $end-opacity;
  }
}

@mixin icon-scale-hover($scale: 1.2, $transition: transform 0.2s) {
  transition: $transition;

  &:hover {
    transform: scale($scale);
  }
  &:focus {
    transform: scale($scale);
  }
}

@mixin focus-circle($color: $puppet-black, $opacity: 0.12) {
  position: relative;

  &::before {
    background-color: $color;
    border-radius: 50%;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0.5);
    transition: opacity 0.2s, transform 0.2s;
  }

  &:focus {
    outline: none;
    outline: solid 2px transparent;
  }

  &:focus::before {
    opacity: $opacity;
    transform: scale(1.5);
  }
}

// Great mixing for working with maps
// https://frontstuff.io/generate-all-your-utility-classes-with-sass-maps
@mixin modifiers($map, $attribute, $prefix: '-', $separator: '-', $base: 'base') {
  @each $key, $value in $map {
    &#{if($key != $base, #{$prefix}#{$key}, '')} {
      @if type-of($value) == 'map' {
        @include modifiers($value, $attribute, $separator);
      }
      @else {
        #{$attribute}: $value;
      }
    }
  }
}
