@mixin with-remove($component) {
  &.rc-#{$component}-removable {
    position: relative;

    &:hover .remove-corner {
      display: flex;
    }
  }

  .remove-corner {
    background: $reflect-remove-background;
    border-radius: $reflect-circle-radius;
    cursor: pointer;
    display: none;
    float: right;
    height: 21px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 21px;
    z-index: 24;

    .rc-#{$component}-remove::before {
      align-items: center;
      background: $reflect-remove-background;
      border: 0;
      border-radius: $reflect-circle-radius;
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      position: absolute;
      right: 0;
      top: -1px;
    }

    &:hover .rc-#{$component}-remove .rc-icon {
      fill: $reflect-danger-color;
    }

    .rc-#{$component}-remove {
      display: block;
      height: 100%;
      line-height: 20px;
      text-align: center;
      width: 100%;
    }
  }
}

@mixin v-center($display: block, $position: relative) {
  display: $display;
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}
