.rc-modal-overlay {
  background: $reflect-modal-overlay-bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $reflect-modal-elevation;
}

a.rc-modal-close {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: lighten($reflect-gray, 20%);
  cursor: pointer;
  text-align: center;
  color: $reflect-gray;
  padding-top: 20px;

  &:hover {
    color: $reflect-gray-dark;
  }
}

.rc-modal {
  position: relative;
  width: $reflect-modal-width;
  box-shadow: 0 0 60px rgba(0, 0, 0, .3);
  border-radius: $reflect-modal-border-radius;
  color: $reflect-modal-color;
  background: $reflect-modal-bg;
  margin: 0 auto;
  overflow: hidden;
  top: 64px;

  &.rc-modal-with-sidebar {
    background: $reflect-modal-sidebar-bg;

    .rc-modal-content, .rc-modal-actions {
      margin-right: $reflect-modal-sidebar-width;
    }
  }

  &.rc-modal-with-sidebar-left {
    .rc-modal-sidebar {
      float: left;
    }

    .rc-modal-content, .rc-modal-actions {
      margin-right: 0;
      margin-left: $reflect-modal-sidebar-width;
    }

    .rc-modal-content {
      border-top-right-radius: $reflect-modal-border-radius;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0
    }
  }

  &.rc-modal-with-sidebar-right {
    .rc-modal-content {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0
    }
  }

  &.rc-modal-small {
    width: $reflect-modal-width-small;
    .rc-modal-content {
      padding: 20px;
    }
    .rc-modal-actions {
      padding: 20px;
    }
  }

  &.rc-modal-medium {
    width: $reflect-modal-width-medium;
  }

  .rc-modal-content {
    background: $reflect-modal-bg;
    padding: $reflect-modal-padding;
    overflow-y: auto;
    transform: translateZ(0);
    border-radius: $reflect-modal-border-radius;
  }

  .rc-modal-sidebar {
    float: right;
    height: 1px; // this will get dynamically set via the react component.
    width: $reflect-modal-sidebar-width;
    background-color: transparent;
    padding: $reflect-modal-sidebar-padding;
  }

  .rc-modal-actions {
    padding: $reflect-modal-actions-padding;
    background: $reflect-modal-bg;
    overflow: hidden;
    border-top: $reflect-modal-actions-border;
    text-align: right;

    .rc-modal-actions-cta {
      float: left;
      margin: 0;
      padding: $reflect-modal-actions-cta-padding;
    }
  }

  // Centering our loading spinners within the modal.
  .rc-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
