.rc-pagenav {
  border-bottom: $puppet-pagenav-border;
  display: flex;
  height: $puppet-pagenav-height;
  line-height: $puppet-pagenav-height;
}

.rc-pagenav-fixed {
  position: fixed;
}

.rc-pagenav-left,
.rc-pagenav-right {
  line-height: inherit;
  width: 50%;
}

.rc-pagenav-link {
  color: $puppet-pagenav-color !important;
  cursor: pointer;
  display: inline-block;
  font-size: $puppet-pagenav-font-size;
  font-weight: $puppet-pagenav-font-weight !important;
  height: 100%;
  outline: none;
  padding: $puppet-pagenav-section-padding;

  &:hover {
    border-bottom: $puppet-pagenav-border-hover;
    color: $puppet-pagenav-color-hover !important;
  }
}

.rc-pagenav-link-active {
  border-bottom: $puppet-pagenav-border-active;
  border-bottom-width: $puppet-pagenav-border-width-active;
  color: $puppet-pagenav-color-active !important;

  &:hover {
    border-bottom: $puppet-pagenav-border-active;
    border-bottom-width: $puppet-pagenav-border-width-active;
    color: $puppet-pagenav-color-active !important;
    cursor: default;
  }
}

.rc-pagenav-right {
  text-align: right;

  > * {
    margin: $puppet-pagenav-action-margin;
  }
}
