.rc-panel {
  background: $reflect-panel-bg;
  border: $reflect-panel-border;
  padding: $reflect-panel-padding;
  border-radius: $reflect-panel-border-radius;
  box-shadow: $reflect-panel-outer-shadow;

  &.rc-panel-secondary {
    background: $reflect-panel-bg-secondary;
  }
}
