.rc-popover {
  animation: 0.1s ease-in-out rc-fade-in;
  background: $puppet-popover-bg;
  border: $puppet-popover-border;
  border-radius: $puppet-popover-border-radius;
  box-shadow: $puppet-popover-shadow;
  overflow: hidden;
  padding: $puppet-popover-padding;
  position: absolute;
  transform-origin: top left;
  z-index: $puppet-popover-elevation;

  .rc-popover-header {
    margin-bottom: $puppet-popover-padding;
    position: relative;
  }

  .rc-popover-hint {
    color: $puppet-dropdown-hint-color;
    display: block;
    font-size: $puppet-dropdown-hint-font-size;
    margin-right: 33px;
    padding: 0;
  }

  .rc-popover-close {
    position: absolute;
    right: -7px;
    top: -7px;
  }

  &.rc-popover-small {
    width: $puppet-popover-small-width;
  }

  &.rc-popover-medium {
    width: $puppet-popover-medium-width;
  }

  &.rc-popover-large {
    width: $puppet-popover-large-width;
  }

  &.rc-popover-visible-overflow {
    overflow: visible;
  }

  &.rc-popover-no-padding {
    padding: 0;
  }

  &.rc-popover-no-border {
    border: 0;
  }

  &.rc-popover-dark {
    background: $puppet-popover-bg-dark;
  }
}

.rc-popover-wrapper {
  display: inline-block;
}

.rc-popover-wrapper-relative {
  position: relative;
}

.rc-popover-menu {
  border-top: 0;
}

.rc-dropdown-menu-with-header {
  .rc-menu-item:first-of-type a {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.rc-popover-menu .rc-menu-header {
  border-top-left-radius: $puppet-popover-border-radius;
  border-top-right-radius: $puppet-popover-border-radius;
}

.rc-popover-menu .rc-menu-close {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;

  .rc-icon {
    @include icon-opacity-hover;
    fill: $puppet-icon-fill;
  }
}

.rc-popover {
  .rc-menu .rc-menu-section:last-child {
    border-bottom-left-radius: $puppet-popover-border-radius;
    border-bottom-right-radius: $puppet-popover-border-radius;
  }
}
