.rc-popover {
  position: absolute;
  background: $reflect-popover-bg;
  border: $reflect-popover-border;
  border-radius: $reflect-popover-border-radius;
  box-shadow: $reflect-popover-shadow;
  padding: $reflect-popover-padding;
  z-index: $reflect-popover-elevation;

  .rc-popover-header {
    position: relative;
    margin-bottom: $reflect-popover-padding;
  }

  .rc-popover-hint {
    display: block;
    padding: 0;
    margin-right: 33px;
    color: $reflect-dropdown-hint-color;
    font-size: $reflect-dropdown-hint-font-size;
  }

  .rc-popover-close {
    position: absolute;
    top: -7px;
    right: -7px;
  }

  &.rc-popover-small {
    width: $reflect-popover-small-width;
  }

  &.rc-popover-medium {
    width: $reflect-popover-medium-width;
  }

  &.rc-popover-large {
    width: $reflect-popover-large-width;
  }

  &.rc-popover-no-padding {
    padding: 0;
  }
}

.rc-popover-wrapper {
  display: inline-block;
}

.rc-popover-wrapper-relative {
  position: relative;
}
