.rc-progress-line {
  stroke: $reflect-progress-color;
}

.rc-progress-step {
  stroke: $reflect-progress-color;
}

.rc-progress-step-active {
  fill: $reflect-progress-color;
  transition: transform $reflect-progress-animation;

  &.rc-progress-step-active-shadow {
    fill: #000;
    stroke: none;
  }
}
