// TODO: Is there a better way to do this kind of thing?
[class^='rc-'] {
  @include puppet-type-body();
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  a {
    @include puppet-type-link();
  }

  h1 {
    @include puppet-type-h1();
  }

  h2 {
    @include puppet-type-h2();
  }

  h3 {
    @include puppet-type-h3();
  }

  h4 {
    @include puppet-type-h4();
  }

  h5 {
    @include puppet-type-h5();
  }

  h6 {
    @include puppet-type-h6();
  }

  // TODO: unfortunately some things are relying on these overrides. should
  // attempt to remove
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
