[class^='rc-'] {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
  }

  a {
    color: $puppet-anchor-color;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
  }

  a:hover {
    color: $puppet-anchor-hover;
    // text-decoration: underline;
  }

  a:active {
    color: $puppet-action-active;
    // text-decoration: underline;
  }
}
