.rc-select-popover-wrapper {
  display: block;
  width: 100%;
}

.rc-select-popover {
  max-height: 200px;
  overflow-y: scroll;
}

.rc-select {
  color: $reflect-select-color;
  cursor: pointer;
  position: relative;

  .rc-select-menu {
    background: $reflect-select-menu-bg;
    max-height: 150px;
    overflow-y: scroll;
  }
}

.rc-select-wrapper {
  position: relative;
}

.rc-select-input {
  @extend %input;
  align-items: center;
  display: flex;

  min-height: 32px;
  min-width: 0;
  overflow: hidden;
  padding: 0 8px;
  position: relative;
  text-overflow: ellipsis;
}

.rc-select-multiple .rc-select-input {
  padding: 0 8px 0 4px;
}

.rc-select-input .rc-input {
  border: 0;
  box-shadow: none;
  flex: 1 0 16px;
  height: 28px;
  margin: 0;
  min-height: initial;
  padding: 0;
  position: relative;

  &:hover,
  &:focus {
    border: 0;
    box-shadow: none;
  }
}

.rc-select-content {
  align-items: center;
  display: flex;
  flex: 1 0 0;
  flex-wrap: wrap;
  min-width: 0;
}

.rc-select-actions {
  display: flex;
  flex: 0 1 auto;
  margin-left: 8px;
}

.rc-select-item {
  align-items: center;
  animation: 0.2s linear scale-in-X;
  background: $reflect-select-item-bg;
  border: $reflect-select-item-border;
  border-radius: $reflect-select-item-border-radius;
  color: $reflect-select-item-color;
  display: flex;
  flex: 0 1 auto;
  margin: 2px 2px 2px 0;
  max-width: 100%;
  padding: 4px 8px;
  transition: all 0.2s;

  span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.rc-select-item:hover {
  background: $reflect-select-item-highlighted-bg;
  border: $reflect-select-item-highlighted-border;
}

.rc-select-item-close {
  cursor: pointer;
  display: inline-block;
  margin-left: $reflect-small;

  &:focus {
    outline: none transparent;
  }

  .rc-icon {
    fill: $reflect-select-item-icon-color;
    opacity: 0.8;
  }
}

.rc-select-item-close:hover .rc-icon {
  fill: $reflect-select-item-icon-color;
  opacity: 1;
}

.rc-select-item-highlighted {
  background: $reflect-select-item-highlighted-bg;
  border: $reflect-select-item-highlighted-border;
  transform: translateX(2px);
}

.rc-select-medium {
  .rc-select-item {
    font-size: 12px;
    line-height: 16px;
  }
}

.rc-select-small {
  .rc-select-item {
    font-size: 12px;
    height: 20px;
    line-height: 16px;
    margin: 1px 2px 1px 0;
    padding: 2px 8px;
  }
}


.rc-select-small .rc-select-input {
  min-height: 24px;

  .rc-input {
    font-size: 12px;
    height: 20px;
    line-height: $reflect-medium;
    min-height: initial;
    padding: 0;
  }
}

.rc-select-disabled {
  .rc-select-input {
    @extend %disabled-input;
  }
}

.rc-select-wrapper-open {
  .rc-select-input {
    @extend %focused-input;
  }
}

.rc-select-actions {
  .rc-select-action {
    cursor: pointer;
    margin-right: $reflect-small;
    outline: none;
    transition: all 0.2s;
  }

  .rc-select-action:last-of-type {
    margin-right: 0;
  }

  .rc-select-action:hover {
    transform: scale(1.2);
  }
}

.rc-select-action .rc-icon-close {
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.rc-popover-no-portal {
  .rc-select-menu {
    position: relative;
  }
}

.rc-select-disabled {
  cursor: default;

  .rc-input {
    cursor: default;
  }
}

.rc-select-wrapper-open {
  .rc-select-input {
    @extend %focused-input;

    cursor: text;
  }

  .rc-select-actions .rc-icon-chevron-down {
    fill: $reflect-brand-primary;
  }
}

.rc-select-small {
  .rc-icon-chevron-down {
    bottom: 12px;
  }
}
