.rc-select-popover-wrapper {
  display: block;
  width: 100%;
}

.rc-select-popover {
  max-height: 200px;
  overflow-y: scroll;
}

.rc-select {
  color: $reflect-select-color;
  cursor: pointer;
  position: relative;

  .rc-input {
    cursor: pointer;
    font-size: $reflect-font-size-small;
    line-height: $reflect-medium;
  }

  .rc-select-menu {
    background: $reflect-select-menu-bg;
    border-bottom-left-radius: $reflect-select-border-radius;
    border-bottom-right-radius: $reflect-select-border-radius;
    box-shadow: $reflect-select-selected-shadow;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.rc-select-input {
  @extend %input;
  position: relative;

  .rc-input,
  .rc-input.rc-input-small {
    border: 0;
    box-shadow: none;
    padding: 0;
    position: relative;
    width: auto;
  }

  .rc-input:hover,
  .rc-input:focus {
    border: 0;
    box-shadow: none;
  }

}

.rc-select-wrapper {
  position: relative;
}

.rc-select-wrapper-open {
  .rc-select-input {
    @extend %focused-input;
  }
}

.rc-select-actions {
  display: flex;
  height: 100%;
  position: absolute;
  right: 10px;
  top: 0;

  .rc-select-action {
    cursor: pointer;
    margin-right: 5px;
    outline: none;
  }

  .rc-select-action:last-of-type {
    margin-right: 0;
  }
}

.rc-select-action .rc-icon-close {
  fill: lighten($reflect-danger-color, 20%);

  &:hover {
    fill: $reflect-danger-color;
  }
}

.rc-popover-no-portal {
  .rc-select-menu {
    position: relative;
  }
}

.rc-select-disabled {
  cursor: default;

  .rc-input {
    cursor: default;
  }
}

.rc-select-wrapper-open {
  .rc-select-input {
    @extend %focused-input;

    cursor: text;
  }

  .rc-select-actions .rc-icon-chevron-down {
    fill: $reflect-brand-primary;
  }
}

.rc-select-small {
  .rc-icon-chevron-down {
    bottom: 12px;
  }
}

.rc-select-tiny {
  .rc-icon-chevron-down {
    bottom: 4px;
  }
}
