.rc-select {
  color: $reflect-select-color;
  cursor: pointer;
  position: relative;

  .rc-select-input {
    position: relative;
  }

  .rc-icon-chevron-down {
    position: absolute;
    right: 10px;
  }

  .rc-input {
    font-size: $reflect-font-size-small;
    line-height: $reflect-medium;
  }

  .rc-select-menu {
    background: $reflect-select-menu-bg;
    border: $reflect-select-border-active;
    border-bottom-left-radius: $reflect-select-border-radius;
    border-bottom-right-radius: $reflect-select-border-radius;
    box-shadow: $reflect-select-selected-shadow;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.rc-select-open {
  .rc-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.rc-select-small {
  .rc-icon-chevron-down {
    bottom: 12px;
  }
}

.rc-select-tiny {
  .rc-icon-chevron-down {
    bottom: 6px;
  }
}
