.Select-control {
  padding: 6px;
}

.Select-item {
  margin-bottom: 2px;
}

.Select-control {
  min-height: 0;
  padding: 6px;
}

&.has-value {
  .Select-control {
    padding: 6px;
  }
}

.Select-placeholder {
  padding: 5px 28px 5px 6px;
}

.Select-clear {
  padding: 3px 10px;
}

.Select-arrow-zone {
  width: 20px;
}

.Select-arrow {
  top: 11px;
}
