.rc-sidebar {
  width: 240px;
  background: #F7F9FA;
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 16px;
  overflow:auto;
}

.rc-sidebar-section-header {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
}

.rc-sidebar-section-link {
  outline: none;
  display: block;
  height: 100%;
}

.rc-sidebar-section-title {
  color: #2C3033;
  font-size: 16px;
	line-height: 24px;
}

ul.rc-sidebar-subsections {
  padding-top: 12px;
  padding-bottom: 12px;
}

.rc-sidebar-subsection {
  border-top: 1px solid #CED7E0;
  padding-bottom: 16px;
}

.rc-sidebar-subsection:last-of-type {
  border-bottom: 1px solid #CED7E0;
}

a.rc-sidebar-subsection-link {
  cursor: pointer;
  display: block;
  height: 100%;
  outline: none;
}

.rc-sidebar-subsection-link:hover,
.rc-sidebar-subsection-link:focus {
  .rc-sidebar-subsection-item-title {
    color: #000E1C;
  }
}

.rc-sidebar-subsection-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}

.rc-sidebar-subsection-item-header {
  padding-left: 24px;
  padding-right: 24px;
}

.rc-sidebar-subsection-item-title {
  display: block;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-top: 6px;
  color: #5C6770;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}

.rc-sidebar-subsection-item-selected {
  .rc-sidebar-subsection-item-title {
    color: #000E1C;
    background-color: rgba(210, 214, 217, 0.5);
    border-radius: 4px;
  }
}

.rc-sidebar-subsection-header {
  padding-top: 16px;
  padding-bottom: 8px;
}

.rc-sidebar-section-closed {
  .rc-sidebar-subsections {
    display: none;
  }
}

a.rc-sidebar-view-more-link {
  cursor: pointer;
  outline: none;
  display: block;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 6px;
  padding-top: 6px;
  color: #0D6AD7;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}

a.rc-sidebar-view-more-link:hover,
a.rc-sidebar-view-more-link:focus {
  color: #4a92e0;
}

.rc-sidebar-subsection-title {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 600;
  color: #000E1C;;
  line-height: 17px;
  font-size: 12px;
}

.rc-sidebar-section .rc-icon-fill {
  fill: #3D444D;
}

.rc-sidebar-section-selected {
  .rc-icon-fill {
    fill: #0D6AD7;
  }
  .rc-sidebar-section-title {
    color: #0D6AD7;
  }
}

.rc-sidebar-section-link {
  cursor: pointer;
}

.rc-sidebar-section-link:hover,
.rc-sidebar-section-link:focus {
  .rc-icon-fill {
    fill: #4a92e0;
  }
  .rc-sidebar-section-title {
    color: #4a92e0;
  }
}

.rc-sidebar-minimized {
  width: 88px;

  .rc-sidebar-section-title,
  .rc-sidebar-section-caret,
  .rc-sidebar-subsections {
    display: none;
  }

  .rc-sidebar-toggle {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.rc-sidebar-toggle {
  float: right;
  position: relative;
  margin-right: 12px;
  margin-top: 6px;
}

.rc-sidebar-section-icon {
  display: flex;
  margin-right: 24px;
}

.rc-sidebar-add-item-btn {
  display: flex;
  width: 16px;
  height: 16px;

  .rc-icon {
    width: 8px !important;
    height: 8px !important;
  }
}

.rc-sidebar-section-caret {
  display: flex;
  margin-left: 8px;
}

.rc-sidebar-section {
  font-size: 16px;

  &:last-of-type {
    border-bottom: 0;
  }
}
