// Sidebar
.rc-sidebar {
  background: $puppet-sidebar-bg;
  border-right: $puppet-border-subtle;
  font: $puppet-sidebar-font;
  height: inherit;
  margin-bottom: $puppet-sidebar-toggle-height;
  overflow: auto;
  padding: $puppet-sidebar-padding;
  transition: width 0.2s ease-in-out;
  width: $puppet-sidebar-width;
  z-index: 12;
}

.rc-sidebar-item-title,
.rc-sidebar-level-2,
.rc-sidebar-label,
.rc-sidebar-item-karet {
  opacity: 1;
  transition: visibility 0s linear 0.2s, opacity 0.3s linear, height 0.2s linear;
  visibility: visible;
  white-space: nowrap;
}

// Minimized Sidebar Styles
.rc-sidebar-minimized {
  margin-right: 0;
  width: $puppet-sidebar-minimized-width;

  .rc-tooltip-area {
    display: block;
  }

  .rc-sidebar-item-title,
  .rc-sidebar-level-2,
  .rc-sidebar-label,
  .rc-sidebar-item-karet {
    height: 0;
    margin: 0 !important;
    opacity: 0;
    overflow: hidden;
    padding: 0 !important;
    transition-delay: 0s;
    visibility: hidden;
  }

  .rc-sidebar-divider {
    margin: $puppet-sidebar-divider-margin-closed;
  }

  .rc-sidebar-toggle {
    margin-left: auto;
    margin-right: auto;
    transition: width 0.2s ease-in-out;
    width: $puppet-sidebar-minimized-width;
  }

  .rc-sidebar-item-content {
    height: $puppet-sidebar-item-height-toggled;
  }
}

// Toggle for Collapse & Expand of the sidebar
.rc-sidebar-toggle {
  align-items: center;
  background: $puppet-sidebar-bg;
  border-right: $puppet-border-subtle;
  bottom: 0;
  display: flex;
  height: $puppet-sidebar-toggle-height;
  left: 0;
  padding: 8px;
  position: absolute;
  text-align: center;
  transition: width 0.2s ease-in-out;
  width: $puppet-sidebar-width;
}

.rc-sidebar-toggle-btn {
  .rc-icon {
    height: $puppet-sidebar-toggle-icon-size;
    width: $puppet-sidebar-toggle-icon-size;
  }
}

.rc-sidebar-toggle-btn:hover {
  .rc-icon {
    fill: $puppet-sidebar-item-icon-fill-hover;
  }
}

// Sidebar Levels
.rc-sidebar-level-1:last-of-type {
  border-bottom: 0;
}

// Sidebar Dividers
.rc-sidebar-divider {
  border: 0;
  border-top: $puppet-sidebar-divider;
  display: block;
  margin: $puppet-sidebar-divider-margin-open;
  transition: margin 0.2s ease-in-out;
}

// Sidebar Labels
.rc-sidebar-label {
  color: $puppet-sidebar-item-color;
  display: block;
  font-family: $puppet-sidebar-label-font;
  font-size: $puppet-sidebar-label-font-size;
  height: auto;
  line-height: $puppet-sidebar-label-line-height;
  margin: $puppet-sidebar-label-margin;
  padding: $puppet-sidebar-label-padding;
  text-transform: $puppet-sidebar-label-text-transform;
}

.rc-sidebar-item-link {
  border-radius: $puppet-sidebar-item-border-radius;
  cursor: pointer;
  display: block;
  height: 100%;
  margin: $puppet-sidebar-item-margin;
  outline: none;
  padding: $puppet-sidebar-item-padding;
}

.rc-sidebar-item-link:hover {
  background: $puppet-sidebar-item-bg-hover;

  .rc-sidebar-item-title {
    color: $puppet-sidebar-item-color-hover;
  }

  .rc-icon-fill {
    fill: $puppet-sidebar-item-icon-fill-hover;
  }
}

.rc-sidebar-item-content {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.rc-sidebar-item-title {
  color: $puppet-sidebar-item-color;
  font-family: $puppet-sidebar-font;
  font-size: $puppet-sidebar-item-font-size;
  font-weight: $puppet-sidebar-item-font-weight;
  height: auto;
  line-height: $puppet-sidebar-item-line-height;
  padding: $puppet-sidebar-item-title-padding;
}

.rc-sidebar-item-icon {
  display: flex;
  margin-right: $puppet-sidebar-item-icon-margin;

  .rc-icon-fill {
    fill: $puppet-sidebar-item-icon-fill;
  }
}

.rc-sidebar-item-karet {
  margin-left: $puppet-sidebar-item-karet-margin;
}

// Selected Item
.rc-sidebar-item-selected > .rc-sidebar-item-link,
.rc-sidebar-item-selected:hover  > .rc-sidebar-item-link {
  background: $puppet-sidebar-item-bg-active;

  .rc-sidebar-item-title {
    color: $puppet-sidebar-item-color-active;
  }
}

.rc-sidebar-item-selected .rc-icon-fill,
.rc-sidebar-item-selected:hover .rc-icon-fill {
  fill: $puppet-sidebar-item-icon-fill-active;
}

// Open Item
// Selected Item
.rc-sidebar-item-active-accordion > .rc-sidebar-item-link,
.rc-sidebar-item-active-accordion:hover  > .rc-sidebar-item-link {
  background: $puppet-sidebar-item-bg;

  .rc-sidebar-item-title {
    color: $puppet-sidebar-item-color-active;
  }
}

.rc-sidebar-item-active-accordion .rc-icon-fill,
.rc-sidebar-item-active-accordion:hover .rc-icon-fill {
  fill: $puppet-sidebar-item-icon-fill-active;
}

// We want open level-1 items to be highlighted
// when the sidebar is minimized since the level-2
// indicators aren't visible
.rc-sidebar-minimized .rc-sidebar-item-active-accordion,
.rc-sidebar-minimized .rc-sidebar-item-active-accordion:hover {
  .rc-icon-fill {
    fill: $puppet-sidebar-item-icon-fill;
  }

  .rc-sidebar-item-link {
    background: $puppet-sidebar-item-bg;
  }

  &.rc-sidebar-item-selected .rc-icon-fill {
    fill: $puppet-sidebar-item-icon-fill-hover;
  }

  &.rc-sidebar-item-selected .rc-sidebar-item-link {
    background: $puppet-sidebar-item-bg-active;
  }
}

// Level 2
// Currently no need for special styles for Level 2  Items
.rc-sidebar-level-2 {
  height: auto;
  margin: $puppet-sidebar-level-2-margin !important;
  padding: $puppet-sidebar-level-2-padding !important;
}

.rc-sidebar-level-2 .rc-sidebar-item-link {
  margin: $puppet-sidebar-level-2-item-margin;
  padding: $puppet-sidebar-level-2-item-padding;
}

.rc-sidebar-level-2 .rc-sidebar-item-title {
  font-size: 14px;
}

.rc-sidebar-view-more-item {
  .rc-sidebar-item-title {
    color: $puppet-sidebar-item-color-hover;
  }
}
