.rc-slider {
  height: $puppet-slider-handle-size;
  position: relative;
}

.rc-slider-bar,
%rc-slider-bar {
  background: $puppet-slider-bg;
  border-radius: $puppet-slider-bar-height;
  display: block;
  height: $puppet-slider-bar-height;
  left: 0;
  position: absolute;
  top: $puppet-slider-bar-position;
  width: 100%;
}

.rc-slider-bar-active {
  @extend %rc-slider-bar;
  background: $puppet-slider-bg-active;
  width: 0;
}

.rc-slider-handle {
  background: $puppet-white;
  border: 3px solid $puppet-brand-primary;
  border-radius: $puppet-slider-handle-size;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  display: block;
  height: $puppet-slider-handle-size;
  left: -($puppet-slider-handle-size / 2);
  outline: none;
  position: absolute;
  top: 0;
  width: $puppet-slider-handle-size;
}

.rc-slider-handle:hover,
.rc-slider-handle:focus {
  transform: scale(1.4);
}
