.rc-slidein {
  background-color: $puppet-slidein-bg;
  border: $puppet-slidein-border;
  color: $puppet-slidein-color;
  position: fixed;
  z-index: 24;
}

.rc-slidein-bottom {
  bottom: 0;
  height: $puppet-slidein-vertical-height;
  left: 0;
  right: 0;
  width: 100%;
}

.rc-slidein-top {
  height: $puppet-slidein-vertical-height;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.rc-slidein-left {
  bottom: 0;
  height: 100%;
  left: 0;
  top: 0;
  width: $puppet-slidein-horizontal-width;
}

.rc-slidein-right {
  bottom: 0;
  height: 100%;
  right: 0;
  top: 0;
  width: $puppet-slidein-horizontal-width;
}

.rc-slidein-actions {
  border-top: $puppet-slidein-actions-border;
  bottom: 0;
  left: 0;
  padding: $puppet-slidein-actions-padding;
  position: absolute;
  right: 0;
  text-align: right;
}
