.rc-slidein {
  position: fixed;
  background-color: $reflect-slidein-bg;
  color: $reflect-slidein-color;
  box-shadow: 0 0 60px rgba(0, 0, 0, .3);

  border-radius: $reflect-border-radius;
  border: 1px solid $reflect-gray-light;

  &.rc-slidein-bottom {
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: $reflect-slidein-vertical-height;
  }

  &.rc-slidein-top {
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: $reflect-slidein-vertical-height;
  }

  &.rc-slidein-left {
    top: 0;
    left: 0;
    bottom: 0;

    width: $reflect-slidein-horizontal-width;
    height: 100%;
  }

  &.rc-slidein-right {
    top: 0;
    right: 0;
    bottom: 0;

    width: $reflect-slidein-horizontal-width;
    height: 100%;
  }

  .rc-slidein-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;

    border-top: $reflect-slidein-actions-border;
    padding: $reflect-slidein-actions-padding;
  }
}
