.rc-grid-block {
  fill: $reflect-gray-lighter;
}

.rc-grid-div {
  height: $reflect-stencil-height;
  position: relative;
}

.rc-stencil-grid {
  position: absolute;
  top: 0px;
}

.rc-grid-block-icon-container {
  .rc-icon {
    fill: $reflect-stencil-icon !important;
    stroke: $reflect-stencil-icon-stroke;
  }
}
