@mixin hide-text {
  .rc-icon {
    display: none;
  }
}

@mixin show-text {
  .rc-icon {
    display: block;
  }
}

.rc-switch {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.rc-switch-label {
  background: $reflect-switch-off-bg;
  border-radius: 21px;
  box-sizing: content-box;
  color: $reflect-switch-off-text;
  cursor: pointer;
  display: block;
  height: $reflect-switch-height;
  margin: 0;
  outline: 0;
  padding: 0;
  position: relative;
  transition: all 0.2s;
  width: $reflect-switch-width;

  &:hover {
    background: $reflect-switch-off-bg-hover;
  }

  .rc-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    background: $reflect-switch-off-icon-fill;
    border-radius: $reflect-switch-handle-height;
    content: '';
    display: block;
    height: $reflect-switch-handle-height;
    left: $reflect-switch-padding;
    position: absolute;
    top: $reflect-switch-padding;
    transition: all 0.2s ease;
    width: $reflect-switch-handle-height;
  }

  &:hover::after {
    background: $reflect-switch-off-icon-fill-hover;
  }

  .rc-switch-label-off {
    left: 0;
    right: 0;
    @include show-text;
  }

  .rc-switch-label-off .rc-icon {
    fill: $reflect-switch-off-icon-fill;
    height: $reflect-switch-off-icon-size;
    right: $reflect-switch-padding * 1.4;
    width: $reflect-switch-off-icon-size;
  }

  &:hover .rc-switch-label-off .rc-icon {
    fill: $reflect-switch-off-icon-fill-hover;
  }

  .rc-switch-label-on {
    left: 0;
    right: 0;
    @include hide-text;
  }

  .rc-switch-label-on .rc-icon {
    fill: $reflect-switch-on-icon-fill;
    height: $reflect-switch-on-icon-size;
    left: $reflect-switch-padding * 1.4;
    width: $reflect-switch-on-icon-size;
  }
}

[class*='rc-switch-label-'] {
  display: inline-block;
  height: $reflect-switch-height;
  line-height: $reflect-switch-height;
  position: absolute;
}

.rc-switch-checkbox {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:checked + .rc-switch-label {
    background: $reflect-switch-on-bg;
    color: $reflect-switch-on-text;
  }

  &:checked + .rc-switch-label:hover {
    background: $reflect-switch-on-bg-hover;
  }

  &:checked + .rc-switch-label .rc-switch-label-off {
    @include hide-text;
  }

  &:checked + .rc-switch-label .rc-switch-label-on {
    @include show-text;
  }

  &:checked + .rc-switch-label::after {
    background: $reflect-switch-on-icon-fill;
    left: calc(100% - (#{$reflect-switch-padding} + #{$reflect-switch-handle-height});
  }
}
