@mixin hide-text {
  .rc-icon {
    display: none;
  }
}

@mixin show-text {
  .rc-icon {
    display: block;
  }
}

.rc-switch {
  text-align: left;
  display: inline-block;
  vertical-align: middle;

  .rc-switch-label {
    box-sizing: content-box;
    display: block;
    position: relative;
    width: $switch-width;
    height: $switch-height;
    margin: 0;
    padding: 0;
    border-radius: 21px;
    outline: 0;
    cursor: pointer;
    background: $gray-lighter;
    color: #ccc;
    transition: all 0.4s ease;

    .rc-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:after {
      position: absolute;
      display: block;
      content: "";
      top: $switch-padding;
      left: $switch-padding;
      width: $switch-handle-height;
      height: $switch-handle-height;
      background: #ccc;
      border-radius: $switch-handle-height;
      transition: all 0.2s ease;
    }

    .rc-switch-label-off {
      left: 0;
      right: 0;
      @include show-text;

      .rc-icon {
        height: $switch-off-icon-size;
        width: $switch-off-icon-size;
        right: $switch-padding * 1.4;
        fill: $switch-off-icon-fill;
      }
    }

    .rc-switch-label-on {
      left: 0;
      right: 0;
      @include hide-text;

      .rc-icon {
        height: $switch-on-icon-size;
        width: $switch-on-icon-size;
        left: $switch-padding * 1.4;
        fill: $switch-on-icon-fill;
      }
    }
  }
}

[class*="rc-switch-label-"] {
  position: absolute;
  display: inline-block;
  line-height: $switch-height;
  height: $switch-height;
}

.rc-switch-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;

  &:checked + .rc-switch-label {
    background: $brand-primary;
    color: $white;

    &:after {
      left: auto;
      right: $switch-padding;
      background: $white;
    }

    .rc-switch-label-off {
      @include hide-text;
    }

    .rc-switch-label-on {
      @include show-text;
    }
  }
}
