.rc-table {
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: $reflect-table-shadow;
  text-align: left;
  width: 100%;

  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: $reflect-table-border-radius;
  }

  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: $reflect-table-border-radius;
  }

  // Hide the sticky header divs
  th > div {
    display: none;
  }

  th,
  td {
    background: #fff;
    border-bottom: $reflect-table-border;
    font-size: $reflect-table-font-size;
    padding: 10px;
  }

  th {
    @extend %rc-uppercase;
    background-color: $reflect-table-header-bg;
    border-top: $reflect-table-border;
    color: $reflect-table-header-color;
    font-size: 10px;
    letter-spacing: 1px;
  }

  th:first-of-type {
    border-left: $reflect-table-border;
    border-top-left-radius: $reflect-table-border-radius;
  }

  th:last-of-type {
    border-right: $reflect-table-border;
    border-top-right-radius: $reflect-table-border-radius;
  }

  td:first-of-type {
    border-left: $reflect-table-border;
  }

  td:last-of-type {
    border-right: $reflect-table-border;
  }

  .rc-table-column-checkbox {
    width: 30px;
  }

  .rc-table-column-checkbox [type='checkbox'] {
    font-size: 12px;
  }

  .rc-table-header-sortable {
    cursor: pointer;
  }
}

.rc-table-fixed {
  table-layout: fixed;

  .rc-table-column-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.rc-table-list {
  border-collapse: separate;
  border-spacing: 0 10px;

  th {
    background: none;
    border-bottom: 0;
    padding: 0 20px;
  }

  td {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 16px;
    padding: 20px;
  }

  td:first-child {
    border-bottom-left-radius: $reflect-border-radius;
    border-left: 1px solid #ddd;
    border-top-left-radius: $reflect-border-radius;
  }

  td:last-child {
    border-bottom-right-radius: $reflect-border-radius;
    border-right: 1px solid #ddd;
    border-top-right-radius: $reflect-border-radius;
  }
}
