.rc-tabs {
  .rc-tab {
    display: inline-block;
  }

  .rc-tab a {
    background: $reflect-tab-bg;
    border-bottom: $reflect-tab-border;
    color: $reflect-tab-color;
    display: block;
    font-family: $reflect-tab-font-family;
    font-size: $reflect-tab-font-size;
    font-weight: $reflect-tab-font-weight;
    padding: $reflect-tab-padding;
    text-transform: $reflect-tab-case;
  }

  .rc-tab.rc-tab-active a {
    border-bottom: $reflect-tab-border-active;
    color: $reflect-tab-color-active;
  }

  .rc-tab:last-child {
    margin-right: 0;
  }

  .rc-tab-panel {
    display: none;
    padding: $reflect-tab-panel-padding;
  }

  .rc-tab-panel.rc-tab-panel-active {
    display: block;
  }
}

.rc-tabs-vertical {
  ul {
    float: left;
    width: $reflect-tab-width-vertical;
  }

  .rc-tab {
    display: block;
  }

  .rc-tab a {
    border-bottom: 0;
    border-right: $reflect-tab-border;
  }

  .rc-tab.rc-tab-active a {
    border-bottom: 0;
    border-right: $reflect-tab-border-active;
  }

  .rc-tab-panel {
    margin-left: $reflect-tab-width-vertical;
    padding: $reflect-tab-panel-padding-vertical;
  }
}
