.rc-tag {
  align-items: center;
  background: $puppet-tag-bg;
  border: $puppet-tag-border;
  border-radius: $puppet-tag-border-radius;
  color: $puppet-tag-color;
  display: inline-flex;
  font-size: $puppet-tag-font-size;
  font-weight: $puppet-tag-font-weight;
  height: $puppet-tag-height;
  margin: 0 $puppet-tag-margin;
  padding: 0 $puppet-tag-padding;
  position: relative;

  .rc-tag-actions {
    float: right;
    height: 100%;
  }

  .rc-tag-actions .rc-button {
    height: 100%;
  }

  &.rc-tag-block {
    display: flex;
    margin-right: 0;
    width: 100%;
  }

  .rc-tag-content,
  .rc-tooltip-area {
    flex-grow: 1;
    font-size: $puppet-tag-font-size;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .rc-tag-button .rc-icon {
    fill: $puppet-tag-icon-fill;
    opacity: 0.8;
  }

  .rc-tag-button:hover .rc-icon {
    fill: $puppet-tag-icon-fill;
    opacity: 1;
  }
}

.rc-tag-primary {
  background: $puppet-brand-primary;
  border-color: $puppet-bg-subtle;
  color: $puppet-white;

  .rc-tag-remove-button .rc-icon {
    fill: $puppet-white;
  }

  .rc-tag-remove-button:hover .rc-icon {
    fill: $puppet-white;
  }
}

.rc-tag-secondary {
  background: $puppet-brand-secondary;
  border-color: $puppet-brand-secondary;
  color: $puppet-white;

  .rc-tag-remove-button .rc-icon {
    fill: $puppet-white;
  }

  .rc-tag-remove-button:hover .rc-icon {
    fill: $puppet-white;
  }
}

// TODO: Create mixin for applying colors
.rc-tag-bold {
  background: $puppet-tag-bg-bold;
  border-color: $puppet-tag-bg-bold;
  color: $puppet-tag-color-bold;

  .rc-tag-button .rc-icon,
  .rc-tag-button:hover .rc-icon {
    fill: $puppet-tag-color-bold;
  }
}

.rc-tag-remove-button {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.rc-tag-removable {
  .rc-tag-content,
  .rc-tooltip-area {
    padding-right: 8px;
  }
}

.rc-tag-selected {
  border: $puppet-tag-border-selected;
  box-shadow: $puppet-tag-shadow-selected;
}

.rc-tag-tiny {
  height: $puppet-tag-tiny-height;
  padding: $puppet-tag-tiny-padding;

  .rc-tag-content {
    font-size: $puppet-tag-tiny-font-size;
  }
}

.rc-tag-selectable {
  cursor: pointer;
}

.rc-tag-round {
  border-radius: 1000px;
}
