.rc-tag {
  display: block;
  float: left;
  font-size: $tag-font-size;
  height: $tag-height;
  line-height: $tag-height;
  padding: 0 10px;
  background: $tag-bg;
  margin-right: 10px;
  border-radius: $tag-border-radius;
}
