.rc-tag {
  display: block;
  float: left;
  background: $tag-bg;
  color: $tag-color !important;
  font-size: $tag-font-size;
  height: $tag-height;
  line-height: $tag-line-height;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  border-radius: $tag-border-radius;
  border: $tag-border;

  &.rc-tag-tiny {
    font-size: $font-size-tiny;
    height: 22px;
    line-height: 19px;
    padding: 0 2px;
  }

  &.rc-tag-block {
    width: auto;
    float: none;
    margin-right: 0 !important;
  }
}

.rc-tag-selected {
  border: $tag-border-selected;
}
