.rc-text {
  color: $puppet-font-color-base;
  font-family: $puppet-text-base-font-family;
  font-size: $puppet-text-base-font-size;
  font-weight: $puppet-text-base-font-weight;
  line-height: $puppet-text-base-line-height;
}

.rc-text-small {
  font-family: $puppet-text-small-font-family;
  font-size: $puppet-text-small-font-size;
  font-weight: $puppet-text-small-font-weight;
  line-height: $puppet-text-small-line-height;
}

.rc-text-tiny {
  font-family: $puppet-text-tiny-font-family;
  font-size: $puppet-text-tiny-font-size;
  font-weight: $puppet-text-tiny-font-weight;
  line-height: $puppet-text-tiny-line-height;
}

.rc-text-medium {
  color: $puppet-font-color-medium;
}

.rc-text-subtle {
  color: $puppet-font-color-subtle;
}
