.rc-input {
  padding: $reflect-input-padding;
  width: 100%;
  color: $reflect-input-color;
  border: $reflect-input-border;
  border-radius: $reflect-input-border-radius;
  outline: none;

  &.rc-input-error {
    border: $reflect-input-border-error;
  }

  &:focus {
    background: #fff;
    border: $reflect-border-active;
    box-shadow: $reflect-selected-shadow;
  }

  &[disabled] {
    background: $reflect-input-disabled-bg;
    color: $reflect-input-disabled-color;
  }

  &.rc-input-large {
    padding: $reflect-input-large-padding;
    height: 60px;
    font-size: $reflect-font-size-large;
  }

  &.rc-input-small {
    font-size: $reflect-font-size-small;
    padding: $reflect-input-small-padding;
  }

  &.rc-input-tiny {
    font-size: $reflect-font-size-tiny;
    padding: $reflect-input-tiny-padding;
  }

  &::-webkit-input-placeholder {
    color: $reflect-input-placeholder-color;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $reflect-input-placeholder-color;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: $reflect-input-placeholder-color;
  }

  &:-ms-input-placeholder {
    color: $reflect-input-placeholder-color;
  }
}

.rc-input-simple {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 2px;
  border-bottom-color: transparent;
  border-radius: 0;

  &:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 2px;
    box-shadow: none;
  }
}
