.rc-toggle {
  .rc-toggle-label {
    color: $reflect-toggle-off-color;
    cursor: pointer;

    &.rc-toggle-active {
      color: $reflect-toggle-on-color;
    }
  }

  .rc-switch {
    margin-left: 10px;
    margin-right: 10px;

    .rc-switch-label {
      border: none;
      background: $reflect-toggle-bg;

      &:after {
        background: $reflect-toggle-on-color;
      }
    }

    .rc-switch-checkbox {
      &:checked + .rc-switch-label {
        color: $reflect-toggle-on-color;
      }
    }
  }
}
