.rc-toggle {
  .rc-toggle-label {
    color: $reflect-toggle-off-color;
    cursor: pointer;
  }

  .rc-toggle-label.rc-toggle-active {
    color: $reflect-toggle-on-color;
  }

  .rc-switch {
    margin-left: 10px;
    margin-right: 10px;
  }

  .rc-switch-label {
    background: $reflect-toggle-bg;
  }

  .rc-switch-label::after {
    background: $reflect-toggle-on-color;
  }

  .rc-switch-checkbox:checked + .rc-switch-label {
    background: $reflect-toggle-bg;
    color: $reflect-toggle-on-color;
  }

  .rc-switch-checkbox:checked + .rc-switch-label::after {
    background: $reflect-toggle-on-color;
  }
}
