.rc-toggle {
  .rc-toggle-label {
    transition: color 0.3s;
    color: $reflect-font-color-base;
    cursor: pointer;

    &.rc-toggle-active {
      color: $reflect-brand-primary;
    }
  }

  .rc-switch {
    margin-left: 10px;
    margin-right: 10px;

    .rc-switch-label {
      border: none;

      background: $reflect-toggle-bg;

      &:after {
        background: $reflect-toggle-color;
      }
    }

    .rc-switch-checkbox {
      &:checked + .rc-switch-label {
        color: $reflect-toggle-color;
      }
    }
  }
}
