.rc-tooltip-container {
  position: absolute;
}

.rc-tooltip-area {
  display: inline-block;
}

.rc-tooltip {
  background: $reflect-tooltip-hint-bg;
  border-radius: $reflect-tooltip-hint-radius;
  color: $reflect-tooltip-hint-color;
  display: inline;
  font-size: $reflect-tooltip-hint-font-size;
  max-width: $reflect-tooltip-hint-max-width;
  padding: $reflect-tooltip-hint-padding;
  position: absolute;
  z-index: $reflect-tooltip-hint-elevation;

  .rc-tooltip-carat {
    border-style: solid;
    border-width: 8px;
    height: 0;
    position: absolute;
    width: 0;
  }

  &:hover .rc-tooltip-close {
    visibility: visible;
  }
}

.rc-tooltip-close {
  align-items: center;
  background: $reflect-tooltip-hint-close-bg;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  height: 16px;
  justify-content: center;
  position: absolute;
  right: -4px;
  top: -4px;
  visibility: hidden;
  width: 16px;

  .rc-icon {
    fill: $reflect-tooltip-hint-color;
    fill-opacity: 0.5;
  }

  &:hover .rc-icon {
    fill-opacity: 1;
  }
}

// https://davidwalsh.name/detect-scrollbar-width
.rc-tooltip-scrollbar-measurer {
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
  visibility: hidden;
  width: 100px;
}

.rc-tooltip-position-right {
  .rc-tooltip-carat {
    border-color: transparent $reflect-tooltip-hint-bg transparent transparent;
    left: -16px;
  }
}

.rc-tooltip-position-bottom {
  .rc-tooltip-carat {
    border-color: transparent transparent $reflect-tooltip-hint-bg transparent;
    top: -16px;
  }
}

.rc-tooltip-position-left {
  .rc-tooltip-carat {
    border-color: transparent transparent transparent $reflect-tooltip-hint-bg;
    right: -16px;
  }
}
