.rc-tooltip-container {
  position: absolute;
}

.rc-tooltip {
  display: inline;
  background: #ccc;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;

  &.position-left {
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: transparent #ccc transparent transparent;
      top: 1px;
      left: -16px;
    }
  }
}

