.rc-tooltip-container {
  position: absolute;
}

.rc-tooltip {
  position: absolute;
  display: inline;
  background: $rc-tooltip-bg;
  padding: $rc-tooltip-padding;
  border-radius: $border-radius;

  .tooltip-carat {
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
  }

  &.position-right {
    .tooltip-carat {
      border-color: transparent $rc-tooltip-bg transparent transparent;
      left: -16px;
    }
  }

  &.position-bottom {
    .tooltip-carat {
      border-color: transparent transparent $rc-tooltip-bg transparent;
      top: -16px;
    }
  }

  &.position-left {
    .tooltip-carat {
      border-color: transparent transparent transparent $rc-tooltip-bg;
      right: -16px;
    }
  }
}

