[class^='rc-'] {
  color: $puppet-font-color-base;
  font-family: $puppet-font-family;
  font-size: $puppet-font-size-base;
  font-weight: $puppet-font-weight-normal;
  line-height: 20px;
}

.rc-uppercase,
%rc-uppercase {
  text-transform: uppercase;
}
