[class^='rc-'] {
  font-family: $puppet-font-family;
  font-size: $puppet-font-size-base;

  small {
    font-size: $puppet-font-size-small;
  }
}

.rc-uppercase,
%rc-uppercase {
  text-transform: uppercase;
}
