[class^='rc-'] {
  font-family: $reflect-font-family;
  font-size: $reflect-font-size-base;

  small {
    font-size: $reflect-font-size-small;
  }
}

.rc-uppercase,
%rc-uppercase {
  font-family: 'Montserrat';
  text-transform: uppercase;
}
