/* stylelint-disable scss/dollar-variable-colon-space-after, scss/dollar-variable-colon-space-before, indentation  */

// ============================================================================
// COMPONENT VARIABLES
// ============================================================================

// Accordions
// ----------------------------------------------------------------------------
$reflect-accordion-bg                        : $reflect-white !default;
$reflect-accordion-item-title-font-size      : $reflect-font-size-tiny !default;
$reflect-accordion-item-title-color          : $reflect-font-color-medium !default;
$reflect-accordion-item-title-hover          : $reflect-font-color-base !default;
$reflect-accordion-item-title-bg-color       : $reflect-white !default;
$reflect-accordion-item-title-height         : 32px;
$reflect-accordion-item-title-padding        : 0 $reflect-medium !default; // Todo: Base on grid
$reflect-accordion-item-title-case           : auto !default;
$reflect-accordion-item-content-padding      : $reflect-medium !default;
$reflect-accordion-item-border               : $reflect-border !default;
$reflect-accordion-icon-color                : $reflect-icon-fill !default;
$reflect-accordion-icon-color-hover          : $reflect-icon-fill-hover !default;

$reflect-accordion-header-title-color        : $reflect-font-color-medium !default;
$reflect-accordion-header-height             : 32px;
$reflect-accordion-header-bg                 : $reflect-white !default;

$reflect-accordion-animation-speed           : $reflect-animation-speed-base !default;

// Blank Slates
// ----------------------------------------------------------------------------
$reflect-blank-slate-font-size               : $reflect-font-size-medium !default;
$reflect-blank-slate-font-color              : $reflect-font-color-subtle !default;
$reflect-blank-slate-font-weight             : normal !default;
$reflect-blank-slate-title-font-size         : $reflect-font-size-huge !default;
$reflect-blank-slate-lead-font-size          : $reflect-font-size-medium !default;
$reflect-blank-slate-lead-color              : $reflect-gray-darker !default;
$reflect-blank-slate-content-font-size       : $reflect-font-size-base !default;
$reflect-blank-slate-content-color           : $reflect-gray-darker !default;
$reflect-blank-slate-note-font-size          : $reflect-font-size-small !default;
$reflect-blank-slate-note-color              : $reflect-gray-base !default;
$reflect-blank-slate-icon-color              : $reflect-action-color !default;
$reflect-blank-slate-bg                      : $reflect-bg-primary !default;
$reflect-blank-slate-shadow                  : $reflect-outer-shadow-huge !default;
$reflect-blank-slate-radius                  : $reflect-circle-radius !default;
$reflect-blank-slate-margin-base             : 16px;
$reflect-blank-slate-margin-medium           : 24px;
$reflect-blank-slate-size                    : 100px;
$reflect-blank-slate-image-size              : 200px;
$reflect-blank-slate-max-width               : 600px;

// Buttons
// ----------------------------------------------------------------------------
// Button variables/options
$reflect-button-border-radius                : $reflect-border-radius !default;
$reflect-floating-action-button-height       : $reflect-giant !default;
$reflect-button-badge-size                   : $reflect-small !default;
$reflect-button-font-family                  : 'Source Sans Pro', sans-serif !default;
$reflect-button-font-weight                  : $reflect-font-weight-heavy !default;
$reflect-button-text-case                    : uppercase !default;

// Default Buttons
$reflect-button-font-size                    : $reflect-font-size-small !default;
$reflect-button-height                       : $reflect-huge !default;
$reflect-button-padding                      : $reflect-medium !default;

// Tiny Buttons
$reflect-button-tiny-font-size               : $reflect-font-size-tiny !default;
$reflect-button-tiny-height                  : 22px !default; // Todo: Base on grid
$reflect-button-tiny-padding                 : $reflect-button-padding / 4 !default;


// Small Buttons
$reflect-button-small-font-size              : $reflect-font-size-small !default;
$reflect-button-small-height                 : $reflect-large !default; // Todo: Base on grid
$reflect-button-small-padding                : $reflect-small !default;


// Large
$reflect-button-large-font-size              : $reflect-font-size-base !default;
$reflect-button-large-height                 : 60px !default; // Todo: Base on grid
$reflect-button-large-padding                : $reflect-button-padding * 1.5 !default;

// Primary Buttons
$reflect-button-bg                           : $reflect-action-color !default;
$reflect-button-bg-hover                     : $reflect-action-hover !default;
$reflect-button-color                        : $reflect-action-text !default;
$reflect-button-color-hover                  : $reflect-action-text-hover !default;
$reflect-button-icon-color                   : $reflect-action-icon !default;
$reflect-button-icon-color-hover             : $reflect-action-icon-hover !default;
$reflect-button-border-color                 : $reflect-action-border !default;
$reflect-button-border-color-hover           : $reflect-action-border-hover !default;

// Secondary Buttons
$reflect-button-secondary-bg                 : $reflect-action-color-alt !default;
$reflect-button-secondary-bg-hover           : $reflect-action-hover-alt !default;
$reflect-button-secondary-color              : $reflect-action-text-alt !default;
$reflect-button-secondary-color-hover        : $reflect-action-text-hover-alt !default;
$reflect-button-secondary-icon-color         : $reflect-action-icon-alt !default;
$reflect-button-secondary-icon-color-hover   : $reflect-action-icon-hover-alt !default;
$reflect-button-secondary-border-color       : $reflect-action-border-alt !default;
$reflect-button-secondary-border-color-hover : $reflect-action-border-hover-alt !default;

// Transparent Buttons
$reflect-button-clear-bg                     : transparent !default;
$reflect-button-clear-bg-hover               : transparent !default;
$reflect-button-clear-color                  : $reflect-gray !default;
$reflect-button-clear-color-hover            : $reflect-gray-dark !default;
$reflect-button-clear-icon-color             : $reflect-gray !default;
$reflect-button-clear-icon-color-hover       : $reflect-gray-dark !default;
$reflect-button-clear-border-color           : transparent !default;
$reflect-button-clear-border-color-hover     : transparent !default;

// Simple Buttons
$reflect-button-simple-bg                     : transparent !default;
$reflect-button-simple-bg-hover               : transparent !default;
$reflect-button-simple-color                  : $reflect-action-color !default;
$reflect-button-simple-color-hover            : $reflect-action-hover !default;
$reflect-button-simple-icon-color             : $reflect-action-color !default;
$reflect-button-simple-icon-color-hover       : $reflect-action-hover !default;
$reflect-button-simple-border-color           : transparent !default;
$reflect-button-simple-border-color-hover     : transparent !default;

$reflect-button-simple-secondary-bg           : transparent !default;
$reflect-button-simple-secondary-bg-hover     : transparent !default;
$reflect-button-simple-secondary-color        : $reflect-gray-dark !default;
$reflect-button-simple-secondary-color-hover  : $reflect-action-color !default;
$reflect-button-simple-secondary-icon-color   : $reflect-icon-fill !default;
$reflect-button-simple-secondary-icon-color-hover: $reflect-action-color !default;
$reflect-button-simple-secondary-border-color           : transparent !default;
$reflect-button-simple-secondary-border-color-hover     : transparent !default;


// Disabled Buttons
$reflect-button-disabled-opacity             : 0.5 !default;

// Errored Buttons
$reflect-button-error-bg                     : $reflect-danger-color !default;
$reflect-button-error-bg-hover               : $reflect-danger-color !default;
$reflect-button-error-color                  : $reflect-action-text !default;
$reflect-button-error-color-hover            : $reflect-action-text !default;
$reflect-button-error-icon-color             : $reflect-action-icon !default;
$reflect-button-error-icon-color-hover       : $reflect-action-icon-hover !default;
$reflect-button-error-border-color           : $reflect-danger-color !default;
$reflect-button-error-border-color-hover     : $reflect-danger-color !default;

// Cards
// ----------------------------------------------------------------------------

// Card General
$reflect-card-padding                        : $reflect-medium !default; // Todo: Base on grid
$reflect-card-bg                             : $reflect-bg-primary !default;
$reflect-card-border                         : $reflect-border !default;
$reflect-card-shadow                         : $reflect-outer-shadow !default;

// Card Header
$reflect-card-header-padding                 : $reflect-medium !default; // Todo: Base on grid
$reflect-card-title-size                     : $reflect-font-size-medium !default;
$reflect-card-title-case                     : none !default;
$reflect-card-title-color                    : $reflect-font-color-base !default;
$reflect-card-title-margin                   : 4px !default; // Todo: Base on grid
$reflect-card-subtitle-size                  : $reflect-font-size-small !default;
$reflect-card-subtitle-color                 : $reflect-font-color-medium !default;
$reflect-card-controls-size                  : $reflect-font-size-small !default;
$reflect-card-controls-color                 : $reflect-font-color-base !default;
$reflect-card-search-margin                  : $reflect-medium 0 0 !default; // Todo: Base on grid

$reflect-card-description-font-size          : $reflect-font-size-base !default;

// Card Color
$reflect-card-action-color-active            : $reflect-active-color !default;
$reflect-card-color                          : $reflect-font-color-base !default;
$reflect-card-border                         : $reflect-border !default;
$reflect-card-border-hover                   : $reflect-border-hover !default;
$reflect-card-border-radius                  : $reflect-border-radius !default;
$reflect-card-shadow-hover                   : $reflect-selectable-shadow-hover !default;
$reflect-card-border-selected                : $reflect-border-active !default;
$reflect-card-border-selected-hover          : $reflect-border-active-hover !default;
$reflect-card-shadow-selected                : $reflect-selected-shadow !default;
$reflect-card-shadow-selected-hover          : $reflect-selected-shadow-hover !default;


// Datepicker
// ----------------------------------------------------------------------------
$reflect-arrow-size                          : $reflect-tiny !default;
$reflect-datepicker-bg                       : $reflect-bg-primary !default;
$reflect-datepicker-button-border-color      : $reflect-button-secondary-border-color !default;
$reflect-datepicker-icon                     : $reflect-icon-fill !default;
$reflect-datepicker-icon-hover               : $reflect-action-hover !default;
$reflect-datepicker-othermonth-opacity       : 0.25 !default;
$reflect-datepicker-padding                  : $reflect-large !default;
$reflect-datepicker-radius                   : $reflect-border-radius !default;

$reflect-datepicker-border-color             : transparent !default;
$reflect-datepicker-border-width             : 0 !default;

$reflect-datepicker-font-color               : $reflect-font-color-base !default;
$reflect-datepicker-disabled-color           : $reflect-disabled-color !default;

$reflect-datepicker-month-bg                 : $reflect-bg-subtle !default;
$reflect-datepicker-month-color              : $reflect-font-color-medium !default;
$reflect-datepicker-month-font-size          : $reflect-font-size-base !default;
$reflect-datepicker-month-font-weight        : $reflect-font-weight-heavy !default;
$reflect-datepicker-month-border             : $reflect-datepicker-border-width solid $reflect-datepicker-border-color !default;

$reflect-datepicker-weekday-color            : $reflect-font-color-subtle !default;
$reflect-datepicker-weekday-font-weight      : $reflect-font-weight-heavy !default;
$reflect-datepicker-weekday-text             : uppercase !default;
$reflect-datepicker-weekday-font-size        : $reflect-font-size-tiny !default;
$reflect-datepicker-weekday-letter-spacing   : 1px !default;
$reflect-datepicker-weekday-border           : $reflect-datepicker-border-width solid $reflect-datepicker-border-color !default;

$reflect-datepicker-selected-bg              : $reflect-action-color !default;
$reflect-datepicker-selected-border          : $reflect-datepicker-border-width solid $reflect-datepicker-selected-bg !default;
$reflect-datepicker-selected-color           : $reflect-font-color-light !default;
$reflect-datepicker-selected-edges-bg        : $reflect-action-hover !default;
$reflect-datepicker-selected-edges-radius    : $reflect-datepicker-radius !default;
$reflect-datepicker-selection-margin         : 1px !default;

$reflect-datepicker-newrange-bg              : $reflect-datepicker-selected-bg !default;

$reflect-datepicker-hover-bg                 : $reflect-action-hover !default;
$reflect-datepicker-hover-color              : $reflect-font-color-light !default;
$reflect-datepicker-hover-border             : 0 solid transparent !default;

// Dropdown
// ----------------------------------------------------------------------------
$reflect-dropdown-padding                    : $reflect-medium !default;
$reflect-dropdown-padding-small              : $reflect-small !default;
$reflect-dropdown-padding-tiny               : $reflect-small !default;
$reflect-dropdown-max-height                 : 400px !default;
$reflect-dropdown-width                      : 260px !default;
$reflect-dropdown-width-tiny                 : 120px !default;

$reflect-dropdown-label-font-size            : $reflect-font-size-base !default;
$reflect-dropdown-label-font-weight          : $reflect-font-weight-heavy !default;
$reflect-dropdown-label-line-height          : $reflect-medium !default;
$reflect-dropdown-label-color                : $reflect-action-color !default;
$reflect-dropdown-label-color-error          : $reflect-danger-color !default;
$reflect-dropdown-label-color-disabled       : $reflect-gray !default;

$reflect-dropdown-chevron-height             : $reflect-small !default;
$reflect-dropdown-chevron-width              : $reflect-small !default;
$reflect-dropdown-hint-color                 : $reflect-gray !default;
$reflect-dropdown-hint-font-size             : $reflect-font-size-base !default;
$reflect-dropdown-hint-font-size-tiny        : $reflect-font-size-small !default;
$reflect-dropdown-item-font-size             : $reflect-font-size-base !default;
$reflect-dropdown-item-font-size-tiny        : $reflect-font-size-base !default;
$reflect-dropdown-item-line-height           : $reflect-font-size-base !default;
$reflect-dropdown-item-line-height-tiny      : $reflect-font-size-base !default;
$reflect-dropdown-item-hover-color           : $reflect-bg-primary !default;
$reflect-dropdown-item-hover-bg              : $reflect-action-hover !default;
$reflect-dropdown-item-selected-color        : $reflect-bg-primary !default;
$reflect-dropdown-item-selected-bg           : $reflect-action-color !default;
$reflect-dropdown-item-disabled-color        : $reflect-bg-primary !default;
$reflect-dropdown-item-disabled-bg           : $reflect-gray-light !default;

// Forms
// ----------------------------------------------------------------------------
$reflect-form-label-font-weight              : $reflect-font-weight-heavy !default;
$reflect-form-label-color                    : $reflect-font-color-medium !default;
$reflect-form-label-color-dark               : $reflect-font-color-base !default;
$reflect-form-label-font-size                : $reflect-font-size-tiny !default;
$reflect-form-label-font-size-large          : $reflect-font-size-small !default;
$reflect-form-description-color              : $reflect-font-color-medium !default;
$reflect-form-description-font-size          : $reflect-font-size-tiny !default;

$reflect-form-section-legend-font-size       : $reflect-font-size-base !default;
$reflect-form-section-legend-font-weight     : $reflect-font-weight-heavy !default;
$reflect-form-section-legend-color           : $reflect-gray-darker !default;
$reflect-form-section-flyout-icon-color      : $reflect-gray-light !default;

$reflect-form-field-margin                   : $reflect-small !default;
$reflect-form-vertical-padding               : $reflect-tiny !default;

$reflect-form-tiny-label-font-size           : $reflect-font-size-tiny * 0.9 !default;

// Filters
// ----------------------------------------------------------------------------
$reflect-filter-border-color                 : $reflect-gray-lighter !default;
$reflect-filter-border                       : $reflect-border-size $reflect-border-style $reflect-filter-border-color !default;
$reflect-filter-bg                           : $reflect-gray-lighter !default;
$reflect-filter-radius                       : $reflect-border-radius !default;
$reflect-filter-padding                      : $reflect-mini !default;
$reflect-filter-placeholder-color            : $reflect-font-color-subtle !default;
$reflect-filter-input-bg                     : $reflect-bg-primary !default;
$reflect-filter-selected-shadow              : $reflect-selected-shadow !default;
$reflect-filter-border-active                : $reflect-border-active !default;

$reflect-filter-select-padding               : $reflect-tiny !default;
$reflect-filter-select-height                : 10px !default; // Todo: Base on grid

$reflect-filter-split-bg                     : $reflect-gray-light !default;
$reflect-filter-split-menu-bg                : darken($reflect-filter-split-bg, 10%) !default;
$reflect-filter-split-menu-bg-hover          : darken($reflect-filter-split-menu-bg, 10%) !default;

$reflect-filters-filter-bg                   : $reflect-brand-primary !default;
$reflect-filters-filter-bg-hover             : darken($reflect-brand-primary, 10%) !default;
$reflect-filters-filter-color                : $reflect-white !default;
$reflect-filters-filter-action-color         : lighten($reflect-brand-primary, 15%) !default;
$reflect-filters-form-border                 : $reflect-border !default;

// Input
// ----------------------------------------------------------------------------
$reflect-input-color                         : $reflect-font-color-base !default;
$reflect-input-bg                            : $reflect-white !default;
$reflect-input-focus-bg                      : $reflect-white !default;
$reflect-input-border                        : $reflect-border !default;
$reflect-input-border-radius                 : $reflect-border-radius !default;
$reflect-input-border-error                  : 1px solid $reflect-danger-color !default;
$reflect-input-height                        : $reflect-huge !default;
$reflect-input-padding                       : $reflect-tiny $reflect-small !default;
$reflect-input-placeholder-color             : $reflect-font-color-medium !default;

$reflect-input-hover-color                   : $reflect-brand-primary !default;
$reflect-input-hover-border                  : 1px solid $reflect-brand-primary !default;

$reflect-input-disabled-bg                   : $reflect-bg-subtle !default;
$reflect-input-disabled-color                : $reflect-font-color-subtle !default;

$reflect-input-small-height                  : $reflect-size-base * 3 !default; // 24px
$reflect-input-large-height                  : $reflect-size-base * 8 !default; // 40px

$reflect-input-large-padding                 : $reflect-medium !default;
$reflect-input-small-padding                 : $reflect-tiny !default;
$reflect-input-tiny-padding                  : $reflect-tiny !default;

$reflect-input-simple-bg                     : transparent !default;
$reflect-input-simple-focus-bg               : transparent !default;

$reflect-checkbox-border                     : $reflect-border !default;
$reflect-checkbox-border-radius              : $reflect-border-radius !default;
$reflect-checkbox-padding                    : $reflect-small !default;
$reflect-checkbox-icon-color                 : $reflect-brand-primary !default;

$reflect-checkbox-hover-border-color         : $reflect-brand-primary !default;
$reflect-checkbox-disabled-icon-color        : $reflect-gray !default;
$reflect-checkbox-disabled-border-color      : $reflect-border-color !default;

// Select
// ----------------------------------------------------------------------------
$reflect-select-color                        : $reflect-input-color !default;
$reflect-select-border-radius                : $reflect-input-border-radius !default;
$reflect-select-selected-shadow              : $reflect-selected-shadow !default;
$reflect-select-menu-bg                      : $reflect-white !default;

$reflect-select-item-border                  : $reflect-border-active !default;
$reflect-select-item-bg                      : $reflect-action-color !default;
$reflect-select-item-highlighted-bg          : $reflect-action-hover !default;
$reflect-select-item-highlighted-border      : $reflect-border-active-hover !default;
$reflect-select-item-color                   : $reflect-white !default;
$reflect-select-item-border-radius           : $reflect-circle-radius !default;
$reflect-select-item-icon-color              : $reflect-white !default;

// Tiny Inputs to be deprecated - not used
$reflect-select-tiny-item-margin             : $reflect-mini 0 $reflect-mini $reflect-mini !default;
$reflect-select-tiny-item-padding            : 0 $reflect-small !default;
$reflect-select-label-font-size              : $reflect-font-size-small !default;
$reflect-select-label-padding                : $reflect-small !default;
$reflect-select-label-bg                     : $reflect-action-color-alt !default;
$reflect-select-label-border                 : $reflect-border !default;
$reflect-select-label-border-radius          : $reflect-border-radius !default;

// Loading Indicator
// ----------------------------------------------------------------------------
$reflect-loading-indicator-fill              : $reflect-icon-fill !default;

// List Item
// ----------------------------------------------------------------------------
$reflect-list-item-bg                        : $reflect-bg-primary !default;
$reflect-list-item-bg-hover                  : $reflect-bg-primary !default;
$reflect-list-item-color                     : $reflect-font-color-base !default;
$reflect-list-item-color-hover               : $reflect-font-color-base !default;
$reflect-list-item-border                    : $reflect-border !default;
$reflect-list-item-border-hover              : $reflect-action-color !default;
$reflect-list-item-border-selected           : $reflect-action-hover !default;
$reflect-list-item-shadow-selected           : $reflect-selected-shadow !default;
$reflect-list-item-border-radius             : 0 !default;
$reflect-list-item-font-size                 : $reflect-font-size-base !default;
$reflect-list-item-padding                   : 0 0 $reflect-small !default;
$reflect-list-item-lineheight                : $reflect-line-height-default !default;
$reflect-list-item-height                    : $reflect-size-base * 4 !default;
$reflect-list-item-margin                    : 0 0 $reflect-small !default;

$reflect-list-item-small-font-size           : $reflect-font-size-small !default;
$reflect-list-item-small-lineheight          : $reflect-medium !default;
$reflect-list-item-small-height              : $reflect-size-base * 3 !default;

// Menu
// ----------------------------------------------------------------------------
$reflect-menu-item-border                    : $reflect-border !default;
$reflect-menu-item-border-focus              : $reflect-border-active-hover;
$reflect-menu-item-border-active             : $reflect-border-active-hover;
$reflect-menu-item-font-size                 : $reflect-font-size-small !default;
$reflect-menu-item-font-weight               : $reflect-font-weight-normal !default;
$reflect-menu-item-line-height               : $reflect-medium !default;
$reflect-menu-item-height                    : $reflect-size-base * 4 !default;
$reflect-menu-item-color                     : $reflect-font-color-base !default;
$reflect-menu-item-icon-color                : $reflect-icon-fill !default;
$reflect-menu-item-bg                        : transparent !default;
$reflect-menu-item-padding                   : 0 $reflect-small !default;

// Menu States
$reflect-menu-item-color-hover               : $reflect-brand-primary !default;
$reflect-menu-item-bg-hover                  : $reflect-gray-lighter !default;

$reflect-menu-item-color-selected            : $reflect-brand-primary !default;
$reflect-menu-item-bg-selected               : $reflect-action-color !default;
$reflect-menu-item-border-selected           : $reflect-border-active-hover !default;

$reflect-menu-item-color-disabled            : $reflect-bg-primary !default;
$reflect-menu-item-bg-disabled               : $reflect-gray-light !default;

// Menu Titles
$reflect-menu-header-bg                      : $reflect-white !default;
$reflect-menu-header-border                  : $reflect-border !default;
$reflect-menu-title-color                    : $reflect-font-color-medium !default;
$reflect-menu-title-font-size                : 11px !default;
$reflect-menu-title-font-weight              : $reflect-font-weight-normal !default;
$reflect-menu-header-height                  : $reflect-menu-item-height !default;
$reflect-menu-header-padding                 : $reflect-medium !default;

// Menu Section
$reflect-menu-section-border                 : $reflect-border !default;
$reflect-menu-section-padding                : $reflect-medium !default;

// Menu actions
$reflect-menu-actions-bg                     : $reflect-bg-subtle !default;
$reflect-menu-actions-padding                : $reflect-small $reflect-medium !default;
$reflect-menu-actions-msg-font-size          : $reflect-font-size-small !default;
$reflect-menu-actions-color                  : $reflect-font-color-subtle !default;

// Modal
// ----------------------------------------------------------------------------
$reflect-modal-bg                            : $reflect-bg-primary !default;
$reflect-modal-color                         : $reflect-font-color-base !default;
$reflect-modal-border-radius                 : $reflect-small !default;
$reflect-modal-overlay-bg                    : rgba(255, 255, 255, 0.8) !default;
$reflect-modal-width                         : 1200px !default;
$reflect-modal-width-small                   : 400px !default;
$reflect-modal-width-medium                  : 580px !default;
$reflect-modal-title-font-size               : $reflect-font-size-large !default;
$reflect-modal-title-padding                 : 40px 80px !default; // Todo: Base on grid
$reflect-modal-title-border                  : $reflect-border !default;
$reflect-modal-sidebar-bg                    : $reflect-bg-subtle !default;
$reflect-modal-sidebar-width                 : 300px !default;
$reflect-modal-sidebar-padding               : 40px !default;
$reflect-modal-actions-border                : $reflect-border !default;
$reflect-modal-actions-padding               : 20px 30px !default;
$reflect-modal-actions-cta-padding           : $reflect-small 0 $reflect-small 0 !default;
$reflect-modal-elevation                     : 24 !default;
$reflect-modal-padding                       : $reflect-huge !default;
$reflect-modal-shadow                        : $reflect-outer-shadow-giant !default;

// Panel
// ----------------------------------------------------------------------------
$reflect-panel-bg                            : $reflect-bg-primary !default;
$reflect-panel-bg-secondary                  : $reflect-gray-lighter !default;
$reflect-panel-padding                       : $reflect-medium !default;
$reflect-panel-border                        : $reflect-border !default;
$reflect-panel-border-radius                 : $reflect-border-radius !default;
$reflect-panel-outer-shadow                  : $reflect-outer-shadow !default;

// Preset ranges
// ----------------------------------------------------------------------------
$reflect-date-range-color                    : $reflect-datepicker-selected-bg !default;
$reflect-date-range-border                   : $reflect-datepicker-border-width solid $reflect-datepicker-border-color !default;
$reflect-date-range-hover-bg                 : $reflect-datepicker-selected-bg !default;
$reflect-date-range-hover-border             : $reflect-datepicker-border-width solid $reflect-date-range-hover-bg !default;

// Popover
// ----------------------------------------------------------------------------
$reflect-popover-bg                          : $reflect-bg-primary !default;
$reflect-popover-border                      : $reflect-border !default;
$reflect-popover-border-radius               : $reflect-border-radius !default;
$reflect-popover-close-color                 : $reflect-gray-light !default;
$reflect-popover-shadow                      : $reflect-outer-shadow-large !default;
$reflect-popover-padding                     : $reflect-medium !default;
$reflect-popover-small-width                 : 260px !default;
$reflect-popover-medium-width                : 300px !default;
$reflect-popover-large-width                 : 400px !default;
$reflect-popover-elevation                   : 24 !default;

// Progress Indicator
// ----------------------------------------------------------------------------
$reflect-progress-color                      : $reflect-action-color !default;
$reflect-progress-animation                  : 400ms !default;

// Removable Components
// ----------------------------------------------------------------------------
$reflect-remove-background                   : $reflect-bg-subtle !default;

// Slide ins
// ----------------------------------------------------------------------------
$reflect-slidein-bg                          : $reflect-bg-primary !default;
$reflect-slidein-border                      : $reflect-border !default;
$reflect-slidein-color                       : $reflect-font-color-base !default;
$reflect-slidein-padding                     : $reflect-small !default;
$reflect-slidein-horizontal-width            : 330px !default;
$reflect-slidein-vertical-height             : 330px !default;
$reflect-slidein-actions-border              : $reflect-border !default;
$reflect-slidein-actions-padding             : $reflect-small $reflect-large !default;
$reflect-slidein-actions-button-margin       : $reflect-tiny !default;
$reflect-slidein-shadow                      : $reflect-outer-shadow-giant !default;

// Stencils
// ----------------------------------------------------------------------------
$reflect-stencil-bg                          : $reflect-bg-subtle !default;
$reflect-stencil-height                      : 170px !default;

// Switch
// ----------------------------------------------------------------------------
$reflect-switch-height                       : 21px !default; // Todo: Base on grid
$reflect-switch-width                        : 47px !default; // Todo: Base on grid
$reflect-switch-padding                      : 5px !default; // Todo: Base on grid
$reflect-switch-handle-height                : $reflect-switch-height - ($reflect-switch-padding * 2) !default;

$reflect-switch-on-bg                        : $reflect-active-color !default;
$reflect-switch-on-bg-hover                  : $reflect-active-color-hover !default;
$reflect-switch-on-text                      : $reflect-action-text !default;
$reflect-switch-on-icon-fill                 : $reflect-action-icon !default;
$reflect-switch-on-icon-size                 : 12px !default;

$reflect-switch-off-bg                       : $reflect-inactive-color !default;
$reflect-switch-off-bg-hover                 : $reflect-inactive-color-hover !default;
$reflect-switch-off-text                     : $reflect-action-text-alt !default;
$reflect-switch-off-icon-fill                : $reflect-action-icon-alt;
$reflect-switch-off-icon-fill-hover          : $reflect-action-icon-hover-alt;
$reflect-switch-off-icon-size                : 12px !default;

// Tab variables/options
// ----------------------------------------------------------------------------
$reflect-tab-font-family                     : $reflect-button-font-family !default;
$reflect-tab-font-size                       : $reflect-font-size-small !default;
$reflect-tab-font-weight                     : normal !default;
$reflect-tab-case                            : uppercase !default;
$reflect-tab-color                           : $reflect-font-color-subtle !default;
$reflect-tab-color-active                    : $reflect-active-color !default;
$reflect-tab-border                          : 2px solid $reflect-inactive-color !default;
$reflect-tab-border-active                   : 2px solid $reflect-active-color !default;
$reflect-tab-bg                              : $reflect-bg-primary !default;
$reflect-tab-padding                         : $reflect-small $reflect-large !default;
$reflect-tab-width-vertical                  : 140px !default;
$reflect-tab-panel-padding                   : $reflect-large 0 !default;
$reflect-tab-panel-padding-vertical          : 0 $reflect-large !default;

// Tables
// ----------------------------------------------------------------------------
$reflect-table-font-size                     : $reflect-font-size-base !default;
$reflect-table-border                        : 1px solid $reflect-gray-light !default;
$reflect-table-shadow                        : $reflect-outer-shadow !default;
$reflect-table-header-bg                     : $reflect-gray-lighter !default;
$reflect-table-header-color                  : $reflect-gray !default;
$reflect-table-border-radius                 : $reflect-border-radius !default;

// Tags
// ----------------------------------------------------------------------------
$reflect-tag-bg                              : $reflect-bg-subtle !default;
$reflect-tag-border-radius                   : $reflect-border-radius !default;
$reflect-tag-border                          : 1px solid $reflect-white !default;
$reflect-tag-border-selected                 : $reflect-border-active !default;
$reflect-tag-color                           : $reflect-font-color-medium !default;
$reflect-tag-font-size                       : $reflect-button-font-size !default;
$reflect-tag-font-weight                     : $reflect-button-font-weight !default;
$reflect-tag-height                          : 33px !default; // Todo: Base on grid
$reflect-tag-line-height                     : $reflect-tag-height !default;
$reflect-tag-margin                          : $reflect-mini !default;
$reflect-tag-padding                         : $reflect-small !default;
$reflect-tag-shadow-selected                 : $reflect-selected-shadow !default;

$reflect-tag-icon-spacing                    : $reflect-tiny !default;
$reflect-tag-icon-size                       : 16px !default;
$reflect-tag-icon-fill                       : $reflect-gray-light !default;

$reflect-tag-tiny-font-size                  : $reflect-font-size-tiny !default;
$reflect-tag-tiny-height                     : 22px !default; // Todo: Base on grid
$reflect-tag-tiny-line-height                : $reflect-tag-tiny-height !default;
$reflect-tag-tiny-padding                    : 0 $reflect-small !default;

// Toggle
// ----------------------------------------------------------------------------
$reflect-toggle-bg                           : $reflect-action-color-alt !default;
$reflect-toggle-on-color                     : $reflect-active-color !default;
$reflect-toggle-off-color                    : $reflect-font-color-base !default;

// Tooltip
// ----------------------------------------------------------------------------
$reflect-tooltip-hint-bg                     : rgba($reflect-black, 0.9) !default;
$reflect-tooltip-hint-color                  : $reflect-gray-light !default;
$reflect-tooltip-hint-padding                : $reflect-tiny $reflect-small !default;
$reflect-tooltip-hint-radius                 : $reflect-border-radius !default;
$reflect-tooltip-hint-font-size              : $reflect-font-size-small !default;
$reflect-tooltip-hint-elevation              : 24 !default;
$reflect-tooltip-hint-max-width              : 168px !default;

$reflect-tooltip-hint-close-bg               : $reflect-black !default;

// Slider
// ----------------------------------------------------------------------------
$reflect-slider-bg                           : $reflect-gray-light !default;
$reflect-slider-bg-active                    : $reflect-brand-primary !default;
$reflect-slider-bar-height                   : $reflect-tiny !default;
$reflect-slider-handle-size                  : 10px !default;
$reflect-slider-bar-position                 : ($reflect-slider-handle-size - $reflect-slider-bar-height)/2 !default;

/* stylelint-enable */
