$white:                          #fff !default;

$gray-base:                      #201F1E !default;
$gray-darker:                    lighten($gray-base, 19%) !default;
$gray-dark:                      lighten($gray-base, 38%) !default;
$gray:                           lighten($gray-base, 56%) !default;
$gray-light:                     lighten($gray-base, 80%) !default;
$gray-lighter:                   lighten($gray-base, 84%) !default;

$brand-primary:                  #269CFF !default;
$brand-success:                  #5cb85c !default;
$brand-info:                     #5bc0de !default;
$brand-warning:                  #f0ad4e !default;
$brand-danger:                   #d9534f !default;

$font-family:                   'Open Sans', sans-serif !default;

$font-size-base:                 16px !default;
$font-size-small:                12px !default;
$font-size-tiny:                 10px !default;
$font-size-medium:               14px !default;
$line-height-base:               1.428571429 !default; // 20/14

$font-color-base:                $gray-darker;

$border-color:                   #dedede !default;
$border-hover-color:             $gray !default;
$border-radius:                  4px !default;
$border:                         1px solid $border-color !default;
$border-heavy:                   2px solid $border-color;
$border-active:                  1px solid $brand-primary !default;
$border-hover:                   1px solid $border-hover-color !default;

$outer-shadow:                   0 0px 1px rgba(0, 0, 0, .05) !default;
$hover-shadow:                   0px 0px 0px 1px $gray !default;
$selected-shadow:                0px 0px 0px 1px $brand-primary !default;

$padding:                        16px;

//
// Button variables/options
//
$button-font-family:              'Montserrat', sans-serif !default;
$button-font-size:                $font-size-small !default;
$button-font-weight:              normal !default;
$button-disabled-bg:              #ccc !default;
$button-disabled-color:           $gray !default;
$button-disabled-color-hover:     $gray !default;
$button-border-radius:            $border-radius !default;
$button-bg:                       $brand-primary !default;
$button-bg-hover:                 darken($brand-primary, 10%) !default;
$button-color:                    $white !default;
$button-color-hover:              $white !default;
$button-border-color:             transparent !default;
$button-border-color-hover:       transparent !default;

$button-secondary-bg:                 transparent !default;
$button-secondary-bg-hover:           $gray-dark !default;
$button-secondary-color:              $gray !default;
$button-secondary-color-hover:        $white !default;
$button-secondary-border-color:       $gray !default;
$button-secondary-border-color-hover: $gray-dark !default;

$button-transparent-color:        $gray !default;
$button-transparent-color-hover:  $gray-dark !default;

$floating-action-button-height:   60px !default;

//
// Tags
//
$tag-font-size:                   $button-font-size !default;
$tag-font-weight:                 $button-font-weight !default;
$tag-height:                      33px;
$tag-line-height:                 29px;
$tag-bg:                          $gray-light !default;
$tag-color:                       $gray !default;
$tag-border-radius:               $button-border-radius !default;
$tag-border:                      2px solid $tag-bg !default;
$tag-border-selected:             2px solid $brand-primary !default;

//
// Tab variables/options
//
$tab-font-family:                 $button-font-family !default;
$tab-font-size:                   $font-size-small !default;
$tab-font-weight:                 normal !default;
$tab-color:                       $gray !default;
$tab-color-active:                $brand-primary !default;
$tab-border:                      2px solid $gray-lighter !default;
$tab-border-active:               2px solid $brand-primary !default;
$tab-bg:                          $white !default;
$tab-text-transform:              uppercase !default;
$tab-padding:                     10px 20px !default;
$tab-width-vertical:              140px !default;
$tab-panel-padding:               20px 0 !default;
$tab-panel-padding-vertical:      0 20px !default;

//
// Loading indicator options
//
$loading-indicator-fill:          $gray-dark !default;

//
// Popover
//
$popover-bg:                      $white !default;
$popover-border:                  none !default;
$popover-border-radius:           $border-radius !default;
$popover-close-color:             $gray-light !default;
$popover-shadow:                  0 0 6px rgba(0, 0, 0, .2) !default;
$popover-padding:                 $padding !default;
$popover-small-width:             260px !default;
$popover-medium-width:            300px !default;
$popover-large-width:             400px !default;
$popover-elevation:               24 !default;

//
// Dropdown
//
$dropdown-padding:                12px !default;
$dropdown-max-height:             400px !default;
$dropdown-width:                  260px;
$dropdown-label-font-size:        $font-size-medium !default;
$dropdown-label-font-weight:      600 !default;
$dropdown-label-disabled-color:   $gray !default;
$dropdown-label-color:            $brand-primary !default;
$dropdown-label-color-error:      $brand-danger !default;
$dropdown-chevron-height:         6px !default;
$dropdown-chevron-width:          10px !default;
$dropdown-hint-color:             $gray !default;
$dropdown-hint-font-size:         $font-size-medium !default;
$dropdown-item-font-size:         $font-size-base !default;
$dropdown-item-line-height:       $font-size-base !default;
$dropdown-item-hover-color:       $white !default;
$dropdown-item-hover-bg:          darken($brand-primary, 10%) !default;
$dropdown-item-selected-color:    $white !default;
$dropdown-item-selected-bg:       $brand-primary !default;
$dropdown-item-disabled-color:    $white !default;
$dropdown-item-disabled-bg:       $gray-light !default;

//
// Cards
//
$card-bg:                         $white !default;
$card-border:                     $border !default;
$card-border-hover:               $border-hover !default;
$card-shadow-hover:               0px 0px 0px 1px $gray !default;
$card-border-selected:            1px solid $brand-primary !default;
$card-shadow-selected:            0px 0px 0px 1px $brand-primary !default;
$card-remove-background:          $gray-lighter !default;
$card-color:                      $gray !default;
$card-title-color:                $gray !default;
$card-subtitle-color:             $gray !default;

//
// Input
//
$input-border-radius:            $border-radius;
$input-border-error:             1px solid $brand-danger;

//
// Switch
//
$switch-height:                   21px;
$switch-width:                    47px;
$switch-padding:                  5px;
$switch-border:                   $border-heavy;
$switch-handle-height:            $switch-height - ($switch-padding * 2);
$switch-on-icon-fill:             $white;
$switch-on-icon-size:             13px;
$switch-off-icon-fill:            $gray;
$switch-off-icon-size:            10px;

//
// List Item
//

$list-item-bg:                    $white !default;
$list-item-bg-hover:              $gray-lighter !default;
$list-item-color:                 $gray !default;
$list-item-color-hover:           $gray-dark !default;
$list-item-border:                $border !default;
$list-item-border-selected:       $border-active !default;
$list-item-border-radius:         $border-radius !default;
$list-item-font-size:             $font-size-medium !default;
$list-item-padding:               6px 12px !default;
$list-item-margin-bottom:         10px !default;
$list-item-icon-top:              2px !default;
$list-item-icon-height:           16px !default;
$list-item-action-width:          30px !default;

//
// Modal
//
$modal-bg:                        $white !default;
$modal-color:                     $font-color-base !default;
$modal-border-radius:             $border-radius !default;
$modal-overlay-bg:                rgba(255, 255, 255, 0.8) !default;
$modal-width:                     1200px !default;
$modal-width-small:               400px !default;
$modal-width-medium:              580px !default;
$modal-title-padding:             40px 80px !default;
$modal-title-border:              $border !default;
$modal-sidebar-bg:                #f6f6f6 !default;
$modal-sidebar-width:             300px !default;
$modal-sidebar-padding:           40px !default;
$modal-actions-border:            $border !default;
$modal-actions-padding:           20px 30px !default;
$modal-actions-cta-padding:       10px 0 10px 0 !default;
$modal-elevation:                 24;


//
// Icons
//
$icon-fill:                       $gray !default;

//
// Progress Indicator
//
$rc-progress-color:               $brand-primary !default;
$rc-progress-animation:           400ms !default;

//
// Tooltip
//
$tooltip-bg:                  rgba(0, 0, 0, .75);
$tooltip-color:               $gray-light;
$tooltip-padding:             5px 15px;
$tooltip-radius:              $border-radius;
$tooltip-font-size:           $font-size-medium;
$tooltip-elevation:           24;

//
// Slide ins
//
$slidein-bg:                      $white !default;
$slidein-color:                   $font-color-base !default;
$slidein-padding:                 20px 30px !default;
$slidein-horizontal-width:        330px !default;
$slidein-vertical-height:         330px !default;
$slidein-actions-border:          $border !default;
$slidein-actions-padding:         20px 30px !default;
$slidein-actions-button-margin:   7px !default;

//
// Accordions
//
$accordion-item-title-font-family:     $button-font-family !default;
$accordion-item-title-font-size:       $font-size-small !default;
$accordion-item-title-color:           $gray !default;
$accordion-item-title-color-active:    $brand-primary !default;
$accordion-item-title-border:          2px solid $gray-lighter !default;
$accordion-item-title-border-active:   2px solid $brand-primary !default;
$accordion-item-title-padding:         5px 10px !default;
$accordion-item-title-text-transform:  uppercase !default;
$accordion-item-content-padding:       20px 12px !default;

