/* stylelint-disable scss/dollar-variable-colon-space-after, scss/dollar-variable-colon-space-before, indentation */

// ============================================================================
// COMPONENT VARIABLES
// ============================================================================

// Accordions
// ----------------------------------------------------------------------------
$puppet-accordion-bg                               : $puppet-white !default;
$puppet-accordion-item-title-bg-color              : $puppet-white !default;
$puppet-accordion-item-title-color                 : $puppet-font-color-medium !default;
$puppet-accordion-item-title-hover                 : $puppet-font-color-base !default;
$puppet-accordion-item-title-height                : $puppet-huge;
$puppet-accordion-item-title-padding               : 0 $puppet-medium !default; // Todo: Base on grid
$puppet-accordion-item-border                      : $puppet-border !default;
$puppet-accordion-icon-color                       : $puppet-icon-fill-base !default;
$puppet-accordion-icon-color-hover                 : $puppet-icon-fill-hover !default;
$puppet-accordion-item-content-padding             : $puppet-medium !default;

$puppet-accordion-header-title-color               : $puppet-font-color-medium !default;
$puppet-accordion-header-height                    : $puppet-huge;
$puppet-accordion-header-bg                        : $puppet-white !default;

$puppet-accordion-animation-speed                  : $puppet-animation-speed-base !default;

// Blank Slates
// ----------------------------------------------------------------------------
$puppet-blank-slate-font-size                      : $puppet-font-size-medium !default;
$puppet-blank-slate-font-color                     : $puppet-font-color-subtle !default;
$puppet-blank-slate-font-weight                    : normal !default;
$puppet-blank-slate-title-font-size                : $puppet-font-size-huge !default;
$puppet-blank-slate-lead-font-size                 : $puppet-font-size-medium !default;
$puppet-blank-slate-lead-color                     : $puppet-n900 !default;
$puppet-blank-slate-content-font-size              : $puppet-font-size-base !default;
$puppet-blank-slate-content-color                  : $puppet-n900 !default;
$puppet-blank-slate-note-font-size                 : $puppet-font-size-small !default;
$puppet-blank-slate-note-color                     : $puppet-n600 !default;
$puppet-blank-slate-icon-color                     : $puppet-action-base !default;
$puppet-blank-slate-bg                             : $puppet-bg-light !default;
$puppet-blank-slate-shadow                         : $puppet-outer-shadow-huge !default;
$puppet-blank-slate-radius                         : $puppet-circle-radius !default;
$puppet-blank-slate-margin-base                    : $puppet-medium;
$puppet-blank-slate-margin-medium                  : $puppet-large;
$puppet-blank-slate-size                           : 100px;
$puppet-blank-slate-image-size                     : 200px;
$puppet-blank-slate-max-width                      : 600px;

// Buttons
// ----------------------------------------------------------------------------
// Button variables/options
$puppet-button-border-radius                       : $puppet-border-radius !default;
$puppet-floating-action-button-height              : $puppet-giant !default;
$puppet-button-badge-size                          : $puppet-small !default;
$puppet-button-font-family                         : $puppet-font-family-button !default;
$puppet-button-font-weight                         : $puppet-font-weight-heavy !default;
$puppet-button-text-transform                      : none !default;

// Default Buttons
$puppet-button-font-size                           : $puppet-font-size-base !default;
$puppet-button-height                              : $puppet-huge !default;
$puppet-button-padding                             : $puppet-medium !default;

// Tiny Buttons
$puppet-button-tiny-font-size                      : $puppet-font-size-tiny !default;
$puppet-button-tiny-height                         : 22px !default; // Todo: Base on grid
$puppet-button-tiny-padding                        : $puppet-button-padding / 4 !default;

// Small Buttons
$puppet-button-small-font-size                     : $puppet-font-size-small !default;
$puppet-button-small-height                        : $puppet-large !default; // Todo: Base on grid
$puppet-button-small-padding                       : $puppet-small !default;

// Large
$puppet-button-large-font-size                     : $puppet-font-size-base !default;
$puppet-button-large-height                        : 60px !default; // Todo: Base on grid
$puppet-button-large-padding                       : $puppet-button-padding * 1.5 !default;

// Primary Buttons
$puppet-button-bg                                  : $puppet-action-base !default;
$puppet-button-bg-hover                            : $puppet-action-hover !default;
$puppet-button-bg-active                           : $puppet-action-active !default;
$puppet-button-color                               : $puppet-white !default;
$puppet-button-color-hover                         : $puppet-white !default;
$puppet-button-color-active                        : $puppet-white !default;
$puppet-button-icon-color                          : $puppet-white !default;
$puppet-button-icon-color-hover                    : $puppet-white !default;
$puppet-button-icon-color-active                   : $puppet-white !default;
$puppet-button-border-color                        : transparent !default;
$puppet-button-border-color-hover                  : transparent !default;
$puppet-button-border-color-active                 : transparent !default;

// Secondary Buttons
$puppet-button-secondary-bg                        : $puppet-action-subtle !default;
$puppet-button-secondary-bg-hover                  : $puppet-action-hover-subtle !default;
$puppet-button-secondary-bg-active                 : $puppet-action-active-subtle !default;
$puppet-button-secondary-color                     : $puppet-n800 !default;
$puppet-button-secondary-color-hover               : $puppet-n800 !default;
$puppet-button-secondary-color-active              : $puppet-n800 !default;
$puppet-button-secondary-icon-color                : $puppet-icon-fill-base !default;
$puppet-button-secondary-icon-color-hover          : $puppet-icon-fill-action-base !default;
$puppet-button-secondary-icon-color-active         : $puppet-icon-fill-action-active !default;
$puppet-button-secondary-border-color              : transparent !default;
$puppet-button-secondary-border-color-hover        : transparent !default;
$puppet-button-secondary-border-color-active       : transparent !default;

// Transparent Buttons
$puppet-button-clear-bg                            : transparent !default;
$puppet-button-clear-bg-hover                      : $puppet-n100 !default;
$puppet-button-clear-bg-active                     : $puppet-n200 !default;
$puppet-button-clear-color                         : $puppet-action-base !default;
$puppet-button-clear-color-hover                   : $puppet-action-base !default;
$puppet-button-clear-color-active                  : $puppet-action-active !default;
$puppet-button-clear-icon-color                    : $puppet-n600 !default;
$puppet-button-clear-icon-color-hover              : $puppet-n700 !default;
$puppet-button-clear-icon-color-active             : $puppet-n700 !default;
$puppet-button-clear-border-color                  : transparent !default;
$puppet-button-clear-border-color-hover            : transparent !default;
$puppet-button-clear-border-color-active           : transparent !default;

// Simple Buttons
$puppet-button-simple-bg                           : transparent !default;
$puppet-button-simple-bg-hover                     : transparent !default;
$puppet-button-simple-bg-active                    : transparent !default;
$puppet-button-simple-color                        : $puppet-action-base !default;
$puppet-button-simple-color-hover                  : $puppet-action-hover !default;
$puppet-button-simple-color-active                 : $puppet-action-active !default;
$puppet-button-simple-icon-color                   : $puppet-action-base !default;
$puppet-button-simple-icon-color-hover             : $puppet-action-hover !default;
$puppet-button-simple-icon-color-active            : $puppet-action-active !default;
$puppet-button-simple-border-color                 : transparent !default;
$puppet-button-simple-border-color-hover           : transparent !default;
$puppet-button-simple-border-color-active          : transparent !default;

$puppet-button-simple-secondary-bg                 : transparent !default;
$puppet-button-simple-secondary-bg-hover           : transparent !default;
$puppet-button-simple-secondary-bg-active          : transparent !default;
$puppet-button-simple-secondary-color              : $puppet-n700 !default;
$puppet-button-simple-secondary-color-hover        : $puppet-action-base !default;
$puppet-button-simple-secondary-color-active       : $puppet-action-base !default;
$puppet-button-simple-secondary-icon-color         : $puppet-icon-fill-base !default;
$puppet-button-simple-secondary-icon-color-hover   : $puppet-action-base !default;
$puppet-button-simple-secondary-icon-color-active  : $puppet-action-base !default;
$puppet-button-simple-secondary-border-color       : transparent !default;
$puppet-button-simple-secondary-border-color-hover : transparent !default;
$puppet-button-simple-secondary-border-color-active: transparent !default;


// Disabled Buttons
$puppet-button-disabled-opacity                    : 0.5 !default;

// Errored Buttons
$puppet-button-error-bg                            : $puppet-neg-bg-base !default;
$puppet-button-error-bg-hover                      : $puppet-neg-bg-hover !default;
$puppet-button-error-bg-active                     : $puppet-neg-bg-active !default;
$puppet-button-error-color                         : $puppet-white !default;
$puppet-button-error-color-hover                   : $puppet-white !default;
$puppet-button-error-color-active                  : $puppet-white !default;
$puppet-button-error-icon-color                    : $puppet-white !default;
$puppet-button-error-icon-color-hover              : $puppet-white !default;
$puppet-button-error-icon-color-active             : $puppet-white !default;
$puppet-button-error-border-color                  : transparent !default;
$puppet-button-error-border-color-hover            : transparent !default;
$puppet-button-error-border-color-active           : transparent !default;

// Cards
// ----------------------------------------------------------------------------

// Card General
$puppet-card-padding                               : $puppet-medium !default;
$puppet-card-bg                                    : $puppet-bg-light !default;
$puppet-card-border                                : $puppet-border !default;
$puppet-card-shadow                                : $puppet-outer-shadow !default;

// Card Header
$puppet-card-header-padding                        : $puppet-medium !default;
$puppet-card-title-size                            : $puppet-font-size-medium !default;
$puppet-card-title-case                            : none !default;
$puppet-card-title-color                           : $puppet-font-color-base !default;
$puppet-card-title-margin                          : $puppet-tiny !default;
$puppet-card-subtitle-size                         : $puppet-font-size-small !default;
$puppet-card-subtitle-color                        : $puppet-font-color-medium !default;
$puppet-card-controls-size                         : $puppet-font-size-small !default;
$puppet-card-controls-color                        : $puppet-font-color-base !default;
$puppet-card-search-margin                         : $puppet-medium 0 0 !default;

$puppet-card-description-font-size                 : $puppet-font-size-base !default;

// Card Color
$puppet-card-action-color-active                   : $puppet-action-base !default;
$puppet-card-color                                 : $puppet-font-color-base !default;
$puppet-card-border                                : $puppet-border !default;
$puppet-card-border-hover                          : $puppet-border-hover !default;
$puppet-card-border-radius                         : $puppet-border-radius !default;
$puppet-card-shadow-hover                          : $puppet-selectable-shadow-hover !default;
$puppet-card-border-selected                       : $puppet-border-action !default;
$puppet-card-border-selected-hover                 : $puppet-border-action-hover !default;
$puppet-card-shadow-selected                       : $puppet-selected-shadow !default;
$puppet-card-shadow-selected-hover                 : $puppet-selected-shadow-hover !default;

// Sidebar
// ----------------------------------------------------------------------------

// Sidebar General
$puppet-sidebar-bg                                 : $puppet-bg-light !default;
$puppet-sidebar-font                               : $puppet-font-family-heading !default;
$puppet-sidebar-padding                            : $puppet-medium 0 !default;
$puppet-sidebar-width                              : 216px !default;
$puppet-sidebar-minimized-width                    : 65px !default;

$puppet-sidebar-toggle-height                      : 56px !default;

$puppet-sidebar-divider                            : $puppet-border-subtle !default;
$puppet-sidebar-divider-margin-open                : 16px 0 24px !default;
$puppet-sidebar-divider-margin-closed              : 16px 0 !default;
$puppet-sidebar-toggle-icon-size                   : 12px !important;

$puppet-sidebar-item-bg                            : $puppet-bg-light !default;
$puppet-sidebar-item-bg-hover                      : $puppet-bg-subtle !default;
$puppet-sidebar-item-bg-active                     : $puppet-bg-subtle !default;

$puppet-sidebar-item-border-radius                 : $puppet-border-radius !default;

$puppet-sidebar-item-color                         : $puppet-font-color-medium !default;
$puppet-sidebar-item-color-hover                   : $puppet-action-base !default;
$puppet-sidebar-item-color-active                  : $puppet-action-base !default;

$puppet-sidebar-item-font-size                     : 16px !default;
$puppet-sidebar-item-font-weight                   : $puppet-font-weight-medium !default;
$puppet-sidebar-item-height                        : 32px !default;
$puppet-sidebar-item-line-height                   : $puppet-sidebar-item-height !default;
$puppet-sidebar-item-margin                        : 2px 16px !default;
$puppet-sidebar-item-padding                       : 0 8px !default;

$puppet-sidebar-item-icon-fill                     : $puppet-n700 !default;
$puppet-sidebar-item-icon-fill-hover               : $puppet-action-base !default;
$puppet-sidebar-item-icon-fill-active              : $puppet-action-base !default;
$puppet-sidebar-item-icon-margin                   : 12px !default;


// Sidebar Sections

// Labels
$puppet-sidebar-label-font                         : $puppet-font-family-label !default;
$puppet-sidebar-label-font-size                    : $puppet-font-size-tiny !default;
$puppet-sidebar-label-line-height                  : $puppet-small !default;
$puppet-sidebar-label-margin                       : 0 0 $puppet-small !default;
$puppet-sidebar-label-padding                      : 0 $puppet-large 0 !default;
$puppet-sidebar-label-text-transform               : uppercase !default;

// Top Level
// No specific level-1 options atm

// Second Level
$puppet-sidebar-level-2-font-size                  : 14px !default;
$puppet-sidebar-level-2-margin                     : 8px 16px 8px 32px !default;
$puppet-sidebar-level-2-padding                    : 0 0 0 8px !default;

$puppet-sidebar-level-2-item-margin                : 2px 0 !default;
$puppet-sidebar-level-2-item-padding               : 0 12px !default;



// Datepicker
// ----------------------------------------------------------------------------
$puppet-arrow-size                                 : $puppet-tiny !default;
$puppet-datepicker-bg                              : $puppet-bg-light !default;
$puppet-datepicker-button-border-color             : $puppet-button-secondary-border-color !default;
$puppet-datepicker-icon                            : $puppet-icon-fill-base !default;
$puppet-datepicker-icon-hover                      : $puppet-action-hover !default;
$puppet-datepicker-othermonth-opacity              : 0.25 !default;
$puppet-datepicker-padding                         : $puppet-large !default;
$puppet-datepicker-radius                          : $puppet-border-radius !default;

$puppet-datepicker-border-color                    : transparent !default;
$puppet-datepicker-border-width                    : 0 !default;

$puppet-datepicker-font-color                      : $puppet-font-color-base !default;

$puppet-datepicker-month-bg                        : $puppet-bg-subtle !default;
$puppet-datepicker-month-color                     : $puppet-font-color-medium !default;
$puppet-datepicker-month-font-size                 : $puppet-font-size-base !default;
$puppet-datepicker-month-font-weight               : $puppet-font-weight-heavy !default;
$puppet-datepicker-month-border                    : $puppet-datepicker-border-width solid $puppet-datepicker-border-color !default;

$puppet-datepicker-weekday-color                   : $puppet-font-color-subtle !default;
$puppet-datepicker-weekday-font-weight             : $puppet-font-weight-heavy !default;
$puppet-datepicker-weekday-text                    : uppercase !default;
$puppet-datepicker-weekday-font-size               : $puppet-font-size-tiny !default;
$puppet-datepicker-weekday-letter-spacing          : 1px !default;
$puppet-datepicker-weekday-border                  : $puppet-datepicker-border-width solid $puppet-datepicker-border-color !default;

$puppet-datepicker-selected-bg                     : $puppet-action-base !default;
$puppet-datepicker-selected-border                 : $puppet-datepicker-border-width solid $puppet-datepicker-selected-bg !default;
$puppet-datepicker-selected-color                  : $puppet-font-color-light !default;
$puppet-datepicker-selected-edges-bg               : $puppet-action-hover !default;
$puppet-datepicker-selected-edges-radius           : $puppet-datepicker-radius !default;
$puppet-datepicker-selection-margin                : 1px !default;

$puppet-datepicker-newrange-bg                     : $puppet-datepicker-selected-bg !default;

$puppet-datepicker-hover-bg                        : $puppet-action-hover !default;
$puppet-datepicker-hover-color                     : $puppet-font-color-light !default;
$puppet-datepicker-hover-border                    : 0 solid transparent !default;

// Dropdown
// ----------------------------------------------------------------------------
$puppet-dropdown-padding                           : $puppet-medium !default;
$puppet-dropdown-padding-small                     : $puppet-small !default;
$puppet-dropdown-padding-tiny                      : $puppet-small !default;
$puppet-dropdown-max-height                        : 400px !default;
$puppet-dropdown-width                             : 260px !default;
$puppet-dropdown-width-tiny                        : 120px !default;

$puppet-dropdown-label-font-size                   : $puppet-font-size-base !default;
$puppet-dropdown-label-font-weight                 : $puppet-font-weight-heavy !default;
$puppet-dropdown-label-line-height                 : $puppet-medium !default;
$puppet-dropdown-label-color                       : $puppet-action-base !default;
$puppet-dropdown-label-color-error                 : $puppet-neg-color-base !default;
$puppet-dropdown-label-color-disabled              : $puppet-n600 !default;

$puppet-dropdown-chevron-height                    : $puppet-small !default;
$puppet-dropdown-chevron-width                     : $puppet-small !default;
$puppet-dropdown-hint-color                        : $puppet-n600 !default;
$puppet-dropdown-hint-font-size                    : $puppet-font-size-base !default;
$puppet-dropdown-hint-font-size-tiny               : $puppet-font-size-small !default;
$puppet-dropdown-item-font-size                    : $puppet-font-size-base !default;
$puppet-dropdown-item-font-size-tiny               : $puppet-font-size-base !default;
$puppet-dropdown-item-line-height                  : $puppet-font-size-base !default;
$puppet-dropdown-item-line-height-tiny             : $puppet-font-size-base !default;
$puppet-dropdown-item-hover-color                  : $puppet-bg-light !default;
$puppet-dropdown-item-hover-bg                     : $puppet-action-hover !default;
$puppet-dropdown-item-selected-color               : $puppet-bg-light !default;
$puppet-dropdown-item-selected-bg                  : $puppet-action-base !default;
$puppet-dropdown-item-disabled-color               : $puppet-bg-light !default;
$puppet-dropdown-item-disabled-bg                  : $puppet-n400 !default;

// Forms
// ----------------------------------------------------------------------------
$puppet-form-label-font-weight                     : $puppet-font-weight-heavy !default;
$puppet-form-label-color                           : $puppet-font-color-medium !default;
$puppet-form-label-color-dark                      : $puppet-font-color-base !default;
$puppet-form-label-font-size                       : $puppet-font-size-tiny !default;
$puppet-form-label-font-size-large                 : $puppet-font-size-small !default;
$puppet-form-description-color                     : $puppet-font-color-medium !default;
$puppet-form-description-font-size                 : $puppet-font-size-tiny !default;

$puppet-form-section-legend-font-size              : $puppet-font-size-base !default;
$puppet-form-section-legend-font-weight            : $puppet-font-weight-heavy !default;
$puppet-form-section-legend-color                  : $puppet-n900 !default;
$puppet-form-section-flyout-icon-color             : $puppet-n400 !default;

$puppet-form-field-margin                          : $puppet-small !default;
$puppet-form-vertical-padding                      : $puppet-tiny !default;

$puppet-form-tiny-label-font-size                  : $puppet-font-size-tiny * 0.9 !default;

// Filters
// ----------------------------------------------------------------------------
$puppet-filter-border-color                        : $puppet-border-hr !default;
$puppet-filter-border                              : $puppet-border-size-base $puppet-border-style $puppet-filter-border-color !default;
$puppet-filter-bg                                  : $puppet-neg-bg-subtle-base !default;
$puppet-filter-radius                              : $puppet-border-radius !default;
$puppet-filter-padding                             : $puppet-mini !default;
$puppet-filter-placeholder-color                   : $puppet-font-color-subtle !default;
$puppet-filter-input-bg                            : $puppet-bg-light !default;
$puppet-filter-selected-shadow                     : $puppet-selected-shadow !default;
$puppet-filter-border-active                       : $puppet-border-action !default;

$puppet-filter-select-padding                      : $puppet-tiny !default;
$puppet-filter-select-height                       : 10px !default; // Todo: Base on grid

$puppet-filter-split-bg                            : $puppet-n400 !default;
$puppet-filter-split-menu-bg                       : darken($puppet-filter-split-bg, 10%) !default;
$puppet-filter-split-menu-bg-hover                 : lighten($puppet-filter-split-menu-bg, 5%) !default;

$puppet-filters-filter-bg                          : $puppet-action-base !default;
$puppet-filters-filter-bg-hover                    : $puppet-action-hover !default;
$puppet-filters-filter-color                       : $puppet-white !default;
$puppet-filters-filter-action-color                : lighten($puppet-filters-filter-bg, 15%) !default;
$puppet-filters-form-border                        : $puppet-border !default;

// Input
// ----------------------------------------------------------------------------
$puppet-input-color                                : $puppet-font-color-base !default;
$puppet-input-color-placeholder                    : $puppet-font-color-subtle !default;

$puppet-input-bg                                   : $puppet-bg-light !default;
$puppet-input-bg-hover                             : $puppet-bg-light !default;
$puppet-input-bg-focus                             : $puppet-bg-light !default;

$puppet-input-border                               : $puppet-border !default;
$puppet-input-border-hover                         : $puppet-border-hover !default;
$puppet-input-border-focus                         : $puppet-border-action !default;
$puppet-input-border-radius                        : $puppet-border-radius !default;
$puppet-input-border-error                         : 1px solid $puppet-neg-border-base !default;

$puppet-input-height                               : $puppet-huge !default;
$puppet-input-padding                              : $puppet-tiny $puppet-small !default;

$puppet-input-small-height                         : $puppet-size-base * 3 !default; // 24px
$puppet-input-small-padding                        : $puppet-tiny !default;

$puppet-input-large-height                         : $puppet-size-base * 8 !default; // 40px
$puppet-input-large-padding                        : $puppet-medium !default;

$puppet-input-tiny-padding                         : $puppet-tiny !default;

$puppet-input-simple-bg                            : transparent !default;
$puppet-input-simple-focus-bg                      : transparent !default;

// Checkboxes
// ----------------------------------------------------------------------------
$puppet-checkbox-border                            : $puppet-border !default;
$puppet-checkbox-border-hover                      : $puppet-border-hover !default;
$puppet-checkbox-border-radius                     : $puppet-border-radius-small !default;
$puppet-checkbox-icon-fill                         : $puppet-action-base !default;
$puppet-checkbox-padding                           : $puppet-small !default;

// Selects
// ----------------------------------------------------------------------------
$puppet-select-color                               : $puppet-input-color !default;
$puppet-select-border-radius                       : $puppet-input-border-radius !default;
$puppet-select-menu-bg                             : $puppet-white !default;
$puppet-select-item-highlighted-bg                 : $puppet-action-hover !default;


// Tiny Inputs to be deprecated - not used
$puppet-select-tiny-item-margin                    : $puppet-mini 0 $puppet-mini $puppet-mini !default;
$puppet-select-tiny-item-padding                   : 0 $puppet-small !default;
$puppet-select-label-font-size                     : $puppet-font-size-small !default;
$puppet-select-label-padding                       : $puppet-small !default;
$puppet-select-label-bg                            : $puppet-action-subtle !default;
$puppet-select-label-border                        : $puppet-border !default;
$puppet-select-label-border-radius                 : $puppet-border-radius !default;

// Loading Indicator
// ----------------------------------------------------------------------------
$puppet-loading-indicator-fill                     : $puppet-icon-fill-base !default;

// List Item
// ----------------------------------------------------------------------------
$puppet-list-item-bg                               : $puppet-bg-light !default;
$puppet-list-item-bg-hover                         : $puppet-bg-light !default;
$puppet-list-item-color                            : $puppet-font-color-base !default;
$puppet-list-item-color-hover                      : $puppet-font-color-base !default;
$puppet-list-item-border                           : $puppet-border !default;
$puppet-list-item-border-hover                     : $puppet-border-color-hover !default;
$puppet-list-item-border-selected                  : $puppet-border-color-action-base !default;
$puppet-list-item-shadow-selected                  : $puppet-selected-shadow !default;
$puppet-list-item-border-radius                    : 0 !default;
$puppet-list-item-font-size                        : $puppet-font-size-base !default;
$puppet-list-item-padding                          : $puppet-small !default;
$puppet-list-item-lineheight                       : $puppet-line-height-default !default;
$puppet-list-item-height                           : $puppet-size-base * 4 !default;
$puppet-list-item-margin                           : 0 !default;
$puppet-list-item-selected-bg                      : $puppet-bg-subtle !default;

$puppet-list-item-small-font-size                  : $puppet-font-size-small !default;
$puppet-list-item-small-lineheight                 : $puppet-medium !default;
$puppet-list-item-small-height                     : $puppet-size-base * 3 !default;

// Menu
// ----------------------------------------------------------------------------
$puppet-menu-item-border                           : $puppet-border !default;
$puppet-menu-item-border-focus                     : $puppet-border-action-hover !default;
$puppet-menu-item-border-active                    : $puppet-border-action-active !default;
$puppet-menu-item-border-dark                      : $puppet-border-dark !default;
$puppet-menu-item-border-focus-dark                : $puppet-border-active-hover-dark !default;
$puppet-menu-item-border-active-dark               : $puppet-border-active-hover-dark !default;
$puppet-menu-item-font-size                        : $puppet-font-size-small !default;
$puppet-menu-item-font-weight                      : $puppet-font-weight-normal !default;
$puppet-menu-item-line-height                      : $puppet-medium !default;
$puppet-menu-item-height                           : $puppet-huge !default;
$puppet-menu-item-color                            : $puppet-font-color-base !default;
$puppet-menu-item-color-dark                       : $puppet-white !default;
$puppet-menu-item-icon-color                       : $puppet-icon-fill-base !default;
$puppet-menu-item-bg                               : transparent !default;

// Padding is used for the internal padding of the anchors
$puppet-menu-item-padding                          : $puppet-small !default;

// Spacing is used for the padding of the container
$puppet-menu-item-spacing                          : $puppet-tiny !default;

// Menu States
$puppet-menu-item-color-hover                      : $puppet-action-base !default;
$puppet-menu-item-color-hover-dark                 : $puppet-white !default;
$puppet-menu-item-bg-hover                         : $puppet-n50 !default;
$puppet-menu-item-bg-hover-dark                    : $puppet-n700 !default;

$puppet-menu-item-color-selected                   : $puppet-action-base !default;
$puppet-menu-item-bg-selected                      : $puppet-action-base !default;
$puppet-menu-item-border-selected                  : $puppet-border-action-hover !default;

$puppet-menu-item-color-disabled                   : $puppet-bg-light !default;
$puppet-menu-item-bg-disabled                      : $puppet-n400 !default;

// Menu Titles
$puppet-menu-header-bg                             : $puppet-bg-light !default;
$puppet-menu-header-bg-dark                        : $puppet-bg-dark !default;
$puppet-menu-header-border                         : $puppet-border !default;
$puppet-menu-header-border-dark                    : $puppet-border-dark !default;
$puppet-menu-title-color                           : $puppet-font-color-dark !default;
$puppet-menu-title-color-dark                      : $puppet-white !default;
$puppet-menu-title-font-family                     : $puppet-font-family-heading !default;
$puppet-menu-title-font-size                       : 11px !default;
$puppet-menu-title-font-weight                     : $puppet-font-weight-heavy !default;
$puppet-menu-header-height                         : $puppet-menu-item-height !default;
$puppet-menu-header-padding                        : $puppet-medium !default;

// Menu Section
$puppet-menu-section-border                        : $puppet-border !default;
$puppet-menu-section-padding                       : $puppet-medium !default;

// Menu actions
$puppet-menu-actions-bg                            : $puppet-bg-subtle !default;
$puppet-menu-actions-color                         : $puppet-font-color-subtle !default;
$puppet-menu-actions-msg-font-size                 : $puppet-font-size-small !default;
$puppet-menu-actions-padding                       : $puppet-small $puppet-medium !default;

// Modal
// ----------------------------------------------------------------------------
$puppet-modal-bg                                   : $puppet-bg-light !default;
$puppet-modal-color                                : $puppet-font-color-base !default;
$puppet-modal-border                               : 1px solid $puppet-n400 !default;
$puppet-modal-border-radius                        : $puppet-small !default;
$puppet-modal-overlay-bg                           : transparent !default;
$puppet-modal-elevation                            : 24 !default;
$puppet-modal-padding                              : $puppet-medium $puppet-large !default;
$puppet-modal-shadow                               : $puppet-outer-shadow-giant !default;
$puppet-modal-close-top                            : $puppet-medium !default;
$puppet-modal-close-right                          : $puppet-large !default;
$puppet-modal-width-small                          : 400px !default;
$puppet-modal-width                                : 480px !default;
$puppet-modal-width-medium                         : 580px !default;
$puppet-modal-width-large                          : 1200px !default;
$puppet-modal-title-font-size                      : $puppet-font-size-large !default;
$puppet-modal-title-padding                        : 40px 80px !default; // Todo: Base on grid
$puppet-modal-title-border                         : $puppet-border !default;
$puppet-modal-sidebar-bg                           : $puppet-bg-subtle !default;
$puppet-modal-sidebar-width                        : 300px !default;
$puppet-modal-sidebar-padding                      : $puppet-modal-padding !default;
$puppet-modal-actions-border                       : none !default;
$puppet-modal-actions-padding                      : $puppet-modal-padding !default;
$puppet-modal-actions-cta-padding                  : $puppet-small 0 $puppet-small 0 !default;

// Panel
// ----------------------------------------------------------------------------
$puppet-panel-bg                                   : $puppet-bg-light !default;
$puppet-panel-bg-secondary                         : $puppet-n50 !default;
$puppet-panel-padding                              : $puppet-medium !default;
$puppet-panel-border                               : $puppet-border !default;
$puppet-panel-border-radius                        : $puppet-border-radius !default;
$puppet-panel-outer-shadow                         : $puppet-outer-shadow !default;

// Preset ranges
// ----------------------------------------------------------------------------
$puppet-date-range-color                           : $puppet-datepicker-selected-bg !default;
$puppet-date-range-border                          : $puppet-datepicker-border-width solid
$puppet-datepicker-border-color !default;
$puppet-date-range-hover-bg                        : $puppet-datepicker-selected-bg !default;
$puppet-date-range-hover-border                    : $puppet-datepicker-border-width solid
$puppet-date-range-hover-bg !default;

// Popover
// ----------------------------------------------------------------------------
$puppet-popover-bg                                 : $puppet-bg-light !default;
$puppet-popover-bg-dark                            : $puppet-bg-dark !default;
$puppet-popover-border                             : $puppet-border !default;
$puppet-popover-border-radius                      : $puppet-border-radius !default;
$puppet-popover-close-color                        : $puppet-n400 !default;
$puppet-popover-shadow                             : $puppet-outer-shadow-large !default;
$puppet-popover-padding                            : $puppet-medium !default;
$puppet-popover-small-width                        : 260px !default;
$puppet-popover-medium-width                       : 300px !default;
$puppet-popover-large-width                        : 400px !default;
$puppet-popover-elevation                          : 24 !default;

// Progress Indicator
// ----------------------------------------------------------------------------
$puppet-progress-color                             : $puppet-action-base !default;
$puppet-progress-animation                         : 400ms !default;

// Removable Components
// ----------------------------------------------------------------------------
$puppet-remove-background                          : $puppet-bg-subtle !default;

// Slide ins
// ----------------------------------------------------------------------------
$puppet-slidein-bg                                 : $puppet-bg-light !default;
$puppet-slidein-border                             : $puppet-border !default;
$puppet-slidein-color                              : $puppet-font-color-base !default;
$puppet-slidein-padding                            : $puppet-small !default;
$puppet-slidein-horizontal-width                   : 330px !default;
$puppet-slidein-vertical-height                    : 330px !default;
$puppet-slidein-actions-border                     : $puppet-border !default;
$puppet-slidein-actions-padding                    : $puppet-small $puppet-large !default;
$puppet-slidein-actions-button-margin              : $puppet-tiny !default;
$puppet-slidein-shadow                             : $puppet-outer-shadow-giant !default;

// Stencils
// ----------------------------------------------------------------------------
$puppet-stencil-bg                                 : $puppet-bg-subtle !default;
$puppet-stencil-height                             : 170px !default;

// Icons
// ----------------------------------------------------------------------------
$puppet-icon-primary-fill                          : $puppet-brand-primary !default;

// Switch
// ----------------------------------------------------------------------------
$puppet-switch-height                              : 21px !default; // Todo: Base on grid
$puppet-switch-width                               : 47px !default; // Todo: Base on grid
$puppet-switch-padding                             : 5px !default; // Todo : Base on grid
$puppet-switch-handle-height                       : $puppet-switch-height -
  ($puppet-switch-padding * 2) !default;

$puppet-switch-on-bg                               : $puppet-action-base !default;
$puppet-switch-on-bg-hover                         : $puppet-action-hover !default;
$puppet-switch-on-text                             : $puppet-font-color-light !default;
$puppet-switch-on-icon-fill                        : $puppet-white !default;
$puppet-switch-on-icon-size                        : 12px !default;

$puppet-switch-off-bg                              : $puppet-action-subtle !default;
$puppet-switch-off-bg-hover                        : $puppet-action-hover-subtle !default;
$puppet-switch-off-text                            : $puppet-font-color-base !default;
$puppet-switch-off-icon-fill                       : $puppet-icon-fill-base;
$puppet-switch-off-icon-fill-hover                 : $puppet-icon-fill-hover;
$puppet-switch-off-icon-size                       : 12px !default;

// Tab variables/options
// ----------------------------------------------------------------------------
$puppet-tab-font-family                            : $puppet-button-font-family !default;
$puppet-tab-font-size                              : $puppet-font-size-small !default;
$puppet-tab-font-weight                            : normal !default;
$puppet-tab-case                                   : uppercase !default;
$puppet-tab-color                                  : $puppet-font-color-subtle !default;
$puppet-tab-color-active                           : $puppet-action-base !default;
$puppet-tab-border                                 : 2px solid $puppet-border-color-subtle !default;
$puppet-tab-border-active                          : 2px solid $puppet-border-color-action-base !default;
$puppet-tab-bg                                     : $puppet-bg-light !default;
$puppet-tab-padding                                : $puppet-small $puppet-large !default;
$puppet-tab-width-vertical                         : 140px !default;
$puppet-tab-panel-padding                          : $puppet-large 0 !default;
$puppet-tab-panel-padding-vertical                 : 0 $puppet-large !default;

// Tables
// ----------------------------------------------------------------------------
$puppet-table-font-size                            : $puppet-font-size-base !default;
$puppet-table-border                               : 1px solid $puppet-n400 !default;
$puppet-table-shadow                               : $puppet-outer-shadow !default;
$puppet-table-header-bg                            : $puppet-n50 !default;
$puppet-table-header-color                         : $puppet-n600 !default;
$puppet-table-border-radius                        : $puppet-border-radius !default;

// Tags
// ----------------------------------------------------------------------------
$puppet-tag-bg                                     : $puppet-bg-subtle !default;
$puppet-tag-border-radius                          : $puppet-border-radius !default;
$puppet-tag-border                                 : 1px solid $puppet-bg-subtle !default;
$puppet-tag-border-selected                        : $puppet-border-action !default;
$puppet-tag-color                                  : $puppet-n600 !default;
$puppet-tag-font-size                              : $puppet-button-font-size !default;
$puppet-tag-font-weight                            : $puppet-button-font-weight !default;
$puppet-tag-height                                 : $puppet-large !default; // Todo: Base on grid
$puppet-tag-line-height                            : $puppet-tag-height !default;
$puppet-tag-margin                                 : $puppet-mini !default;
$puppet-tag-padding                                : $puppet-small !default;
$puppet-tag-shadow-selected                        : $puppet-selected-shadow !default;

$puppet-tag-bg-bold                                : #dfe4e8 !default;
$puppet-tag-color-bold                             : #40484d !default;

$puppet-tag-removable-bg                           : $puppet-action-base !default;
$puppet-tag-removable-bg-hover                     : $puppet-action-hover !default;
$puppet-tag-removable-bg-highlighted               : $puppet-action-hover !default;

$puppet-tag-removable-border                       : 1px solid transparent !default;
$puppet-tag-removable-border-hover                 : 1px solid transparent !default;
$puppet-tag-removable-border-highlighted           : $puppet-border-action !default;

$puppet-tag-removable-icon                         : transparentize($puppet-white, 0.2) !default;
$puppet-tag-removable-icon-hover                   : $puppet-white !default;
$puppet-tag-removable-icon-highlighted             : $puppet-white !default;

$puppet-tag-removable-color                        : $puppet-white !default;
$puppet-tag-removable-color-hover                  : $puppet-white !default;
$puppet-tag-removable-color-highlighted            : $puppet-white !default;


$puppet-tag-icon-spacing                           : $puppet-tiny !default;
$puppet-tag-icon-size                              : $puppet-small !default;
$puppet-tag-icon-fill                              : $puppet-n400 !default;

$puppet-tag-tiny-font-size                         : $puppet-font-size-tiny !default;
$puppet-tag-tiny-height                            : $puppet-medium !default; // Todo: Base on grid
$puppet-tag-tiny-line-height                       : $puppet-tag-tiny-height !default;
$puppet-tag-tiny-padding                           : 0 $puppet-tiny !default;



// Toggle
// ----------------------------------------------------------------------------
$puppet-toggle-bg                                  : $puppet-action-subtle !default;
$puppet-toggle-on-color                            : $puppet-action-base !default;
$puppet-toggle-off-color                           : $puppet-font-color-base !default;

// Tooltip
// ----------------------------------------------------------------------------
$puppet-tooltip-hint-bg                            : rgba($puppet-black, 0.9) !default;
$puppet-tooltip-hint-color                         : $puppet-n400 !default;
$puppet-tooltip-hint-padding                       : $puppet-tiny $puppet-small !default;
$puppet-tooltip-hint-radius                        : $puppet-border-radius !default;
$puppet-tooltip-hint-font-size                     : $puppet-font-size-small !default;
$puppet-tooltip-hint-elevation                     : 24 !default;
$puppet-tooltip-hint-max-width                     : 168px !default;

$puppet-tooltip-hint-close-bg                      : $puppet-black !default;

// Slider
// ----------------------------------------------------------------------------
$puppet-slider-bar                                 : $puppet-n400 !default;
$puppet-slider-bar-active                          : $puppet-b500 !default;
$puppet-slider-bar-height                          : $puppet-tiny !default;
$puppet-slider-handle-size                         : 10px !default;
$puppet-slider-handle-border                       : $puppet-tiny !default;
$puppet-slider-bar-position                        : ($puppet-slider-handle-size - $puppet-slider-bar-height)/2 !default;
$puppet-slider-handle: (
  base: $puppet-action-base,
  hover: $puppet-action-hover,
  active: $puppet-action-base
);


// Header - Top Page Header
// ----------------------------------------------------------------------------
$puppet-header-height                              : 72px !default;
$puppet-header-bg                                  : $puppet-black !default;
$puppet-header-menu-bg                             : $puppet-n900 !default;
$puppet-header-color                               : $puppet-white !default;
$puppet-header-padding                             : 0 $puppet-large !default;
$puppet-header-menu-item-button-bg-hover           : lighten($puppet-header-menu-bg, 10%) !default;

$puppet-header-nav-icon-fill-base                  : $puppet-n200 !default;
$puppet-header-nav-icon-fill-hover                 : $puppet-white !default;
$puppet-header-nav-icon-fill-active                : $puppet-brand-primary !default;
$puppet-header-nav-icon-bg-base                    : transparent !default;
$puppet-header-nav-icon-bg-hover                   : $puppet-n900 !default;
$puppet-header-nav-icon-bg-active                  : $puppet-n900 !default;
$puppet-header-nav-icon-bg-size                    : 40px !default;
$puppet-header-nav-icon-margin                     : 24px !default;

// Pagenav
// ----------------------------------------------------------------------------
$puppet-pagenav-height                             : 64px !default;
$puppet-pagenav-section-padding                    : 0 12px !default;
$puppet-pagenav-action-margin                      : 0 0 0 $puppet-size-base !default;
$puppet-pagenav-border                             : $puppet-border !default;
$puppet-pagenav-border-hover                       : $puppet-border-hover !default;
$puppet-pagenav-border-active                      : $puppet-border-action !default;
$puppet-pagenav-border-width-active                : $puppet-mini !default;
$puppet-pagenav-color                              : $puppet-font-color-medium !default;
$puppet-pagenav-color-hover                        : $puppet-font-color-base !default;
$puppet-pagenav-color-active                       : $puppet-font-color-base !default;
$puppet-pagenav-font-weight                        : $puppet-font-weight-heavy !default;
$puppet-pagenav-font-size                          : $puppet-font-size-small !default;


// Breadcrumb
// ----------------------------------------------------------------------------
$puppet-breadcrumb-spacing                         : $puppet-medium !default;


// Grid
$puppet-grid-gutter                                : $puppet-size-base !default;
$puppet-grid-divider-border                        : 1px solid $puppet-n400;;


// Heading
// ----------------------------------------------------------------------------
$puppet-heading-font-family                        : $puppet-font-family;

$puppet-heading-color                              : $puppet-font-color-base !default;
$puppet-heading-medium-color                       : $puppet-font-color-medium !default;
$puppet-heading-subtle-color                       : $puppet-font-color-subtle !default;

$puppet-heading-hero-font-size                     : 48px !default;
$puppet-heading-hero-line-height                   : 56px !default;
$puppet-heading-hero-font-family                   : $puppet-font-family-heading !default;
$puppet-heading-hero-font-weight                   : $puppet-font-weight-heavy !default;


$puppet-heading-h1-font-size                       : 40px !default;
$puppet-heading-h1-line-height                     : 48px !default;
$puppet-heading-h1-font-family                     : $puppet-font-family-heading !default;
$puppet-heading-h1-font-weight                     : $puppet-font-weight-heavy !default;

$puppet-heading-h2-font-size                       : 32px !default;
$puppet-heading-h2-line-height                     : 40px !default;
$puppet-heading-h2-font-family                     : $puppet-font-family-heading !default;
$puppet-heading-h2-font-weight                     : $puppet-font-weight-heavy !default;

$puppet-heading-h3-font-size                       : 24px !default;
$puppet-heading-h3-line-height                     : 32px !default;
$puppet-heading-h3-font-family                     : $puppet-font-family-heading !default;
$puppet-heading-h3-font-weight                     : $puppet-font-weight-heavy !default;

$puppet-heading-h4-font-size                       : 18px !default;
$puppet-heading-h4-line-height                     : 24px !default;
$puppet-heading-h4-font-family                     : $puppet-font-family-heading !default;
$puppet-heading-h4-font-weight                     : $puppet-font-weight-heavy !default;

$puppet-heading-h5-font-size                       : 14px !default;
$puppet-heading-h5-line-height                     : 20px !default;
$puppet-heading-h5-font-family                     : $puppet-font-family !default;
$puppet-heading-h5-font-weight                     : $puppet-font-weight-heavy !default;

$puppet-heading-h6-font-size                       : 12px !default;
$puppet-heading-h6-line-height                     : 18px !default;
$puppet-heading-h6-font-family                     : $puppet-font-family !default;
$puppet-heading-h6-font-weight                     : $puppet-font-weight-heavy !default;

$puppet-heading-small-title-font-size              : 11px !default;
$puppet-heading-small-title-line-height            : 16px !default;
$puppet-heading-small-title-font-family            : $puppet-font-family-heading !default;
$puppet-heading-small-title-font-weight            : $puppet-font-weight-heavy !default;


/* stylelint-enable */
