$reflect-gray-base:                      #201F1E !default;
$reflect-gray-darker:                    lighten($reflect-gray-base, 19%) !default;
$reflect-gray-dark:                      lighten($reflect-gray-base, 38%) !default;
$reflect-gray:                           lighten($reflect-gray-base, 56%) !default;
$reflect-gray-light:                     lighten($reflect-gray-base, 72%) !default;
$reflect-gray-lighter:                   lighten($reflect-gray-base, 84%) !default;
$reflect-white:                          #fff !default;

$reflect-brand-primary:                  #269CFF !default;
$reflect-brand-danger:                   #d9534f !default;

$reflect-bg-primary:                     $reflect-white !default;
$reflect-bg-subtle:                      $reflect-gray-lighter !default;

// Sizing Defaults
$reflect-size-base:                      10px !default;
$reflect-tiny:                           $reflect-size-base * 0.8 !default;
$reflect-small:                          $reflect-size-base !default;
$reflect-medium:                         $reflect-size-base * 1.6 !default;
$reflect-large:                          $reflect-size-base * 2 !default;
$reflect-huge:                           $reflect-size-base * 4 !default;
$reflect-giant:                          $reflect-size-base * 6 !default;

// Typography
$reflect-font-family:                   'Open Sans', sans-serif !default;

$reflect-font-size-huge:                 22px !default;
$reflect-font-size-large:                18px !default;
$reflect-font-size-base:                 16px !default;
$reflect-font-size-medium:               14px !default;
$reflect-font-size-small:                12px !default;
$reflect-font-size-tiny:                 10px !default;

$reflect-font-weight-heavy:              600 !default;

$reflect-font-color-base:                $reflect-gray-darker !default;
$reflect-font-color-medium:              $reflect-gray-dark !default;
$reflect-font-color-subtle:              $reflect-gray !default;
$reflect-font-color-light:               $reflect-white !default;

//
// Icons
//
$reflect-icon-fill:                       $reflect-gray !default;
$reflect-icon-fill-hover:                 $reflect-gray-dark !default;
$reflect-icon-light:                      $reflect-white !default;

// Action Colors
// Colors used for primary buttons and other action elements
// Text is typically on a bg color - by default it is white text & icons on a blue bg
$reflect-action-color:                   $reflect-brand-primary !default;
$reflect-action-hover:                   darken($reflect-action-color, 10%) !default;
$reflect-action-border:                  transparent !default;
$reflect-action-border-hover:            transparent !default;
$reflect-action-text:                    $reflect-font-color-light !default;
$reflect-action-text-hover:              $reflect-font-color-light !default;
$reflect-action-icon:                    $reflect-icon-light !default;
$reflect-action-icon-hover:              $reflect-icon-light !default;

// Secondary Action Colors
// A more subdued alternative to the primary action
$reflect-action-color-alt:               $reflect-gray-lighter !default;
$reflect-action-hover-alt:               $reflect-gray-light !default;
$reflect-action-border-alt:              $reflect-gray !default;
$reflect-action-border-hover-alt:        $reflect-gray-dark !default;
$reflect-action-text-alt:                $reflect-gray !default;
$reflect-action-text-hover-alt:          $reflect-gray-dark !default;
$reflect-action-icon-alt:                $reflect-gray !default;
$reflect-action-icon-hover-alt:          $reflect-gray-dark !default;

// Disabled Colors
$reflect-disabled-color:                 lighten($reflect-gray, 10%) !default;
$reflect-disabled-hover:                 $reflect-disabled-color !default;
$reflect-disabled-border:                transparent !default;
$reflect-disabled-border-hover:          transparent !default;
$reflect-disabled-text:                  $reflect-gray !default;
$reflect-disabled-text-hover:            $reflect-gray !default;
$reflect-disabled-icon:                  $reflect-gray !default;
$reflect-disabled-icon-hover:            $reflect-gray !default;

// Default Active & Inactive Colors
// Toggles, Checkboxes, etc.
$reflect-active-color: $reflect-action-color;
$reflect-active-color-hover: $reflect-action-hover;
$reflect-inactive-color: $reflect-action-color-alt;
$reflect-inactive-color-hover: $reflect-action-hover-alt;

// Link Colors
// For stand alone links, not buttons
$reflect-anchor-color:                   $reflect-action-color;
$reflect-anchor-hover:                   $reflect-action-hover;

// Danger Colors
// Used to provide a warning for irreversible actions and errors
$reflect-danger-color:                   #d9534f !default;
$reflect-danger-hover:                   darken($reflect-danger-color, 10%) !default;
$reflect-danger-border:                  $reflect-danger-color !default;
$reflect-danger-border-hover:            darken($reflect-danger-color, 10%) !default;

// Borders
$reflect-border-color:                   $reflect-gray-light !default;
$reflect-border-hover-color:             $reflect-gray !default;
$reflect-border-size:                    1px !default;
$reflect-border-style:                   solid !default;
$reflect-border-radius:                  4px !default;
$reflect-circle-radius:                  50% !default;
$reflect-border:                         $reflect-border-size $reflect-border-style $reflect-border-color !default;
$reflect-border-hover:                   $reflect-border-size $reflect-border-style $reflect-border-hover-color !default;
$reflect-border-active:                  $reflect-border-size $reflect-border-style $reflect-action-color !default;
$reflect-border-active-hover:            $reflect-border-size $reflect-border-style $reflect-action-hover !default;
$reflect-border-heavy:                   $reflect-border-size*2 $reflect-border-style $reflect-border-color !default;

// Shadows
$reflect-outer-shadow:                   0 0 1px rgba(0, 0, 0, .05) !default;
$reflect-outer-shadow-large:             0 0 6px rgba(0, 0, 0, .2) !default;
$reflect-outer-shadow-huge:              0 0 10px rgba(0, 0, 0, .08) !default;
$reflect-outer-shadow-giant:             0 0 60px rgba(0, 0, 0, .3) !default;

$reflect-selectable-shadow:              0 0 0 1px $reflect-border-color !default;
$reflect-selectable-shadow-hover:        0 0 0 1px $reflect-border-hover-color !default;
$reflect-selected-shadow:                0 0 0 1px $reflect-action-color !default;
$reflect-selected-shadow-hover:          0 0 0 1px $reflect-action-hover !default;

// Button variables/options
$reflect-button-border-radius:            $reflect-border-radius !default;
$reflect-floating-action-button-height:   $reflect-giant !default;
$reflect-button-badge-size:               $reflect-small !default;
// Button Sizes
$reflect-button-font-family:              'Montserrat', sans-serif !default;
$reflect-button-font-weight:              normal !default;
$reflect-button-text-transform:           uppercase;
$reflect-button-font-size:                $reflect-font-size-small !default;
$reflect-button-height:                   44px !default;
$reflect-button-padding:                  20px !default; //left and right padding

// Tiny Buttons
$reflect-button-tiny-font-size:           $reflect-font-size-tiny !default;
$reflect-button-tiny-height:              22px !default;
$reflect-button-tiny-padding:             $reflect-button-padding / 4 !default;

$reflect-button-small-font-size:          $reflect-font-size-small !default;
$reflect-button-small-height:             33px !default;
$reflect-button-small-padding:            $reflect-button-padding / 2 !default;

$reflect-button-large-font-size:          $reflect-font-size-medium !default;
$reflect-button-large-height:             60px !default;
$reflect-button-large-padding:            $reflect-button-padding * 1.5 !default;

// Primary Buttons
$reflect-button-bg:                       $reflect-action-color !default;
$reflect-button-bg-hover:                 $reflect-action-hover !default;
$reflect-button-color:                    $reflect-action-text !default;
$reflect-button-color-hover:              $reflect-action-text-hover !default;
$reflect-button-icon-color:               $reflect-action-icon !default;
$reflect-button-icon-color-hover:         $reflect-action-icon-hover !default;
$reflect-button-border-color:             $reflect-action-border !default;
$reflect-button-border-color-hover:       $reflect-action-border-hover !default;

// Secondary Buttons
$reflect-button-secondary-bg:                 $reflect-action-color-alt !default;
$reflect-button-secondary-bg-hover:           $reflect-action-hover-alt !default;
$reflect-button-secondary-color:              $reflect-action-text-alt !default;
$reflect-button-secondary-color-hover:        $reflect-action-text-hover-alt !default;
$reflect-button-secondary-icon-color:         $reflect-action-icon-alt !default;
$reflect-button-secondary-icon-color-hover:   $reflect-action-icon-hover-alt !default;
$reflect-button-secondary-border-color:       $reflect-action-border-alt !default;
$reflect-button-secondary-border-color-hover: $reflect-action-border-hover-alt !default;

// Transparent Buttons
$reflect-button-transparent-bg:               transparent !default;
$reflect-button-transparent-bg-hover:         transparent !default;
$reflect-button-transparent-color:            $reflect-gray !default;
$reflect-button-transparent-color-hover:      $reflect-gray-dark !default;
$reflect-button-transparent-icon-color:       $reflect-gray !default;
$reflect-button-transparent-icon-color-hover: $reflect-gray-dark !default;
$reflect-button-transparent-border-color:     transparent !default;
$reflect-button-transparent-border-color-hover: transparent !default;

// Disabled Buttons
$reflect-button-disabled-bg:              $reflect-disabled-color !default;
$reflect-button-disabled-bg-hover:        $reflect-disabled-color !default;
$reflect-button-disabled-color:           $reflect-disabled-text !default;
$reflect-button-disabled-color-hover:     $reflect-disabled-text !default;
$reflect-button-disabled-icon-color:      $reflect-disabled-icon !default;
$reflect-button-disabled-icon-color-hover:$reflect-disabled-icon-hover !default;
$reflect-button-disabled-border-color:    $reflect-disabled-border !default;
$reflect-button-disabled-border-color-hover:$reflect-disabled-border-hover !default;

//
// Switch
//
$reflect-switch-height:                   21px;
$reflect-switch-width:                    47px;
$reflect-switch-padding:                  5px;
$reflect-switch-handle-height:            $reflect-switch-height - ($reflect-switch-padding * 2);

$reflect-switch-on-bg:                    $reflect-active-color !default;
$reflect-switch-on-text:                  $reflect-action-text !default;
$reflect-switch-on-icon-fill:             $reflect-action-icon !default;
$reflect-switch-on-icon-size:             13px;

$reflect-switch-off-bg:                   $reflect-inactive-color !default;
$reflect-switch-off-text:                 $reflect-action-text-alt !default;
$reflect-switch-off-icon-fill:            $reflect-action-icon-alt;
$reflect-switch-off-icon-size:            10px;

//
// Toggle
//
$reflect-toggle-bg:                      $reflect-action-color-alt !default;
$reflect-toggle-on-color:                $reflect-active-color !default;
$reflect-toggle-off-color:               $reflect-font-color-base;

//
// Removable components
//
$reflect-remove-background:               $reflect-bg-subtle !default;

//
// Tags
//
$reflect-tag-font-size:                   $reflect-button-font-size !default;
$reflect-tag-font-weight:                 $reflect-button-font-weight !default;
$reflect-tag-height:                      33px !default;
$reflect-tag-line-height:                 $reflect-tag-height !default;
$reflect-tag-bg:                          $reflect-gray-light !default;
$reflect-tag-color:                       $reflect-font-color-subtle !default;
$reflect-tag-border-radius:               $reflect-border-radius !default;
$reflect-tag-border:                      1px solid $reflect-tag-bg !default;
$reflect-tag-border-selected:             1px solid $reflect-action-color !default;

//
// Tab variables/options
//
$reflect-tab-font-family:                 $reflect-button-font-family !default;
$reflect-tab-font-size:                   $reflect-font-size-small !default;
$reflect-tab-font-weight:                 normal !default;
$reflect-tab-text-transform:              uppercase !default;
$reflect-tab-color:                       $reflect-font-color-subtle !default;
$reflect-tab-color-active:                $reflect-active-color !default;
$reflect-tab-border:                      2px solid $reflect-inactive-color !default;
$reflect-tab-border-active:               2px solid $reflect-active-color !default;
$reflect-tab-bg:                          $reflect-bg-primary !default;
$reflect-tab-padding:                     $reflect-small $reflect-large !default;
$reflect-tab-width-vertical:              140px !default;
$reflect-tab-panel-padding:               $reflect-large 0 !default;
$reflect-tab-panel-padding-vertical:      0 $reflect-large !default;

//
// Loading indicator options
//
$reflect-loading-indicator-fill:          $reflect-gray !default;

//
// Popover
//
$reflect-popover-bg:                      $reflect-bg-primary !default;
$reflect-popover-border:                  none !default;
$reflect-popover-border-radius:           $reflect-border-radius !default;
$reflect-popover-close-color:             $reflect-gray-light !default;
$reflect-popover-shadow:                  $reflect-outer-shadow-large !default;
$reflect-popover-padding:                 $reflect-medium !default;
$reflect-popover-small-width:             260px !default;
$reflect-popover-medium-width:            300px !default;
$reflect-popover-large-width:             400px !default;
$reflect-popover-elevation:               24 !default;

//
// Dropdown
//
$reflect-dropdown-padding:                $reflect-medium !default;
$reflect-dropdown-padding-tiny:           $reflect-small !default;
$reflect-dropdown-max-height:             400px !default;
$reflect-dropdown-width:                  260px !default;
$reflect-dropdown-width-tiny:             180px !default;

$reflect-dropdown-label-font-size:        $reflect-font-size-medium !default;
$reflect-dropdown-label-font-weight:      $reflect-font-weight-heavy !default;
$reflect-dropdown-label-color:            $reflect-action-color !default;
$reflect-dropdown-label-color-error:      $reflect-brand-danger !default;
$reflect-dropdown-label-color-disabled:   $reflect-gray !default;

$reflect-dropdown-chevron-height:         6px !default;
$reflect-dropdown-chevron-width:          10px !default;
$reflect-dropdown-hint-color:             $reflect-gray !default;
$reflect-dropdown-hint-font-size:         $reflect-font-size-medium !default;
$reflect-dropdown-hint-font-size-tiny:    $reflect-font-size-small !default;
$reflect-dropdown-item-font-size:         $reflect-font-size-base !default;
$reflect-dropdown-item-font-size-tiny:    $reflect-font-size-medium !default;
$reflect-dropdown-item-line-height:       $reflect-font-size-base !default;
$reflect-dropdown-item-line-height-tiny:  $reflect-font-size-medium !default;
$reflect-dropdown-item-hover-color:       $reflect-bg-primary !default;
$reflect-dropdown-item-hover-bg:          $reflect-action-hover !default;
$reflect-dropdown-item-selected-color:    $reflect-bg-primary !default;
$reflect-dropdown-item-selected-bg:       $reflect-action-color !default;
$reflect-dropdown-item-disabled-color:    $reflect-bg-primary !default;
$reflect-dropdown-item-disabled-bg:       $reflect-gray-light !default;

//
// Menu
//
$reflect-menu-item-font-size:             $reflect-font-size-base !default;
$reflect-menu-item-font-size-tiny:        $reflect-font-size-medium !default;
$reflect-menu-item-line-height:           $reflect-font-size-base !default;
$reflect-menu-item-line-height-tiny:      $reflect-font-size-medium !default;
$reflect-menu-item-color:                 $reflect-action-color !default;
$reflect-menu-item-bg:                    transparent !default;
$reflect-menu-item-color-hover:           $reflect-bg-primary !default;
$reflect-menu-item-bg-hover:              $reflect-action-hover !default;
$reflect-menu-item-color-selected:        $reflect-bg-primary !default;
$reflect-menu-item-bg-selected:           $reflect-action-color !default;
$reflect-menu-item-color-disabled:        $reflect-bg-primary !default;
$reflect-menu-item-bg-disabled:           $reflect-gray-light !default;
$reflect-menu-item-padding:               12px 16px !default;

$reflect-menu-section-border:             $reflect-border !default;
$reflect-menu-section-padding:            $reflect-medium !default;

$reflect-menu-header-border:              $reflect-border !default;
$reflect-menu-header-padding:             12px $reflect-medium !default;
$reflect-menu-title-font-size:            $reflect-font-size-medium !default;
$reflect-menu-title-color:                $reflect-font-color-subtle !default;

//
// Cards
//
$reflect-card-padding:                    20px;

$reflect-card-color:                      $reflect-font-color-subtle !default;
$reflect-card-title-size:                 $reflect-font-size-large !default;
$reflect-card-title-color:                $reflect-font-color-subtle !default;
$reflect-card-subtitle-size:              $reflect-font-size-small !default;
$reflect-card-subtitle-color:             $reflect-font-color-subtle !default;

$reflect-card-bg:                         $reflect-bg-primary !default;

$reflect-card-border:                     $reflect-border !default;
$reflect-card-border-hover:               $reflect-border-hover !default;
$reflect-card-border-radius:              $reflect-border-radius !default;
$reflect-card-shadow-hover:               $reflect-selectable-shadow-hover !default;

$reflect-card-border-selected:            $reflect-border-active !default;
$reflect-card-border-selected-hover:      $reflect-border-active-hover !default;
$reflect-card-shadow-selected:            $reflect-selected-shadow !default;
$reflect-card-shadow-selected-hover:      $reflect-selected-shadow-hover !default;




//
// Input
//
$reflect-input-border-radius:            $reflect-border-radius;
$reflect-input-border-error:             1px solid $reflect-danger-color;

//
// List Item
//

$reflect-list-item-bg:                    $reflect-bg-primary !default;
$reflect-list-item-bg-hover:              $reflect-gray-lighter !default;
$reflect-list-item-color:                 $reflect-gray !default;
$reflect-list-item-color-hover:           $reflect-gray-dark !default;
$reflect-list-item-border:                $reflect-border !default;
$reflect-list-item-border-selected:       $reflect-border-active !default;
$reflect-list-item-border-radius:         $reflect-border-radius !default;
$reflect-list-item-font-size:             $reflect-font-size-medium !default;
$reflect-list-item-padding:               6px 12px !default;
$reflect-list-item-margin-bottom:         10px !default;
$reflect-list-item-icon-top:              2px !default;
$reflect-list-item-icon-height:           16px !default;
$reflect-list-item-action-width:          30px !default;

//
// Modal
//
$reflect-modal-bg:                        $reflect-bg-primary !default;
$reflect-modal-color:                     $reflect-font-color-base !default;
$reflect-modal-border-radius:             10px !default;
$reflect-modal-overlay-bg:                rgba(255, 255, 255, 0.8) !default;
$reflect-modal-width:                     1200px !default;
$reflect-modal-width-small:               400px !default;
$reflect-modal-width-medium:              580px !default;
$reflect-modal-title-padding:             40px 80px !default;
$reflect-modal-title-border:              $reflect-border !default;
$reflect-modal-sidebar-bg:                #f6f6f6 !default;
$reflect-modal-sidebar-width:             300px !default;
$reflect-modal-sidebar-padding:           40px !default;
$reflect-modal-actions-border:            $reflect-border !default;
$reflect-modal-actions-padding:           20px 30px !default;
$reflect-modal-actions-cta-padding:       $reflect-small 0 $reflect-small 0 !default;
$reflect-modal-elevation:                 24 !default;
$reflect-modal-padding:                   $reflect-huge !default;
$reflect-modal-shadow:                    $reflect-outer-shadow-giant !default;

//
// Tables
//

$reflect-table-font-size:               $reflect-font-size-medium !default;
$reflect-table-border:                  1px solid $reflect-gray-light !default;
$reflect-table-shadow:                  $reflect-outer-shadow !default;
$reflect-table-header-bg:               $reflect-gray-lighter !default;
$reflect-table-header-color:            $reflect-gray !default;
$reflect-table-border-radius:           $reflect-border-radius !default;

//
// Progress Indicator
//
$reflect-progress-color:               $reflect-action-color !default;
$reflect-progress-animation:           400ms !default;

//
// Tooltip
//
$reflect-tooltip-bg:                  rgba(0, 0, 0, .75);
$reflect-tooltip-color:               $reflect-gray-light;
$reflect-tooltip-padding:             5px 15px;
$reflect-tooltip-radius:              $reflect-border-radius;
$reflect-tooltip-font-size:           $reflect-font-size-medium;
$reflect-tooltip-elevation:           24;

//
// Slide ins
//
$reflect-slidein-bg:                      $reflect-bg-primary !default;
$reflect-slidein-color:                   $reflect-font-color-base !default;
$reflect-slidein-padding:                 $reflect-small 12px !default;
$reflect-slidein-horizontal-width:        330px !default;
$reflect-slidein-vertical-height:         330px !default;
$reflect-slidein-actions-border:          $reflect-border !default;
$reflect-slidein-actions-padding:         $reflect-small $reflect-large !default;
$reflect-slidein-actions-button-margin:   7px !default;
$reflect-slidein-shadow:                  $reflect-outer-shadow-giant !default;

//
// Accordions
//
$reflect-accordion-item-title-font-family:     $reflect-button-font-family !default;
$reflect-accordion-item-title-font-size:       $reflect-font-size-medium !default;
$reflect-accordion-item-title-color:           $reflect-font-color-medium !default;
$reflect-accordion-item-title-hover:           $reflect-font-color-base !default;
$reflect-accordion-item-title-bg-color:        $reflect-bg-subtle !default;
$reflect-accordion-item-title-border:          $reflect-border !default;
$reflect-accordion-item-title-padding:         9px 16px 11px !default;
$reflect-accordion-item-title-text-transform:  auto !default;
$reflect-accordion-item-content-padding:       $reflect-large 16px !default;
$reflect-accordion-icon-color:                 $reflect-icon-fill !default;
$reflect-accordion-icon-color-hover:           $reflect-icon-fill-hover !default;


//
// Select
//
$reflect-select-item-background:               lighten($reflect-action-color, 10%) !default;
$reflect-select-item-border:                   $reflect-action-color !default;

// These are for the beginning of us building our own selects
$reflect-select-label-font-size:               $reflect-font-size-small !default;
$reflect-select-label-padding:                 6px 7px !default;
$reflect-select-label-bg:                      $reflect-gray-light !default;
$reflect-select-label-border:                  $reflect-border !default;
$reflect-select-label-border-radius:           $reflect-border-radius !default;

//
// Blank Slates
//

$reflect-blank-slate-font-size:                $reflect-font-size-huge !default;
$reflect-blank-slate-font-color:               $reflect-font-color-subtle !default;
$reflect-blank-slate-font-weight:              normal;
$reflect-blank-slate-bg:                       $reflect-bg-primary !default;
$reflect-blank-slate-icon-color:               $reflect-action-color !default;
$reflect-blank-slate-shadow:                   $reflect-outer-shadow-huge !default;
$reflect-blank-slate-radius:                   $reflect-circle-radius !default;
$reflect-blank-slate-size:                     100px;
$reflect-blank-slate-max-width:                500px;

//
// Panel
//

$reflect-panel-bg:                             $reflect-bg-primary !default;
$reflect-panel-bg-secondary:                   $reflect-gray-lighter !default;
$reflect-panel-padding:                        $reflect-medium !default;
$reflect-panel-border:                         $reflect-border !default;
$reflect-panel-border-radius:                  $reflect-border-radius !default;
$reflect-panel-outer-shadow:                   $reflect-outer-shadow !default;

//
// Forms
//
$reflect-form-label-font-size:                $reflect-font-size-medium !default;
$reflect-form-label-margin-bottom:            6px !default;
$reflect-form-label-text-transform:           none !default;
$reflect-form-label-color:                    $reflect-font-color-subtle !default;

//
// Datepicker
//
$reflect-datepicker-button-border-color:      $reflect-button-secondary-border-color !default;

$reflect-datepicker-bg:                       $reflect-bg-primary !default;
$reflect-datepicker-radius:                   $reflect-border-radius !default;
$reflect-datepicker-border-color:             $reflect-border-color !default;
$reflect-datepicker-font-color:               $reflect-font-color-base !default;
$reflect-datepicker-font-color-highlighted:   $reflect-datepicker-font-color !default;

$reflect-datepicker-month-color:              $reflect-font-color-medium !default;
$reflect-datepicker-month-font-weight:        $reflect-font-weight-heavy !default;
$reflect-datepicker-weekday-color:            $reflect-font-color-medium !default;
$reflect-datepicker-weekday-font-weight:      $reflect-font-weight-heavy !default;

$reflect-datepicker-selected-bg:              $reflect-action-color !default;
$reflect-datepicker-font-color-selected:      $reflect-font-color-light !default;

// Preset ranges
$reflect-date-range-color:                    $reflect-action-color !default;
$reflect-date-range-border:                   1px solid $reflect-bg-primary !default;
$reflect-date-range-hover-bg:                 $reflect-action-color !default;
$reflect-date-range-hover-border:             1px solid $reflect-action-color !default;
