@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('#{$puppet-common-font-path}/OpenSans-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('#{$puppet-common-font-path}/OpenSans-RegularItalic.woff2')
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('#{$puppet-common-font-path}/OpenSans-Semibold.woff2')
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('#{$puppet-common-font-path}/OpenSans-SemiboldItalic.woff2')
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('#{$puppet-common-font-path}/OpenSans-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('#{$puppet-common-font-path}/OpenSans-BoldItalic.woff2')
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: Calibre;
  font-style: normal;
  font-weight: 600;
  src: url('#{$puppet-common-font-path}/CalibreWeb-Semibold.woff2')
      format('woff2'),
    url('#{$puppet-common-font-path}/CalibreWeb-Semibold.woff') format('woff');
}
@font-face {
  font-family: Calibre;
  font-style: italic;
  font-weight: 600;
  src: url('#{$puppet-common-font-path}/CalibreWeb-SemiboldItalic.woff2')
      format('woff2'),
    url('#{$puppet-common-font-path}/CalibreWeb-SemiboldItalic.woff')
      format('woff');
}

@font-face {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: 400;
  src: url('#{$puppet-common-font-path}/Inconsolata-Regular.woff2')
      format('woff2'),
    url('#{$puppet-common-font-path}/Inconsolata-Regular.woff') format('woff');
}

@font-face {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: 700;
  src: url('#{$puppet-common-font-path}/Inconsolata-Bold.woff2') format('woff2'),
    url('#{$puppet-common-font-path}/Inconsolata-Bold.woff') format('woff');
}
