// This file contains our base color palettes. These variables are considered
// stable for use in consuming apps

// Branding
$puppet-amber: #ffae1a !default;
$puppet-teal: #11d1c4 !default;
$puppet-purple: #a263ff !default;
$puppet-red: #f2654b !default;

// Primary Color
$puppet-brand-primary: $puppet-amber !default;
$puppet-brand-secondary: $puppet-teal !default;

// Neutrals
$puppet-black: #04080a !default;
$puppet-n950: #111314 !default;
$puppet-n900: #222629 !default;
$puppet-n850: #33393d !default;
$puppet-n800: #454c52 !default;
$puppet-n700: #5d6f7a !default;
$puppet-n600: #818f99 !default;
$puppet-n500: #b0b9bf !default;
$puppet-n400: #ccd4d9 !default;
$puppet-n300: #e4e9ed !default;
$puppet-n200: #edf0f2 !default;
$puppet-n100: #f2f5f7 !default;
$puppet-n50: #f5f8fa !default;
$puppet-white: #fff !default;

// Blues
$puppet-b900: #021e3d !default;
$puppet-b800: #032852 !default;
$puppet-b700: #053c7a !default;
$puppet-b600: #0750a3 !default;
$puppet-b500: #186ccc !default;
$puppet-b400: #318cf5 !default;
$puppet-b300: #58a1f5 !default;
$puppet-b200: #99c9ff !default;
$puppet-b100: #d6e9ff !default;
$puppet-b50: #f5f9ff !default;

// Reds
$puppet-r900: #3d0b02 !default;
$puppet-r800: #520f03 !default;
$puppet-r700: #7a1705 !default;
$puppet-r600: #a31e07 !default;
$puppet-r500: #c43118 !default;
$puppet-r400: #f54e31 !default;
$puppet-r300: #f57058 !default;
$puppet-r200: #ffa899 !default;
$puppet-r100: #ffdcd6 !default;
$puppet-r50: #fff6f5 !default;

// Yellows
$puppet-y900: #000000 !default;
$puppet-y800: #000000 !default;
$puppet-y700: #8C6718 !default;
$puppet-y600: #DB9F1F !default;
$puppet-y500: #FEC650 !default;
$puppet-y400: #FFCE5A !default;
$puppet-y300: #FFD967 !default;
$puppet-y200: #FFE070 !default;
$puppet-y100: #FFF4CC !default;
$puppet-y50: #fffbf5 !default;

// Greens
$puppet-g900: #023d1a !default;
$puppet-g800: #035223 !default;
$puppet-g700: #057a34 !default;
$puppet-g600: #07a345 !default;
$puppet-g500: #18cc60 !default;
$puppet-g400: #6EE89E !default;
$puppet-g300: #93f5ba !default;
$puppet-g200: #adffce !default;
$puppet-g100: #d6ffe7 !default;
$puppet-g50: #f5fff9 !default;

// Purples
$puppet-p900: #1a023d !default;
$puppet-p800: #2a1052 !default;
$puppet-p700: #40187a !default;
$puppet-p600: #5521a3 !default;
$puppet-p500: #7439cc !default;
$puppet-p400: #a36cf5 !default;
$puppet-p300: #c6a6f5 !default;
$puppet-p200: #dac2ff !default;
$puppet-p100: #e7d6ff !default;
$puppet-p50: #f9f5ff !default;

// Teals
$puppet-t900: #1a023d !default;
$puppet-t800: #03524c !default;
$puppet-t700: #057a73 !default;
$puppet-t600: #07a399 !default;
$puppet-t500: #18ccc0 !default;
$puppet-t400: #45f5e9 !default;
$puppet-t300: #93f5ee !default;
$puppet-t200: #adfffa !default;
$puppet-t100: #d6fffc !default;
$puppet-t50: #f5fffe !default;
