/* stylelint-disable scss/dollar-variable-pattern */
// This file contains our base color palettes. These variables are considered
// stable for use in consuming apps

// Force DS

// Primitive

$Colors__Base__Black: #000;
$Colors__Base__White: #fff;
$Colors__Base__Transparent: rgba(255, 255, 255, 0.01);
$Colors__Neutral__Grey2: #050508;
$Colors__Neutral__Grey4: #0a0a0d;
$Colors__Neutral__Grey6: #0f0f13;
$Colors__Neutral__Grey8: #141419;
$Colors__Neutral__Grey10: #1a1a1f;
$Colors__Neutral__Grey12: #1f1f25;
$Colors__Neutral__Grey14: #24242b;
$Colors__Neutral__Grey16: #292930;
$Colors__Neutral__Grey18: #2e2e35;
$Colors__Neutral__Grey20: #33333a;
$Colors__Neutral__Grey22: #38383f;
$Colors__Neutral__Grey24: #3d3d45;
$Colors__Neutral__Grey26: #42424b;
$Colors__Neutral__Grey28: #474750;
$Colors__Neutral__Grey30: #4c4c56;
$Colors__Neutral__Grey32: #51515c;
$Colors__Neutral__Grey34: #565661;
$Colors__Neutral__Grey36: #5b5b67;
$Colors__Neutral__Grey38: #60606d;
$Colors__Neutral__Grey40: #656572;
$Colors__Neutral__Grey42: #6a6a78;
$Colors__Neutral__Grey44: #6f6f7e;
$Colors__Neutral__Grey46: #747484;
$Colors__Neutral__Grey48: #79798a;
$Colors__Neutral__Grey50: #7e7e90;
$Colors__Neutral__Grey52: #838395;
$Colors__Neutral__Grey54: #88889a;
$Colors__Neutral__Grey56: #8d8d9f;
$Colors__Neutral__Grey58: #9292a4;
$Colors__Neutral__Grey60: #9797a8;
$Colors__Neutral__Grey62: #9b9bad;
$Colors__Neutral__Grey64: #a0a0b1;
$Colors__Neutral__Grey66: #a5a5b5;
$Colors__Neutral__Grey68: #aaaab9;
$Colors__Neutral__Grey70: #afafbd;
$Colors__Neutral__Grey72: #b4b4c1;
$Colors__Neutral__Grey74: #b9b9c5;
$Colors__Neutral__Grey76: #bebec9;
$Colors__Neutral__Grey78: #c3c3cd;
$Colors__Neutral__Grey80: #c8c8d0;
$Colors__Neutral__Grey82: #cdcdd4;
$Colors__Neutral__Grey84: #d2d2d7;
$Colors__Neutral__Grey86: #dadadf;
$Colors__Neutral__Grey88: #dfdfe4;
$Colors__Neutral__Grey90: #e4e4e9;
$Colors__Neutral__Grey92: #e9e9ee;
$Colors__Neutral__Grey94: #eeeef3;
$Colors__Neutral__Grey96: #f3f3f8;
$Colors__Neutral__Grey98: #f8f8fd;
$Colors__Alpha__White__0: rgba(255, 255, 255, 0);
$Colors__Alpha__White__5: rgba(255, 255, 255, 0.05);
$Colors__Alpha__White__10: rgba(255, 255, 255, 0.1);
$Colors__Alpha__White__20: rgba(255, 255, 255, 0.2);
$Colors__Alpha__White__30: rgba(255, 255, 255, 0.3);
$Colors__Alpha__White__40: rgba(255, 255, 255, 0.4);
$Colors__Alpha__White__50: rgba(255, 255, 255, 0.5);
$Colors__Alpha__White__60: rgba(255, 255, 255, 0.6);
$Colors__Alpha__White__70: rgba(255, 255, 255, 0.7);
$Colors__Alpha__White__80: rgba(255, 255, 255, 0.8);
$Colors__Alpha__White__90: rgba(255, 255, 255, 0.9);
$Colors__Alpha__Black__0: rgba(0, 0, 0, 0);
$Colors__Alpha__Black__5: rgba(0, 0, 0, 0.05);
$Colors__Alpha__Black__10: rgba(0, 0, 0, 0.1);
$Colors__Alpha__Black__20: rgba(0, 0, 0, 0.2);
$Colors__Alpha__Black__30: rgba(0, 0, 0, 0.3);
$Colors__Alpha__Black__40: rgba(0, 0, 0, 0.4);
$Colors__Alpha__Black__50: rgba(0, 0, 0, 0.5);
$Colors__Alpha__Black__60: rgba(0, 0, 0, 0.6);
$Colors__Alpha__Black__70: rgba(0, 0, 0, 0.7);
$Colors__Alpha__Black__80: rgba(0, 0, 0, 0.8);
$Colors__Alpha__Black__90: rgba(0, 0, 0, 0.9);
$Colors__Alpha__Gray__5: rgba(0, 0, 42, 0.05);
$Colors__Alpha__Gray__10: rgba(0, 0, 42, 0.1);
$Colors__Alpha__Gray__20: rgba(0, 0, 42, 0.2);
$Colors__Alpha__Gray__30: rgba(0, 0, 42, 0.3);
$Colors__Alpha__Gray__40: rgba(0, 0, 42, 0.4);
$Colors__Alpha__Gray__50: rgba(0, 0, 42, 0.5);
$Colors__Alpha__Gray__60: rgba(0, 0, 42, 0.6);
$Colors__Alpha__Gray__70: rgba(0, 0, 42, 0.7);
$Colors__Alpha__Gray__80: rgba(0, 0, 42, 0.8);
$Colors__Alpha__Gray__90: rgba(0, 0, 42, 0.9);
$Colors__Shared__Darkred__Shade50: #190307;
$Colors__Shared__Darkred__Shade40: #2d040c;
$Colors__Shared__Darkred__Shade30: #4d0915;
$Colors__Shared__Darkred__Shade20: #64101c;
$Colors__Shared__Darkred__Shade10: #76121f;
$Colors__Shared__Darkred__Primary: #831522;
$Colors__Shared__Darkred__Tint10: #972233;
$Colors__Shared__Darkred__Tint20: #a83847;
$Colors__Shared__Darkred__Tint30: #bf5867;
$Colors__Shared__Darkred__Tint40: #e4a1ac;
$Colors__Shared__Darkred__Tint50: #f2cdd4;
$Colors__Shared__Darkred__Tint60: #fcf3f5;
$Colors__Shared__Burgundy__Shade50: #20070a;
$Colors__Shared__Burgundy__Shade40: #3a0e11;
$Colors__Shared__Burgundy__Shade30: #66181d;
$Colors__Shared__Burgundy__Shade20: #871f24;
$Colors__Shared__Burgundy__Shade10: #9f242b;
$Colors__Shared__Burgundy__Primary: #b02930;
$Colors__Shared__Burgundy__Tint10: #bc3e44;
$Colors__Shared__Burgundy__Tint20: #c95258;
$Colors__Shared__Burgundy__Tint30: #d77176;
$Colors__Shared__Burgundy__Tint40: #edb8bb;
$Colors__Shared__Burgundy__Tint50: #f5d9da;
$Colors__Shared__Burgundy__Tint60: #fcf6f6;
$Colors__Shared__Cranberry__Shade50: #270307;
$Colors__Shared__Cranberry__Shade40: #46070c;
$Colors__Shared__Cranberry__Shade30: #7a0a15;
$Colors__Shared__Cranberry__Shade20: #a30e1c;
$Colors__Shared__Cranberry__Shade10: #be111f;
$Colors__Shared__Cranberry__Primary: #d11323;
$Colors__Shared__Cranberry__Tint10: #d92c3b;
$Colors__Shared__Cranberry__Tint20: #e24752;
$Colors__Shared__Cranberry__Tint30: #eb6b72;
$Colors__Shared__Cranberry__Tint40: #f2b3b8;
$Colors__Shared__Cranberry__Tint50: #f8d6da;
$Colors__Shared__Cranberry__Tint60: #fdf5f6;
$Colors__Shared__Red__Shade50: #280a0b;
$Colors__Shared__Red__Shade40: #491416;
$Colors__Shared__Red__Shade30: #802225;
$Colors__Shared__Red__Shade20: #aa2e32;
$Colors__Shared__Red__Shade10: #c73539;
$Colors__Shared__Red__Primary: #dd3b40;
$Colors__Shared__Red__Tint10: #e25256;
$Colors__Shared__Red__Tint20: #e86a6d;
$Colors__Shared__Red__Tint30: #ee898c;
$Colors__Shared__Red__Tint40: #f5c3c5;
$Colors__Shared__Red__Tint50: #fadfe0;
$Colors__Shared__Red__Tint60: #fdf7f7;
$Colors__Shared__Darkorange__Shade50: #300d00;
$Colors__Shared__Darkorange__Shade40: #561a00;
$Colors__Shared__Darkorange__Shade30: #902d03;
$Colors__Shared__Darkorange__Shade20: #bf3a03;
$Colors__Shared__Darkorange__Shade10: #dd4203;
$Colors__Shared__Darkorange__Primary: #f14803;
$Colors__Shared__Darkorange__Tint10: #f66022;
$Colors__Shared__Darkorange__Tint20: #fb7940;
$Colors__Shared__Darkorange__Tint30: #ff9a6a;
$Colors__Shared__Darkorange__Tint40: #fbcdbd;
$Colors__Shared__Darkorange__Tint50: #fde6de;
$Colors__Shared__Darkorange__Tint60: #fdf8f6;
$Colors__Shared__Bronze__Shade50: #220d03;
$Colors__Shared__Bronze__Shade40: #3d1907;
$Colors__Shared__Bronze__Shade30: #6e2e0c;
$Colors__Shared__Bronze__Shade20: #9b4310;
$Colors__Shared__Bronze__Shade10: #b95113;
$Colors__Shared__Bronze__Primary: #cf5d16;
$Colors__Shared__Bronze__Tint10: #e3742c;
$Colors__Shared__Bronze__Tint20: #f88f47;
$Colors__Shared__Bronze__Tint30: #ffaa64;
$Colors__Shared__Bronze__Tint40: #ffd0a0;
$Colors__Shared__Bronze__Tint50: #ffe6ce;
$Colors__Shared__Bronze__Tint60: #fffaf8;
$Colors__Shared__Pumpkin__Shade50: #270f05;
$Colors__Shared__Pumpkin__Shade40: #4a1d09;
$Colors__Shared__Pumpkin__Shade30: #8a370e;
$Colors__Shared__Pumpkin__Shade20: #b44d13;
$Colors__Shared__Pumpkin__Shade10: #d25d19;
$Colors__Shared__Pumpkin__Primary: #e87023;
$Colors__Shared__Pumpkin__Tint10: #ed8540;
$Colors__Shared__Pumpkin__Tint20: #f39a59;
$Colors__Shared__Pumpkin__Tint30: #f9b581;
$Colors__Shared__Pumpkin__Tint40: #fca;
$Colors__Shared__Pumpkin__Tint50: #ffe5d2;
$Colors__Shared__Pumpkin__Tint60: #fffaf8;
$Colors__Shared__Orange__Shade50: #2d1103;
$Colors__Shared__Orange__Shade40: #512105;
$Colors__Shared__Orange__Shade30: #943c08;
$Colors__Shared__Orange__Shade20: #c14f0a;
$Colors__Shared__Orange__Shade10: #e25d0c;
$Colors__Shared__Orange__Primary: #ff680e;
$Colors__Shared__Orange__Tint10: #fa7b2d;
$Colors__Shared__Orange__Tint20: #fb904b;
$Colors__Shared__Orange__Tint30: #fca771;
$Colors__Shared__Orange__Tint40: #ffd4ba;
$Colors__Shared__Orange__Tint50: #fee9dc;
$Colors__Shared__Orange__Tint60: #fffbf7;
$Colors__Shared__Peach__Shade50: #2f1800;
$Colors__Shared__Peach__Shade40: #533000;
$Colors__Shared__Peach__Shade30: #995400;
$Colors__Shared__Peach__Shade20: #cc7000;
$Colors__Shared__Peach__Shade10: #f18400;
$Colors__Shared__Peach__Primary: #ff9300;
$Colors__Shared__Peach__Tint10: #ffa12a;
$Colors__Shared__Peach__Tint20: #ffaf48;
$Colors__Shared__Peach__Tint30: #ffc272;
$Colors__Shared__Peach__Tint40: #ffe0bb;
$Colors__Shared__Peach__Tint50: #ffefd9;
$Colors__Shared__Peach__Tint60: #fffbf7;
$Colors__Shared__Marigold__Shade50: #2a1d00;
$Colors__Shared__Marigold__Shade40: #4d3600;
$Colors__Shared__Marigold__Shade30: #8d6100;
$Colors__Shared__Marigold__Shade20: #bc8300;
$Colors__Shared__Marigold__Shade10: #dd9a00;
$Colors__Shared__Marigold__Primary: #f2aa00;
$Colors__Shared__Marigold__Tint10: #f4b51f;
$Colors__Shared__Marigold__Tint20: #f6c03d;
$Colors__Shared__Marigold__Tint30: #f8ce67;
$Colors__Shared__Marigold__Tint40: #fce6b5;
$Colors__Shared__Marigold__Tint50: #fdf2d8;
$Colors__Shared__Marigold__Tint60: #fefcf6;
$Colors__Shared__Yellow__Shade50: #2e2900;
$Colors__Shared__Yellow__Shade40: #524b00;
$Colors__Shared__Yellow__Shade30: #897a00;
$Colors__Shared__Yellow__Shade20: #c9b600;
$Colors__Shared__Yellow__Shade10: #e9d400;
$Colors__Shared__Yellow__Primary: #ffe700;
$Colors__Shared__Yellow__Tint10: #ffe92a;
$Colors__Shared__Yellow__Tint20: #ffed49;
$Colors__Shared__Yellow__Tint30: #fff16f;
$Colors__Shared__Yellow__Tint40: #fff9b8;
$Colors__Shared__Yellow__Tint50: #fffcdc;
$Colors__Shared__Yellow__Tint60: #fffff7;
$Colors__Shared__Gold__Shade50: #241e00;
$Colors__Shared__Gold__Shade40: #403500;
$Colors__Shared__Gold__Shade30: #755d00;
$Colors__Shared__Gold__Shade20: #9d7e00;
$Colors__Shared__Gold__Shade10: #b99400;
$Colors__Shared__Gold__Primary: #cda400;
$Colors__Shared__Gold__Tint10: #d4af1d;
$Colors__Shared__Gold__Tint20: #dcba38;
$Colors__Shared__Gold__Tint30: #e5c95e;
$Colors__Shared__Gold__Tint40: #f3e1aa;
$Colors__Shared__Gold__Tint50: #f9efd1;
$Colors__Shared__Gold__Tint60: #fefcf4;
$Colors__Shared__Brass__Shade50: #1d1503;
$Colors__Shared__Brass__Shade40: #342603;
$Colors__Shared__Brass__Shade30: #5c4307;
$Colors__Shared__Brass__Shade20: #7c5a09;
$Colors__Shared__Brass__Shade10: #916a0b;
$Colors__Shared__Brass__Primary: #a1770c;
$Colors__Shared__Brass__Tint10: #ad8621;
$Colors__Shared__Brass__Tint20: #ba9538;
$Colors__Shared__Brass__Tint30: #cbaa5b;
$Colors__Shared__Brass__Tint40: #e5d4a8;
$Colors__Shared__Brass__Tint50: #f2e8d1;
$Colors__Shared__Brass__Tint60: #fcfaf4;
$Colors__Shared__Brown__Shade50: #1c1108;
$Colors__Shared__Brown__Shade40: #311e10;
$Colors__Shared__Brown__Shade30: #57351d;
$Colors__Shared__Brown__Shade20: #744726;
$Colors__Shared__Brown__Shade10: #89532c;
$Colors__Shared__Brown__Primary: #975d31;
$Colors__Shared__Brown__Tint10: #a76d44;
$Colors__Shared__Brown__Tint20: #b57e58;
$Colors__Shared__Brown__Tint30: #c99876;
$Colors__Shared__Brown__Tint40: #e0c7b4;
$Colors__Shared__Brown__Tint50: #efe0d6;
$Colors__Shared__Brown__Tint60: #fcf9f6;
$Colors__Shared__Darkbrown__Shade50: #0e0805;
$Colors__Shared__Darkbrown__Shade40: #1b0e09;
$Colors__Shared__Darkbrown__Shade30: #301a12;
$Colors__Shared__Darkbrown__Shade20: #412217;
$Colors__Shared__Darkbrown__Shade10: #4d291b;
$Colors__Shared__Darkbrown__Primary: #562e1e;
$Colors__Shared__Darkbrown__Tint10: #6b4030;
$Colors__Shared__Darkbrown__Tint20: #825345;
$Colors__Shared__Darkbrown__Tint30: #9e7163;
$Colors__Shared__Darkbrown__Tint40: #d1b4a9;
$Colors__Shared__Darkbrown__Tint50: #e8d7d1;
$Colors__Shared__Darkbrown__Tint60: #fbf5f4;
$Colors__Shared__Lime__Shade50: #151f07;
$Colors__Shared__Lime__Shade40: #28380c;
$Colors__Shared__Lime__Shade30: #476917;
$Colors__Shared__Lime__Shade20: #5f8d1e;
$Colors__Shared__Lime__Shade10: #71a423;
$Colors__Shared__Lime__Primary: #7db627;
$Colors__Shared__Lime__Tint10: #8cc03c;
$Colors__Shared__Lime__Tint20: #9cc950;
$Colors__Shared__Lime__Tint30: #b0d572;
$Colors__Shared__Lime__Tint40: #d6ebb5;
$Colors__Shared__Lime__Tint50: #eaf5d8;
$Colors__Shared__Lime__Tint60: #fafdf6;
$Colors__Shared__Forest__Shade50: #0e1802;
$Colors__Shared__Forest__Shade40: #1a2c03;
$Colors__Shared__Forest__Shade30: #2e4f04;
$Colors__Shared__Forest__Shade20: #3d6a05;
$Colors__Shared__Forest__Shade10: #498005;
$Colors__Shared__Forest__Primary: #518d06;
$Colors__Shared__Forest__Tint10: #619c18;
$Colors__Shared__Forest__Tint20: #74ac2e;
$Colors__Shared__Forest__Tint30: #8fc14f;
$Colors__Shared__Forest__Tint40: #c4dea0;
$Colors__Shared__Forest__Tint50: #e0eed0;
$Colors__Shared__Forest__Tint60: #f8fcf2;
$Colors__Shared__Seafoam__Shade50: #002616;
$Colors__Shared__Seafoam__Shade40: #004924;
$Colors__Shared__Seafoam__Shade30: #008244;
$Colors__Shared__Seafoam__Shade20: #00ad5b;
$Colors__Shared__Seafoam__Shade10: #00ca69;
$Colors__Shared__Seafoam__Primary: #00de74;
$Colors__Shared__Seafoam__Tint10: #1fe485;
$Colors__Shared__Seafoam__Tint20: #3dea96;
$Colors__Shared__Seafoam__Tint30: #63f2ad;
$Colors__Shared__Seafoam__Tint40: #adf5d1;
$Colors__Shared__Seafoam__Tint50: #d3fae7;
$Colors__Shared__Seafoam__Tint60: #f5fdf9;
$Colors__Shared__Lightgreen__Shade50: #041f03;
$Colors__Shared__Lightgreen__Shade40: #073705;
$Colors__Shared__Lightgreen__Shade30: #0d6309;
$Colors__Shared__Lightgreen__Shade20: #10850c;
$Colors__Shared__Lightgreen__Shade10: #149e0f;
$Colors__Shared__Lightgreen__Primary: #16af10;
$Colors__Shared__Lightgreen__Tint10: #2bbb25;
$Colors__Shared__Lightgreen__Tint20: #41c53c;
$Colors__Shared__Lightgreen__Tint30: #63d45e;
$Colors__Shared__Lightgreen__Tint40: #abe7aa;
$Colors__Shared__Lightgreen__Tint50: #d2f3d1;
$Colors__Shared__Lightgreen__Tint60: #f4fcf4;
$Colors__Shared__Green__Shade50: #041804;
$Colors__Shared__Green__Shade40: #072c07;
$Colors__Shared__Green__Shade30: #0c4c0c;
$Colors__Shared__Green__Shade20: #0f660f;
$Colors__Shared__Green__Shade10: #117911;
$Colors__Shared__Green__Primary: #138613;
$Colors__Shared__Green__Tint10: #259626;
$Colors__Shared__Green__Tint20: #3aa73a;
$Colors__Shared__Green__Tint30: #5ec25e;
$Colors__Shared__Green__Tint40: #a5dfa5;
$Colors__Shared__Green__Tint50: #cfefce;
$Colors__Shared__Green__Tint60: #f3fcf3;
$Colors__Shared__Darkgreen__Shade50: #031503;
$Colors__Shared__Darkgreen__Shade40: #042604;
$Colors__Shared__Darkgreen__Shade30: #074507;
$Colors__Shared__Darkgreen__Shade20: #095a09;
$Colors__Shared__Darkgreen__Shade10: #0c690c;
$Colors__Shared__Darkgreen__Primary: #0d750d;
$Colors__Shared__Darkgreen__Tint10: #1e881e;
$Colors__Shared__Darkgreen__Tint20: #319c31;
$Colors__Shared__Darkgreen__Tint30: #52b552;
$Colors__Shared__Darkgreen__Tint40: #a1d8a1;
$Colors__Shared__Darkgreen__Tint50: #cdeccf;
$Colors__Shared__Darkgreen__Tint60: #f2fbf2;
$Colors__Shared__Lightteal__Shade50: #002224;
$Colors__Shared__Lightteal__Shade40: #004045;
$Colors__Shared__Lightteal__Shade30: #007077;
$Colors__Shared__Lightteal__Shade20: #0098a1;
$Colors__Shared__Lightteal__Shade10: #00b1bc;
$Colors__Shared__Lightteal__Primary: #00c4d1;
$Colors__Shared__Lightteal__Tint10: #1eccd8;
$Colors__Shared__Lightteal__Tint20: #3ad5df;
$Colors__Shared__Lightteal__Tint30: #61e0e7;
$Colors__Shared__Lightteal__Tint40: #abeff2;
$Colors__Shared__Lightteal__Tint50: #d2f7f9;
$Colors__Shared__Lightteal__Tint60: #f4fdfe;
$Colors__Shared__Teal__Shade50: #02191a;
$Colors__Shared__Teal__Shade40: #03302f;
$Colors__Shared__Teal__Shade30: #055154;
$Colors__Shared__Teal__Shade20: #067072;
$Colors__Shared__Teal__Shade10: #088488;
$Colors__Shared__Teal__Primary: #099196;
$Colors__Shared__Teal__Tint10: #1da0a5;
$Colors__Shared__Teal__Tint20: #34afb3;
$Colors__Shared__Teal__Tint30: #57c3c6;
$Colors__Shared__Teal__Tint40: #a2e0e2;
$Colors__Shared__Teal__Tint50: #ccf0f1;
$Colors__Shared__Teal__Tint60: #f2fbfb;
$Colors__Shared__Darkteal__Shade50: #001414;
$Colors__Shared__Darkteal__Shade40: #002525;
$Colors__Shared__Darkteal__Shade30: #004343;
$Colors__Shared__Darkteal__Shade20: #005858;
$Colors__Shared__Darkteal__Shade10: #066;
$Colors__Shared__Darkteal__Primary: #007171;
$Colors__Shared__Darkteal__Tint10: #108585;
$Colors__Shared__Darkteal__Tint20: #259898;
$Colors__Shared__Darkteal__Tint30: #47b0b0;
$Colors__Shared__Darkteal__Tint40: #97d7d7;
$Colors__Shared__Darkteal__Tint50: #c6ecec;
$Colors__Shared__Darkteal__Tint60: #f1fbfb;
$Colors__Shared__Cyan__Shade50: #005163;
$Colors__Shared__Cyan__Shade40: #007a90;
$Colors__Shared__Cyan__Shade30: #008ea4;
$Colors__Shared__Cyan__Shade20: #009bb0;
$Colors__Shared__Cyan__Shade10: #00aad1;
$Colors__Shared__Cyan__Primary: #00cfff;
$Colors__Shared__Cyan__Tint10: #1ad6ff;
$Colors__Shared__Cyan__Tint20: #3cdeff;
$Colors__Shared__Cyan__Tint30: #9ef;
$Colors__Shared__Cyan__Tint40: #bcf3ff;
$Colors__Shared__Cyan__Tint50: #dbf8ff;
$Colors__Shared__Cyan__Tint60: #eafbff;
$Colors__Shared__Steel__Shade50: #001216;
$Colors__Shared__Steel__Shade40: #00202a;
$Colors__Shared__Steel__Shade30: #003948;
$Colors__Shared__Steel__Shade20: #005162;
$Colors__Shared__Steel__Shade10: #005e74;
$Colors__Shared__Steel__Primary: #00677f;
$Colors__Shared__Steel__Tint10: #117892;
$Colors__Shared__Steel__Tint20: #268aa4;
$Colors__Shared__Steel__Tint30: #4da3bc;
$Colors__Shared__Steel__Tint40: #9acdda;
$Colors__Shared__Steel__Tint50: #c7e5ec;
$Colors__Shared__Steel__Tint60: #f1f9fa;
$Colors__Shared__Lightblue__Shade50: #0b1c29;
$Colors__Shared__Lightblue__Shade40: #153355;
$Colors__Shared__Lightblue__Shade30: #256086;
$Colors__Shared__Lightblue__Shade20: #3181b5;
$Colors__Shared__Lightblue__Shade10: #3995d4;
$Colors__Shared__Lightblue__Primary: #40a4ea;
$Colors__Shared__Lightblue__Tint10: #55afef;
$Colors__Shared__Lightblue__Tint20: #6bbbf3;
$Colors__Shared__Lightblue__Tint30: #89caf8;
$Colors__Shared__Lightblue__Tint40: #c3e3fb;
$Colors__Shared__Lightblue__Tint50: #dff1fd;
$Colors__Shared__Lightblue__Tint60: #f8fcfe;
$Colors__Shared__Blue__Shade50: #00162a;
$Colors__Shared__Blue__Shade40: #002a4a;
$Colors__Shared__Blue__Shade30: #00508a;
$Colors__Shared__Blue__Shade20: #0066b5;
$Colors__Shared__Blue__Shade10: #0077d2;
$Colors__Shared__Blue__Primary: #0084e8;
$Colors__Shared__Blue__Tint10: #1e92ec;
$Colors__Shared__Blue__Tint20: #3ca1f0;
$Colors__Shared__Blue__Tint30: #63b6f5;
$Colors__Shared__Blue__Tint40: #add8f7;
$Colors__Shared__Blue__Tint50: #d4eafb;
$Colors__Shared__Blue__Tint60: #f5fbfe;
$Colors__Shared__Royalblue__Shade50: #00101c;
$Colors__Shared__Royalblue__Shade40: #001c32;
$Colors__Shared__Royalblue__Shade30: #003460;
$Colors__Shared__Royalblue__Shade20: #00427d;
$Colors__Shared__Royalblue__Shade10: #004f92;
$Colors__Shared__Royalblue__Primary: #0058a1;
$Colors__Shared__Royalblue__Tint10: #1669ae;
$Colors__Shared__Royalblue__Tint20: #2e7dbd;
$Colors__Shared__Royalblue__Tint30: #5097cf;
$Colors__Shared__Royalblue__Tint40: #9fc5e2;
$Colors__Shared__Royalblue__Tint50: #cbe1f0;
$Colors__Shared__Royalblue__Tint60: #f2f8fc;
$Colors__Shared__Darkblue__Shade50: #000b13;
$Colors__Shared__Darkblue__Shade40: #001424;
$Colors__Shared__Darkblue__Shade30: #002646;
$Colors__Shared__Darkblue__Shade20: #003256;
$Colors__Shared__Darkblue__Shade10: #003b65;
$Colors__Shared__Darkblue__Primary: #00426f;
$Colors__Shared__Darkblue__Tint10: #115384;
$Colors__Shared__Darkblue__Tint20: #276797;
$Colors__Shared__Darkblue__Tint30: #4884b0;
$Colors__Shared__Darkblue__Tint40: #98bcd7;
$Colors__Shared__Darkblue__Tint50: #c6dbea;
$Colors__Shared__Darkblue__Tint60: #f1f6fb;
$Colors__Shared__Cornflower__Shade50: #0f142c;
$Colors__Shared__Cornflower__Shade40: #1c2651;
$Colors__Shared__Cornflower__Shade30: #30429a;
$Colors__Shared__Cornflower__Shade20: #4158c5;
$Colors__Shared__Cornflower__Shade10: #4c67e2;
$Colors__Shared__Cornflower__Primary: #5472fa;
$Colors__Shared__Cornflower__Tint10: #6883fc;
$Colors__Shared__Cornflower__Tint20: #7c94fe;
$Colors__Shared__Cornflower__Tint30: #98abff;
$Colors__Shared__Cornflower__Tint40: #ccd6fd;
$Colors__Shared__Cornflower__Tint50: #e4e9fe;
$Colors__Shared__Cornflower__Tint60: #f9faff;
$Colors__Shared__Navy__Shade50: #00071f;
$Colors__Shared__Navy__Shade40: #00103c;
$Colors__Shared__Navy__Shade30: #001b70;
$Colors__Shared__Navy__Shade20: #002493;
$Colors__Shared__Navy__Shade10: #0029ac;
$Colors__Shared__Navy__Primary: #002ec0;
$Colors__Shared__Navy__Tint10: #1c42c9;
$Colors__Shared__Navy__Tint20: #3758d2;
$Colors__Shared__Navy__Tint30: #5d78df;
$Colors__Shared__Navy__Tint40: #a9b8ed;
$Colors__Shared__Navy__Tint50: #d1d9f5;
$Colors__Shared__Navy__Tint60: #f4f6fd;
$Colors__Shared__Lavender__Shade50: #14112b;
$Colors__Shared__Lavender__Shade40: #282158;
$Colors__Shared__Lavender__Shade30: #463b8e;
$Colors__Shared__Lavender__Shade20: #5e4fbb;
$Colors__Shared__Lavender__Shade10: #6e5ddb;
$Colors__Shared__Lavender__Primary: #7a68f2;
$Colors__Shared__Lavender__Tint10: #8a7af5;
$Colors__Shared__Lavender__Tint20: #9a8df7;
$Colors__Shared__Lavender__Tint30: #b0a6fa;
$Colors__Shared__Lavender__Tint40: #d8d3fc;
$Colors__Shared__Lavender__Tint50: #ece9fe;
$Colors__Shared__Lavender__Tint60: #fbfaff;
$Colors__Shared__Purple__Shade50: #12081c;
$Colors__Shared__Purple__Shade40: #210f32;
$Colors__Shared__Purple__Shade30: #3a1d5a;
$Colors__Shared__Purple__Shade20: #4d2680;
$Colors__Shared__Purple__Shade10: #5b2d96;
$Colors__Shared__Purple__Primary: #6632a6;
$Colors__Shared__Purple__Tint10: #7643b4;
$Colors__Shared__Purple__Tint20: #8757c1;
$Colors__Shared__Purple__Tint30: #9f75d3;
$Colors__Shared__Purple__Tint40: #d0b5e6;
$Colors__Shared__Purple__Tint50: #e5d6f2;
$Colors__Shared__Purple__Tint60: #f9f6fc;
$Colors__Shared__Darkpurple__Shade50: #0c0514;
$Colors__Shared__Darkpurple__Shade40: #170a26;
$Colors__Shared__Darkpurple__Shade30: #2a1145;
$Colors__Shared__Darkpurple__Shade20: #38175c;
$Colors__Shared__Darkpurple__Shade10: #421a6c;
$Colors__Shared__Darkpurple__Primary: #491e78;
$Colors__Shared__Darkpurple__Tint10: #5b2f8b;
$Colors__Shared__Darkpurple__Tint20: #6e439c;
$Colors__Shared__Darkpurple__Tint30: #8a61b5;
$Colors__Shared__Darkpurple__Tint40: #c0a9d9;
$Colors__Shared__Darkpurple__Tint50: #dfd1eb;
$Colors__Shared__Darkpurple__Tint60: #f7f4fa;
$Colors__Shared__Orchid__Shade50: #1a1223;
$Colors__Shared__Orchid__Shade40: #2e2040;
$Colors__Shared__Orchid__Shade30: #533a70;
$Colors__Shared__Orchid__Shade20: #6f4f96;
$Colors__Shared__Orchid__Shade10: #825db1;
$Colors__Shared__Orchid__Primary: #9068c4;
$Colors__Shared__Orchid__Tint10: #9c78cc;
$Colors__Shared__Orchid__Tint20: #a988d5;
$Colors__Shared__Orchid__Tint30: #bd9fdf;
$Colors__Shared__Orchid__Tint40: #dfd0f1;
$Colors__Shared__Orchid__Tint50: #efe6f8;
$Colors__Shared__Orchid__Tint60: #fbfafd;
$Colors__Shared__Grape__Shade50: #1a051c;
$Colors__Shared__Grape__Shade40: #2e0834;
$Colors__Shared__Grape__Shade30: #530f5e;
$Colors__Shared__Grape__Shade20: #6f1380;
$Colors__Shared__Grape__Shade10: #831795;
$Colors__Shared__Grape__Primary: #9119a5;
$Colors__Shared__Grape__Tint10: #9f2daf;
$Colors__Shared__Grape__Tint20: #ad43bc;
$Colors__Shared__Grape__Tint30: #c063cd;
$Colors__Shared__Grape__Tint40: #e1ace6;
$Colors__Shared__Grape__Tint50: #f0d2f4;
$Colors__Shared__Grape__Tint60: #fbf4fc;
$Colors__Shared__Berry__Shade50: #230a21;
$Colors__Shared__Berry__Shade40: #41143b;
$Colors__Shared__Berry__Shade30: #75236b;
$Colors__Shared__Berry__Shade20: #9c2f90;
$Colors__Shared__Berry__Shade10: #b737a8;
$Colors__Shared__Berry__Primary: #cb3ebb;
$Colors__Shared__Berry__Tint10: #d151c4;
$Colors__Shared__Berry__Tint20: #d966cc;
$Colors__Shared__Berry__Tint30: #e284d7;
$Colors__Shared__Berry__Tint40: #f0c0ea;
$Colors__Shared__Berry__Tint50: #f7def4;
$Colors__Shared__Berry__Tint60: #fdf6fc;
$Colors__Shared__Lilac__Shade50: #200d23;
$Colors__Shared__Lilac__Shade40: #3b1740;
$Colors__Shared__Lilac__Shade30: #6a2a75;
$Colors__Shared__Lilac__Shade20: #8f38a0;
$Colors__Shared__Lilac__Shade10: #a942bc;
$Colors__Shared__Lilac__Primary: #bc49d0;
$Colors__Shared__Lilac__Tint10: #c55cd6;
$Colors__Shared__Lilac__Tint20: #cf70de;
$Colors__Shared__Lilac__Tint30: #db8ce7;
$Colors__Shared__Lilac__Tint40: #eac5f1;
$Colors__Shared__Lilac__Tint50: #f5e0f8;
$Colors__Shared__Lilac__Tint60: #fdf7fe;
$Colors__Shared__Pink__Shade50: #280a1e;
$Colors__Shared__Pink__Shade40: #4a1437;
$Colors__Shared__Pink__Shade30: #8a2366;
$Colors__Shared__Pink__Shade20: #b83086;
$Colors__Shared__Pink__Shade10: #d8399e;
$Colors__Shared__Pink__Primary: #f040b0;
$Colors__Shared__Pink__Tint10: #f354ba;
$Colors__Shared__Pink__Tint20: #f76ac4;
$Colors__Shared__Pink__Tint30: #fc89d1;
$Colors__Shared__Pink__Tint40: #fdc5e7;
$Colors__Shared__Pink__Tint50: #fee0f3;
$Colors__Shared__Pink__Tint60: #fff7fc;
$Colors__Shared__Hotpink__Shade50: #280019;
$Colors__Shared__Hotpink__Shade40: #4a0030;
$Colors__Shared__Hotpink__Shade30: #890053;
$Colors__Shared__Hotpink__Shade20: #b80070;
$Colors__Shared__Hotpink__Shade10: #d80085;
$Colors__Shared__Hotpink__Primary: #ef0094;
$Colors__Shared__Hotpink__Tint10: #f31e9f;
$Colors__Shared__Hotpink__Tint20: #f63bae;
$Colors__Shared__Hotpink__Tint30: #fa63bf;
$Colors__Shared__Hotpink__Tint40: #fbb2e0;
$Colors__Shared__Hotpink__Tint50: #fdd7f0;
$Colors__Shared__Hotpink__Tint60: #fef6fb;
$Colors__Shared__Magenta__Shade50: #230015;
$Colors__Shared__Magenta__Shade40: #3e0028;
$Colors__Shared__Magenta__Shade30: #750047;
$Colors__Shared__Magenta__Shade20: #9d015f;
$Colors__Shared__Magenta__Shade10: #b80070;
$Colors__Shared__Magenta__Primary: #cc007d;
$Colors__Shared__Magenta__Tint10: #d41a8b;
$Colors__Shared__Magenta__Tint20: #db3599;
$Colors__Shared__Magenta__Tint30: #e65cae;
$Colors__Shared__Magenta__Tint40: #f0a9d5;
$Colors__Shared__Magenta__Tint50: #f7d2e9;
$Colors__Shared__Magenta__Tint60: #fdf4fa;
$Colors__Shared__Plum__Shade50: #16000e;
$Colors__Shared__Plum__Shade40: #2a001b;
$Colors__Shared__Plum__Shade30: #4c0030;
$Colors__Shared__Plum__Shade20: #63003f;
$Colors__Shared__Plum__Shade10: #750049;
$Colors__Shared__Plum__Primary: #820051;
$Colors__Shared__Plum__Tint10: #921161;
$Colors__Shared__Plum__Tint20: #a32774;
$Colors__Shared__Plum__Tint30: #b8478e;
$Colors__Shared__Plum__Tint40: #da99c4;
$Colors__Shared__Plum__Tint50: #ecc7df;
$Colors__Shared__Plum__Tint60: #fbf2f7;
$Colors__Shared__Beige__Shade50: #181717;
$Colors__Shared__Beige__Shade40: #2a2929;
$Colors__Shared__Beige__Shade30: #4b4948;
$Colors__Shared__Beige__Shade20: #656160;
$Colors__Shared__Beige__Shade10: #767170;
$Colors__Shared__Beige__Primary: #837d7c;
$Colors__Shared__Beige__Tint10: #93908e;
$Colors__Shared__Beige__Tint20: #a3a09f;
$Colors__Shared__Beige__Tint30: #b8b5b4;
$Colors__Shared__Beige__Tint40: #dfdcdc;
$Colors__Shared__Beige__Tint50: #f0eeee;
$Colors__Shared__Beige__Tint60: #fcfbfb;
$Colors__Shared__Mink__Shade50: #131212;
$Colors__Shared__Mink__Shade40: #211f1e;
$Colors__Shared__Mink__Shade30: #3a3837;
$Colors__Shared__Mink__Shade20: #4e4b49;
$Colors__Shared__Mink__Shade10: #5b5856;
$Colors__Shared__Mink__Primary: #656260;
$Colors__Shared__Mink__Tint10: #787573;
$Colors__Shared__Mink__Tint20: #8d8a87;
$Colors__Shared__Mink__Tint30: #a6a3a1;
$Colors__Shared__Mink__Tint40: #d3d1d0;
$Colors__Shared__Mink__Tint50: #e8e7e6;
$Colors__Shared__Mink__Tint60: #fbfbfb;
$Colors__Shared__Silver__Shade50: #191c1c;
$Colors__Shared__Silver__Shade40: #2d3334;
$Colors__Shared__Silver__Shade30: #4f595c;
$Colors__Shared__Silver__Shade20: #6b787b;
$Colors__Shared__Silver__Shade10: #809095;
$Colors__Shared__Silver__Primary: #8d9fa3;
$Colors__Shared__Silver__Tint10: #9aa9ad;
$Colors__Shared__Silver__Tint20: #a8b7ba;
$Colors__Shared__Silver__Tint30: #bcc4c7;
$Colors__Shared__Silver__Tint40: #dee5e6;
$Colors__Shared__Silver__Tint50: #eff3f4;
$Colors__Shared__Silver__Tint60: #fbfcfc;
$Colors__Shared__Platinum__Shade50: #151718;
$Colors__Shared__Platinum__Shade40: #242a2c;
$Colors__Shared__Platinum__Shade30: #404a4e;
$Colors__Shared__Platinum__Shade20: #566266;
$Colors__Shared__Platinum__Shade10: #65747a;
$Colors__Shared__Platinum__Primary: #718088;
$Colors__Shared__Platinum__Tint10: #819097;
$Colors__Shared__Platinum__Tint20: #91a0a7;
$Colors__Shared__Platinum__Tint30: #a8b5bb;
$Colors__Shared__Platinum__Tint40: #d1dbdd;
$Colors__Shared__Platinum__Tint50: #e7ecee;
$Colors__Shared__Platinum__Tint60: #fafbfc;
$Colors__Shared__Anchor__Shade50: #0c0d0e;
$Colors__Shared__Anchor__Shade40: #141617;
$Colors__Shared__Anchor__Shade30: #24282b;
$Colors__Shared__Anchor__Shade20: #2f3a3e;
$Colors__Shared__Anchor__Shade10: #384249;
$Colors__Shared__Anchor__Primary: #3e494e;
$Colors__Shared__Anchor__Tint10: #525f65;
$Colors__Shared__Anchor__Tint20: #67757b;
$Colors__Shared__Anchor__Tint30: #869499;
$Colors__Shared__Anchor__Tint40: #c1c8cc;
$Colors__Shared__Anchor__Tint50: #dfe3e5;
$Colors__Shared__Anchor__Tint60: #f8f9fa;
$Colors__Shared__Charcoal__Shade50: #0b0b0b;
$Colors__Shared__Charcoal__Shade40: #141414;
$Colors__Shared__Charcoal__Shade30: #242424;
$Colors__Shared__Charcoal__Shade20: #2f2f2f;
$Colors__Shared__Charcoal__Shade10: #383838;
$Colors__Shared__Charcoal__Primary: #3f3f3f;
$Colors__Shared__Charcoal__Tint10: #575757;
$Colors__Shared__Charcoal__Tint20: #6f6f6f;
$Colors__Shared__Charcoal__Tint30: #8f8f8f;
$Colors__Shared__Charcoal__Tint40: #c8c8c8;
$Colors__Shared__Charcoal__Tint50: #e2e2e2;
$Colors__Shared__Charcoal__Tint60: #f9f9f9;
$Colors__Shared__Indigo__Shade50: #0a0020;
$Colors__Shared__Indigo__Shade40: #1b0052;
$Colors__Shared__Indigo__Shade30: #22006d;
$Colors__Shared__Indigo__Shade20: #3b00bf;
$Colors__Shared__Indigo__Shade10: #4400d8;
$Colors__Shared__Indigo__Primary: #5405ff;
$Colors__Shared__Indigo__Tint10: #7637ff;
$Colors__Shared__Indigo__Tint20: #8952ff;
$Colors__Shared__Indigo__Tint30: #9c6cff;
$Colors__Shared__Indigo__Tint40: #c0a0ff;
$Colors__Shared__Indigo__Tint50: #e0d0ff;
$Colors__Shared__Indigo__Tint60: #f0e8ff;
$Colors__Shared__Emerald__Shade50: #00201b;
$Colors__Shared__Emerald__Shade40: #004d3f;
$Colors__Shared__Emerald__Shade30: #008466;
$Colors__Shared__Emerald__Shade20: #00b88f;
$Colors__Shared__Emerald__Shade10: #00ddb3;
$Colors__Shared__Emerald__Primary: #0fc;
$Colors__Shared__Emerald__Tint10: #1affdb;
$Colors__Shared__Emerald__Tint20: #4dffe5;
$Colors__Shared__Emerald__Tint30: #66ffea;
$Colors__Shared__Emerald__Tint40: #b3fff5;
$Colors__Shared__Emerald__Tint50: #ccfffa;
$Colors__Shared__Emerald__Tint60: #e6fffd;

// Semantic

$Colors__Brand1__Tint30: $Colors__Shared__Indigo__Tint30;
$Colors__Brand1__Shade10: $Colors__Shared__Indigo__Shade10;
$Colors__Brand1__Tint10: $Colors__Shared__Indigo__Tint10;
$Colors__Brand1__Shade40: $Colors__Shared__Indigo__Shade40;
$Colors__Brand1__Tint60: $Colors__Shared__Indigo__Tint60;
$Colors__Brand1__Primary: $Colors__Shared__Indigo__Primary;
$Colors__Brand1__Shade30: $Colors__Shared__Indigo__Shade30;
$Colors__Brand1__Tint50: $Colors__Shared__Indigo__Tint50;
$Colors__Brand1__Tint40: $Colors__Shared__Indigo__Tint40;
$Colors__Brand1__Tint20: $Colors__Shared__Indigo__Tint20;
$Colors__Brand1__Shade20: $Colors__Shared__Indigo__Shade20;
$Colors__Brand1__Shade50: $Colors__Shared__Indigo__Shade50;
$Colors__Brand2__Tint40: $Colors__Shared__Cyan__Tint40;
$Colors__Brand2__Tint30: $Colors__Shared__Cyan__Tint30;
$Colors__Brand2__Tint20: $Colors__Shared__Cyan__Tint20;
$Colors__Brand2__Tint10: $Colors__Shared__Cyan__Tint10;
$Colors__Brand2__Shade10: $Colors__Shared__Cyan__Shade10;
$Colors__Brand2__Tint60: $Colors__Shared__Cyan__Tint60;
$Colors__Brand2__Primary: $Colors__Shared__Cyan__Primary;
$Colors__Brand2__Shade30: $Colors__Shared__Cyan__Shade30;
$Colors__Brand2__Tint50: $Colors__Shared__Cyan__Tint50;
$Colors__Brand2__Shade20: $Colors__Shared__Cyan__Shade20;
$Colors__Brand2__Shade40: $Colors__Shared__Cyan__Shade40;
$Colors__Brand2__Shade50: $Colors__Shared__Cyan__Shade50;
$Colors__Status__Warning__Tint40: $Colors__Shared__Peach__Tint40;
$Colors__Status__Warning__Tint20: $Colors__Shared__Peach__Tint20;
$Colors__Status__Warning__Shade50: $Colors__Shared__Peach__Shade50;
$Colors__Status__Warning__Tint10: $Colors__Shared__Peach__Tint10;
$Colors__Status__Warning__Shade10: $Colors__Shared__Peach__Shade10;
$Colors__Status__Warning__Tint30: $Colors__Shared__Peach__Tint30;
$Colors__Status__Warning__Primary: $Colors__Shared__Peach__Primary;
$Colors__Status__Warning__Shade20: $Colors__Shared__Peach__Shade20;
$Colors__Status__Warning__Tint60: $Colors__Shared__Peach__Tint60;
$Colors__Status__Warning__Shade30: $Colors__Shared__Peach__Shade30;
$Colors__Status__Warning__Tint50: $Colors__Shared__Peach__Tint50;
$Colors__Status__Warning__Shade40: $Colors__Shared__Peach__Shade40;
$Colors__Status__Danger__Tint40: $Colors__Shared__Cranberry__Tint40;
$Colors__Status__Danger__Tint30: $Colors__Shared__Cranberry__Tint30;
$Colors__Status__Danger__Shade10: $Colors__Shared__Cranberry__Shade10;
$Colors__Status__Danger__Primary: $Colors__Shared__Cranberry__Primary;
$Colors__Status__Danger__Shade20: $Colors__Shared__Cranberry__Shade20;
$Colors__Status__Danger__Tint10: $Colors__Shared__Cranberry__Tint10;
$Colors__Status__Danger__Shade30: $Colors__Shared__Cranberry__Shade30;
$Colors__Status__Danger__Shade40: $Colors__Shared__Cranberry__Shade40;
$Colors__Status__Danger__Tint60: $Colors__Shared__Cranberry__Tint60;
$Colors__Status__Danger__Tint20: $Colors__Shared__Cranberry__Tint20;
$Colors__Status__Danger__Tint50: $Colors__Shared__Cranberry__Tint40;
$Colors__Status__Danger__Shade50: $Colors__Shared__Cranberry__Shade50;
$Colors__Status__Success__Shade50: $Colors__Shared__Lightgreen__Shade50;
$Colors__Status__Success__Shade40: $Colors__Shared__Lightgreen__Shade40;
$Colors__Status__Success__Shade30: $Colors__Shared__Lightgreen__Shade30;
$Colors__Status__Success__Shade20: $Colors__Shared__Lightgreen__Shade20;
$Colors__Status__Success__Shade10: $Colors__Shared__Lightgreen__Shade10;
$Colors__Status__Success__Primary: $Colors__Shared__Lightgreen__Primary;
$Colors__Status__Success__Tint10: $Colors__Shared__Lightgreen__Tint10;
$Colors__Status__Success__Tint20: $Colors__Shared__Lightgreen__Tint20;
$Colors__Status__Success__Tint30: $Colors__Shared__Lightgreen__Tint30;
$Colors__Status__Success__Tint40: $Colors__Shared__Lightgreen__Tint40;
$Colors__Status__Success__Tint50: $Colors__Shared__Lightgreen__Tint50;
$Colors__Status__Success__Tint60: $Colors__Shared__Lightgreen__Tint60;
$Colors__Status__Informational__Shade50: $Colors__Shared__Blue__Shade50;
$Colors__Status__Informational__Shade40: $Colors__Shared__Blue__Shade40;
$Colors__Status__Informational__Shade30: $Colors__Shared__Blue__Shade30;
$Colors__Status__Informational__Shade20: $Colors__Shared__Blue__Shade20;
$Colors__Status__Informational__Shade10: $Colors__Shared__Blue__Shade10;
$Colors__Status__Informational__Primary: $Colors__Shared__Blue__Primary;
$Colors__Status__Informational__Tint10: $Colors__Shared__Blue__Tint10;
$Colors__Status__Informational__Tint20: $Colors__Shared__Blue__Tint20;
$Colors__Status__Informational__Tint30: $Colors__Shared__Blue__Tint30;
$Colors__Status__Informational__Tint40: $Colors__Shared__Blue__Tint40;
$Colors__Status__Informational__Tint50: $Colors__Shared__Blue__Tint50;
$Colors__Status__Informational__Tint60: $Colors__Shared__Blue__Tint60;

// Theme

$Neutral__Background__Static__Rest: $Colors__Neutral__Grey20;
$Neutral__Background__Subtle__Rest: $Colors__Alpha__White__0;
$Neutral__Background__Subtle__Hover: $Colors__Neutral__Grey98;
$Neutral__Background__Subtle__Pressed: $Colors__Neutral__Grey94;
$Neutral__Background__Subtle__Selected: $Colors__Neutral__Grey96;
$Neutral__Background__Subtle__Lightalpha__Hover: $Colors__Alpha__White__70;
$Neutral__Background__Subtle__Lightalpha__Pressed: $Colors__Alpha__White__50;
$Neutral__Background__Subtle__Lightalpha__Selected: $Colors__Alpha__White__0;
$Neutral__Background__Subtle__Inverted__Rest: $Colors__Alpha__Black__0;
$Neutral__Background__Subtle__Inverted__Hover: $Colors__Alpha__Black__10;
$Neutral__Background__Subtle__Inverted__Pressed: $Colors__Alpha__Black__30;
$Neutral__Background__Subtle__Inverted__Selected: $Colors__Alpha__Black__20;
$Neutral__Foreground__3__Brand__Hover: $Colors__Brand1__Shade10;
$Neutral__Foreground__3__Brand__Pressed: $Colors__Brand1__Shade20;
$Neutral__Foreground__3__Brand__Selected: $Colors__Brand1__Shade10;
$Neutral__Foreground__Static__Rest: $Colors__Neutral__Grey14;
$Neutral__Foreground__Inverted__2__Rest: $Colors__Base__White;
$Status__Away__Background__3__Rest: $Colors__Status__Warning__Primary;
$Status__Available__Foreground__3__Rest: $Colors__Status__Success__Primary;
$Status__Generic__Darkred__Background__2__Rest: $Colors__Shared__Darkred__Tint40;
$Status__Generic__Darkred__Foreground__2__Rest: $Colors__Shared__Darkred__Shade30;
$Status__Generic__Darkred__Stroke__Active__Rest: $Colors__Shared__Darkred__Primary;
$Status__Generic__Cranberry__Background__2__Rest: $Colors__Shared__Cranberry__Tint40;
$Status__Generic__Cranberry__Foreground__2__Rest: $Colors__Shared__Cranberry__Shade30;
$Status__Generic__Cranberry__Stroke__Active__Rest: $Colors__Shared__Cranberry__Primary;
$Status__Generic__Red__Background__2__Rest: $Colors__Shared__Red__Tint40;
$Status__Generic__Red__Foreground__2__Rest: $Colors__Shared__Red__Shade30;
$Status__Generic__Pumpkin__Background__2__Rest: $Colors__Shared__Pumpkin__Tint40;
$Status__Generic__Pumpkin__Foreground__2__Rest: $Colors__Shared__Pumpkin__Shade30;
$Status__Generic__Pumpkin__Stroke__Active__Rest: $Colors__Shared__Pumpkin__Primary;
$Status__Generic__Peach__Background__2__Rest: $Colors__Shared__Peach__Tint40;
$Status__Generic__Peach__Foreground__2__Rest: $Colors__Shared__Peach__Shade30;
$Status__Generic__Peach__Stroke__Active__Rest: $Colors__Shared__Peach__Primary;
$Status__Generic__Marigold__Background__2__Rest: $Colors__Shared__Marigold__Tint40;
$Status__Generic__Marigold__Foreground__2__Rest: $Colors__Shared__Marigold__Shade30;
$Status__Generic__Marigold__Stroke__Active__Rest: $Colors__Shared__Marigold__Primary;
$Status__Generic__Gold__Background__2__Rest: $Colors__Shared__Gold__Tint40;
$Status__Generic__Gold__Foreground__2__Rest: $Colors__Shared__Gold__Shade30;
$Status__Generic__Gold__Stroke__Active__Rest: $Colors__Shared__Gold__Primary;
$Status__Generic__Brass__Background__2__Rest: $Colors__Shared__Brass__Tint40;
$Status__Generic__Brass__Foreground__2__Rest: $Colors__Shared__Brass__Shade30;
$Status__Generic__Brass__Stroke__Active__Rest: $Colors__Shared__Brass__Primary;
$Status__Generic__Brown__Background__2__Rest: $Colors__Shared__Brown__Tint40;
$Status__Generic__Brown__Foreground__2__Rest: $Colors__Shared__Brown__Shade30;
$Status__Generic__Brown__Stroke__Active__Rest: $Colors__Shared__Brown__Primary;
$Status__Generic__Forest__Background__2__Rest: $Colors__Shared__Forest__Tint40;
$Status__Generic__Forest__Foreground__2__Rest: $Colors__Shared__Forest__Shade30;
$Status__Generic__Forest__Stroke__Active__Rest: $Colors__Shared__Forest__Primary;
$Status__Generic__Seafoam__Background__2__Rest: $Colors__Shared__Seafoam__Tint40;
$Status__Generic__Seafoam__Foreground__2__Rest: $Colors__Shared__Seafoam__Shade30;
$Status__Generic__Seafoam__Stroke__Active__Rest: $Colors__Shared__Seafoam__Primary;
$Status__Generic__Darkgreen__Background__2__Rest: $Colors__Shared__Darkgreen__Tint40;
$Status__Generic__Darkgreen__Foreground__2__Rest: $Colors__Shared__Darkgreen__Shade30;
$Status__Generic__Darkgreen__Stroke__Active__Rest: $Colors__Shared__Darkgreen__Primary;
$Status__Generic__Lightteal__Background__2__Rest: $Colors__Shared__Lightteal__Tint40;
$Status__Generic__Lightteal__Foreground__2__Rest: $Colors__Shared__Lightteal__Shade30;
$Status__Generic__Lightteal__Stroke__Active__Rest: $Colors__Shared__Lightteal__Primary;
$Status__Generic__Teal__Background__2__Rest: $Colors__Shared__Teal__Tint40;
$Status__Generic__Teal__Foreground__2__Rest: $Colors__Shared__Teal__Shade30;
$Status__Generic__Teal__Stroke__Active__Rest: $Colors__Shared__Teal__Primary;
$Status__Generic__Steel__Background__2__Rest: $Colors__Shared__Steel__Tint40;
$Status__Generic__Steel__Foreground__2__Rest: $Colors__Shared__Steel__Shade30;
$Status__Generic__Steel__Stroke__Active__Rest: $Colors__Shared__Steel__Primary;
$Status__Generic__Blue__Background__2__Rest: $Colors__Shared__Blue__Tint40;
$Status__Generic__Blue__Foreground__2__Rest: $Colors__Shared__Blue__Shade30;
$Status__Generic__Blue__Stroke__Active__Rest: $Colors__Shared__Blue__Primary;
$Status__Generic__Royalblue__Background__2__Rest: $Colors__Shared__Royalblue__Tint40;
$Status__Generic__Royalblue__Foreground__2__Rest: $Colors__Shared__Royalblue__Shade30;
$Status__Generic__Royalblue__Stroke__Active__Rest: $Colors__Shared__Royalblue__Primary;
$Status__Generic__Cornflower__Background__2__Rest: $Colors__Shared__Cornflower__Tint40;
$Status__Generic__Cornflower__Foreground__2__Rest: $Colors__Shared__Cornflower__Shade30;
$Status__Generic__Cornflower__Stroke__Active__Rest: $Colors__Shared__Cornflower__Primary;
$Status__Generic__Navy__Background__2__Rest: $Colors__Shared__Navy__Tint40;
$Status__Generic__Navy__Foreground__2__Rest: $Colors__Shared__Navy__Shade30;
$Status__Generic__Lavender__Background__2__Rest: $Colors__Shared__Navy__Tint40;
$Status__Generic__Lavender__Foreground__2__Rest: $Colors__Shared__Lavender__Shade30;
$Status__Generic__Lavender__Stroke__Active__Rest: $Colors__Shared__Lavender__Primary;
$Status__Generic__Purple__Background__2__Rest: $Colors__Shared__Purple__Tint40;
$Status__Generic__Purple__Foreground__2__Rest: $Colors__Shared__Purple__Shade30;
$Status__Generic__Purple__Stroke__Active__Rest: $Colors__Shared__Purple__Primary;
$Status__Generic__Grape__Background__2__Rest: $Colors__Shared__Grape__Tint40;
$Status__Generic__Grape__Foreground__2__Rest: $Colors__Shared__Grape__Shade30;
$Status__Generic__Grape__Stroke__Active__Rest: $Colors__Shared__Grape__Primary;
$Status__Generic__Lilac__Background__2__Rest: $Colors__Shared__Lilac__Tint40;
$Status__Generic__Lilac__Foreground__2__Rest: $Colors__Shared__Lilac__Shade30;
$Status__Generic__Lilac__Stroke__Active__Rest: $Colors__Shared__Lilac__Primary;
$Status__Generic__Pink__Background__2__Rest: $Colors__Shared__Pink__Tint40;
$Status__Generic__Pink__Foreground__2__Rest: $Colors__Shared__Pink__Shade30;
$Status__Generic__Pink__Stroke__Active__Rest: $Colors__Shared__Pink__Primary;
$Status__Generic__Magenta__Background__2__Rest: $Colors__Shared__Magenta__Tint40;
$Status__Generic__Magenta__Foreground__2__Rest: $Colors__Shared__Magenta__Shade30;
$Status__Generic__Magenta__Stroke__Active__Rest: $Colors__Shared__Magenta__Primary;
$Status__Generic__Plum__Background__2__Rest: $Colors__Shared__Plum__Tint40;
$Status__Generic__Plum__Foreground__2__Rest: $Colors__Shared__Plum__Shade30;
$Status__Generic__Plum__Stroke__Active__Rest: $Colors__Shared__Magenta__Primary;
$Status__Generic__Beige__Background__2__Rest: $Colors__Shared__Beige__Tint40;
$Status__Generic__Beige__Foreground__2__Rest: $Colors__Shared__Beige__Shade30;
$Status__Generic__Beige__Stroke__Active__Rest: $Colors__Shared__Beige__Primary;
$Status__Generic__Mink__Background__2__Rest: $Colors__Shared__Mink__Tint40;
$Status__Generic__Mink__Foreground__2__Rest: $Colors__Shared__Mink__Shade30;
$Status__Generic__Mink__Stroke__Active__Rest: $Colors__Shared__Mink__Primary;
$Status__Generic__Platinum__Background__2__Rest: $Colors__Shared__Platinum__Tint40;
$Status__Generic__Platinum__Foreground__2__Rest: $Colors__Shared__Platinum__Shade30;
$Status__Generic__Platinum__Stroke__Active__Rest: $Colors__Shared__Platinum__Primary;
$Status__Generic__Anchor__Background__2__Rest: $Colors__Shared__Anchor__Tint40;
$Status__Generic__Anchor__Foreground__2__Rest: $Colors__Shared__Anchor__Shade30;
$Status__Generic__Anchor__Stroke__Active__Rest: $Colors__Shared__Anchor__Primary;
$Brand__Stroke__2__Contrast__Rest: $Colors__Brand1__Tint40;
$Brand__Stroke__Compound__Hover: $Colors__Brand1__Shade10;
$Brand__Background__Compound__Rest: $Colors__Brand1__Primary;
$Brand__Background__Compound__Hover: $Colors__Brand1__Tint10;
$Brand__Background__Compound__Pressed: $Colors__Brand1__Tint20;
$Brand__Foreground__Compound__Rest: $Colors__Brand1__Primary;
$Neutral__Background__1__Rest: $Colors__Base__White;
$Neutral__Background__1__Hover: $Colors__Neutral__Grey96;
$Neutral__Background__1__Pressed: $Colors__Neutral__Grey88;
$Neutral__Background__1__Selected: $Colors__Neutral__Grey88;
$Neutral__Background__2__Rest: $Colors__Neutral__Grey98;
$Neutral__Background__2__Hover: $Colors__Neutral__Grey94;
$Neutral__Background__2__Pressed: $Colors__Neutral__Grey90;
$Neutral__Background__2__Selected: $Colors__Neutral__Grey88;
$Neutral__Background__3__Rest: $Colors__Neutral__Grey94;
$Neutral__Background__3__Hover: $Colors__Neutral__Grey92;
$Neutral__Background__3__Pressed: $Colors__Neutral__Grey84;
$Neutral__Background__3__Selected: $Colors__Neutral__Grey88;
$Neutral__Background__4__Rest: $Colors__Neutral__Grey90;
$Neutral__Background__4__Hover: $Colors__Neutral__Grey98;
$Neutral__Background__4__Pressed: $Colors__Neutral__Grey96;
$Neutral__Background__4__Selected: $Colors__Base__White;
$Neutral__Background__5__Rest: $Colors__Neutral__Grey92;
$Neutral__Background__5__Hover: $Colors__Neutral__Grey96;
$Neutral__Background__5__Pressed: $Colors__Neutral__Grey94;
$Neutral__Background__5__Selected: $Colors__Neutral__Grey98;
$Neutral__Background__6__Rest: $Colors__Neutral__Grey90;
$Neutral__Background__Inverted__Rest: $Colors__Neutral__Grey16;
$Neutral__Background__Inverted__Disabled__Rest: $Colors__Alpha__White__10;
$Neutral__Background__Alpha__1__Rest: $Colors__Alpha__White__50;
$Neutral__Background__Alpha__2__Rest: $Colors__Alpha__White__80;
$Neutral__Background__Transparent__Rest: $Colors__Alpha__White__0;
$Neutral__Background__Transparent__Hover: $Colors__Alpha__White__0;
$Neutral__Background__Transparent__Pressed: $Colors__Alpha__White__0;
$Neutral__Background__Transparent__Selected: $Colors__Alpha__White__0;
$Neutral__Background__Disabled__Rest: $Colors__Neutral__Grey94;
$Neutral__Background__Overlay__Rest: $Colors__Alpha__Black__40;
$Neutral__Background__Overlay__Scrollbar__Rest: $Colors__Alpha__Black__50;
$Neutral__Foreground__1__Rest: $Colors__Neutral__Grey12;
$Neutral__Foreground__1__Hover: $Colors__Neutral__Grey14;
$Neutral__Foreground__1__Pressed: $Colors__Neutral__Grey14;
$Neutral__Foreground__1__Selected: $Colors__Neutral__Grey14;
$Neutral__Foreground__2__Rest: $Colors__Neutral__Grey26;
$Neutral__Foreground__2__Hover: $Colors__Neutral__Grey14;
$Neutral__Foreground__2__Pressed: $Colors__Neutral__Grey14;
$Neutral__Foreground__2__Selected: $Colors__Neutral__Grey14;
$Neutral__Foreground__Brand__Hover: $Colors__Brand1__Shade10;
$Neutral__Foreground__Brand__Pressed: $Colors__Brand1__Shade30;
$Neutral__Foreground__Brand__Selected: $Colors__Brand1__Shade20;
$Neutral__Foreground__Link__Rest: $Colors__Brand1__Primary;
$Neutral__Foreground__Link__Hover: $Colors__Brand1__Shade10;
$Neutral__Foreground__Link__Pressed: $Colors__Brand1__Shade30;
$Neutral__Foreground__Link__Selected: $Colors__Brand1__Shade20;
$Neutral__Foreground__4__Rest: $Colors__Neutral__Grey60;
$Neutral__Foreground__Disabled__Rest: $Colors__Neutral__Grey74;
$Neutral__Foreground__Inverted__1__Rest: $Colors__Base__White;
$Neutral__Foreground__Inverted__1__Hover: $Colors__Base__White;
$Neutral__Foreground__Inverted__1__Pressed: $Colors__Base__White;
$Neutral__Foreground__Inverted__1__Selected: $Colors__Base__White;
$Neutral__Foreground__Inverted__Disabled__Rest: $Colors__Alpha__White__40;
$Neutral__Foreground__Inverted__Link__Rest: $Colors__Base__White;
$Neutral__Foreground__Inverted__Link__Hover: $Colors__Base__White;
$Neutral__Foreground__Inverted__Link__Pressed: $Colors__Base__White;
$Neutral__Foreground__Inverted__Link__Selected: $Colors__Base__White;
$Neutral__Foreground__OnBrand__Rest: $Colors__Base__White;
$Neutral__Stroke__1__Rest: $Colors__Neutral__Grey82;
$Neutral__Stroke__1__Hover: $Colors__Neutral__Grey78;
$Neutral__Stroke__1__Pressed: $Colors__Neutral__Grey70;
$Neutral__Stroke__1__Selected: $Colors__Neutral__Grey74;
$Neutral__Stroke__2__Rest: $Colors__Neutral__Grey88;
$Neutral__Stroke__3__Rest: $Colors__Neutral__Grey94;
$Neutral__Stroke__Alpha__1__Rest: $Colors__Alpha__Black__5;
$Neutral__Stroke__Alpha__2__Rest: $Colors__Alpha__White__20;
$Neutral__Stroke__Subtle__Rest: $Colors__Neutral__Grey88;
$Neutral__Stroke__onBrand__2__Rest: $Colors__Base__White;
$Neutral__Stroke__onBrand__2__Hover: $Colors__Base__White;
$Neutral__Stroke__onBrand__2__Pressed: $Colors__Base__White;
$Neutral__Stroke__onBrand__2__Selected: $Colors__Base__White;
$Neutral__Stroke__onBrand__2__1__Rest: $Colors__Base__White;
$Neutral__Stroke__Accessible__Rest: $Colors__Neutral__Grey80;
$Neutral__Stroke__Accessible__Hover: $Colors__Neutral__Grey84;
$Neutral__Stroke__Accessible__Pressed: $Colors__Neutral__Grey80;
$Neutral__Stroke__Accessible__Selected: $Colors__Brand1__Tint30;
$Neutral__Stroke__Focus__1__Rest: $Colors__Base__White;
$Neutral__Stroke__Focus__2__Rest: $Colors__Brand1__Tint30;
$Neutral__Stroke__Transparent__Rest: $Colors__Alpha__White__0;
$Neutral__Stroke__Transparent__Interactive__Rest: $Colors__Alpha__White__0;
$Neutral__Stroke__Transparent__Disabled__Rest: $Colors__Alpha__White__0;
$Neutral__Stroke__Disabled__Rest: $Colors__Neutral__Grey94;
$Neutral__Stroke__Disabled__Inverted__Rest: $Colors__Alpha__White__40;
$Brand__Background__1__Rest: $Colors__Brand1__Primary;
$Brand__Background__1__Hover: $Colors__Brand1__Shade10;
$Brand__Background__1__Pressed: $Colors__Brand1__Shade30;
$Brand__Background__1__Selected: $Colors__Brand1__Tint10;
$Brand__Background__2__Rest: $Colors__Brand1__Tint60;
$Brand__Background__2__Hover: $Colors__Brand1__Tint50;
$Brand__Background__2__Pressed: $Colors__Brand1__Tint60;
$Brand__Foreground__1__Rest: $Colors__Neutral__Grey98;
$Brand__Foreground__2__Rest: $Colors__Brand1__Shade10;
$Brand__Foreground__2__Hover: $Colors__Brand1__Primary;
$Brand__Foreground__2__Pressed: $Colors__Brand1__Shade30;
$Brand__Foreground__Link__Rest: $Colors__Brand1__Primary;
$Brand__Foreground__Link__Hover: $Colors__Brand1__Tint10;
$Brand__Foreground__Link__Pressed: $Colors__Brand1__Shade20;
$Brand__Foreground__Link__Selected: $Colors__Brand1__Tint20;
$Brand__Stroke__1__Rest: $Colors__Brand1__Primary;
$Brand__Stroke__2__Rest: $Colors__Brand1__Tint60;
$Brand__Stroke__2__Hover: $Colors__Brand1__Tint50;
$Brand__Stroke__2__Pressed: $Colors__Brand1__Tint60;
$Status__Danger__Background__1__Rest: $Colors__Status__Danger__Tint60;
$Status__Danger__Background__2__Rest: $Colors__Status__Danger__Primary;
$Status__Danger__Foreground__1__Rest: $Colors__Status__Danger__Shade10;
$Status__Danger__Foreground__2__Rest: $Colors__Status__Danger__Tint60;
$Status__Danger__Stroke__1__Rest: $Colors__Status__Danger__Tint40;
$Status__Danger__Stroke__2__Rest: $Colors__Status__Danger__Tint10;
$Status__Danger__Background__2__Hover: $Colors__Status__Danger__Tint20;
$Status__Danger__Background__2__Pressed: $Colors__Status__Danger__Tint30;
$Status__Danger__Background__2__Selected: $Colors__Status__Danger__Primary;
$Status__Danger__Stroke__2__Hover: $Colors__Status__Danger__Tint20;
$Status__Danger__Stroke__2__Selected: $Colors__Status__Danger__Tint10;
$Status__Danger__Stroke__2__Pressed: $Colors__Status__Danger__Shade30;
$Status__Danger__Foreground__2__Hover: $Colors__Status__Danger__Tint60;
$Status__Danger__Foreground__2__Pressed: $Colors__Status__Danger__Tint60;
$Status__Danger__Foreground__2__Selected: $Colors__Status__Danger__Tint60;
$Status__Danger__Stroke__1__OnDanger: $Colors__Base__White;
$Status__Success__Background__1__Rest: $Colors__Status__Success__Tint60;
$Status__Success__Background__2__Rest: $Colors__Status__Success__Primary;
$Status__Success__Foreground__1__Rest: $Colors__Status__Success__Tint10;
$Status__Success__Foreground__2__Rest: $Colors__Status__Success__Tint60;
$Status__Success__Foreground__Inverted__Rest: $Colors__Shared__Green__Tint20;
$Status__Success__Stroke__1__Rest: $Colors__Status__Success__Tint40;
$Status__Success__Stroke__2__Rest: $Colors__Status__Success__Tint10;
$Status__Warning__Background__1__Rest: $Colors__Status__Warning__Tint50;
$Status__Warning__Background__2__Rest: $Colors__Status__Warning__Tint10;
$Status__Warning__Foreground__1__Rest: $Colors__Status__Warning__Shade20;
$Status__Warning__Foreground__2__Rest: $Colors__Status__Warning__Shade40;
$Status__Warning__Stroke__1__Rest: $Colors__Status__Warning__Tint40;
$Status__Warning__Stroke__2__Rest: $Colors__Status__Warning__Shade10;
$Shadow__ambient: rgba(0, 0, 0, 0.16);
$Shadow__key: rgba(0, 0, 0, 0.12);
$Neutral__Foreground__Brand__Rest: $Colors__Brand1__Primary;
$Neutral__Foreground__3__Rest: $Colors__Neutral__Grey38;
$Neutral__Foreground__3__Hover: $Colors__Neutral__Grey26;
$Neutral__Foreground__3__Pressed: $Colors__Neutral__Grey26;
$Neutral__Foreground__3__Selected: $Colors__Neutral__Grey26;
$Status__Informational__Background__1__Rest: $Colors__Status__Informational__Tint60;
$Status__Informational__Background__2__Rest: $Colors__Status__Informational__Primary;
$Status__Informational__Foreground__1__Rest: $Colors__Status__Informational__Shade30;
$Status__Informational__Foreground__2__Rest: $Colors__Status__Informational__Tint60;
$Status__Informational__Stroke__1__Rest: $Colors__Status__Informational__Shade10;
$Status__Informational__Stroke__2__Rest: $Colors__Status__Informational__Shade40;
$Status__Generic__Red__Stroke__Active__Rest: $Colors__Shared__Red__Primary;
$Neutral__Foreground__2__Link__Rest: $Colors__Neutral__Grey26;
$Neutral__Foreground__2__Brand__Hover: $Colors__Brand1__Primary;
$Neutral__Foreground__2__Brand__Selected: $Colors__Brand1__Primary;
$Neutral__Foreground__2__Link__Selected: $Colors__Neutral__Grey14;
$Neutral__Foreground__2__Link__Pressed: $Colors__Neutral__Grey14;
$Neutral__Foreground__2__Link__Hover: $Colors__Neutral__Grey14;
$Neutral__Foreground__2__Brand__Pressed: $Colors__Brand1__Shade20;
$Brand__Background__2__Selected: $Colors__Brand1__Tint50;
$Brand__Foreground__2__Selected: $Colors__Brand1__Shade30;
$Brand__Stroke__2__Selected: $Colors__Brand1__Tint50;
$Brand__Stroke__Compound__Rest: $Colors__Brand1__Primary;
$Brand__Stroke__Compound__Pressed: $Colors__Brand1__Shade20;
$Neutral__Foreground__Static__Inverted__Rest: $Colors__Base__White;
$Brand__Foreground__Compound__Hover: $Colors__Brand1__Shade10;
$Brand__Foreground__Compound__Pressed: $Colors__Brand1__Shade20;

// OLD

// Branding
$puppet-amber: #ffae1a !default;
$puppet-teal: #11d1c4 !default;
$puppet-purple: #a263ff !default;
$puppet-red: #f2654b !default;

// Primary Color
$puppet-brand-primary: $puppet-amber !default;
$puppet-brand-secondary: $puppet-teal !default;

// Neutrals
$puppet-black: #04080a !default;
$puppet-n950: #111314 !default;
$puppet-n900: #222629 !default;
$puppet-n850: #33393d !default;
$puppet-n800: #454c52 !default;
$puppet-n700: #5d6f7a !default;
$puppet-n600: #818f99 !default;
$puppet-n500: #b0b9bf !default;
$puppet-n400: #ccd4d9 !default;
$puppet-n300: #e4e9ed !default;
$puppet-n200: #edf0f2 !default;
$puppet-n100: #f2f5f7 !default;
$puppet-n50: #f5f8fa !default;
$puppet-white: #fff !default;

// Blues
$puppet-b900: #021e3d !default;
$puppet-b800: #032852 !default;
$puppet-b700: #053c7a !default;
$puppet-b600: #0750a3 !default;
$puppet-b500: #186ccc !default;
$puppet-b400: #318cf5 !default;
$puppet-b300: #58a1f5 !default;
$puppet-b200: #99c9ff !default;
$puppet-b100: #d6e9ff !default;
$puppet-b50: #f5f9ff !default;

// Reds
$puppet-r900: #3d0b02 !default;
$puppet-r800: #520f03 !default;
$puppet-r700: #7a1705 !default;
$puppet-r600: #a31e07 !default;
$puppet-r500: #c43118 !default;
$puppet-r400: #f54e31 !default;
$puppet-r300: #f57058 !default;
$puppet-r200: #ffa899 !default;
$puppet-r100: #ffdcd6 !default;
$puppet-r50: #fff6f5 !default;

// Yellows
$puppet-y900: #000 !default;
$puppet-y800: #000 !default;
$puppet-y700: #8c6718 !default;
$puppet-y600: #db9f1f !default;
$puppet-y500: #fec650 !default;
$puppet-y400: #ffce5a !default;
$puppet-y300: #ffd967 !default;
$puppet-y200: #ffe070 !default;
$puppet-y100: #fff4cc !default;
$puppet-y50: #fffbf5 !default;

// Greens
$puppet-g900: #023d1a !default;
$puppet-g800: #035223 !default;
$puppet-g700: #057a34 !default;
$puppet-g600: #07a345 !default;
$puppet-g500: #18cc60 !default;
$puppet-g400: #6ee89e !default;
$puppet-g300: #93f5ba !default;
$puppet-g200: #adffce !default;
$puppet-g100: #d6ffe7 !default;
$puppet-g50: #f5fff9 !default;

// Purples
$puppet-p900: #1a023d !default;
$puppet-p800: #2a1052 !default;
$puppet-p700: #40187a !default;
$puppet-p600: #5521a3 !default;
$puppet-p500: #7439cc !default;
$puppet-p400: #a36cf5 !default;
$puppet-p300: #c6a6f5 !default;
$puppet-p200: #dac2ff !default;
$puppet-p100: #e7d6ff !default;
$puppet-p50: #f9f5ff !default;

// Teals
$puppet-t900: #1a023d !default;
$puppet-t800: #03524c !default;
$puppet-t700: #057a73 !default;
$puppet-t600: #07a399 !default;
$puppet-t500: #18ccc0 !default;
$puppet-t400: #45f5e9 !default;
$puppet-t300: #93f5ee !default;
$puppet-t200: #adfffa !default;
$puppet-t100: #d6fffc !default;
$puppet-t50: #f5fffe !default;
