@use 'sass:map';

// Common font families
$puppet-type-font-family: 'Open Sans', sans-serif !default;
$puppet-type-font-family-secondary: 'Calibre', sans-serif !default;
$puppet-type-font-family-monospace: 'Inconsolata', monospace !default;

// Common weights
$puppet-type-weight-normal: 400 !default;
$puppet-type-weight-heavy: 600 !default;

// Common spacing
$puppet-type-spacing-medium: 0.4px !default;

// Common colors
$puppet-type-color-base: $puppet-n900 !default;
$puppet-type-color-medium: $puppet-n700 !default;
$puppet-type-color-subtle: $puppet-n600 !default;
$puppet-type-color-success: $puppet-g700 !default;
$puppet-type-color-warning: $puppet-y600 !default;
$puppet-type-color-danger: $puppet-r600 !default;
$puppet-type-color-link: $puppet-b500 !default;
$puppet-type-color-link-hover: $puppet-b400 !default;
$puppet-type-color-link-active: $puppet-b600 !default;
$puppet-type-color-white: $puppet-white !default;

// Map is useful internally for mixins below
$puppet-type-colors: (
  base: $puppet-type-color-base,
  medium: $puppet-type-color-medium,
  subtle: $puppet-type-color-subtle,
  danger: $puppet-type-color-danger,
  warning: $puppet-type-color-warning,
  success: $puppet-type-color-success,
);

$puppet-type-hero-font-size: 48px !default;
$puppet-type-hero-line-height: calc(56 / 48) !default;
$puppet-type-hero-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-hero-font-weight: $puppet-type-weight-heavy !default;

$puppet-type-h1-font-size: 40px !default;
$puppet-type-h1-line-height: calc(48 / 40) !default;
$puppet-type-h1-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-h1-font-weight: $puppet-type-weight-heavy !default;

$puppet-type-h2-font-size: 32px !default;
$puppet-type-h2-line-height: calc(40 / 32) !default;
$puppet-type-h2-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-h2-font-weight: $puppet-type-weight-heavy !default;

$puppet-type-h3-font-size: 24px !default;
$puppet-type-h3-line-height: calc(32 / 24) !default;
$puppet-type-h3-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-h3-font-weight: $puppet-type-weight-heavy !default;

$puppet-type-h4-font-size: 18px !default;
$puppet-type-h4-line-height: calc(24 / 18) !default;
$puppet-type-h4-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-h4-font-weight: $puppet-type-weight-heavy !default;

$puppet-type-h5-font-size: 14px !default;
$puppet-type-h5-line-height: calc(20 / 14) !default;
$puppet-type-h5-font-family: $puppet-type-font-family !default;
$puppet-type-h5-font-weight: 700 !default;

$puppet-type-h6-font-size: 12px !default;
$puppet-type-h6-line-height: calc(16 / 12) !default;
$puppet-type-h6-font-family: $puppet-type-font-family !default;
$puppet-type-h6-font-weight: 700 !default;

$puppet-type-body-font-size: 14px !default;
$puppet-type-body-line-height: calc(20 / 14) !default;
$puppet-type-body-font-family: $puppet-type-font-family !default;
$puppet-type-body-font-weight: 400 !default;

$puppet-type-small-font-size: 12px !default;
$puppet-type-small-line-height: calc(16 / 12) !default;
$puppet-type-small-font-family: $puppet-type-font-family !default;
$puppet-type-small-font-weight: 400 !default;

$puppet-type-tiny-font-size: 11px !default;
$puppet-type-tiny-line-height: calc(16 / 11) !default;
$puppet-type-tiny-font-family: $puppet-type-font-family !default;
$puppet-type-tiny-font-weight: $puppet-type-weight-heavy !default;

$puppet-type-button-font-size: 14px !default;
$puppet-type-button-line-height: calc(20 / 14) !default;
$puppet-type-button-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-button-font-weight: $puppet-type-weight-heavy !default;

$puppet-type-button-small-font-size: 12px !default;
$puppet-type-button-small-line-height: calc(16 / 12) !default;
$puppet-type-button-small-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-button-small-font-weight: $puppet-type-weight-heavy !default;

$puppet-type-label-font-size: 11px !default;
$puppet-type-label-line-height: calc(16 / 11) !default;
$puppet-type-label-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-label-font-weight: $puppet-type-weight-heavy !default;

$puppet-type-code-font-size: 16px !default;
$puppet-type-code-line-height: calc(20 / 14) !default;
$puppet-type-code-font-family: $puppet-type-font-family-monospace !default;
$puppet-type-code-font-weight: $puppet-type-weight-normal !default;

$puppet-type-code-small-font-size: 14px !default;
$puppet-type-code-small-line-height: calc(20 / 12) !default;
$puppet-type-code-small-font-family: $puppet-type-font-family-monospace !default;
$puppet-type-code-small-font-weight: $puppet-type-weight-normal !default;

@mixin puppet-type-hero($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-hero-font-family;
  font-size: $puppet-type-hero-font-size;
  font-weight: $puppet-type-hero-font-weight;
  line-height: $puppet-type-hero-line-height;
}

@mixin puppet-type-h1($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-h1-font-family;
  font-size: $puppet-type-h1-font-size;
  font-weight: $puppet-type-h1-font-weight;
  line-height: $puppet-type-h1-line-height;
}

@mixin puppet-type-h2($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-h2-font-family;
  font-size: $puppet-type-h2-font-size;
  font-weight: $puppet-type-h2-font-weight;
  line-height: $puppet-type-h2-line-height;
}

@mixin puppet-type-h3($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-h3-font-family;
  font-size: $puppet-type-h3-font-size;
  font-weight: $puppet-type-h3-font-weight;
  line-height: $puppet-type-h3-line-height;
}

@mixin puppet-type-h4($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-h4-font-family;
  font-size: $puppet-type-h4-font-size;
  font-weight: $puppet-type-h4-font-weight;
  line-height: $puppet-type-h4-line-height;
}

@mixin puppet-type-h5($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-h5-font-family;
  font-size: $puppet-type-h5-font-size;
  font-weight: $puppet-type-h5-font-weight;
  line-height: $puppet-type-h5-line-height;
}

@mixin puppet-type-h6($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-h6-font-family;
  font-size: $puppet-type-h6-font-size;
  font-weight: $puppet-type-h6-font-weight;
  line-height: $puppet-type-h6-line-height;
}

@mixin puppet-type-body($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-body-font-family;
  font-size: $puppet-type-body-font-size;
  font-weight: $puppet-type-body-font-weight;
  line-height: $puppet-type-body-line-height;
}

@mixin puppet-type-small($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-small-font-family;
  font-size: $puppet-type-small-font-size;
  font-weight: $puppet-type-small-font-weight;
  line-height: $puppet-type-small-line-height;
}

@mixin puppet-type-tiny($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-tiny-font-family;
  font-size: $puppet-type-tiny-font-size;
  font-weight: $puppet-type-tiny-font-weight;
  line-height: $puppet-type-tiny-line-height;
}

@mixin puppet-type-button($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-button-font-family;
  font-size: $puppet-type-button-font-size;
  font-weight: $puppet-type-button-font-weight;
  line-height: $puppet-type-button-line-height;
}

@mixin puppet-type-button-small($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-button-small-font-family;
  font-size: $puppet-type-button-small-font-size;
  font-weight: $puppet-type-button-small-font-weight;
  line-height: $puppet-type-button-small-line-height;
}

@mixin puppet-type-label($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-label-font-family;
  font-size: $puppet-type-label-font-size;
  font-weight: $puppet-type-label-font-weight;
  line-height: $puppet-type-label-line-height;
  text-transform: uppercase;
}

@mixin puppet-type-code() {
  font-family: $puppet-type-code-font-family;
  font-size: $puppet-type-code-font-size;
  font-weight: $puppet-type-code-font-weight;
  line-height: $puppet-type-code-line-height;
}

@mixin puppet-type-code-small() {
  font-family: $puppet-type-code-small-font-family;
  font-size: $puppet-type-code-small-font-size;
  font-weight: $puppet-type-code-small-font-weight;
  line-height: $puppet-type-code-small-line-height;
}

@mixin puppet-type-link() {
  color: $puppet-type-color-link;
  cursor: pointer;
  outline: none;
  text-decoration: none;

  &:hover {
    color: $puppet-type-color-link-hover;
    text-decoration: underline;
  }

  &:focus {
    box-shadow: inset 0 -4px 0 -1px $puppet-b100;
    color: $puppet-type-color-link;
    text-decoration: none;
  }

  &:active {
    box-shadow: none;
    color: $puppet-type-color-link-active;
    text-decoration: none;
  }

  &:disabled,
  &[aria-disabled='true'] {
    opacity: $puppet-common-disabled-opacity;
    pointer-events: none;
  }
}
