@use 'sass:map';

// Common font families
$puppet-type-font-family: 'Open Sans', sans-serif !default;
$puppet-type-font-family-secondary: 'Calibre', sans-serif !default;
$puppet-type-font-family-monospace: 'Inconsolata', monospace !default;

// Common weights
$puppet-type-weight-normal: 400 !default;
$puppet-type-weight-heavy: 600 !default;

// Common spacing
$puppet-type-spacing-medium: 0.4px !default;

// Common colors
$puppet-type-color-base: $puppet-n900 !default;
$puppet-type-color-medium: $puppet-n700 !default;
$puppet-type-color-subtle: $puppet-n600 !default;
$puppet-type-color-success: $puppet-g700 !default;
$puppet-type-color-warning: $puppet-y600 !default;
$puppet-type-color-danger: $puppet-r600 !default;
$puppet-type-color-link: $puppet-b500 !default;
$puppet-type-color-link-hover: $puppet-b400 !default;
$puppet-type-color-link-active: $puppet-b600 !default;
$puppet-type-color-white: $puppet-white !default;

// Map is useful internally for mixins below
$puppet-type-colors: (
  base: $puppet-type-color-base,
  medium: $puppet-type-color-medium,
  subtle: $puppet-type-color-subtle,
  danger: $puppet-type-color-danger,
  warning: $puppet-type-color-warning,
  success: $puppet-type-color-success,
);

// Hero Heading
$puppet-type-hero-font-size: 48px !default;
$puppet-type-hero-line-height: calc(60 / 48) !default;
$puppet-type-hero-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-hero-font-weight: $puppet-type-weight-heavy !default;

// Heading 1
$puppet-type-h1-font-size: 38px !default;
$puppet-type-h1-line-height: calc(48 / 38) !default;
$puppet-type-h1-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-h1-font-weight: $puppet-type-weight-heavy !default;

// Heading 2
$puppet-type-h2-font-size: 32px !default;
$puppet-type-h2-line-height: calc(40 / 32) !default;
$puppet-type-h2-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-h2-font-weight: $puppet-type-weight-heavy !default;

// Heading 3
$puppet-type-h3-font-size: 26px !default;
$puppet-type-h3-line-height: calc(32 / 26) !default;
$puppet-type-h3-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-h3-font-weight: $puppet-type-weight-heavy !default;

// Heading 4
$puppet-type-h4-font-size: 22px !default;
$puppet-type-h4-line-height: calc(28 / 22) !default;
$puppet-type-h4-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-h4-font-weight: $puppet-type-weight-heavy !default;

// Heading 5
$puppet-type-h5-font-size: 19px !default;
$puppet-type-h5-line-height: calc(24 / 19) !default;
$puppet-type-h5-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-h5-font-weight: $puppet-type-weight-heavy !default;

// Heading 6
$puppet-type-h6-font-size: 16px !default;
$puppet-type-h6-line-height: calc(20 / 16) !default;
$puppet-type-h6-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-h6-font-weight: $puppet-type-weight-heavy !default;

// Body Large
$puppet-type-large-font-size: 20px !default;
$puppet-type-large-line-height: calc(32 / 20) !default;
$puppet-type-large-font-family: $puppet-type-font-family !default;
$puppet-type-large-font-weight: $puppet-type-weight-normal !default;

// Body Medium
$puppet-type-medium-font-size: 17px !default;
$puppet-type-medium-line-height: calc(28 / 17) !default;
$puppet-type-medium-font-family: $puppet-type-font-family !default;
$puppet-type-medium-font-weight: $puppet-type-weight-normal !default;

// Body Regular
$puppet-type-body-font-size: 15px !default;
$puppet-type-body-line-height: calc(24 / 15) !default;
$puppet-type-body-font-family: $puppet-type-font-family !default;
$puppet-type-body-font-weight: $puppet-type-weight-normal !default;

// Body Small
$puppet-type-small-font-size: 12px !default;
$puppet-type-small-line-height: calc(20 / 12) !default;
$puppet-type-small-font-family: $puppet-type-font-family !default;
$puppet-type-small-font-weight: $puppet-type-weight-normal !default;

// Body Tiny
$puppet-type-tiny-font-size: 11px !default;
$puppet-type-tiny-line-height: calc(16 / 10) !default;
$puppet-type-tiny-font-family: $puppet-type-font-family !default;
$puppet-type-tiny-font-weight: $puppet-type-weight-heavy !default;

// Button
$puppet-type-button-font-size: 14px !default;
$puppet-type-button-line-height: calc(20 / 14) !default;
$puppet-type-button-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-button-font-weight: $puppet-type-weight-heavy !default;

$puppet-type-button-small-font-size: 12px !default;
$puppet-type-button-small-line-height: calc(16 / 12) !default;
$puppet-type-button-small-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-button-small-font-weight: $puppet-type-weight-heavy !default;

// Label
$puppet-type-label-font-size: 11px !default;
$puppet-type-label-line-height: calc(16 / 11) !default;
$puppet-type-label-font-family: $puppet-type-font-family-secondary !default;
$puppet-type-label-font-weight: $puppet-type-weight-heavy !default;

// Code Large
$puppet-type-code-large-font-size: $puppet-type-large-font-size !default;
$puppet-type-code-large-line-height: $puppet-type-large-line-height !default;
$puppet-type-code-large-font-family: $puppet-type-font-family-monospace !default;
$puppet-type-code-large-font-weight: $puppet-type-weight-normal !default;

// Code Medium
$puppet-type-code-medium-font-size: $puppet-type-medium-font-size !default;
$puppet-type-code-medium-line-height: $puppet-type-medium-line-height !default;
$puppet-type-code-medium-font-family: $puppet-type-font-family-monospace !default;
$puppet-type-code-medium-font-weight: $puppet-type-weight-normal !default;

// Code Regular (Body)
$puppet-type-code-font-size: 16px !default;
$puppet-type-code-line-height: $puppet-type-body-line-height !default;
$puppet-type-code-font-family: $puppet-type-font-family-monospace !default;
$puppet-type-code-font-weight: $puppet-type-weight-normal !default;

// Code Small
$puppet-type-code-small-font-size: 14px !default;
$puppet-type-code-small-line-height: $puppet-type-small-line-height !default;
$puppet-type-code-small-font-family: $puppet-type-font-family-monospace !default;
$puppet-type-code-small-font-weight: $puppet-type-weight-normal !default;

// Code Tiny
$puppet-type-code-tiny-font-size: $puppet-type-tiny-font-size !default;
$puppet-type-code-tiny-line-height: $puppet-type-tiny-line-height !default;
$puppet-type-code-tiny-font-family: $puppet-type-font-family-monospace !default;
$puppet-type-code-tiny-font-weight: $puppet-type-weight-normal !default;

// Code blocks
$puppet-type-code-block-line-height: calc(22 / 16) !default;

// N.B. Type mixins intentionally do not include margins (We do apply margins
// within Content components, but we do not attempt to dictate type margins
// outside of that context; see _content.scss for margin values.)
@mixin puppet-type-hero($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-hero-font-family;
  font-size: $puppet-type-hero-font-size;
  font-weight: $puppet-type-hero-font-weight;
  line-height: $puppet-type-hero-line-height;
}

@mixin puppet-type-h1($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-h1-font-family;
  font-size: $puppet-type-h1-font-size;
  font-weight: $puppet-type-h1-font-weight;
  line-height: $puppet-type-h1-line-height;
}

@mixin puppet-type-h2($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-h2-font-family;
  font-size: $puppet-type-h2-font-size;
  font-weight: $puppet-type-h2-font-weight;
  line-height: $puppet-type-h2-line-height;
}

@mixin puppet-type-h3($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-h3-font-family;
  font-size: $puppet-type-h3-font-size;
  font-weight: $puppet-type-h3-font-weight;
  line-height: $puppet-type-h3-line-height;
}

@mixin puppet-type-h4($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-h4-font-family;
  font-size: $puppet-type-h4-font-size;
  font-weight: $puppet-type-h4-font-weight;
  line-height: $puppet-type-h4-line-height;
}

@mixin puppet-type-h5($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-h5-font-family;
  font-size: $puppet-type-h5-font-size;
  font-weight: $puppet-type-h5-font-weight;
  line-height: $puppet-type-h5-line-height;
}

@mixin puppet-type-h6($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-h6-font-family;
  font-size: $puppet-type-h6-font-size;
  font-weight: $puppet-type-h6-font-weight;
  line-height: $puppet-type-h6-line-height;
}

@mixin puppet-type-body($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-body-font-family;
  font-size: $puppet-type-body-font-size;
  font-weight: $puppet-type-body-font-weight;
  line-height: $puppet-type-body-line-height;
}

@mixin puppet-type-large($color: base) {
  color: map-get($puppet-type-colors, $color);
  font-family: $puppet-type-large-font-family;
  font-size: $puppet-type-large-font-size;
  font-weight: $puppet-type-large-font-weight;
  line-height: $puppet-type-large-line-height;
}

@mixin puppet-type-medium($color: base) {
  color: map-get($puppet-type-colors, $color);
  font-family: $puppet-type-medium-font-family;
  font-size: $puppet-type-medium-font-size;
  font-weight: $puppet-type-medium-font-weight;
  line-height: $puppet-type-medium-line-height;
}

@mixin puppet-type-small($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-small-font-family;
  font-size: $puppet-type-small-font-size;
  font-weight: $puppet-type-small-font-weight;
  line-height: $puppet-type-small-line-height;
}

@mixin puppet-type-tiny($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-tiny-font-family;
  font-size: $puppet-type-tiny-font-size;
  font-weight: $puppet-type-tiny-font-weight;
  line-height: $puppet-type-tiny-line-height;
}

@mixin puppet-type-button($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-button-font-family;
  font-size: $puppet-type-button-font-size;
  font-weight: $puppet-type-button-font-weight;
  line-height: $puppet-type-button-line-height;
}

@mixin puppet-type-button-small($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-button-small-font-family;
  font-size: $puppet-type-button-small-font-size;
  font-weight: $puppet-type-button-small-font-weight;
  line-height: $puppet-type-button-small-line-height;
}

@mixin puppet-type-label($color: base) {
  color: map.get($puppet-type-colors, $color);
  font-family: $puppet-type-label-font-family;
  font-size: $puppet-type-label-font-size;
  font-weight: $puppet-type-label-font-weight;
  line-height: $puppet-type-label-line-height;
  text-transform: uppercase;
}

@mixin puppet-type-code() {
  font-family: $puppet-type-code-font-family;
  font-size: $puppet-type-code-font-size;
  font-weight: $puppet-type-code-font-weight;
  line-height: $puppet-type-code-line-height;
}

@mixin puppet-type-code-large() {
  @include puppet-type-code();
  font-family: $puppet-type-code-large-font-family;
  font-size: $puppet-type-code-large-font-size;
  font-weight: $puppet-type-code-large-font-weight;
  line-height: $puppet-type-code-large-line-height;
}

@mixin puppet-type-code-medium() {
  font-family: $puppet-type-code-medium-font-family;
  font-size: $puppet-type-code-medium-font-size;
  font-weight: $puppet-type-code-medium-font-weight;
  line-height: $puppet-type-code-medium-line-height;
}

@mixin puppet-type-code-small() {
  font-family: $puppet-type-code-small-font-family;
  font-size: $puppet-type-code-small-font-size;
  font-weight: $puppet-type-code-small-font-weight;
  line-height: $puppet-type-code-small-line-height;
}

@mixin puppet-type-code-tiny() {
  font-family: $puppet-type-code-tiny-font-family;
  font-size: $puppet-type-code-tiny-font-size;
  font-weight: $puppet-type-code-tiny-font-weight;
  line-height: $puppet-type-code-tiny-line-height;
}

  // background-color: $puppet-n100;
  // border-left: 8px solid $puppet-n300;
  // display: block;
  // padding: 0;
  // white-space: pre;

@mixin puppet-type-code-block() {
  background-color: $puppet-n50;
  border-left: 8px solid $puppet-n300;
  box-sizing: border-box;
  display: block;
  @include puppet-type-code();
  line-height: $puppet-type-code-block-line-height;
  overflow: auto;
  padding: $puppet-common-spacing-base * 3 $puppet-common-spacing-base * 6;
  white-space: pre;
}

@mixin puppet-type-link() {
  color: $puppet-type-color-link;
  cursor: pointer;
  outline: none;
  text-decoration: none;

  &:focus {
    box-shadow: inset 0 -4px 0 -1px $puppet-b100;
    color: $puppet-type-color-link;
    text-decoration: none;
  }

  &:hover {
    color: $puppet-type-color-link-hover;
    text-decoration: underline;
  }

  &:active {
    box-shadow: none;
    color: $puppet-type-color-link-active;
    text-decoration: none;
  }

  &:disabled,
  &[aria-disabled='true'] {
    opacity: $puppet-common-disabled-opacity;
    pointer-events: none;
  }
}
