@import './library/variables';

body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: $font-family;
  font-weight: normal;
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 20px;
  background: $brand-primary;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        font-family: $font-family;
        text-decoration: none;
        padding: 5px;
        color: $white;
        display: block;
      }
    }
  }
}

.content {
  margin-left: 200px;
  padding: 20px;
}

.sg-section {
  margin-bottom: 40px;
  border: $border;

  .sg-section-title {
    font-family: $font-family;
    font-weight: normal;
    background: $gray-lighter;
    border-bottom: $border;
    padding: 10px 20px;
  }

  .sg-section-content {
    padding: 20px;
  }
}

.sg-subsection {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.sg-icon {
  float: left;
  border: 1px solid $gray-light;
  width: 100px;
  margin-right: 10px;
  text-align: center;

  .sg-icon-wrapper {
    padding: 10px 5px;
  }

  .sg-icon-title {
    font-family: $font-family;
    border-top: 1px solid $gray-light;
    padding: 4px;
  }
}
