@import './library/variables';

body {
  margin: 0;
  padding: 0;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $reflect-font-family;
  font-weight: normal;
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

.sg-sidebar {
  background: $reflect-brand-primary;
  bottom: 0;
  height: 100%;
  left: 0;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 200px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li a {
    color: $reflect-bg-primary;
    display: block;
    font-family: $reflect-font-family;
    padding: 5px;
    text-decoration: none;
  }
}

.sg-content {
  margin-left: 200px;
  padding: 20px;
}

.sg-section {
  border: $reflect-border;
  margin-bottom: 40px;

  .sg-section-title {
    background: $reflect-gray-lighter;
    border-bottom: $reflect-border;
    font-family: $reflect-font-family;
    font-weight: normal;
    padding: 10px 20px;
  }

  .sg-section-content {
    padding: 20px;
  }
}

.sg-subsection {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.sg-icon {
  border: 1px solid $reflect-gray-light;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  width: 100px;

  .sg-icon-wrapper {
    padding: 10px 5px;
  }

  .sg-icon-title {
    border-top: 1px solid $reflect-gray-light;
    font-family: $reflect-font-family;
    font-size: $reflect-font-size-small;
    overflow: hidden;
    padding: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.input {
  padding-bottom: 20px;
  width: 40%;
}

.sg-progress-bars {
  .rc-button {
    display: block;
    margin-top: 20px;
    width: 200px;
  }
}

.sg-clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.blank-slates-styleguide {
  background: $reflect-gray-lighter;
}
