@import '~@puppet/sass-variables/index';

.react-code-editor.ace_editor {
  &.react-code-editor-border {
    border-radius: $puppet-common-border-radius;
  }

  .ace_gutter-cell {
    padding-left: 13px;
  }

  &:not(.react-code-editor-light) {
    width: 100%;
    background: $puppet-n850;
    .ace_line {
      color: $puppet-n50;
    }
    .ace_gutter {
      background: $puppet-n800;
    }
    .ace_comment {
      color: $puppet-n600;
    }
    .ace_tag {
      color: $puppet-purple;
    }
    .ace_keyword {
      color: $puppet-purple;
    }
    .ace_string {
      color: $puppet-teal;
    }
    .ace_constant {
      color: $puppet-red;
    }
  }

  &.react-code-editor-light {
    color: $puppet-n700;

    &.react-code-editor-border {
      border: 1px solid $puppet-n400;
    }

    .ace_text-layer {
      color: $puppet-n900;
    }

    .ace_comment {
      color: $puppet-n700;
    }

    .ace_meta.ace_tag {
      color: $puppet-p500;
    }

    .ace_string {
      color: $puppet-t600;
    }

    .ace_constant.ace_numeric {
      color: $puppet-r500;
    }

    .ace_gutter {
      color: $puppet-n50;
      background-color: $puppet-n800;
    }

    .ace_gutter-active-line {
      background: $puppet-n900;
    }

    .ace_active-line {
      background: $puppet-n200;
    }
  }
}
