// This file contains variables considered to be part of the outward-facing API
// of this library, to be used by consuming apps for one-off components that
// still need to be consistent with our overall patterns. This variable set should be
// added to over time but kept minimal to reduce maitainence bloat

// Most elements share a common border radius
$puppet-common-border-radius: 4px !default;

// Element spacing should be multiples of this base. 4px is acceptible in some cases
$puppet-common-spacing-base: 8px;

// Often used border dividing content
$puppet-common-border: 1px solid $puppet-n400 !default;
$puppet-common-border-subtle: 1px solid $puppet-n300 !default;
$puppet-common-border-active: 1px solid $puppet-b600 !default;

// Often used content backgrounds
$puppet-common-bg: $puppet-white !default;
$puppet-common-bg-subtle: $puppet-n50 !default;

// Common focused element outline, implemented as a box shadow
$puppet-common-focus-outline: 0 0 0 2px $puppet-b300 !default;
