.reflect-charts-gauge {
  @include reflect-colors(gauge);

  .reflect-charts-gauge-kpi {
    alignment-baseline: middle;
    font-family: 'Calibre', 'Open Sans', sans-serif;
    font-weight: 600;
    text-anchor: middle;
  }

  .reflect-charts-gauge-delta {
    alignment-baseline: middle;
    // TODO: Replace with $puppet-n700 once we have react-components variables here
    fill: #5d6f7a;
    font-weight: bold;
    text-anchor: middle;
  }

  .reflect-charts-gauge-delta-up {
    // TODO: replace with $puppet-g700 once we have react-components variables here
    fill: #057a34;
  }

  .reflect-charts-gauge-delta-down {
    // TODO: replace with $puppet-r500 once we have react-components variables here
    fill: #c43118;
  }
}

