.rc-button {
  @include puppet-type-button();
  border-radius: $puppet-common-border-radius;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 5px 15px;
  position: relative;
  vertical-align: top;

  .rc-button-content {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  .rc-button-icon-svg {
    bottom: 0;
    fill: inherit;
    margin: auto;
    position: absolute;
    top: 0;
  }

  &:focus {
    box-shadow: $puppet-common-focus-outline;
  }

  &:disabled,
  &[aria-disabled=true] {
    cursor: default;
    pointer-events: none;
  }
}

.rc-button-primary {
  @include button-type($puppet-button-primary);
}

.rc-button-secondary {
  @include button-type($puppet-button-secondary);
}

.rc-button-tertiary {
  @include button-type($puppet-button-tertiary);
}

.rc-button-danger.rc-button-bold {
  @include button-type($puppet-button-danger);
}

.rc-button-danger.rc-button-subtle {
  @include button-type($puppet-button-danger-subtle);
}

.rc-button-transparent {
  @include button-type($puppet-button-transparent);
}

.rc-button-text {
  @include puppet-type-button-small();
  @include button-type($puppet-button-text);
  border: 0 !important;
  padding: 0 4px;
}

.rc-button-loading {
  .rc-button-loader {
    bottom: 0;
    fill: inherit;
    height: 16px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
  }

  .rc-button-content,
  .rc-button-icon-svg {
    visibility: hidden;
  }
}

.rc-button-icon {
  &.rc-button-empty {
    height: 32px;
    width: 32px;
  }

  &.rc-button-full {
    padding-left: 31px;
  }

  .rc-button-icon-svg {
    left: 7px;
  }
}

.rc-button-trailing-icon {
  &.rc-button-empty {
    height: 32px;
    width: 32px;
  }

  &.rc-button-full {
    padding-right: 31px;
  }

  .rc-button-icon-svg {
    right: 7px;
  }
}

.rc-button-text.rc-button-icon {
  padding: 0 4px;

  &.rc-button-empty {
    height: 16px;
    width: 16px;
  }

  &.rc-button-full {
    padding-left: 19px;
  }

  .rc-button-icon-svg {
    left: 4px;
  }
}

.rc-button-text.rc-button-trailing-icon {
  padding: 0 4px;

  &.rc-button-empty {
    height: 16px;
    width: 16px;
  }

  &.rc-button-full {
    padding-right: 19px;
  }

  .rc-button-icon-svg {
    right: 4px;
  }
}
