.rc-button {
  border-radius: $puppet-common-border-radius;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  vertical-align: top;


  // TODO: This annoying **** is to override the resets we're doing on all
  // .rc stuff in _resets.scss. Should remove once we fix that problem
  .rc-button-content {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  .rc-button-icon-svg {
    fill: inherit;
    vertical-align: text-bottom;
  }

  &:focus {
    box-shadow: $puppet-common-focus-outline;
  }

  &:disabled,
  &[aria-disabled=true] {
    cursor: default;
    pointer-events: none;
  }
}

.rc-button-medium {
  @include puppet-type-button();
  padding: 5px 15px;
}

.rc-button-small {
  @include puppet-type-button-small();
  padding: 3px 11px;
}

.rc-button-loading {
  .rc-loading {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
  }

  .rc-button-content,
  .rc-button-icon-svg {
    visibility: hidden;
  }
}

.rc-button-primary {
  @include button-type($puppet-button-primary);
}

.rc-button-secondary {
  @include button-type($puppet-button-secondary);
}

.rc-button-tertiary {
  @include button-type($puppet-button-tertiary);
}

.rc-button-danger.rc-button-bold {
  @include button-type($puppet-button-danger);
}

.rc-button-danger.rc-button-subtle {
  @include button-type($puppet-button-danger-subtle);
}

.rc-button-transparent {
  @include button-type($puppet-button-transparent);

  &.rc-button-small {
    padding: 0 3px;
  }
}

.rc-button-icon.rc-button-medium {
  padding: 5px 7px;
}

.rc-button-icon.rc-button-medium.rc-button-text {
  .rc-button-content {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.rc-button-icon.rc-button-small {
  padding: 3px 5px;

  .rc-button-icon-svg {
    padding: 1px 0;
  }
}

.rc-button-icon.rc-button-small.rc-button-text {
  .rc-button-content {
    margin-left: 4px;
    margin-right: 4px;
  }
}

.rc-button-transparent.rc-button-icon.rc-button-small {
  padding: 0 3px;

  .rc-button-icon-svg {
    padding: 1px 0;
  }
}

.rc-button-transparent.rc-button-icon.rc-button-small.rc-button-text {
  .rc-button-content {
    margin-left: 4px;
    margin-right: 4px;
  }
}
