$puppet-alert-width: 432px !default;

$colors: (
  danger: $puppet-danger-bold,
  danger-border: $puppet-danger-bright,
  danger-active: $puppet-danger-subtle,
  danger-hover: $puppet-r50,
  info: $puppet-info-bold,
  info-border: $puppet-info-bright,
  info-active: $puppet-info-subtle,
  info-hover: $puppet-b50,
  success: $puppet-success-bold,
  success-border: $puppet-success-bright,
  success-active: $puppet-success-subtle,
  success-hover: $puppet-g50,
  warning: $puppet-warning-bold,
  warning-border: $puppet-warning-bright,
  warning-active: $puppet-warning-subtle,
  warning-hover: $puppet-y50,
  neutral: $puppet-neutral-bold,
  neutral-border: $puppet-neutral-bright,
  neutral-active: $puppet-neutral-subtle,
  neutral-hover: $puppet-n50,
);

@mixin rc-alert-colors($type) {
  &.rc-alert-#{$type} {
    border: 1px solid map-get($colors, $type + '-border');

    .rc-alert-primary-icon,
    .rc-alert-dismiss-icon .rc-icon-button-icon-svg {
      fill: map-get($colors, $type);
    }

    .rc-icon-button:hover,
    .rc-icon-button:focus, {
      background: map-get($colors, $type + '-hover');
    }

    .rc-icon-button:active {
      background: map-get($colors, $type + '-active');
    }
  }
}

.rc-alert {
  @include rc-alert-colors('danger');
  @include rc-alert-colors('info');
  @include rc-alert-colors('success');
  @include rc-alert-colors('warning');
  @include rc-alert-colors('neutral');

  align-items: center;
  background: $puppet-white;
  border-radius: $puppet-common-border-radius;
  cursor: default;
  display: flex;
  left: 50%;
  margin-left: -$puppet-alert-width / 2;
  position: fixed;
  top: 8px;
  width: $puppet-alert-width;
  z-index: 25;
}

.rc-alert-static {
  box-shadow: none;
  margin-left: 0;
  position: static;
  width: 100%;
  z-index: auto;
}

.rc-alert-primary-icon {
  flex-shrink: 0;
  margin: $puppet-common-spacing-base;
  margin-right: 0;
}

.rc-alert-message {
  flex-grow: 1;
  font-weight: $puppet-type-weight-heavy;
  overflow: auto;
  overflow-wrap: break-word;
  padding: $puppet-common-spacing-base;
}

.rc-alert-dismiss-icon {
  padding: 0;
}

.rc-alert .rc-icon-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

// Icon Button
// TODO: Consider splitting this out if the component ever stands alone

.rc-icon-button {
  border: 0;
  border-radius: $puppet-common-border-radius;
  cursor: pointer;
  display: inline-block;
  height: 34px;
  outline: none;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  width: 34px;

  .rc-icon-button-icon-svg {
    bottom: 0;
    fill: inherit;
    margin: auto;
    position: absolute;
    right: $puppet-common-spacing-base;
    top: 0;
  }

  &:focus {
    box-shadow: $puppet-common-focus-outline-inset;
  }

  &:disabled,
  &[aria-disabled=true] {
    cursor: default;
    pointer-events: none;
  }
}

.rc-icon-button-loading {
  .rc-icon-button-loader {
    bottom: 0;
    fill: inherit;
    height: 16px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
  }

  .rc-icon-button-icon-svg {
    visibility: hidden;
  }
}
