.rc-badge {
  border-radius: $puppet-common-border-radius-small;
  display: inline-block;
  font-family: $puppet-type-font-family-secondary;
  font-size: $puppet-type-tiny-font-size;
  font-weight: $puppet-type-weight-heavy;
  line-height: $puppet-common-spacing-base * 2;
  margin: 0 $puppet-common-spacing-base * 0.25;
  padding: 0 $puppet-common-spacing-base * 0.5;
  text-align: center;
  text-transform: uppercase;
}

.rc-badge-pill,
.rc-badge-bold {
  &.rc-badge-danger {
    background-color: $puppet-r600;
    color: $puppet-white;
  }

  &.rc-badge-info {
    background-color: $puppet-b600;
    color: $puppet-white;
  }

  &.rc-badge-neutral {
    background-color: $puppet-n800;
    color: $puppet-white;
  }

  &.rc-badge-success {
    background-color: $puppet-g700;
    color: $puppet-white;
  }


  &.rc-badge-warning {
    background-color: $puppet-y700;
    color: $puppet-white;
  }
}

.rc-badge-pill {
  border-radius: $puppet-common-circle-radius;
  padding: 0 $puppet-common-spacing-base * 2;
}

.rc-badge-subtle {
  &.rc-badge-danger {
    background-color: $puppet-r100;
    color: $puppet-r600;
  }

  &.rc-badge-info {
    background-color: $puppet-b100;
    color: $puppet-b600;
  }

  &.rc-badge-neutral {
    background-color: $puppet-n100;
    color: $puppet-n800;
  }


  &.rc-badge-success {
    background-color: $puppet-g100;
    color: $puppet-g800;
  }

  &.rc-badge-warning {
    background-color: $puppet-y100;
    color: $puppet-y700;
  }
}
