.rc-breadcrumb-link {
  display: inline;
}

.rc-breadcrumb-separator {
  color: $puppet-font-color-medium;
}

.rc-breadcrumb-link,
.rc-breadcrumb-separator {
  font-size: $puppet-type-tiny-font-size;
  margin-right: $puppet-common-spacing-base * 0.5;
}
