// Breadcrumb
// ----------------------------------------------------------------------------
$puppet-breadcrumb-spacing: $puppet-medium !default;

.rc-breadcrumb-section,
.rc-breadcrumb-separator {
  display: inline-block;
  margin-right: $puppet-breadcrumb-spacing;
}
