.rc-button-select {
  display: flex;
  position: relative;

  .rc-button-select-target {
    flex: 1;
  }

  .rc-menu-list {
    min-width: 150px;
    position: absolute;
    z-index: 10;
  }

  .rc-menu-list-inner {
    max-height: 100px;
  }
}

.rc-button-select-closed {
  .rc-menu-list {
    display: none;
  }
}
