.rc-content {
  a {
    @include puppet-type-link();
  }

  h1 {
    @include puppet-type-h1();
  }

  h2 {
    @include puppet-type-h2();
  }

  h3 {
    @include puppet-type-h3();
  }

  h4 {
    @include puppet-type-h4();
  }

  h5 {
    @include puppet-type-h5();
  }

  h6 {
    @include puppet-type-h6();
  }

  ul {
    margin: $puppet-list-margin;
  }

  ul:last-child {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: $puppet-heading-margin;
  }

  h5,
  h6 {
    margin: $puppet-heading-margin-small;
  }

  p {
    margin: $puppet-p-margin;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
