// Menu
// ----------------------------------------------------------------------------
$puppet-menu-bg: $puppet-bg-light;
$puppet-menu-border: $puppet-border;
$puppet-menu-border-alt: $puppet-border-subtle;
$puppet-menu-border-radius: $puppet-border-radius;

// Menu Items
$puppet-menu-item-font-size: $puppet-font-size-small !default;
$puppet-menu-item-font-weight: $puppet-type-weight-normal !default;
$puppet-menu-item-line-height: $puppet-medium !default;
$puppet-menu-item-height: $puppet-huge !default;
$puppet-menu-item-margin: $puppet-tiny !default;
$puppet-menu-item-padding: $puppet-small !default;

$puppet-menu-item-bg: transparent !default;
$puppet-menu-item-bg-hover: $puppet-n50 !default;
$puppet-menu-item-bg-active: transparent !default;
$puppet-menu-item-border-radius: $puppet-border-radius !default;
$puppet-menu-item-color: $puppet-font-color-base !default;
$puppet-menu-item-color-hover: $puppet-action-base !default;
$puppet-menu-item-color-active: $puppet-action-base !default;
$puppet-menu-item-icon-fill: $puppet-icon-fill-base !default;
$puppet-menu-item-icon-fill-hover: $puppet-icon-fill-action-base !default;
$puppet-menu-item-icon-fill-active: $puppet-icon-fill-action-base !default;

// Menu Header
$puppet-menu-header-border: $puppet-border-subtle !default;
$puppet-menu-header-height: 32px !default;
$puppet-menu-header-padding: 0 12px !default;
$puppet-menu-title-color: $puppet-font-color-medium !default;
$puppet-menu-title-font-family: $puppet-font-family-heading !default;
$puppet-menu-title-font-size: 11px !default;
$puppet-menu-title-font-weight: $puppet-type-weight-heavy !default;

// Menu Sections
$puppet-menu-section-border: $puppet-border-subtle !default;
$puppet-menu-section-title-color: $puppet-font-color-medium !default;
$puppet-menu-section-title-font-family: $puppet-font-family-heading !default;
$puppet-menu-section-title-font-size: 11px !default;
$puppet-menu-section-title-font-weight: 600 !default;
$puppet-menu-section-title-padding: 8px 12px 0 !default;
$puppet-menu-section-title-text-transform: uppercase !default;
$puppet-menu-section-padding: 16px !default;

// Menu actions
$puppet-menu-actions-bg: $puppet-bg-subtle !default;
$puppet-menu-actions-color: $puppet-font-color-medium !default;
$puppet-menu-actions-msg-font-size: $puppet-font-size-small !default;
$puppet-menu-actions-padding: 8px 16px !default;

// Dark Menus
$puppet-menu-bg-dark: $puppet-n900 !default;
$puppet-menu-border-dark: $puppet-n900 !default;
$puppet-menu-item-bg-dark: transparent !default;
$puppet-menu-item-bg-hover-dark: $puppet-n800 !default;
$puppet-menu-item-bg-active-dark: $puppet-n800 !default;
$puppet-menu-item-color-dark: $puppet-n100 !default;
$puppet-menu-item-color-hover-dark: $puppet-white !default;
$puppet-menu-item-color-active-dark: $puppet-brand-primary !default;
$puppet-menu-item-icon-fill-dark: $puppet-n200 !default;
$puppet-menu-item-icon-fill-hover-dark: $puppet-white !default;
$puppet-menu-item-icon-fill-active-dark: $puppet-brand-primary !default;
$puppet-menu-section-title-color-dark: $puppet-n500 !default;
$puppet-menu-title-color-dark: $puppet-n500 !default;
$puppet-menu-actions-bg-dark: $puppet-black !default;

@mixin menu-colors(
  $bg-menu,
  $bg,
  $bg-hover,
  $bg-active,
  $border,
  $color,
  $color-hover,
  $color-active,
  $icon-fill,
  $icon-fill-hover,
  $icon-fill-active,
  $title-color,
  $section-title-color
) {
  background: $bg-menu;
  border: $border;
  border-radius: $puppet-menu-border-radius;

  .rc-menu-deprecateditem .rc-icon {
    fill: $icon-fill;
    transition: fill 0.2s ease-in-out;
  }

  .rc-menu-deprecateditem a {
    background: $bg;
    color: $color;
    transition: background-color 0.2s ease-in-out;
  }

  .rc-menu-deprecateditem:hover a,
  .rc-menu-deprecateditem-focused a,
  .rc-menu-deprecateditem-selected:hover a,
  .rc-menu-deprecateditem-focused.rc-menu-deprecateditem-selected a {
    background: $bg-hover;
    color: $color-hover;

    .rc-icon {
      fill: $icon-fill-hover;
    }
  }

  .rc-menu-deprecateditem-selected a {
    background: $bg-active;
    color: $color-active;
  }

  .rc-menu-deprecateditem-selected .rc-icon {
    fill: $icon-fill-active;
  }

  .rc-menu-deprecateditem-disabled a {
    opacity: $puppet-disabled-opacity;
  }

  .rc-menu-deprecateditem-disabled:hover a,
  .rc-menu-deprecateditem-disabled.rc-menu-deprecateditem-focused a {
    background: $bg;
    color: $color-hover;
  }

  .rc-menu-deprecateditem-disabled.rc-menu-deprecateditem-selected:hover a {
    background: $bg;
    color: $color-active;
  }

  .rc-menu-deprecatedheader {
    border-bottom: $border;
  }

  .rc-menu-deprecatedtitle {
    color: $title-color;
  }

  .rc-menu-deprecatedsection {
    border-bottom: $border;
  }

  .rc-menu-deprecatedsection-title {
    color: $section-title-color;
  }
}
// End mixin menu item colors

.rc-menu-deprecated {
  @include menu-colors(
    $puppet-menu-bg,
    $puppet-menu-item-bg,
    $puppet-menu-item-bg-hover,
    $puppet-menu-item-bg-active,
    $puppet-menu-border,
    $puppet-menu-item-color,
    $puppet-menu-item-color-hover,
    $puppet-menu-item-color-active,
    $puppet-menu-item-icon-fill,
    $puppet-menu-item-icon-fill-hover,
    $puppet-menu-item-icon-fill-active,
    $puppet-menu-title-color,
    $puppet-menu-section-title-color
  );
}

// Menu Construction
.rc-menu {
  .rc-menu-deprecatedsections {
    max-height: 200px;
    overflow: scroll;
  }

  .rc-menu-deprecatedheader {
    align-items: center;
    border-radius: $puppet-menu-border-radius $puppet-menu-border-radius 0 0;
    display: flex;
    height: $puppet-menu-header-height;
    padding: $puppet-menu-header-padding;
  }

  .rc-menu-deprecatedtitle {
    flex: 1 1 0%;
    font-family: $puppet-menu-title-font-family;
    font-size: $puppet-menu-title-font-size;
    font-weight: $puppet-menu-title-font-weight;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.rc-menu-deprecatedlist {
  margin: 0;
  padding: 0;
}

// Close Icon in Menu Header
.rc-menu-deprecatedheader .rc-menu-deprecatedclose {
  align-items: center;
  cursor: pointer;
  display: flex;
  // flex: 0 0 auto;
  height: 24px;
  justify-content: center;
  margin: 0 -8px 0 4px;
  width: 24px;

  .rc-icon {
    flex: 0 0 auto;
    height: 8px;
    width: 8px;
  }
}

.rc-menu-deprecatedclose:focus {
  outline: none;
}

.rc-menu-deprecateditem {
  font-size: $puppet-menu-item-font-size;
  font-weight: $puppet-menu-item-font-weight;
  line-height: $puppet-menu-item-line-height;
  list-style: none;
  margin: $puppet-menu-item-margin;
  padding: 0;
  transition: all 0.2s;
}

.rc-menu-deprecateditem a {
  align-items: center;
  border-radius: $puppet-menu-item-border-radius;
  display: flex;
  flex: 1;
  height: $puppet-menu-item-height;
  padding: $puppet-menu-item-padding;
  text-decoration: none;
  white-space: nowrap;
}

.rc-menu-deprecateditem-text {
  font-size: $puppet-menu-item-font-size;
  font-weight: $puppet-menu-item-font-weight;
  line-height: $puppet-menu-item-line-height;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rc-menu-deprecateditem .rc-menu-deprecateditem-focused {
  text-decoration: none;
}

// TODO Make flex
.rc-menu-deprecateditem-with-icon,
.rc-menu-deprecateditem-selected {
  a {
    position: relative;
  }

  .rc-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

// TODO Remake this so that all selectable menu items always have this padding
// This will prevent accidental menu resizing when the selected icon is
// toggles off and on
// Need to use variables
.rc-menu-deprecatedmultiple .rc-menu-deprecateditem a,
.rc-menu-deprecateditem-selected a {
  padding-right: 32px;
}

.rc-menu-deprecateditem-selected .rc-icon-check {
  left: unset;
  right: 8px;
}

// TODO This seems very fragile
// Should be named for menu, not dropdown
.rc-menu-deprecateditem-with-icon a {
  padding-left: $puppet-dropdown-padding-small * 4;
  padding-right: $puppet-dropdown-padding-small * 2;
}

.rc-menu-deprecateditem-with-icon .rc-menu-deprecatedicon {
  .rc-icon {
    left: $puppet-dropdown-padding-small;
  }
}

.rc-menu-deprecateditem-disabled a {
  cursor: default;
}

// Menu Sections
.rc-menu-deprecatedsection {
  &.rc-menu-deprecatedsection-padding {
    // Optional padding for a section that doesn't have a menuList in it
    padding: $puppet-menu-section-padding;
  }

  &.rc-menu-deprecatedsection-padding .rc-menu-deprecatedsection-title {
    padding: 0 0 4px;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  .rc-menu-deprecatedlist {
    border: 0;
  }
}

.rc-menu-deprecatedsection-title {
  display: block;
  font-family: $puppet-menu-section-title-font-family;
  font-size: $puppet-menu-section-title-font-size;
  font-weight: $puppet-menu-section-title-font-weight;
  padding: $puppet-menu-section-title-padding;
  text-transform: $puppet-menu-section-title-text-transform;
}

// Menu Actions
.rc-menu-deprecatedactions {
  align-items: center;
  background: $puppet-menu-actions-bg;
  border-radius: 0 0 $puppet-menu-border-radius $puppet-menu-border-radius;
  padding: $puppet-menu-actions-padding;

  &.rc-menu-deprecatedactions-centered .rc-menu-deprecatedactions-buttons {
    justify-content: center;
  }
}

.rc-menu-deprecatedactions-buttons {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.rc-menu-deprecatedactions-message {
  color: $puppet-menu-actions-color;
  display: flex;
  flex: 1 1 auto;
  font-size: $puppet-menu-actions-msg-font-size;
  justify-content: flex-start;
}

.rc-menu-deprecatedactions-buttons {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

// Dark Menu
.rc-menu-deprecateddark {
  @include menu-colors(
    $puppet-menu-bg-dark,
    $puppet-menu-item-bg-dark,
    $puppet-menu-item-bg-hover-dark,
    $puppet-menu-item-bg-active-dark,
    $puppet-menu-border-dark,
    $puppet-menu-item-color-dark,
    $puppet-menu-item-color-hover-dark,
    $puppet-menu-item-color-active-dark,
    $puppet-menu-item-icon-fill-dark,
    $puppet-menu-item-icon-fill-hover-dark,
    $puppet-menu-item-icon-fill-active-dark,
    $puppet-menu-title-color-dark,
    $puppet-menu-section-title-color-dark
  );

  .rc-menu-deprecatedactions {
    background: $puppet-menu-actions-bg-dark;
  }
}

.rc-menu-deprecatedsubtle {
  background: $puppet-bg-subtle;
}
