// Icons
// ----------------------------------------------------------------------------
$puppet-icon-fill: $puppet-n600 !default;

.rc-icon {
  fill: $puppet-icon-fill;
  transition: all 0.2s;
  vertical-align: middle;
}
