$puppet-modal-bg: $puppet-bg-light !default;
$puppet-modal-color: $puppet-font-color-base !default;
$puppet-modal-border: 1px solid $puppet-n400 !default;
$puppet-modal-border-radius: $puppet-tiny !default;
$puppet-modal-overlay-bg: rgba(4, 8, 10, 0.16) !default;
$puppet-modal-elevation: 24 !default;
$puppet-modal-padding: $puppet-large !default;
$puppet-modal-shadow: $puppet-elev-400-shadow !default;
$puppet-modal-width-small: 400px !default;
$puppet-modal-width: 480px !default;
$puppet-modal-width-medium: 580px !default;
$puppet-modal-width-large: 1200px !default;
$puppet-modal-title-font-size: $puppet-font-size-large !default;
$puppet-modal-title-padding: 40px 80px !default; // Todo: Base on grid
$puppet-modal-title-border: $puppet-border !default;
$puppet-modal-sidebar-bg: $puppet-bg-subtle !default;
$puppet-modal-sidebar-width: 300px !default;
$puppet-modal-sidebar-padding: $puppet-modal-padding !default;
$puppet-modal-actions-border: none !default;
$puppet-modal-actions-padding: $puppet-modal-padding !default;
$puppet-modal-actions-cta-padding: $puppet-small 0 $puppet-small 0 !default;

.rc-modal-overlay {
  background: $puppet-modal-overlay-bg;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $puppet-modal-elevation;
}

.rc-modal-close {
  right: 2px;
  position: absolute;
  top: 1px;
}

.rc-modal {
  background: $puppet-modal-bg;
  border: $puppet-modal-border;
  border-radius: $puppet-modal-border-radius;
  box-shadow: $puppet-modal-shadow;
  color: $puppet-modal-color;
  margin: $puppet-size-base * 8 auto;
  outline: none;
  overflow: hidden;
  position: relative;
  width: $puppet-modal-width;
}

.rc-modal-content {
  background: $puppet-modal-bg;
  border-radius: $puppet-modal-border-radius;
  overflow-y: auto;
  padding: $puppet-modal-padding;
  transform: translateZ(0);
}

.rc-modal-sidebar {
  background-color: transparent;
  float: right;
  height: 1px; // this will get dynamically set via the react component.
  padding: $puppet-modal-sidebar-padding;
  width: $puppet-modal-sidebar-width;
}

.rc-modal-actions {
  background: $puppet-modal-bg;
  border-top: $puppet-modal-actions-border;
  overflow: hidden;
  padding: $puppet-modal-actions-padding;
}

.rc-modal-actions-right {
  text-align: right;
}

.rc-modal-actions-left {
  text-align: left;

  .rc-modal-actions-cta {
    margin-left: 8px;
  }
}

.rc-modal-actions-cta {
  margin: 0;
  padding: $puppet-modal-actions-cta-padding;
}

.rc-modal-with-sidebar {
  background: $puppet-modal-sidebar-bg;

  .rc-modal-content,
  .rc-modal-actions {
    margin-right: $puppet-modal-sidebar-width;
  }
}

.rc-modal-with-sidebar-left {
  .rc-modal-sidebar {
    float: left;
  }

  .rc-modal-content,
  .rc-modal-actions {
    margin-left: $puppet-modal-sidebar-width;
    margin-right: 0;
  }

  .rc-modal-content {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: $puppet-modal-border-radius;
  }
}

.rc-modal-with-sidebar-right {
  .rc-modal-content {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.rc-modal-small {
  width: $puppet-modal-width-small;

  .rc-modal-content {
    padding: 20px;
  }

  .rc-modal-actions {
    padding: 20px;
  }
}

.rc-modal-medium {
  width: $puppet-modal-width-medium;
}

.rc-modal-large {
  width: $puppet-modal-width-large;
}

.rc-modal-title {
  font-size: $puppet-modal-title-font-size;
  padding-bottom: 8px;
}
