$puppet-modal-bg: $puppet-bg-light !default;
$puppet-modal-color: $puppet-font-color-base !default;
$puppet-modal-border: 1px solid $puppet-n400 !default;
$puppet-modal-border-radius: $puppet-tiny !default;
$puppet-modal-overlay-bg: rgba(4, 8, 10, 0.16) !default;
$puppet-modal-elevation: 24 !default;
$puppet-modal-padding: $puppet-large !default;
$puppet-modal-shadow: $puppet-elev-400-shadow !default;
$puppet-modal-width-small: 400px !default;
$puppet-modal-width: 480px !default;
$puppet-modal-width-medium: 580px !default;
$puppet-modal-width-large: 1200px !default;
$puppet-modal-title-font-size: $puppet-font-size-large !default;
$puppet-modal-actions-border: none !default;
$puppet-modal-actions-padding: $puppet-modal-padding !default;

.rc-modal-overlay {
  align-items: center;
  background: $puppet-modal-overlay-bg;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $puppet-modal-elevation;
}

.rc-modal-close {
  position: absolute;
  right: 2px;
  top: 2px;
}

.rc-modal {
  background: $puppet-modal-bg;
  border: $puppet-modal-border;
  border-radius: $puppet-modal-border-radius;
  box-shadow: $puppet-modal-shadow;
  color: $puppet-modal-color;
  margin: $puppet-giant;
  outline: none;
  overflow: hidden;
  position: relative;
  width: $puppet-modal-width;
}

.rc-modal-content {
  background: $puppet-modal-bg;
  border-radius: $puppet-modal-border-radius;
  overflow-y: auto;
  padding: $puppet-modal-padding;
  transform: translateZ(0);
}

.rc-modal-actions {
  background: $puppet-modal-bg;
  border-top: $puppet-modal-actions-border;
  overflow: hidden;
  padding: $puppet-modal-actions-padding;
}

.rc-modal-small {
  width: $puppet-modal-width-small;

  .rc-modal-content {
    padding: 20px;
  }

  .rc-modal-actions {
    padding: 20px;
  }
}

.rc-modal-medium {
  width: $puppet-modal-width-medium;
}

.rc-modal-large {
  width: $puppet-modal-width-large;
}

.rc-modal-title {
  font-size: $puppet-modal-title-font-size;
  padding-bottom: 8px;
}
