$puppet-slider-bar: $puppet-n400 !default;
$puppet-slider-bar-active: $puppet-b500 !default;
$puppet-slider-bar-height: $puppet-tiny !default;
$puppet-slider-handle-size: 10px !default;
$puppet-slider-handle-border: $puppet-tiny !default;
$puppet-slider-bar-position: ($puppet-slider-handle-size - $puppet-slider-bar-height)/2 !default;
$puppet-slider-handle: (
  base: $puppet-action-base,
  hover: $puppet-action-hover,
  active: $puppet-action-base,
);

.rc-slider {
  height: $puppet-slider-handle-size;
  position: relative;
}

.rc-slider-bar,
%rc-slider-bar {
  background: $puppet-slider-bar;
  border-radius: $puppet-slider-bar-height;
  display: block;
  height: $puppet-slider-bar-height;
  left: 0;
  position: absolute;
  top: $puppet-slider-bar-position;
  width: 100%;
}

.rc-slider-bar-active {
  @extend %rc-slider-bar;
  background: $puppet-slider-bar-active;
  width: 0;
}

.rc-slider-handle {
  @include modifiers($puppet-slider-handle, 'border-color', $prefix: ':');
  @include icon-scale-hover($scale: 1.5);
  background: $puppet-white;
  border: $puppet-slider-handle-border solid;
  border-radius: $puppet-slider-handle-size;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  display: block;
  height: $puppet-slider-handle-size;
  left: -($puppet-slider-handle-size / 2);
  outline: none;
  position: absolute;
  top: 0;
  width: $puppet-slider-handle-size;
}
