// Tab variables/options
// ----------------------------------------------------------------------------
$puppet-tab-font-family: $puppet-font-family-button !default;
$puppet-tab-font-size: $puppet-font-size-small !default;
$puppet-tab-font-weight: normal !default;
$puppet-tab-case: uppercase !default;
$puppet-tab-color: $puppet-font-color-subtle !default;
$puppet-tab-color-active: $puppet-action-base !default;
$puppet-tab-border: 2px solid $puppet-border-color-subtle !default;
$puppet-tab-border-active: 2px solid $puppet-border-color-action-base !default;
$puppet-tab-bg: $puppet-bg-light !default;
$puppet-tab-padding: $puppet-small $puppet-large !default;
$puppet-tab-width-vertical: 140px !default;
$puppet-tab-panel-padding: $puppet-large 0 !default;
$puppet-tab-panel-padding-vertical: 0 $puppet-large !default;

.rc-tabs {
  .rc-tab {
    display: inline-block;
  }

  .rc-tab a {
    background: $puppet-tab-bg;
    border-bottom: $puppet-tab-border;
    color: $puppet-tab-color;
    display: block;
    font-family: $puppet-tab-font-family;
    font-size: $puppet-tab-font-size;
    font-weight: $puppet-tab-font-weight;
    padding: $puppet-tab-padding;
    text-transform: $puppet-tab-case;
  }

  .rc-tab.rc-tab-active a {
    border-bottom: $puppet-tab-border-active;
    color: $puppet-tab-color-active;
  }

  .rc-tab:last-child {
    margin-right: 0;
  }

  .rc-tab-panel {
    display: none;
    padding: $puppet-tab-panel-padding;
  }

  .rc-tab-panel.rc-tab-panel-active {
    display: block;
  }
}

.rc-tabs-vertical {
  ul {
    float: left;
    width: $puppet-tab-width-vertical;
  }

  .rc-tab {
    display: block;
  }

  .rc-tab a {
    border-bottom: 0;
    border-right: $puppet-tab-border;
  }

  .rc-tab.rc-tab-active a {
    border-bottom: 0;
    border-right: $puppet-tab-border-active;
  }

  .rc-tab-panel {
    margin-left: $puppet-tab-width-vertical;
    padding: $puppet-tab-panel-padding-vertical;
  }
}
