// Tabs
// ----------------------------------------------------------------------------
.rc-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rc-tabs-list {
  margin-bottom: -1px;
  margin-top: $puppet-common-spacing-base * 2;
  overflow: visible;
}

// Tab
.rc-tabs-button {
  border: $puppet-common-border $puppet-common-border 0 $puppet-common-border;
  border-radius: $puppet-common-border-radius $puppet-common-border-radius 0 0;
  color: $puppet-font-color-base;
  height: $puppet-common-spacing-base * 4;
  margin: 0 2px;
  padding: 0 $puppet-common-spacing-base * 3;
  position: relative;
}

.rc-tabs-button:first-of-type {
  margin-left: $puppet-common-spacing-base * 0.5;
}

.rc-tabs-button:last-of-type {
  margin-right: $puppet-common-spacing-base * 0.5;
}

.rc-tabs-button:focus {
  border-color: $puppet-b300;
  box-shadow: inset 0 0 0 1px $puppet-b300;
}

.rc-tabs-button:focus:not(:active)::after {
  background: $puppet-white;
  bottom: -1px;
  content: '';
  height: 3px;
  left: 0;
  margin-left: 1px;
  margin-right: 1px;
  position: absolute;
  right: 0;
  z-index: 3;
}

// Alternative // With bottom border per comp
// .rc-tabs-button:focus:not(:active)::after {
//   background: $puppet-b300;
//   bottom: -1px;
//   content: '';
//   height: 1px;
//   left: 0;
//   margin-left: -1px;
//   margin-right: -1px;
//   position: absolute;
//   right: 0;
//   z-index: 3;
// }

.rc-tabs-button-active {
  color: $puppet-type-color-link;
}

.rc-tabs-button-active::after {
  background: $puppet-white;
  bottom: -1px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3;
}

.rc-tabs-button:hover {
  color: $puppet-type-color-link-hover;
}

.rc-tabs-button:active {
  border-color: $puppet-n400;
  box-shadow: none;
  color: $puppet-type-color-link-active;
}

.rc-tabs-button:disabled {
  color: disable-color($puppet-font-color-base);
}

// Panel
.rc-tabs-panel {
  border-top: $puppet-common-border;
  flex: 1;
  padding: $puppet-common-spacing-base * 2 $puppet-common-spacing-base * 0.5 0 $puppet-common-spacing-base * 0.5;
  position: relative;
  z-index: 2;
}

// Secondary coloring
.rc-tabs-secondary {
  .rc-tabs-button-active,
  .rc-tabs-button-active::after,
  .rc-tabs-button:focus:not(:active)::after, // remove this line if choosing alternative
  .rc-tabs-panel {
    background: $puppet-bg-subtle;
  }
}
