// Tags
// ----------------------------------------------------------------------------
$puppet-tag-bg: $puppet-action-base !default;
$puppet-tag-border: 0 !default;
$puppet-tag-border-radius: $puppet-border-radius !default;
$puppet-tag-color: $puppet-white !default;
$puppet-tag-font-size: 14px !default;
$puppet-tag-font-weight: normal !default;
$puppet-tag-height: $puppet-large !default;
$puppet-tag-margin: $puppet-tiny $puppet-tiny $puppet-tiny 0 !default;

$puppet-tag-main-content-padding: 0 $puppet-small 0 $puppet-small !default;
$puppet-tag-remove-button-padding: 0 $puppet-small 0 $puppet-small !default;

$puppet-tag-action-hover: $puppet-action-hover !default;
$puppet-tag-bg-disabled-opacity: $puppet-disabled-opacity !default;

$puppet-tag-icon: transparentize($puppet-white, 0.2) !default;
$puppet-tag-icon-hover: $puppet-white !default;

.rc-tag {
  align-items: center;
  background: $puppet-tag-bg;
  border-radius: $puppet-tag-border-radius;
  color: $puppet-tag-color;
  display: inline-flex;
  font-size: $puppet-tag-font-size;
  font-weight: $puppet-tag-font-weight;
  height: $puppet-tag-height;
  margin: $puppet-tag-margin;
  position: relative;
}

.rc-tag-main-content,
.rc-tag-remove-button {
  align-items: center;
  background: $puppet-tag-bg;
  border: $puppet-tag-border;
  color: $puppet-tag-color;
  font-size: $puppet-tag-font-size;
  line-height: $puppet-tag-height;
}

.rc-tag-main-content:focus,
.rc-tag-remove-button:focus {
  box-shadow: $puppet-common-focus-outline;
  outline: none;
}

.rc-tag-main-content {
  border-bottom-left-radius: $puppet-tag-border-radius;
  border-top-left-radius: $puppet-tag-border-radius;
  overflow: hidden;
  padding: $puppet-tag-main-content-padding;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rc-tag-remove-button {
  border-bottom-right-radius: $puppet-tag-border-radius;
  border-top-right-radius: $puppet-tag-border-radius;
  cursor: pointer;
  line-height: $puppet-tag-height;
  padding: $puppet-tag-remove-button-padding;
}

.rc-tag-remove-button .rc-icon {
  fill: $puppet-tag-icon;
}

.rc-tag-remove-button:hover .rc-icon {
  fill: $puppet-tag-icon-hover;
}

.rc-tag-clickable {
  cursor: pointer;
}

.rc-tag-clickable:hover {
  background: $puppet-tag-action-hover;
}

.rc-tag-disabled {
  cursor: default;
  opacity: $puppet-tag-bg-disabled-opacity;
  pointer-events: none;
}
