@import '~@puppet/sass-variables/index';

.rc-workflow-connectors {
  position: absolute;
}

.rc-workflow-connector {
  fill: none;
  stroke: #818f99;
  stroke-width: 3px;
}

.rc-workflow-connector-status-success {
  stroke: $puppet-g600;
}

.rc-workflow-connector-status-error {
  stroke: $puppet-r500;
}
