@import '../../source/scss/all';

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $reflect-font-family;
  font-weight: normal;
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

.sg-sidebar {
  background: $reflect-brand-primary;
  bottom: 0;
  height: 100%;
  left: 0;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 250px;
  display: flex;
  flex-direction: column;

  ul.sg-sidebar-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sg-sidebar-link {
    color: $reflect-white;
    display: block;
    font-family: $reflect-font-family;
    padding: 10px 20px;
    text-decoration: none;
  }

  .sg-sidebar-link:hover {
    background: darken($reflect-brand-primary, 5%);
  }

  .sg-sidebar-link-active {
    background: darken($reflect-brand-primary, 10%);
  }

  .sg-sidebar-link-active:hover {
    background: darken($reflect-brand-primary, 10%);
  }

  .sg-sidebar-options {
    margin-top: auto;

    color: $reflect-white;
    font-family: $reflect-font-family;

    h2 {
      padding: 0 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: $reflect-font-size-base;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 10px 20px;
    }

    li {
      display: flex;
      flex-direction: row;
      font-size: $reflect-font-size-base;
      line-height: 40px;

      > * {
        padding: 0 5px;
      }

      > *:first-child {
        padding-left: 0;
      }

      > *:last-child {
        margin-left: auto;
        padding-right: 0;
      }

      input[type="text"] {
        max-width: 75px;
        font-size: $reflect-font-size-small;
        height: 40px;
        line-height: 40px;
      }
    }
  }
}

.sg-content {
  margin-left: 250px;
  padding: 20px;
}

.sg-section {
  border: $reflect-border;
  margin-bottom: 40px;

  .sg-section-title {
    background: $reflect-gray-lighter;
    border-bottom: $reflect-border;
    font-family: $reflect-font-family;
    font-weight: normal;
    padding: 10px 20px;
  }

  .sg-section-content {
    padding: 20px;
  }
}

.sg-subsection {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.sg-chart {
  height: 400px;
  overflow: hidden;
}

.sg-clearfix::after {
  clear: both;
  content: '';
  display: table;
}
