@import 'node_modules/@puppet/react-components/source/scss/library/ui';
@import 'node_modules/@puppet/insights-editor/source/scss/editor';
@import '../../source/scss/all';

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $reflect-font-family;
  font-weight: normal;
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

.sg-sidebar, .rui-editor {
  bottom: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.sg-sidebar {
  left: 0;
  padding-top: 20px;
  background: $reflect-brand-primary;

  ul.sg-sidebar-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sg-sidebar-link {
    color: $reflect-white;
    display: block;
    font-family: $reflect-font-family;
    padding: 10px 20px;
    text-decoration: none;
  }

  .sg-sidebar-link:hover {
    background: darken($reflect-brand-primary, 5%);
  }

  .sg-sidebar-link-active {
    background: darken($reflect-brand-primary, 10%);
  }

  .sg-sidebar-link-active:hover {
    background: darken($reflect-brand-primary, 10%);
  }

  .sg-sidebar-options {
    font-family: $reflect-font-family;
    height: 100%;
    margin-top: auto;
  }
}

.sg-editor {
  right: 0;

  .rc-accordion-item:last-of-type {
    border-bottom: 0;
  }
}

.sg-content {
  margin-left: 250px;
  margin-right: 250px;
  padding: 20px;
}

.sg-section {
  border: $reflect-border;
  margin-bottom: 40px;

  .sg-section-title {
    background: $reflect-gray-lighter;
    border-bottom: $reflect-border;
    font-family: $reflect-font-family;
    font-weight: normal;
    padding: 10px 20px;
  }

  .sg-section-content {
    padding: 20px;
  }
}

.sg-subsection {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.sg-chart {
  height: 400px;
  overflow: hidden;
}

.sg-clearfix::after {
  clear: both;
  content: '';
  display: table;
}
