@import '../../source/scss/all';

body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: $reflect-font-family;
  font-weight: normal;
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

.sg-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  padding-top: 20px;
  background: $reflect-brand-primary;
  height: 100%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sg-sidebar-link {
    font-family: $reflect-font-family;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    color: $reflect-white;
    display: block;

    &:hover {
      background: darken($reflect-brand-primary, 5%);
    }
  }

  .sg-sidebar-link-active {
    background: darken($reflect-brand-primary, 10%);

    &:hover {
      background: darken($reflect-brand-primary, 10%);
    }
  }
}

.sg-content {
  margin-left: 200px;
  padding: 20px;
}

.sg-section {
  margin-bottom: 40px;
  border: $reflect-border;

  .sg-section-title {
    font-family: $reflect-font-family;
    font-weight: normal;
    background: $reflect-gray-lighter;
    border-bottom: $reflect-border;
    padding: 10px 20px;
  }

  .sg-section-content {
    padding: 20px;
  }
}

.sg-subsection {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.sg-chart {
  overflow: hidden;
  height: 400px;
}

.sg-clearfix:after {
  content: "";
  display: table;
  clear: both;
}
