@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('//fonts.googleapis.com/css?family=Montserrat');

@import 'library/variables';
@import 'library/variables_charts';
@import 'library/typography';
@import 'library/legend';
@import 'library/axis';
@import 'library/grid';
@import 'library/zoomer';
@import 'library/line';
@import 'library/poi';
@import 'library/tooltip';
@import 'library/annotation';
@import 'library/data_labels';

@import 'library/charts/mixins';
@import 'library/charts/line';
@import 'library/charts/column';
@import 'library/charts/area';
@import 'library/charts/donut';
@import 'library/charts/gauge';
@import 'library/charts/bubble';

.reflect-charts-wrapper {
  position: relative;
}

.reflect-charts-svg {
  position: absolute;
}

.reflect-charts-overlay {
  fill: none;
  pointer-events: all;
}
