.rc-avatar {
  @include puppet-type-h4();
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: $puppet-common-spacing-base;
  text-transform: uppercase;
  background-color: $puppet-n500;
  overflow: hidden;
  height: 32px;
  width: 32px;


  img {
    width: 100%;
    height: 100%;
  }
}
