.rc-badge {
  @include puppet-type-label();
  align-items: center;
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  min-height: $puppet-common-spacing-base * 4;
  padding: 0 $puppet-common-spacing-base;
  text-transform: uppercase;
}

.rc-badge + .rc-badge {
  margin-left: $puppet-common-spacing-base;
}

.rc-badge-pill {
  border-radius: 1000px;
  padding: 0 $puppet-common-spacing-base * 2;
}

.rc-badge-bold {
  &.rc-badge-danger {
    background-color: $Status__Danger__Background__2__Rest;
    color: $Status__Danger__Foreground__2__Rest;
  }

  &.rc-badge-info {
    background-color: $Status__Informational__Background__2__Rest;
    color: $Status__Informational__Foreground__2__Rest;
  }

  &.rc-badge-neutral {
    background-color: $Neutral__Background__Inverted__Rest;
    color: $Neutral__Foreground__Inverted__1__Rest;
  }

  &.rc-badge-success {
    background-color: $Status__Success__Background__2__Rest;
    color: $Status__Success__Foreground__2__Rest;
  }

  &.rc-badge-warning {
    background-color: $Status__Warning__Background__2__Rest;
    color: $Status__Warning__Foreground__2__Rest;
  }
}

.rc-badge-subtle {
  &.rc-badge-danger {
    background-color: $Status__Danger__Background__1__Rest;
    color: $Status__Danger__Foreground__1__Rest;
  }

  &.rc-badge-info {
    background-color: $Status__Informational__Background__1__Rest;
    color: $Status__Informational__Foreground__1__Rest;
  }

  &.rc-badge-neutral {
    background-color: $Neutral__Background__2__Rest;
    color: $Neutral__Foreground__2__Rest;
  }

  &.rc-badge-success {
    background-color: $Status__Success__Background__1__Rest;
    color: $Status__Success__Foreground__1__Rest;
  }

  &.rc-badge-warning {
    background-color: $Status__Warning__Background__1__Rest;
    color: $Status__Warning__Foreground__1__Rest;
  }
}
