.rc-button-select {
  position: relative;

  .rc-menu-list {
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
  }

  .rc-menu-list-inner {
    max-height: 150px;
  }
}

.rc-button-select-target-multiple.rc-button-select-target-selected {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rc-button-select-closed {
  .rc-menu-list {
    display: none;
  }
}
