/* stylelint-disable @stylistic/indentation */
@use 'sass:map';

$puppet-button-primary: (
  base: (
    background: $Brand__Background__1__Rest,
    border: $Brand__Background__1__Rest,
    color: $Neutral__Foreground__OnBrand__Rest,
  ),
  hover: (
    background: $Brand__Background__1__Hover,
    border: $Brand__Background__1__Hover,
    color: $Neutral__Foreground__OnBrand__Rest,
  ),
  active: (
    background: $Brand__Background__1__Pressed,
    border: $Brand__Background__1__Pressed,
    color: $Neutral__Foreground__OnBrand__Rest,
  ),
);

$puppet-button-secondary: (
  base: (
    background: $Brand__Background__2__Rest,
    border: $Brand__Background__2__Rest,
    color: $Brand__Foreground__2__Rest,
  ),
  hover: (
    background: $Brand__Background__2__Hover,
    border: $Brand__Background__2__Hover,
    color: $Brand__Foreground__2__Hover,
  ),
  active: (
    background: $Brand__Background__2__Pressed,
    border: $Brand__Background__2__Pressed,
    color: $Brand__Foreground__2__Pressed,
  ),
);

$puppet-button-tertiary: (
  base: (
    background: $Neutral__Background__Transparent__Rest,
    border: $Neutral__Stroke__1__Rest,
    color: $Neutral__Foreground__1__Rest,
  ),
  hover: (
    background: $Neutral__Background__Transparent__Hover,
    border: $Neutral__Stroke__1__Hover,
    color: $Neutral__Foreground__1__Hover,
  ),
  active: (
    background: $Neutral__Background__Transparent__Pressed,
    border: $Neutral__Stroke__1__Pressed,
    color: $Neutral__Foreground__1__Pressed,
  ),
);

$puppet-button-danger: (
  base: (
    background: $Status__Danger__Background__2__Rest,
    border: $Status__Danger__Stroke__2__Rest,
    color: $Status__Danger__Foreground__2__Rest,
  ),
  hover: (
    background: $Status__Danger__Background__2__Hover,
    border: $Status__Danger__Stroke__2__Hover,
    color: $Status__Danger__Foreground__2__Hover,
  ),
  active: (
    background: $Status__Danger__Background__2__Pressed,
    border: $Status__Danger__Stroke__2__Pressed,
    color: $Status__Danger__Foreground__2__Pressed,
  ),
);

$puppet-button-danger-subtle: (
  base: (
    background: $puppet-white,
    border: $puppet-n400,
    color: $puppet-r500,
  ),
  hover: (
    background: $puppet-white,
    border: $puppet-n400,
    color: $puppet-r400,
  ),
  active: (
    background: $puppet-white,
    border: $puppet-n400,
    color: $puppet-r600,
  ),
);

$puppet-button-transparent: (
  base: (
    background: transparent,
    border: transparent,
    color: $Neutral__Foreground__2__Rest,
  ),
  hover: (
    background: $Neutral__Background__Transparent__Rest,
    border: $Neutral__Stroke__Transparent__Rest,
    color: $Neutral__Foreground__Brand__Hover,
  ),
  active: (
    background: $Neutral__Background__Transparent__Rest,
    border: $Neutral__Stroke__Transparent__Rest,
    color: $Neutral__Foreground__Brand__Pressed,
  ),
);

$puppet-button-text: (
  base: (
    background: transparent,
    border: transparent,
    color: $Brand__Foreground__2__Rest,
  ),
  hover: (
    background: transparent,
    border: transparent,
    color: $Brand__Foreground__2__Hover,
  ),
  active: (
    background: transparent,
    border: transparent,
    color: $Brand__Foreground__2__Pressed,
  ),
);

$puppet-button-padding-horizontal: 15px;
$puppet-button-padding-vertical: 5px;

@function disable($basestate) {
  $disabled: (
    background: disable-color(map.get($basestate, background)),
    border: disable-color(map.get($basestate, border)),
    color: disable-color(map.get($basestate, color)),
    fill: disable-color(map.get($basestate, color)),
  );

  @return $disabled;
}

@mixin button-type-properties($properties) {
  background-color: map.get($properties, background);
  border: 1px solid map.get($properties, border);
  color: map.get($properties, color);
  fill: map.get($properties, color);
}

@mixin button-type($typedef) {
  @include button-type-properties(map.get($typedef, base));

  &:hover {
    @include button-type-properties(map.get($typedef, hover));
  }

  &:active {
    @include button-type-properties(map.get($typedef, active));
  }

  &.rc-button-disabled {
    @include button-type-properties(disable(map.get($typedef, base)));
  }
}

.rc-button {
  @include puppet-type-button();
  border-radius: $puppet-common-border-radius;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: $puppet-button-padding-vertical $puppet-button-padding-horizontal;
  position: relative;
  text-decoration: none;
  vertical-align: top;

  // Removes dotted outline around button text on firefox
  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    box-shadow: $puppet-common-focus-outline;
  }

  .rc-button-content {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  .rc-button-icon-svg {
    bottom: 0;
    fill: inherit;
    margin: auto;
    position: absolute;
    top: 0;
  }

  &:disabled,
  &[aria-disabled='true'] {
    cursor: default;
    pointer-events: none;
  }
}

.rc-button-primary {
  @include button-type($puppet-button-primary);
}

.rc-button-secondary {
  @include button-type($puppet-button-secondary);
}

.rc-button-tertiary {
  @include button-type($puppet-button-tertiary);
}

.rc-button-danger.rc-button-bold {
  @include button-type($puppet-button-danger);
}

.rc-button-danger.rc-button-subtle {
  @include button-type($puppet-button-danger-subtle);
}

.rc-button-transparent {
  @include button-type($puppet-button-transparent);
}

.rc-button-text {
  @include puppet-type-button-small();
  @include button-type($puppet-button-text);
  border: 0 !important;
  padding: 0 4px;
}

.rc-button-loading {
  .rc-button-loader {
    bottom: 0;
    fill: inherit;
    height: 16px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
  }

  .rc-button-content,
  .rc-button-icon-svg {
    visibility: hidden;
  }
}

.rc-button-icon {
  &.rc-button-empty {
    height: 32px;
    width: 32px;
  }

  &.rc-button-full {
    padding-left: 31px;
  }

  .rc-button-icon-svg {
    left: 7px;
  }
}

.rc-button-trailing-icon {
  &.rc-button-empty {
    height: 32px;
    width: 32px;
  }

  &.rc-button-full {
    padding-right: 31px;
  }

  .rc-button-icon-svg {
    right: 7px;
  }
}

.rc-button-text.rc-button-icon {
  padding: 0 4px;

  &.rc-button-empty {
    height: 16px;
    width: 16px;
  }

  &.rc-button-full {
    padding-left: 19px;
  }

  .rc-button-icon-svg {
    left: 4px;
  }
}

.rc-button-text.rc-button-trailing-icon {
  padding: 0 4px;

  &.rc-button-empty {
    height: 16px;
    width: 16px;
  }

  &.rc-button-full {
    padding-right: 19px;
  }

  .rc-button-icon-svg {
    right: 4px;
  }
}

.rc-button-inner-focus {
  border-radius: 0;

  &:focus {
    border: 0;
    box-shadow: $puppet-common-focus-outline-inset;
  }
}

.rc-button-inner-focus:not(.rc-button-text):focus {
  padding: ($puppet-button-padding-vertical + 1)
    ($puppet-button-padding-horizontal + 1);
}

// Inner focus requires adjusted icon positioning due to the hidden border
.rc-button-inner-focus:not(.rc-button-text).rc-button-icon:focus {
  &.rc-button-full {
    padding-left: 32px;
  }

  .rc-button-icon-svg {
    left: 8px;
  }
}

.rc-button-inner-focus.rc-button-trailing-icon:not(
    .rc-button-text
  ).rc-button-trailing-icon:focus {
  &.rc-button-full {
    padding-right: 32px;
  }

  .rc-button-icon-svg {
    right: 8px;
  }
}

.rc-button + .rc-button {
  margin-left: $puppet-common-spacing-base * 2;
}
