.rc-columns {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.rc-column {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;

  &:empty {
    display: none;
  }

  &.fixed {
    flex-grow: 0;
    flex-shrink: 0;
  }
}
