// Icons
// ----------------------------------------------------------------------------
$puppet-icon-fill: $Neutral__Foreground__3__Rest !default;

.rc-icon {
  fill: $puppet-icon-fill;
  vertical-align: middle;
}
