// Extra resets so that buttons look like links
.rc-link,
.rc-link:active,
.rc-link:focus,
.rc-link:hover {
  background: none;
  border: 0;
  box-shadow: none;
  display: inline;
  padding: 0;
}

.rc-link-size-medium {
  @include puppet-type-body();
}

.rc-link-size-small {
  @include puppet-type-small();
}

.rc-link-size-tiny {
  @include puppet-type-tiny();
}

.rc-link {
  @include puppet-type-link();
}

.rc-link-secondary {
  color: inherit;
  text-decoration: underline;
}

.rc-table-cell > .rc-link:only-child,
.rc-table-header-cell > .rc-link:only-child {
  // For links that are the direct and only descendent a cell, fill up the cell
  display: inline-block;
  margin: -15px -16px;
  padding: 15px 16px;
  width: 100%;

  &:focus {
    box-shadow: none;

    .rc-link-children {  // stylelint-disable-line max-nesting-depth
      box-shadow: inset 0 -4px 0 -1px $puppet-b100;
    }
  }
}
