$puppet-loading-indicator-fill: $Neutral__Foreground__Brand__Rest;

.rc-loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.rc-loading-svg {
  fill: $puppet-loading-indicator-fill;
}

.rc-loading-background {
  opacity: 0.2;
}

.rc-loading-large {
  height: 100px;
  width: 100px;
}

.rc-loading-small {
  height: 50px;
  width: 50px;
}

.rc-loading-tiny {
  height: 40px;
  width: 40px;
}
