// NOTE: logos come from marketing and therefore don't necessarily use our
// color palettes. Therefore, it makes sense to hard code colors here
.rc-logo {
  display: block;
  height: 42px;

  .rc-logo-product,
  .rc-logo-bug {
    fill: #ffae1a;
  }

  .rc-logo-puppet {
    fill: #090a0a;
  }
}

.rc-logo-inverted {
  .rc-logo-puppet,
  .rc-logo-cloud {
    fill: #fff;
  }
}

.rc-logo-two-line {
  height: 51px;
}

.rc-logo-type-bug {
  height: 32px;
  width: 32px;
}

.rc-logo-expanded {
  .rc-logo-product,
  .rc-logo-puppet {
    transform: translateX(3px);
  }
}

.rc-logo-custom-product {
  font-family: Calibre;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.519999981px;
}

.rc-logo-cloud {
  fill: #00003a;
}

.rc-logo-cloud-bug {
  fill: $Brand__Background__1__Rest;
}
