.rc-menu-list {
  background-color: $puppet-white;
  border: $puppet-common-border;
  border-radius: $puppet-common-border-radius;
  box-shadow: $puppet-common-elevation-200;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.rc-action-menu-list,
.rc-option-menu-list-single {
  &:focus-within {
    box-shadow: $puppet-common-focus-outline, $puppet-common-elevation-200;
  }
}

.rc-option-menu-list-multiple {
  .rc-menu-list-inner:focus {
    border: 2px solid $puppet-b300;
    padding: $puppet-common-spacing-base - 2px;
  }

  .rc-menu-action:focus {
    box-shadow: $puppet-common-focus-outline-inset;
  }
}

.rc-menu-list-group {
  border-bottom: solid 1px $puppet-n300;
  margin: 0 0 4px;
  padding: 0 0 4px;
}

.rc-menu-list-group:only-child,
.rc-menu-list-group:last-child {
  border-bottom-style: none;
  border-bottom-width: 0;
  margin: 0;
  padding: 0;
}

li + .rc-menu-list-group {
  border-top: solid 1px $puppet-n300;
  margin-top: 4px;
  padding-top: 4px;
}

.rc-menu-action-container {
  display: flex;
}

.rc-menu-action {
  @include puppet-type-button-small();

  background-color: $puppet-n50 !important;
  border: 0;
  border-top: $puppet-common-border;
  color: $puppet-b500;
  cursor: pointer;
  display: block;
  flex-grow: 1;
  outline: none;
  padding: $puppet-common-spacing-base * 2 $puppet-common-spacing-base * 4;
  text-align: center;

  &:first-child:not(:only-child) {
    border-right: $puppet-common-border;
  }

  &:hover {
    color: $puppet-b400;
  }

  &:active {
    color: $puppet-b600;
  }
}

.rc-menu-list-inner {
  margin: 0;
  outline: none;
  overflow: auto;
  padding: $puppet-common-spacing-base;
}

.rc-menu-list-item {
  @include puppet-type-small();

  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  list-style-type: none;
  padding: $puppet-common-spacing-base $puppet-common-spacing-base * 2;
}

.rc-menu-list-group {
  .rc-menu-list-item {
    padding-left: $puppet-common-spacing-base * 3;
  }

  .rc-menu-list-group-heading {
    padding-left: $puppet-common-spacing-base * 2;
  }
}

.rc-menu-list-item-inner {
  @include puppet-type-small();
  display: flex;
  flex: 1;
  outline: none;
  text-decoration: none;
}

.rc-menu-list-item-selected {
  color: $puppet-b500;

  .rc-menu-list-item-checkmark {
    fill: $puppet-b500;
  }
}

.rc-menu-list-item-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rc-menu-list-group-heading {
  @include puppet-type-h6();
}

.rc-menu-list-item-checkmark {
  flex: none;
  margin-left: $puppet-common-spacing-base * 2;
}

.rc-menu-list-item-icon {
  flex: none;
  margin-right: $puppet-common-spacing-base * 2;
}

.rc-menu-list-item-focused {
  background-color: $puppet-n200;
}

.rc-menu-footer {
  @include puppet-type-small();

  cursor: default;
  padding: 4px 12px;
}

.rc-menu-list-item-disabled {
  .rc-menu-list-item-content {
    color: $puppet-n400;
  }

  .rc-menu-list-item-icon {
    fill: $puppet-n400;
  }
}
