.rc-modal-overlay {
  align-items: center;
  background: rgba($puppet-black, 0.16);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 24;
}

.rc-modal {
  @include puppet-type-body();

  background: $puppet-common-bg;
  border: $puppet-common-border;
  border-radius: $puppet-common-border-radius;
  box-shadow: $puppet-common-elevation-400;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: $puppet-common-spacing-base * 8;
  max-height: calc(100vh - #{$puppet-common-spacing-base} * 16);
  outline: none;
  position: relative;
  width: 480px;
}

.rc-modal-children {
  overflow: auto;
  padding: $puppet-common-spacing-base * 6;
}

.rc-modal-has-actions .rc-modal-children {
  padding-bottom: $puppet-common-spacing-base * 2;
}

.rc-modal-close {
  position: absolute;
  right: 2px;
  top: 2px;
}

.rc-modal-title {
  margin-bottom: $puppet-common-spacing-base * 4;
}

.rc-modal-footer {
  padding: $puppet-common-spacing-base * 6;
}

.rc-modal-actions-right {
  text-align: right;
}

.rc-modal-actions-left {
  text-align: left;
}
