$arrow-size: 8px;
$arrow-offset: -4px;
#rc-popup-menu-arrow,
.rc-popup-menu {
	z-index: 10;
	background-color: $puppet-white;
}
.rc-popup-menu {
	box-shadow: $puppet-common-elevation-200;
	position: absolute;
	border: 1px solid $puppet-n400;
	border-radius: $puppet-common-border-radius;
}

#rc-popup-menu-arrow {
	overflow: hidden;
	background: inherit;
	height: $arrow-size;
	width: $arrow-size;
}

/* stylelint-disable-next-line */
.rc-popup-menu[data-popper-placement^='top']>#rc-popup-menu-arrow {
	bottom: $arrow-offset;
}

/* stylelint-disable-next-line */
.rc-popup-menu[data-popper-placement^='bottom']>#rc-popup-menu-arrow {
	top: $arrow-offset;
}

/* stylelint-disable-next-line */
.rc-popup-menu[data-popper-placement^='left']>#rc-popup-menu-arrow {
	right: $arrow-offset;
}

/* stylelint-disable-next-line */
.rc-popup-menu[data-popper-placement^='right']>#rc-popup-menu-arrow {
	left: $arrow-offset;
}