$popover-fill-color: $puppet-white;
$popover-border-color: $puppet-n400;

$null-shadow: 0 0 0 0 transparent;

@mixin base-shadow($elevation-shadow) {
  box-shadow: $elevation-shadow;
}

.rc-popover {
  background: $popover-fill-color;
  border: 1px solid $popover-border-color;
  border-radius: $puppet-common-border-radius;
  min-height: 30px;
  padding: $puppet-common-spacing-base * 6;
  position: relative;
}

.rc-popover-close {
  position: absolute;
  right: 2px;
  top: 2px;
}

.rc-popover-left::after,
.rc-popover-left::before,
.rc-popover-left-bottom::after,
.rc-popover-left-bottom::before,
.rc-popover-right::after,
.rc-popover-right::before,
.rc-popover-right-bottom::after,
.rc-popover-right-bottom::before,
.rc-popover-top::after,
.rc-popover-top::before,
.rc-popover-top-right::after,
.rc-popover-top-right::before,
.rc-popover-bottom::after,
.rc-popover-bottom::before,
.rc-popover-bottom-right::after,
.rc-popover-bottom-right::before {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.rc-popover-right {
  // arrow body
  &::after {
    border-color: transparent transparent transparent $popover-fill-color;
    border-width: 10px;
    left: 100%;
    top: 10px;
  }
  // arrow 'border'
  &::before {
    border-color: transparent transparent transparent $popover-border-color;
    border-width: 11px;
    left: 100%;
    top: 9px;
  }
}

.rc-popover-right-bottom {
  // arrow body
  &::after {
    border-color: transparent transparent transparent $popover-fill-color;
    border-width: 10px;
    bottom: 10px;
    left: 100%;
  }
  // arrow 'border'
  &::before {
    border-color: transparent transparent transparent $popover-border-color;
    border-width: 11px;
    bottom: 9px;
    left: 100%;
  }
}

.rc-popover-left {
  // arrow body
  &::after {
    border-color: transparent $popover-fill-color transparent transparent;
    border-width: 10px;
    right: 100%;
    top: 10px;
  }
  // arrow 'border'
  &::before {
    border-color: transparent $popover-border-color transparent transparent;
    border-width: 11px;
    right: 100%;
    top: 9px;
  }
}

.rc-popover-left-bottom {
  // arrow body
  &::after {
    border-color: transparent $popover-fill-color transparent transparent;
    border-width: 10px;
    bottom: 10px;
    right: 100%;
  }
  // arrow 'border'
  &::before {
    border-color: transparent $popover-border-color transparent transparent;
    border-width: 11px;
    bottom: 9px;
    right: 100%;
  }
}

.rc-popover-top {
  margin-top: 10px;
  // arrow body
  &::after {
    border-color: transparent transparent $popover-fill-color transparent;
    border-width: 10px;
    bottom: 100%;
    left: 10px;
  }
  // arrow 'border'
  &::before {
    border-color: transparent transparent $popover-border-color transparent;
    border-width: 11px;
    bottom: 100%;
    left: 9px;
  }
}

.rc-popover-top-right {
  margin-top: 10px;
  // arrow body
  &::after {
    border-color: transparent transparent $popover-fill-color transparent;
    border-width: 10px;
    bottom: 100%;
    right: 10px;
  }
  // arrow 'border'
  &::before {
    border-color: transparent transparent $popover-border-color transparent;
    border-width: 11px;
    bottom: 100%;
    right: 9px;
  }
}

.rc-popover-bottom {
  margin-bottom: 10px;
  // arrow body
  &::after {
    border-color: $popover-fill-color transparent transparent transparent;
    border-width: 10px;
    left: 10px;
    top: 100%;
  }
  // arrow 'border'
  &::before {
    border-color: $popover-border-color transparent transparent transparent;
    border-width: 11px;
    left: 9px;
    top: 100%;
  }
}

.rc-popover-bottom-right {
  margin-bottom: 10px;
  // arrow body
  &::after {
    border-color: $popover-fill-color transparent transparent transparent;
    border-width: 10px;
    right: 10px;
    top: 100%;
  }
  // arrow 'border'
  &::before {
    border-color: $popover-border-color transparent transparent transparent;
    border-width: 11px;
    right: 9px;
    top: 100%;
  }
}

.rc-popover-elevation-0 {
  @include base-shadow($null-shadow);
}

.rc-popover-elevation-50 {
  @include base-shadow($puppet-common-elevation-50);
}

.rc-popover-elevation-100 {
  @include base-shadow($puppet-common-elevation-100);
}

.rc-popover-elevation-150 {
  @include base-shadow($puppet-common-elevation-150);
}

.rc-popover-elevation-200 {
  @include base-shadow($puppet-common-elevation-200);
}

.rc-popover-elevation-400 {
  @include base-shadow($puppet-common-elevation-400);
}

.rc-popover-elevation-800 {
  @include base-shadow($puppet-common-elevation-800);
}
