.rc-sidepanel {
  background: $puppet-white;
  border-left: $puppet-common-border;
  display: flex;
  flex: none;
  flex-direction: column;
  height: 100%;
  width: 326px;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.rc-sidepanel-actions {
  border-left: $puppet-common-border;
}

.rc-sidepanel-toolbar {
  border-bottom: $puppet-common-border;
  display: flex;
  justify-content: space-between;
}

.rc-sidepanel-toolbar-primary {
  background-color: $puppet-white;
}

.rc-sidepanel-toolbar-secondary {
  background-color: $puppet-n50;
}

.rc-sidepanel-border .rc-sidepanel-toolbar {
  border-top: $puppet-common-border;
}

.rc-sidepanel-heading {
  color: $puppet-n800;
  font-size: 14px;
  line-height: calc(20 / 14);
  padding: 6px $puppet-common-spacing-base * 4;
}

.rc-sidepanel-content {
  overflow: auto;
  padding: $puppet-common-spacing-base * 4;
}
