.rc-table {
  background-color: $puppet-white;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
}

.rc-table-fixed {
  table-layout: fixed;
}

.rc-table-bordered {
  border: $puppet-common-border-subtle;
  border-collapse: separate;
  border-radius: $puppet-common-border-radius;
  overflow: hidden;

  .rc-table-row:last-of-type .rc-table-cell {
    border-bottom: 0;
  }
}

.rc-table-cell,
.rc-table-header-cell {
  border-bottom: $puppet-common-border-subtle;
  position: relative;
}

.rc-table-header-cell {
  @include puppet-type-small(medium);
  background-color: $puppet-common-bg-subtle;
  padding: 8px 16px 6px;
  text-align: left;
}

.rc-table-cell {
  @include puppet-type-small();
  padding: 15px 16px;

  &.rc-table-cell-hide-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
