.rc-table {
  background-color: $puppet-white;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
}

.rc-table-fixed {
  table-layout: fixed;
}

.rc-table-bordered {
  border: $puppet-common-border;
  border-collapse: separate;
  border-radius: $puppet-common-border-radius;
  box-shadow: $puppet-common-elevation-50;
  

  .rc-table-header-cell,
  .rc-table-row:last-of-type .rc-table-cell {
    border-bottom: 0;
  }

  .rc-table-header-cell:first-of-type {
    border-top-left-radius: $puppet-common-border-radius;
  }

  .rc-table-header-cell:last-of-type {
    border-top-right-radius: $puppet-common-border-radius;
  }
}

.rc-table-cell,
.rc-table-header-cell {
  border-bottom: $puppet-common-border;
  position: relative;

  // 2px white vertical border on table cells is implemented with a ::before
  // element to avoid diagonal blending line between the vertical and horizontal
  // borders
  &:not(:first-child) {
    padding-left: 18px;
  }

  &:not(:first-child)::before {
    background-color: $puppet-white;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
  }
}

.rc-table-header-cell {
  @include puppet-type-h6(medium);
  background-color: $puppet-n200;
  padding: 11px 16px;
  text-align: left;
}

.rc-table-cell {
  @include puppet-type-small();
  padding: 15px 16px;
}
