.rc-tag {
  background: $puppet-b500;
  border-radius: $puppet-common-border-radius;
  display: flex;
  width: max-content;

  .rc-icon {
    margin-left: 3px;
  }
}

.rc-tag-label-background {
  align-items: center;
  display: flex;

  .rc-tag-text {
    @include puppet-type-button();
    color: $puppet-white;
    height: 24px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
  }
}

.rc-tag-neutral.rc-tag-subtle {
  background-color: $puppet-white;
  border: $puppet-common-border;

  .rc-tag-border {
    border-right: $puppet-common-border;
  }

  .rc-tag-text {
    color: $puppet-n700;
  }

  .rc-tag-remove-button {
    background: $puppet-white;
    border: $puppet-white;
    fill: $puppet-n700;

    &:hover {
      background-color: $puppet-n200;
    }

    .rc-icon-close {
      margin-left: 10;
    }
  }
}
.rc-tag-filter{
  background-color: $puppet-white;
  border: $puppet-common-border;
  border-radius: $puppet-common-border-radius;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $puppet-common-spacing-base;
  padding: $puppet-common-spacing-base * 2 $puppet-common-spacing-base * 3;
}
