$puppet-tooltip-hint-bg: rgba($puppet-black, 0.9) !default;
$puppet-tooltip-hint-color: $puppet-n400 !default;
$puppet-tooltip-hint-padding: $puppet-common-spacing-base
  $puppet-common-spacing-base * 2 !default;
$puppet-tooltip-hint-radius: $puppet-common-border-radius !default;
$puppet-tooltip-hint-elevation: 24 !default;

.rc-tooltip-area {
  display: inline-block;
}

.rc-tooltip {
  @include puppet-type-small();

  background: $puppet-tooltip-hint-bg;
  border-radius: $puppet-tooltip-hint-radius;
  color: $puppet-tooltip-hint-color;
  overflow: hidden;
  padding: $puppet-tooltip-hint-padding;
  position: fixed;
  white-space: nowrap;
  z-index: $puppet-tooltip-hint-elevation;
}
