/* stylelint-disable selector-max-compound-selectors */

.rc-toolbar {
  background-color: $puppet-n50;
  border-bottom: $puppet-common-border;
  display: flex;
}

.rc-toolbar-border {
  border-top: $puppet-common-border;
}

.rc-toolbar > .rc-tabs {
  margin-bottom: -1px;
  margin-top: 0;
}

.rc-toolbar-border > .rc-tabs {
  margin-top: -1px;
}

.rc-toolbar > .rc-tabs > .rc-tabs-list {
  background-color: $puppet-n50;
  border-bottom: $puppet-common-border;
  z-index: 2;
}

.rc-toolbar-border > .rc-tabs > .rc-tabs-list {
  border-top: $puppet-common-border;
}

.rc-toolbar > .rc-tabs > .rc-tabs-list > .rc-tabs-button {
  border: 0;
  border-radius: 0 !important;
  border-right: $puppet-common-border;
  color: $puppet-b500;
  margin: 0 !important;
  padding: 6px 24px;

  &::after {
    content: none;
  }

  &:focus {
    border-right-color: $puppet-n400;
    box-shadow: $puppet-common-focus-outline-inset;
  }

  .rc-tabs-button-icon {
    fill: $puppet-b500;
    margin-right: $puppet-common-spacing-base * 2;
    vertical-align: text-bottom;
  }

  &:focus .rc-tabs-button-icon {
    left: 8px;
  }
}

.rc-toolbar > .rc-tabs > .rc-tabs-list > .rc-tabs-button-active {
  background-color: $puppet-b500;
  border-right-color: $puppet-b500;
  color: $puppet-white;
  padding-left: 25px;
  z-index: 1;

  .rc-tabs-button-icon {
    fill: $puppet-white;
  }
}

.rc-toolbar > .rc-tabs > .rc-tabs-panel {
  border-top: 0;
  padding: 0;
}

.rc-toolbar-actions {
  display: flex;

  &.rc-toolbar-actions-left {
    margin: 0 auto 0 0;

    .rc-button-inner-focus {
      border-right: $puppet-common-border;
    }

    .rc-button-inner-focus:focus {
      padding-right: 15px;
    }
  }

  &.rc-toolbar-actions-right {
    margin: 0 0 0 auto;

    .rc-button-inner-focus {
      border-left: $puppet-common-border;
    }

    .rc-button-inner-focus:focus {
      padding-left: 15px;
    }
  }

  .rc-button-inner-focus + .rc-button-inner-focus {
    margin-left: 0;
  }
}

/* stylelint-enable selector-max-compound-selectors */
