.rc-toolbar .rc-tabs {
  margin: 0;
}

.rc-toolbar .rc-tabs > .rc-tabs-list {
  background-color: $puppet-n50;
  border-bottom: $puppet-common-border;
  border-top: $puppet-common-border;
  z-index: 2;
}

.rc-toolbar .rc-tabs .rc-tabs-button {
  border: 0;
  border-radius: 0 !important;
  border-right: $puppet-common-border;
  color: $puppet-b500;
  margin: 0 !important;
  padding: 6px 24px;

  &::after {
    content: none;
  }

  &:focus {
    border-right-color: $puppet-n400;
    box-shadow: $puppet-common-focus-outline-inset;
  }

  .rc-tabs-button-icon {
    fill: $puppet-b500;
    margin-right: $puppet-common-spacing-base * 2;
    vertical-align: text-bottom;
  }

  &:focus .rc-tabs-button-icon {
    left: 8px;
  }
}

.rc-toolbar .rc-tabs .rc-tabs-button-active {
  background-color: $puppet-b500;
  border-right-color: $puppet-b500;
  color: $puppet-white;
  padding-left: 25px;
  z-index: 1;

  .rc-tabs-button-icon {
    fill: $puppet-white;
  }
}

.rc-toolbar .rc-tabs > .rc-tabs-panel {
  border-top: 0;
}

// Tabs.Actions
.rc-toolbar-actions {
  display: flex;
  margin-left: auto;

  .rc-button-inner-focus {
    border-left: $puppet-common-border;
  }

  .rc-button-inner-focus:focus {
    padding-left: 15px;
  }

  .rc-button-inner-focus + .rc-button-inner-focus {
    margin-left: 0;
  }
}
