.rc-input {
  @include puppet-type-body();

  background-color: $puppet-common-bg;
  border: $puppet-common-border;
  border-radius: $puppet-common-border-radius;
  box-sizing: border-box;
  outline: none;
  padding: 5px 7px;
  width: 100%;

  &.rc-input-empty,
  &::placeholder {
    @include puppet-type-body(medium);
  }

  &:hover {
    border: $puppet-shared-input-border-hover;
  }

  &:focus {
    box-shadow: $puppet-common-focus-outline;
  }

  &:disabled {
    cursor: default;
    opacity: $puppet-common-disabled-opacity;
    pointer-events: none;
  }

  &.rc-input-error {
    border: $puppet-shared-input-border-error;
  }
}

.rc-input-simple,
.rc-input-simple:hover {
  background: transparent;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
}

.rc-input-simple:focus {
  box-shadow: 0 2px 0 0 $Brand__Background__2__Rest !important;
}

.rc-input-container-round .rc-input {
  border-radius: $puppet-common-border-radius;
}

.rc-input-container-oval .rc-input {
  border-radius: 80px;
}

.rc-input-container-medium .rc-input {
  padding: 5px 7px;
}

.rc-input-container-large .rc-input {
  padding: 10px;
}

.rc-input-multiline {
  height: $puppet-common-spacing-base * 18;
  resize: vertical;
  vertical-align: top;
}

.rc-input-container {
  flex-grow: 1;
  position: relative;

  .rc-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .rc-input-icon.leading {
    left: $puppet-common-spacing-base * 2;
  }

  .rc-input-icon.trailing {
    right: $puppet-common-spacing-base * 2;
  }

  .rc-input-icon.trailing.edge {
    right: $puppet-common-spacing-base * 0;
  }

  .rc-input-icon.trailing.with-trailing-button {
    right: $puppet-common-spacing-base * 9;
  }

  .rc-input-icon.leading ~ .rc-input {
    padding-left: 31px;
  }

  .rc-input:has(+ .rc-input-icon.trailing) {
    padding-right: 31px;
  }

  .rc-input-button-icon {
    border: hidden;
  }

  .rc-input-button-icon:hover {
    background: inherit;
    border: hidden;
  }

  // Increase padding around icons in large inputs
  &.rc-input-container-large {
    .rc-input-icon.leading {
      left: $puppet-common-spacing-base * 4 - 1;
    }

    .rc-input-icon.leading ~ .rc-input {
      padding-left: $puppet-common-spacing-base * 10 - 1;
    }

    .rc-input-icon.trailing {
      right: $puppet-common-spacing-base * 4 - 1;
    }

    .rc-input:has(+ .rc-input-icon.trailing) {
      padding-right: $puppet-common-spacing-base * 10 - 1;
    }
  }
}
