.rc-select {
  min-width: 100px;
  position: relative;

  .rc-select-target {
    cursor: pointer;
    flex: 1;
  }

  .rc-select-target .rc-input {
    cursor: pointer;
    padding-right: 30px;
    text-align: left;
  }

  .rc-menu-list {
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
  }

  .rc-menu-list-inner {
    max-height: 150px;
  }
}

.rc-select-closed {
  .rc-menu-list {
    display: none;
  }
}
