.reflect-charts-axis {
  .domain {
    stroke: $reflect-axis-stroke;
  }

  .tick {
    line {
      stroke: $reflect-axis-stroke;
    }

    text {
      fill: $reflect-axis-label-color;
      font-size: $reflect-axis-label-font-size;
    }
  }
}

.reflect-charts-axis-title {
  fill: $reflect-axis-title-color;
  font-size: $reflect-axis-title-font-size;
}
