.reflect-charts-axis {
  .domain {
    stroke: $puppet-axis-stroke;
  }

  .tick line {
    stroke: $puppet-axis-stroke;
  }

  .tick text {
    fill: $puppet-axis-label-color;
    font-size: $puppet-axis-label-font-size;
    line-height: 1.2;
  }

  .reflect-charts-axis-title {
    fill: $puppet-axis-title-color;
    font-size: $puppet-axis-title-font-size;
  }
}
