.reflect-charts-data-label {
  alignment-baseline: middle;
  fill: $reflect-charts-data-label-color;
  font-size: $reflect-charts-data-label-font-size;
  pointer-events: none;
}

.reflect-charts-data-label-shadow {
  alignment-baseline: middle;
  fill: $reflect-charts-data-label-shadow;
  fill-opacity: 0.25;
  font-size: $reflect-charts-data-label-font-size;
  pointer-events: none;
  stroke: $reflect-charts-data-label-shadow;
  stroke-linejoin: round;
  stroke-opacity: 0.25;
  stroke-width: 3px;
}

.reflect-charts-data-label-hidden {
  display: none;
}
