.reflect-charts-data-label {
  alignment-baseline: middle;
  fill: $puppet-charts-data-label-color;
  font-size: $puppet-charts-data-label-font-size;
  pointer-events: none;
}

.reflect-charts-data-label-shadow {
  alignment-baseline: middle;
  fill: $puppet-charts-data-label-shadow;
  font-size: $puppet-charts-data-label-font-size;
  pointer-events: none;
  stroke: $puppet-charts-data-label-shadow;
  stroke-linejoin: round;
  stroke-width: $puppet-charts-data-label-shadow-width;
}

.reflect-charts-data-label-hidden {
  display: none;
}
