.reflect-charts-legend {
  overflow-y: auto;
}

.reflect-charts-legend-right {
  bottom: 20px;
  overflow-y: auto;
  padding: $reflect-legend-right-padding;
  position: absolute;
  right: 0;
  top: 0;
}

.reflect-charts-legend-bottom {
  bottom: 0;
  left: 0;
  padding: $reflect-legend-bottom-padding;
  position: absolute;
  right: 0;

  .reflect-charts-legend-item {
    display: block;
    float: left;
    margin-right: $reflect-legend-item-margin;
    overflow: hidden;
    width: auto;
  }
}

.reflect-charts-legend-item {
  font-size: $reflect-legend-font-size;
  transition: opacity $reflect-transition-time linear;
}

.reflect-charts-legend-item-disabled {
  opacity: 0.22;
}

.reflect-charts-series-indicator {
  border-radius: $reflect-series-indicator-border-radius;
  display: inline-block;
  height: $reflect-legend-font-size/1.5;
  margin-right: $reflect-legend-indicator-margin;
  width: $reflect-legend-font-size;
}
