.reflect-charts-legend {
  overflow-y: auto;
}

.reflect-charts-legend-right,
.reflect-charts-legend-left {
  bottom: 20px;
  overflow-y: auto;
  position: absolute;
  top: 0;
}

.reflect-charts-legend-right {
  padding: $reflect-legend-right-padding;
  right: 0;
}

.reflect-charts-legend-left {
  left: 0;
  padding: $reflect-legend-left-padding;
}

.reflect-charts-legend-bottom,
.reflect-charts-legend-top {
  left: 0;
  position: absolute;
  right: 0;

  .reflect-charts-legend-item {
    display: inline-block;
    margin-right: $reflect-legend-item-margin;
    overflow: hidden;
    width: auto;
  }
}

.reflect-charts-legend-bottom {
  bottom: 0;
  padding: $reflect-legend-bottom-padding;
}

.reflect-charts-legend-top {
  padding: $reflect-legend-top-padding;
  top: 0;
}

.reflect-charts-legend-align-right {
  text-align: right;
}

.reflect-charts-legend-align-center {
  text-align: center;

  :last-child {
    margin-right: 0;
  }
}

.reflect-charts-legend-item-disabled {
  opacity: 0.22;
}

.reflect-charts-series-indicator {
  border-radius: $reflect-series-indicator-border-radius;
  display: inline-block;
  height: $reflect-legend-font-size/1.5;
  margin-right: $reflect-legend-indicator-margin;
  width: $reflect-legend-font-size;
}

.reflect-charts-series-indicator-right {
  margin-left: $reflect-legend-indicator-margin;
  margin-right: 0;
}
