.reflect-charts-legend {
  max-width: $reflect-legend-max-width;

  position: absolute;
  top: 0;
  right: 0;

  padding-left: 20px;
  bottom: 20px;
  overflow-y: auto;
}

.reflect-charts-legend-item {
  transition: opacity $reflect-transition-time linear;
  cursor: pointer;
  font-size: $reflect-legend-font-size;
}

.reflect-charts-legend-item-disabled {
  opacity: .22;
}

.reflect-charts-series-indicator {
  display: inline-block;
  height: $reflect-legend-font-size/1.5;
  width: $reflect-legend-font-size;
  margin-right: 10px;
  border-radius: $reflect-series-indicator-border-radius;
}
