.reflect-charts-tooltip {
  background-color: $puppet-tooltip-bg;
  border: $puppet-tooltip-border;
  border-radius: $puppet-tooltip-border-radius;
  box-shadow: $puppet-tooltip-shadow;
  color: $puppet-tooltip-font-color;
  display: none;
  font-size: $puppet-tooltip-font-size;
  left: 0;
  min-width: 175px;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 23;
}

.reflect-charts-tooltip-item {
  max-width: 200px;
}

.reflect-charts-tooltip-value {
  font-size: $puppet-tooltip-value-font-size;
  text-align: center;
}

.reflect-charts-tooltip-header {
  background: $puppet-tooltip-header-bg;
  border-radius: $puppet-tooltip-header-border-radius;
  color: $puppet-tooltip-header-font-color;
  font-size: $puppet-tooltip-header-font-size;
  font-weight: $puppet-tooltip-header-font-weight;
  padding: $puppet-tooltip-header-padding;
  text-align: $puppet-tooltip-header-alignment;
}

.reflect-charts-tooltip-content {
  height: 100%;
  overflow-y: auto;
  padding: $puppet-tooltip-padding;
}

.reflect-charts-tooltip-item-hidden {
  display: none;
}
