.reflect-charts-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  min-width: 175px;
  box-shadow: $reflect-tooltip-shadow;
  padding: 0;
  background-color: $reflect-tooltip-bg;
  border: $reflect-tooltip-border;
  border-radius: $reflect-tooltip-border-radius;
  color: $reflect-tooltip-font-color;
  z-index: 23;
  pointer-events: none;
}

.reflect-charts-tooltip-item {
  max-width: 200px;
}

.reflect-charts-tooltip-value {
  display: block;
  text-align: center;
  font-size: $reflect-tooltip-value-font-size;
}

.reflect-charts-tooltip-header {
  background: $reflect-tooltip-header-bg;
  padding: 7px 10px;
  text-align: center;
}

.reflect-charts-tooltip-content {
  padding: 14px;
  overflow-y: auto;
  height: 100%;
}

.reflect-charts-tooltip-item-hidden {
  display: none;
}
