$white:                         #fff !default;

$gray-base:                     #201F1E !default;
$gray-darker:                   lighten($gray-base, 19%) !default;
$gray-dark:                     lighten($gray-base, 38%) !default;
$gray:                          lighten($gray-base, 56%) !default;
$gray-light:                    lighten($gray-base, 80%) !default;
$gray-lighter:                  lighten($gray-base, 84%) !default;

$bg-primary:                    #fff !default;

$brand-primary:                 #269CFF !default;
$brand-success:                 #5cb85c !default;
$brand-info:                    #5bc0de !default;
$brand-warning:                 #f0ad4e !default;
$brand-danger:                  #d9534f !default;

$font-family:                   'Open Sans', sans-serif !default;

$font-size-large:               18px !default;
$font-size-base:                16px !default;
$font-size-medium:              14px !default;
$font-size-small:               12px !default;
$font-size-tiny:                10px !default;
$line-height-base:              1.428571429 !default; // 20/14

$font-color-base:               $gray-darker;

$border-color:                  #dedede !default;
$border-hover-color:            $gray !default;
$border-radius:                 4px !default;
$border:                        1px solid $border-color !default;
$border-heavy:                  2px solid $border-color;
$border-active:                 1px solid $brand-primary !default;
$border-hover:                  1px solid $border-hover-color !default;

$outer-shadow:                  0 0px 1px rgba(0, 0, 0, .05) !default;
$outer-shadow-large:            0 0 6px rgba(0, 0, 0, .2) !default

$reflect-palette-base:          $brand-primary !default;

$reflect-palette:               (
                                  0: $reflect-palette-base,
                                  1: adjust-hue($reflect-palette-base, 18 * 1),
                                  2: adjust-hue($reflect-palette-base, 18 * 2),
                                  3: adjust-hue($reflect-palette-base, 18 * 3),
                                  4: adjust-hue($reflect-palette-base, 18 * 4),
                                  5: adjust-hue($reflect-palette-base, 18 * 5),
                                  6: adjust-hue($reflect-palette-base, 18 * 6),
                                  7: adjust-hue($reflect-palette-base, 18 * 7),
                                  8: adjust-hue($reflect-palette-base, 18 * 8),
                                  9: adjust-hue($reflect-palette-base, 18 * 9),
                                  10: adjust-hue($reflect-palette-base, 18 * 10),
                                  11: adjust-hue($reflect-palette-base, 18 * 11)
                                ) !default;

$stroke-width:                  3px !default;

$reflect-transition-time:      .25s !default;

//
// Axis
//
$reflect-axis-stroke:             $border-color !default;
$reflect-axis-font-size:          $font-size-tiny !default;

//
// Grid
//
$reflect-grid-stroke:             lighten($border-color, 8%) !default;

//
// Line
//
$reflect-line-stroke-width:       $stroke-width !default;

//
// Point of interest
//
$reflect-poi-fill:                $bg-primary !default;
$reflect-poi-stroke-width:        $stroke-width !default;

//
// Legend
//
$reflect-legend-font-size:        $font-size-medium !default;
$reflect-legend-max-width:        200px !default;

//
// Series Indicator
//
$reflect-series-indicator-border-radius:  2px !default;

//
// Tooltips
//
$reflect-tooltip-bg:              $bg-primary !default;
$reflect-tooltip-shadow:          $outer-shadow-large !default;
$reflect-tooltip-border:          1px solid $border-color !default;
$reflect-tooltip-border-radius:   $border-radius !default;
$reflect-tooltip-font-color:      $font-color-base !default;
$reflect-tooltip-header-bg:       $border-color !default;
$reflect-tooltip-value-font-size: $font-size-large !default;


$reflect-annotation-fill:         $gray-dark !default;
