/* stylelint-disable scss/dollar-variable-colon-space-after, scss/dollar-variable-colon-space-before, indentation  */

// ============================================================================
// CHART VARIABLES
// ============================================================================

// Palette
// ----------------------------------------------------------------------------
$puppet-palette-base                   : $puppet-brand-primary !default;
$puppet-palette                        : (
                                        0: #186ccc, 
                                        1: #11d1c4,
                                        2: #a263ff,
                                        3: #ffae1a,
                                        4: #f1e747,
                                        5: #60ddf8,
                                        6: #f2a9f2,
                                        7: #d454a2,
                                        8: #6f4070,
                                        9: #e8654d,
                                        10: #30998b,
                                        11: #bdde60
                                      ) !default;

// General Use
// ----------------------------------------------------------------------------
$puppet-stroke-width-series            : 3px !default;
$puppet-transition-time                : 0.1s !default;
$puppet-line-height-base               : 1.5;

// Axis
// ----------------------------------------------------------------------------
$puppet-axis-stroke                    : $puppet-border-color !default;
$puppet-axis-label-color               : $puppet-font-color-base !default;
$puppet-axis-label-font-size           : $puppet-font-size-tiny !default;
$puppet-axis-title-color               : $puppet-font-color-base !default;
$puppet-axis-title-font-size           : $puppet-font-size-small !default;


// Grid
// ----------------------------------------------------------------------------
$puppet-grid-stroke                    : lighten($puppet-border-color, 2%) !default;


// Zero Line
// ----------------------------------------------------------------------------
$puppet-zero-line-stroke               : $puppet-border-color !default;


// Line
// ----------------------------------------------------------------------------
$puppet-line-stroke-width              : $puppet-stroke-width-series !default;


// Point of interest
// ----------------------------------------------------------------------------
$puppet-poi-fill                       : $puppet-bg-primary !default;
$puppet-poi-stroke-width               : $puppet-stroke-width-series !default;


// Legend
// ----------------------------------------------------------------------------
$puppet-legend-font-size               : $puppet-font-size-base !default;
$puppet-legend-max-width               : 200px !default;
$puppet-legend-right-padding           : 0 0 0 $puppet-medium !default;
$puppet-legend-left-padding            : 0 $puppet-medium 0 0 !default;
$puppet-legend-bottom-padding          : $puppet-medium 0 0 0 !default;
$puppet-legend-top-padding             : 0 0 $puppet-medium 0 !default;
$puppet-legend-item-margin             : $puppet-medium !default;
$puppet-legend-indicator-margin        : $puppet-small !default;

// Series Indicator
$puppet-series-indicator-border-radius : 2px !default;


// Tooltips
// ----------------------------------------------------------------------------
// Tooltip Base
$puppet-tooltip-bg                     : $puppet-bg-primary !default;
$puppet-tooltip-shadow                 : $puppet-outer-shadow-large !default;
$puppet-tooltip-border                 : $puppet-border !default;
$puppet-tooltip-border-radius          : $puppet-border-radius !default;

// Tooltip Header
$puppet-tooltip-header-bg              : $puppet-bg-subtle !default;
$puppet-tooltip-header-border-radius   : $puppet-tooltip-border-radius $puppet-tooltip-border-radius 0 0 !default;
$puppet-tooltip-header-padding         : $puppet-small $puppet-medium !default;
$puppet-tooltip-header-alignment       : center !default;
$puppet-tooltip-header-font-color      : $puppet-font-color-base !default;
$puppet-tooltip-header-font-size       : $puppet-font-size-base !default;
$puppet-tooltip-header-font-weight     : $puppet-font-weight-heavy !default;

// Tooltip Content
$puppet-tooltip-font-color             : $puppet-font-color-base !default;
$puppet-tooltip-font-size              : $puppet-font-size-base !default;
$puppet-tooltip-padding                : $puppet-medium !default;
$puppet-tooltip-value-font-size        : $puppet-font-size-base !default;


// Annotations
// ----------------------------------------------------------------------------
$puppet-annotation-fill                : $puppet-gray-dark !default;


// Data Labels
// ----------------------------------------------------------------------------
$puppet-charts-data-label-font-size    : $puppet-font-size-tiny !default;
$puppet-charts-data-label-color        : $puppet-white !default;
$puppet-charts-data-label-shadow       : transparentize($puppet-black, 0.3) !default;
$puppet-charts-data-label-shadow-width : $puppet-tiny !default;

// Zoomer
// ----------------------------------------------------------------------------
$puppet-zoomer-fill                    : $puppet-brand-primary !default;
$puppet-zoomer-opacity                 : 0.15 !default;

$puppet-zoomer-reset-bg                : $puppet-action-color-alt !default;
$puppet-zoomer-reset-bg-hover          : $puppet-action-hover-alt !default;
$puppet-zoomer-reset-color             : $puppet-action-text-alt !default;
$puppet-zoomer-reset-color-hover       : $puppet-action-text-hover-alt !default;
$puppet-zoomer-reset-border            : $puppet-action-border-alt !default;
$puppet-zoomer-reset-border-hover      : $puppet-action-border-hover-alt !default;
$puppet-zoomer-reset-font-size         : $puppet-font-size-small !default;

$puppet-positive-color                 : #07a345 !default;
$puppet-positive-palette               : (
                                          0: $puppet-positive-color,
                                          1: lighten($puppet-positive-color, 3%),
                                          2: lighten($puppet-positive-color, 6%),
                                          3: lighten($puppet-positive-color, 9%),
                                          4: lighten($puppet-positive-color, 12%),
                                          5: lighten($puppet-positive-color, 15%),
                                          6: lighten($puppet-positive-color, 18%),
                                          7: lighten($puppet-positive-color, 21%),
                                          8: lighten($puppet-positive-color, 24%),
                                          9: lighten($puppet-positive-color, 27%),
                                          10: lighten($puppet-positive-color, 30%),
                                          11: lighten($puppet-positive-color, 33%),
                                        );

$puppet-negative-color                 : #cc1818 !default;
$puppet-negative-palette               : (
                                          0: $puppet-negative-color,
                                          1: lighten($puppet-negative-color, 3%),
                                          2: lighten($puppet-negative-color, 6%),
                                          3: lighten($puppet-negative-color, 9%),
                                          4: lighten($puppet-negative-color, 12%),
                                          5: lighten($puppet-negative-color, 15%),
                                          6: lighten($puppet-negative-color, 18%),
                                          7: lighten($puppet-negative-color, 21%),
                                          8: lighten($puppet-negative-color, 24%),
                                          9: lighten($puppet-negative-color, 27%),
                                          10: lighten($puppet-negative-color, 30%),
                                          11: lighten($puppet-negative-color, 33%),
                                        )

/* stylelint-enable */
