@import '~@puppet/sass-variables/index';

.rl-authentication {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.rl-authentication-logo {
  height: 68px;
}

.rl-authentication-logo-bug {
  width: 68px;
}

.rl-authentication-title {
  margin-bottom: 24px;
  text-align: center;
}

.rl-authentication-subtitle {
  margin-top: 8px;
}

.rl-authentication-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.rl-authentication-card {
  display: flex;
  margin-top: 32px;
  padding: 48px;
  max-width: 500px;
  width: 100%;
}

.rl-authentication-action {
  margin-top: 16px;
  text-align: center;
}
