.rc-checkbox-input {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.rc-checkbox-input:not(:last-of-type) {
  margin-bottom: $puppet-common-spacing-base * 1.5;
}

.rc-checkbox-container {
  height: $puppet-common-spacing-base * 2;
  margin-right: $puppet-common-spacing-base;
  position: relative;
}

// https://github.com/stylelint/stylelint/issues/331#issuecomment-127043187
/* stylelint-disable property-no-vendor-prefix */
.rc-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: $puppet-common-border;
  border-radius: $puppet-common-border-radius;
  cursor: pointer;
  height: $puppet-common-spacing-base * 2;
  margin: 0;
  outline: none;
  padding: 0;
  width: $puppet-common-spacing-base * 2;
}

.rc-checkbox + .rc-icon {
  display: none;
  height: $puppet-common-spacing-base * 2;
  left: 2px;
  pointer-events: none;
  position: absolute;
  top: -1px;
  width: $puppet-common-spacing-base * 2;
}

.rc-checkbox:focus {
  box-shadow: $puppet-common-focus-outline;
}

.rc-checkbox:hover {
  border: $puppet-common-border-hover;
}

.rc-checkbox-error,
.rc-checkbox-error:hover {
  border: $puppet-common-border-error;
}

.rc-checkbox:checked + .rc-icon {
  display: block;
  fill: $puppet-action-base;
}

.rc-checkbox:hover + .rc-icon {
  fill: $puppet-action-hover;
}

.rc-checkbox:disabled,
.rc-checkbox:disabled:hover {
  border: $puppet-common-border;
  cursor: default;
  opacity: $puppet-shared-disabled-input-opacity;

  + .rc-icon {
    fill: $puppet-action-base;
    opacity: $puppet-shared-disabled-input-opacity;
  }
}

/* stylelint-enable property-no-vendor-prefix */
