$puppet-shared-input-border-width: 1px;

$puppet-shared-input-background: $puppet-white;
$puppet-shared-input-border: $puppet-shared-input-border-width solid $puppet-n400;
$puppet-shared-input-border-hover: $puppet-shared-input-border-width solid $puppet-n600;
$puppet-shared-input-border-error: $puppet-shared-input-border-width solid $puppet-r500;
$puppet-shared-disabled-input-opacity: 0.4;

@import './forms';
@import './input';
@import './select';
@import './switch';
