.rc-input {
  @include puppet-type-body();

  background-color: $puppet-shared-input-background;
  border: $puppet-shared-input-border;
  border-radius: $puppet-common-border-radius;
  outline: none;
  padding: 5px 7px;
  width: 100%;

  &::placeholder {
    @include puppet-type-body(subtle);
  }

  &:hover {
    border: $puppet-shared-input-border-hover;
  }

  &:focus {
    box-shadow: $puppet-common-focus-outline;
  }

  &:disabled {
    cursor: default;
    opacity: $puppet-shared-disabled-input-opacity;
    pointer-events: none;
  }

  &.rc-input-error {
    border: $puppet-shared-input-border-error;
  }
}

// TODO: Small inputs should be deprecated
.rc-input-small {
  @include puppet-type-small();
  padding: 2px 7px;

  ::placeholder {
    @include puppet-type-small(subtle);
  }
}

.rc-input-simple,
.rc-input-simple:hover {
  background: transparent;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
}

.rc-input-simple:focus {
  box-shadow: 0 2px 0 0 $puppet-b300 !important;
}

.rc-input-multiline {
  height: $puppet-common-spacing-base * 9;
  resize: vertical;
  vertical-align: top;
}

.rc-input-small.rc-input-multiline {
  height: $puppet-common-spacing-base * 7;
}

.rc-input-container {
  position: relative;

  .rc-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .rc-input-icon.leading {
    left: $puppet-common-spacing-base;
  }

  .rc-input-icon.trailing {
    right: $puppet-common-spacing-base;
  }

  .rc-input-icon.leading ~ .rc-input {
    padding-left: 31px;
  }

  .rc-input-icon.trailing ~ .rc-input {
    padding-right: 31px;
  }
}
