@import '~@puppet/react-components/source/scss/library/ui.scss';
@import '../../src/index.scss';

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
