.dg-quick-filter-container{

    .dg-quick-filter-filters{
        display: flex;
        color: red;
        .dg-quick-filter{
            padding-right: 8px;
            padding-bottom: 16px;
        }
    }
    
}
