@import '@puppet/sass-variables/_index';

.dg-empty-state-container {
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;

  .dg-empty-state-message {
    margin-top: 8px;
  }
}

.dg-column-header-label-active {
  color: $puppet-b500;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.dg-column-header-sortable {
  cursor: pointer;
}

.dg-column-header-icon-container {
  float: right;
  display: flex;
  flex-direction: column;
  outline: none;
}

.asc {
  .dg-column-header-icon-up {
    color: $puppet-b500;
    outline: none;
  }
}
.desc {
  .dg-column-header-icon-down {
    color: $puppet-b500;
    outline: none;
  }
}

.dg-table-header-checkbox {
  width: 20px;
}

.dg-table-horizontal-scroll {
  margin: auto;
  overflow: auto;
}

.dg-table-fixed-column table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
  }

  td:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background: #ccc;
  }
}

.dg-table {
  background-color: $puppet-white;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
}

.dg-table-cell {
  position: relative;

  &:not(:first-child) {
    padding-left: 18px;
  }

  &:not(:first-child)::before {
    background-color: $puppet-white;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
  }

  @include puppet-type-small();
  padding: 15px 16px;
  line-height: 18px;
}

tr.dg-table-row,
tr.rc-table-header {
  border-bottom: $puppet-common-border;
}
