@import '@puppet/sass-variables/_index';

.dg-empty-state-container {
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;

  .dg-empty-state-message {
    margin-top: 8px;
  }
}

.dg-column-header-sortable {
  cursor: pointer;
}

.dg-column-header-label-active {
  color: $puppet-b500;
}

.dg-column-header-icon-container {
  float: right;
}

.dg-column-header-icon-color {
  &.asc {
    --up: $puppet-b500;
  }

  &.desc {
    --down: $puppet-b500;
  }
}

.dg-table-header-checkbox-container {
  width: 16px;
}

.dg-table-header-checkbox > div, .dg-table-checkbox > div {
  margin-right: 0;
}

.dg-table-horizontal-scroll {
  margin: auto;
  overflow: auto;
}

.dg-table-fixed-column table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
  }

  td:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background: #ccc;
  }
}
