@import '@puppet/sass-variables/_index';

.dg-empty-state-container {
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;

  .dg-empty-state-message {
    margin-top: 8px;
  }
}

/** Column Sorting **/

.dg-column-header-sortable {
  cursor: pointer;
}

.dg-column-header-sortable:hover {
  color: $puppet-b400;
}

.dg-column-header-sortable:focus {
  outline: 0;
  border: 0;
  box-shadow: $puppet-common-focus-outline-inset;

  &::before {
    width: 0;
  }
}

.dg-column-header-sortable:active {
  border: 0;
  box-shadow: $puppet-common-focus-outline-inset;
  color: $puppet-b600;

  &::before {
    width: 0;
  }
}

.dg-column-header-label-active {
  color: $puppet-b500;
}

.dg-column-header-icon-container {
  float: right;
}

.dg-column-header-icon-color {
  &.asc {
    --up: $puppet-b500;
  }

  &.desc {
    --down: $puppet-b500;
  }
}

/** Row Selection **/

.dg-table-header-checkbox-container {
  width: 16px;
}

.dg-table-header-checkbox > div,
.dg-table-checkbox > div {
  margin-right: 0;
}

.dg-table-row-selected {
  background-color: $puppet-b50;

  .rc-table-cell::before {
    width: 0;
  }
}

/** Horizontal Scrolling **/

.dg-table-horizontal-scroll {
  overflow-x: scroll;
}

.dg-table-fixed-column {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
  }

  td:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: $puppet-n200;
  }
}
