@import '@puppet/sass-variables/_index';

.dg-table-row-count {
  margin-right: 20px;
  font-weight: $puppet-type-weight-heavy;
}

.dg-table-footer-container {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
