@import '@puppet/react-components/source/scss/library/ui';
@import '@puppet/sass-variables/_index';

.rc-table-row-count{
    font-family: $puppet-type-font-family;
    color:$puppet-n700;
    size: $puppet-type-h6-font-size;
    line-height: $puppet-type-h6-line-height;
    padding: 10px;
}