name: Publish packages

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 12.4.0
      - run: npm install
      - run: npm run build --if-present
      - run: npm test

  publish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Node version
        uses: actions/setup-node@v4
        with:
          node-version: 12.4.0
      - name: Setup npm
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.ACCESS_TOKEN }}" > ~/.npmrc
      - name: Install all package dependencies
        run: npm install
      - name: Publish packages
        run: npm run release
