@import '@puppet/sass-variables/_index';

.dg-filter-template-container{
    min-width: 200px;
    padding: 16px;
    position: absolute;
    margin-top: 4px;
    z-index: 10;
}
.dg-filter-template-closed{
    display: none;
}